Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, New Migration, unittests, integration_tests, settings_changes

.github/labeler.yml:

docs:
- any: ['docs/**/*', 'readme-docs/**/*']

docker:
- any: ['docker/**/*', 'docker**', 'Docker*']

"New Migration":
- any: ['dojo/db_migrations/*']

unittests:
- any: ['dojo/unittests/**/*']

integration_tests:
- any: ['tests/**/*']

settings_changes:
- any: ['dojo/settings/settings.dist.py']

Added Dependency Check Suppression parsing (#5082)
  docs/content/en/integrations/import.md
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
  readme-docs/DOCKER.md
Labels: unittests

deploy: 3047e6509b8749d161f7c4524c7c7787e43d26fe
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  offline-search-index.71e8ace8b3ef0f30e522e64ce51383e9.json
  offline-search-index.89dbf6f1da7136c64889803c78113dd0.json
  sitemap.xml
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

Fix integration test that use Bandit reports
  tests/dedupe_test.py
Labels: integration_tests

reinstate commented out tests
  tests/finding_test.py
Labels: integration_tests

Reverting changes in the test files
  dojo/unittests/scans/bandit/dd.json
  dojo/unittests/scans/bandit/dd2.json
  dojo/unittests/scans/bandit/many_vulns.json
  dojo/unittests/scans/sarif/DefectDojo_django-DefectDojo__2020-12-11_13 42 10__export.sarif
  dojo/unittests/scans/semgrep/many_vulns.json
Labels: unittests

fix dependency check parser indentation
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

Add support for tolerations (#5212)
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/initializer-job.yaml
Labels: none

Add support for tolerations (#5212)
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/initializer-job.yaml
Labels: none

Add support for tolerations (#5212)
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/initializer-job.yaml
Labels: none

Fix command
  dojo/management/commands/validatededupeconfig.py
Labels: none

Add the check to the initializer
  docker/entrypoint-initializer.sh
Labels: none

Add comment and logic in the integration test
  tests/dedupe_test.py
Labels: integration_tests

fix dependency check parser indentation (#5251)
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

fix dependency check parser indentation (#5251)
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

fix dependency check parser indentation (#5251)
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

use relative/portable path for test_rest_framework test file
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once (#5255)
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once (#5255)
  dojo/unittests/test_rest_framework.py
Labels: unittests

test_rest_framework: generate openapi3 schema only once (#5255)
  dojo/unittests/test_rest_framework.py
Labels: unittests

use relative/portable path for test_rest_framework test file (#5254)
  dojo/unittests/test_rest_framework.py
Labels: unittests

use relative/portable path for test_rest_framework test file (#5254)
  dojo/unittests/test_rest_framework.py
Labels: unittests

use relative/portable path for test_rest_framework test file (#5254)
  dojo/unittests/test_rest_framework.py
Labels: unittests

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

gha unit tests: use new GHA cache
  .github/workflows/unit-tests.yml
Labels: none

gha unit tests: use new GHA cache
  .github/workflows/unit-tests.yml
Labels: none

gha unit tests: use new GHA cache
  .github/workflows/unit-tests.yml
Labels: none

Update nginx/nginx-prometheus-exporter Docker tag from 0.8.0 to v0.9.0 (helm/defectdojo/values.yaml)
  helm/defectdojo/values.yaml
Labels: none

db migrations
  dojo/db_migrations/0128_finding_deprecated_fields.py
Labels: New Migration
