Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

Trivy Parser: Expand Unit Tests (#9334)
  unittests/scans/trivy/issue_9333.json
  unittests/tools/test_trivy_parser.py
Labels: unittests

:sparkles: implement google cloud artifact scan (#9338)
  docs/content/en/integrations/parsers/file/gcloud_artifact_scan.md
  dojo/tools/gcloud_artifact_scan/__init__.py
  dojo/tools/gcloud_artifact_scan/parser.py
  unittests/scans/gcloud_artifact_scan/many_vulns.json
  unittests/tools/test_gcloud_artifact_scan_parser.py
Labels: docs, unittests, parser

:sparkles: implement google cloud artifact scan (#9338)
  docs/content/en/integrations/parsers/file/gcloud_artifact_scan.md
  dojo/tools/gcloud_artifact_scan/__init__.py
  dojo/tools/gcloud_artifact_scan/parser.py
  unittests/scans/gcloud_artifact_scan/many_vulns.json
  unittests/tools/test_gcloud_artifact_scan_parser.py
Labels: docs, unittests, parser

Adds ruff linter, fixes unused variables errors (#9123)
  .github/workflows/ruff.yml
  .gitignore
  dojo/api_v2/views.py
  dojo/cred/views.py
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/group/utils.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/csv_findings_export.py
  dojo/management/commands/migrate_surveys.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/note_type/views.py
  dojo/okta.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/risk_acceptance/helper.py
  dojo/survey/views.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/drheader/parser.py
  dojo/tools/humble/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/outpost24/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/ssh_audit/parser.py
  dojo/tools/sysdig_reports/sysdig_csv_parser.py
  dojo/tools/twistlock/parser.py
  dojo/tools/utils.py
  dojo/tools/wpscan/parser.py
  dojo/user/views.py
  dojo/utils.py
  pyproject.toml
  requirements-lint.txt
Labels: apiv2, ui, parser

Adds ruff linter, fixes unused variables errors (#9123)
  .github/workflows/ruff.yml
  .gitignore
  dojo/api_v2/views.py
  dojo/cred/views.py
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/group/utils.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/csv_findings_export.py
  dojo/management/commands/migrate_surveys.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/note_type/views.py
  dojo/okta.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/risk_acceptance/helper.py
  dojo/survey/views.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/drheader/parser.py
  dojo/tools/humble/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/outpost24/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/ssh_audit/parser.py
  dojo/tools/sysdig_reports/sysdig_csv_parser.py
  dojo/tools/twistlock/parser.py
  dojo/tools/utils.py
  dojo/tools/wpscan/parser.py
  dojo/user/views.py
  dojo/utils.py
  pyproject.toml
  requirements-lint.txt
Labels: apiv2, ui, parser

Fix shellcheck (#9147)
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docker/docker-compose-check.sh
  docker/dojo-data.bash
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-nginx.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/setEnv.sh
  docker/unit-tests.sh
  docker/wait-for-it.sh
  tests/local-integration-tests.sh
Labels: docker, integration_tests

Fix shellcheck (#9147)
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docker/docker-compose-check.sh
  docker/dojo-data.bash
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-nginx.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/setEnv.sh
  docker/unit-tests.sh
  docker/wait-for-it.sh
  tests/local-integration-tests.sh
Labels: docker, integration_tests

Restructure Release Drafter Flow (#9345)
  .github/workflows/fetch-oas.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-drafter.yml
Labels: none

Restructure Release Drafter Flow (#9345)
  .github/workflows/fetch-oas.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-drafter.yml
Labels: none

Update ASFF parser to create endpoints (#9346)
  dojo/tools/asff/parser.py
  unittests/scans/asff/many_vulns.json
  unittests/scans/asff/one_vuln.json
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

Update ASFF parser to create endpoints (#9346)
  dojo/tools/asff/parser.py
  unittests/scans/asff/many_vulns.json
  unittests/scans/asff/one_vuln.json
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

Update to Node 20.x in all the places (#9349)
  .github/workflows/gh-pages.yml
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

Update to Node 20.x in all the places (#9349)
  .github/workflows/gh-pages.yml
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

Enhancements to Govulncheck parser (#9339)
  dojo/tools/govulncheck/parser.py
  unittests/scans/govulncheck/many_vulns_new_version_custom_severity.json
  unittests/scans/govulncheck/no_vulns_new_version.json
  unittests/tools/test_govulncheck_parser.py
Labels: unittests, parser

Enhancements to Govulncheck parser (#9339)
  dojo/tools/govulncheck/parser.py
  unittests/scans/govulncheck/many_vulns_new_version_custom_severity.json
  unittests/scans/govulncheck/no_vulns_new_version.json
  unittests/tools/test_govulncheck_parser.py
Labels: unittests, parser

missing user in import scan
  dojo/engagement/views.py
Labels: none

Resolve new Ruff issues
  dojo/system_settings/views.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/tools/mobsf/parser.py
  dojo/tools/nikto/parser.py
Labels: parser

Another one
  dojo/tools/govulncheck/parser.py
Labels: parser

:bug: fix missing recommendation for cyclonedx, #8022
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_8022.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

fix filename
  dojo/tools/sonarqube/parser.py
Labels: parser

strip severity beforce compare
  dojo/tools/sonarqube/parser.py
Labels: parser

add testcase
  unittests/scans/sonarqube/sonar-6-findings.json
  unittests/tools/test_sonarqube_parser.py
Labels: unittests

Update docs
  docs/content/en/integrations/parsers/file/sonarqube.md
  dojo/tools/sonarqube/parser.py
Labels: docs, parser

init parser
  dojo/tools/sonarqube/parser.py
  unittests/scans/sonarqube/sonar-many-finding.json
  unittests/scans/sonarqube/sonar-no-finding.json
  unittests/scans/sonarqube/sonar-single-finding.json
  unittests/scans/sonarqube/sonar.json
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser

rebase from upstream/dev
  dojo/tools/sonarqube/parser.py
Labels: parser

remove not need newline
  dojo/tools/sonarqube/parser.py
Labels: parser

remove openvas-md from commit
  docs/content/en/integrations/parsers/file/openvas_csv.md
  docs/content/en/integrations/parsers/file/openvas_xml.md
Labels: docs

fix flake8
  unittests/tools/test_sonarqube_parser.py
Labels: unittests

:bug: fix defaulting severity, see last comments in #8778
  dojo/tools/dependency_track/parser.py
Labels: parser

Revert ":bug: fix dependencytrack deduplication (#9117)"
  dojo/settings/settings.dist.py
Labels: settings_changes

:sparkles: advance unittest for parser docs
  docs/content/en/integrations/parsers/file/burp.md
  unittests/test_parsers.py
Labels: docs, unittests

:bug: fix
  docs/content/en/integrations/parsers/file/anchore_grype.md
  docs/content/en/integrations/parsers/file/awssecurityhub.md
  docs/content/en/integrations/parsers/file/bandit.md
  docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/vcg.md
Labels: docs

:bug: fix
  docs/content/en/integrations/parsers/file/burp.md
Labels: docs

:bug: fix
  docs/content/en/integrations/parsers/file/anchore_engine.md
  docs/content/en/integrations/parsers/file/threagile.md
Labels: docs

:bug: fix
  docs/content/en/integrations/parsers/file/vcg.md
  unittests/scans/vcg/one_finding.xml
Labels: docs, unittests

merge conflict resolve
  docs/content/en/integrations/parsers/file/clair.md
  docs/content/en/integrations/parsers/file/clair_klar.md
Labels: docs

refactoring unittest
  dojo/api_v2/serializers.py
  unittests/scans/nuclei/empty.json
  unittests/scans/nuclei/empty.jsonl
  unittests/test_import_reimport.py
  unittests/tools/test_nuclei_parser.py
Labels: unittests, apiv2

adding migrations
  dojo/db_migrations/0195_whitesource_to_mend.py
Labels: New Migration

renamed migration to next number
  dojo/db_migrations/0197_whitesource_to_mend.py
Labels: New Migration

adding upgrade info and breaking change warning
  docs/content/en/getting_started/upgrading/2.30.3.md
Labels: docs

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*
