Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, New Migration, unittests, integration_tests, settings_changes, apiv2

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

"New Migration":
- dojo/db_migrations/*

unittests:
- dojo/unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

set default group for all new users (#5501)
  dojo/db_migrations/0136_default_group_help_text.py
  dojo/models.py
  dojo/pipeline.py
  dojo/unittests/test_pipeline.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: New Migration, unittests

set default group for all new users (#5501)
  dojo/db_migrations/0136_default_group_help_text.py
  dojo/models.py
  dojo/pipeline.py
  dojo/unittests/test_pipeline.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: New Migration, unittests

Update 0066_django_tagulous.py
  dojo/db_migrations/0066_django_tagulous.py
Labels: New Migration

fix duplicate notification urls
  dojo/notifications/urls.py
Labels: none

add docs
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/getting_started/demo.md
  docs/content/en/integrations/api-v2-docs.md
  docs/content/en/integrations/exporting.md
  docs/content/en/integrations/importing.md
  docs/content/en/integrations/parsers.md
  docs/static/images/export_1.png
  docs/static/images/export_2.png
  docs/static/images/imp_2.png
  docs/static/images/import_history1.png
  docs/static/images/import_history_details1.png
  docs/static/images/reupload_menu1.png
  dojo/forms.py
Labels: docs

Auth V2 - Remove legacy authorization part 4: final removal of FEATURE_AUTHORIZATION_V2 (#5477)
  dojo/endpoint/queries.py
  dojo/endpoint/views.py
  dojo/engagement/queries.py
  dojo/engagement/views.py
  dojo/finding/queries.py
  dojo/finding/views.py
  dojo/finding_group/queries.py
  dojo/home/views.py
  dojo/notes/views.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/settings/settings.dist.py
  dojo/test/queries.py
  dojo/test/views.py
  dojo/unittests/test_apiv2_endpoint.py
  dojo/unittests/test_apiv2_metadata.py
  dojo/unittests/test_metrics_queries.py
  dojo/user/queries.py
  dojo/user/views.py
Labels: unittests, settings_changes

Auth V2 - Remove legacy authorization part 4: final removal of FEATURE_AUTHORIZATION_V2 (#5477)
  dojo/endpoint/queries.py
  dojo/endpoint/views.py
  dojo/engagement/queries.py
  dojo/engagement/views.py
  dojo/finding/queries.py
  dojo/finding/views.py
  dojo/finding_group/queries.py
  dojo/home/views.py
  dojo/notes/views.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/settings/settings.dist.py
  dojo/test/queries.py
  dojo/test/views.py
  dojo/unittests/test_apiv2_endpoint.py
  dojo/unittests/test_apiv2_metadata.py
  dojo/unittests/test_metrics_queries.py
  dojo/user/queries.py
  dojo/user/views.py
Labels: unittests, settings_changes

Auth V2 - Remove legacy authorization part 4: final removal of FEATURE_AUTHORIZATION_V2 (#5477)
  dojo/endpoint/queries.py
  dojo/endpoint/views.py
  dojo/engagement/queries.py
  dojo/engagement/views.py
  dojo/finding/queries.py
  dojo/finding/views.py
  dojo/finding_group/queries.py
  dojo/home/views.py
  dojo/notes/views.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/settings/settings.dist.py
  dojo/test/queries.py
  dojo/test/views.py
  dojo/unittests/test_apiv2_endpoint.py
  dojo/unittests/test_apiv2_metadata.py
  dojo/unittests/test_metrics_queries.py
  dojo/user/queries.py
  dojo/user/views.py
Labels: unittests, settings_changes

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: none

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: none

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: none

fix duplicate notification urls (#5515)
  dojo/notifications/urls.py
Labels: none

fix duplicate notification urls (#5515)
  dojo/notifications/urls.py
Labels: none

fix duplicate notification urls (#5515)
  dojo/notifications/urls.py
Labels: none

Update 0066_django_tagulous.py (#5514)
  dojo/db_migrations/0066_django_tagulous.py
Labels: New Migration

Update 0066_django_tagulous.py (#5514)
  dojo/db_migrations/0066_django_tagulous.py
Labels: New Migration

Update 0066_django_tagulous.py (#5514)
  dojo/db_migrations/0066_django_tagulous.py
Labels: New Migration

fix flake8
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
Labels: none

Endpoint Metadata Importer for adding tags and custom fields to Endpoints
  docs/content/en/usage/features.md
  dojo/endpoint/urls.py
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/forms.py
  dojo/templates/base.html
  dojo/templates/dojo/endpoint_meta_importer.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/report_findings.html
  dojo/templates/dojo/request_endpoint_report.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/snippets/tags.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_objects.html
  dojo/templates/dojo/view_objects_eng.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_test.html
Labels: docs

fix flake8
  dojo/api_v2/serializers.py
Labels: apiv2

Add api functionality and update docs
  docs/content/en/usage/features.md
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/endpoint/utils.py
  dojo/importers/reimporter/utils.py
  dojo/templates/dojo/endpoint_meta_importer.html
  dojo/urls.py
Labels: docs, apiv2

Add endpoint to test method list
  dojo/unittests/test_apiv2_methods.py
Labels: unittests

Rename no_private_dns_endpoint_meta_import.csv to no_hostname_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/no_hostname_endpoint_meta_import.csv
Labels: unittests

fix Flake8
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_endpoint_meta_import.py
  dojo/unittests/test_importers_importer.py
Labels: unittests

Correct unit tests and remove print statements
  dojo/api_v2/serializers.py
  dojo/unittests/test_importers_importer.py
Labels: unittests, apiv2

Add feature flag an rename private_dns to hostname
  docs/content/en/usage/features.md
  dojo/api_v2/serializers.py
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/endpoint_meta_importer.html
  dojo/unittests/scans/endpoint_meta_import/full_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/no_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_added_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_changed_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_removed_endpoint_meta_import.csv
  dojo/unittests/test_endpoint_meta_import.py
  dojo/urls.py
Labels: docs, unittests, settings_changes, apiv2

fix Flake8
  dojo/unittests/test_endpoint_meta_import.py
Labels: unittests

Add unit test suite
  dojo/endpoint/urls.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/scans/endpoint_meta_import/full_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/no_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/no_private_dns_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_added_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_changed_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_removed_endpoint_meta_import.csv
  dojo/unittests/test_endpoint_meta_import.py
  dojo/unittests/test_importers_importer.py
  dojo/unittests/test_utils.py
  dojo/urls.py
Labels: unittests

Make changes requested by Stefan
  docs/content/en/usage/features.md
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/forms.py
  dojo/templates/base.html
Labels: docs, apiv2

Fix Flake8
  dojo/api_v2/serializers.py
Labels: apiv2

Nessus: store only standard protocol names (#5471)
  dojo/tools/nessus/parser.py
  dojo/unittests/scans/nessus/nessus_many_vuln.xml
  dojo/unittests/scans/nessus/nessus_v_unknown.xml
  dojo/unittests/tools/test_nessus_parser.py
Labels: unittests

Nessus: store only standard protocol names (#5471)
  dojo/tools/nessus/parser.py
  dojo/unittests/scans/nessus/nessus_many_vuln.xml
  dojo/unittests/scans/nessus/nessus_v_unknown.xml
  dojo/unittests/tools/test_nessus_parser.py
Labels: unittests

Nessus: store only standard protocol names (#5471)
  dojo/tools/nessus/parser.py
  dojo/unittests/scans/nessus/nessus_many_vuln.xml
  dojo/unittests/scans/nessus/nessus_v_unknown.xml
  dojo/unittests/tools/test_nessus_parser.py
Labels: unittests

seperate API product_name and product_id accessors
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/importers/reimporter/utils.py
Labels: apiv2

Fix typo
  dojo/importers/reimporter/utils.py
Labels: none

Fix copy/paste error
  dojo/api_v2/permissions.py
Labels: apiv2
