Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

Django Admin: enable User and Product fields in Notifications
  dojo/forms.py
  dojo/models.py
Labels: none

Update jfrog_xray_api_summary_artifact.md (#9326)
  docs/content/en/integrations/parsers/file/jfrog_xray_api_summary_artifact.md
Labels: docs

Update jfrog_xray_api_summary_artifact.md (#9326)
  docs/content/en/integrations/parsers/file/jfrog_xray_api_summary_artifact.md
Labels: docs

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

fixup! Django Admin: enable User and Product fields in Notifications
  dojo/db_migrations/0197_alter_notifications_product_alter_notifications_user.py
Labels: New Migration

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Restructure Release Drafter Flow
  .github/workflows/fetch-oas.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-drafter.yml
Labels: none

Update .github/workflows/fetch-oas.yml
  .github/workflows/fetch-oas.yml
Labels: none

Specify version in required in other places, add possibility to trigger this manually
  .github/workflows/release-drafter.yml
Labels: none

:bug: fix
  dojo/tools/asff/parser.py
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

docs update
  docs/content/en/integrations/parsers/file/gcloud_artifact_scan.md
Labels: docs

:bug: fix according to comment
  dojo/tools/chefinspect/parser.py
Labels: parser

Update and rename whitesource.md to mend.md
  docs/content/en/integrations/parsers/file/mend.md
  docs/content/en/integrations/parsers/file/whitesource.md
Labels: docs

Update to Node 20.x in all the places
  .github/workflows/gh-pages.yml
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

restarting without signals
  dojo/apps.py
  dojo/product/helpers.py
  dojo/product/signals.py
  dojo/sla_config/helpers.py
  dojo/sla_config/signals.py
  unittests/test_finding_model.py
Labels: unittests

add async updating flags, redo migration
  dojo/db_migrations/0197_finding_sla_expiration_date_product_async_updating_and_more.py
  dojo/models.py
  dojo/product/helpers.py
  dojo/sla_config/helpers.py
Labels: New Migration

Reverting changes in many_vulns_new_version.json
  unittests/scans/govulncheck/many_vulns_new_version.json
  unittests/tools/test_govulncheck_parser.py
Labels: unittests

enhance govulncheck parser
  dojo/tools/govulncheck/parser.py
  unittests/scans/govulncheck/many_vulns_new_version_custom_severity.json
  unittests/scans/govulncheck/no_vulns_new_version.json
  unittests/tools/test_govulncheck_parser.py
Labels: unittests, parser

:construction: advance api to have an additional parameter
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
Labels: apiv2

Support "_FILE" environmental variables (#9069)
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/secret-file-loader.sh
  dojo/settings/settings.dist.py
Labels: docker, settings_changes

Support "_FILE" environmental variables (#9069)
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/secret-file-loader.sh
  dojo/settings/settings.dist.py
Labels: docker, settings_changes

:bug: fix
  dojo/tools/chefinspect/parser.py
Labels: parser

:tada: recoded wazuh importer to support endpoints
  dojo/tools/wazuh/parser.py
Labels: parser

:white_check_mark: adjusted unittests
  unittests/scans/wazuh/one_finding_with_endpoint.json
  unittests/tools/test_wazuh_parser.py
Labels: unittests

:memo:
  docs/content/en/integrations/parsers/file/wazuh.md
Labels: docs

:pencil2:
  docs/content/en/integrations/parsers/file/wazuh.md
Labels: docs

:pencil2:
  docs/content/en/integrations/parsers/file/wazuh.md
Labels: docs

Update docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/openvas.md
Labels: docs

:sparkles: merge clair and clair klar together
  docs/content/en/integrations/parsers/file/clair.md
  docs/content/en/integrations/parsers/file/clair_klar.md
  dojo/tools/clair/parser.py
  dojo/tools/clair_klar/__init__.py
  dojo/tools/clair_klar/parser.py
  unittests/scans/clair/clair_empty.json
  unittests/scans/clair/clair_few_vuln.json
  unittests/scans/clair/clair_many_vul.json
  unittests/scans/clair/clairklar_empty.json
  unittests/scans/clair/clairklar_high.json
  unittests/scans/clair/clairklar_mixed.json
  unittests/tools/test_clair_klar_parser.py
  unittests/tools/test_clair_parser.py
Labels: docs, unittests, parser

:bug: fix unittest
  unittests/test_import_reimport.py
Labels: unittests

move signal logic to overriden save
  dojo/apps.py
  dojo/forms.py
  dojo/models.py
  dojo/product/helpers.py
  dojo/sla_config/helpers.py
  dojo/sla_config/views.py
Labels: none

fix errors for non-existing objects at creation
  dojo/api_v2/serializers.py
  dojo/models.py
Labels: apiv2

clean up comments and a few logical expressions
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/models.py
  dojo/product/helpers.py
  dojo/sla_config/helpers.py
Labels: apiv2

fix flake8 error
  dojo/models.py
Labels: none

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*
