Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

helm:
- helm/defectdojo/*
- helm/defectdojo/**/*

"New Migration":
- dojo/db_migrations/*

unittests:
- unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

ui:
  - dojo/static/**/*
  - dojo/templates/**/*
  - dojo/templatetags/**/*

parser:
  - dojo/tools/**/*

localization:
  - dojo/locale/*
  - dojo/locale/**/*

Create new env var DD_JIRA_EXTRA_ISSUE_TYPES to add Jira issue types via a csv string, through helm
  dojo/settings/settings.dist.py
Labels: settings_changes

Fix lint
  dojo/settings/settings.dist.py
Labels: settings_changes

New env var DD_JIRA_EXTRA_ISSUE_TYPES to add Jira issue types (#7412)
  dojo/settings/settings.dist.py
Labels: settings_changes

New env var DD_JIRA_EXTRA_ISSUE_TYPES to add Jira issue types (#7412)
  dojo/settings/settings.dist.py
Labels: settings_changes

deploy: 7f83facb003ecfdb2ecf9a8cab9586eb47f9415f
  dev/404.html
  dev/contributing/branching-model/index.html
  dev/contributing/documentation/index.html
  dev/contributing/how-to-write-a-parser/index.html
  dev/contributing/index.html
  dev/contributing/wishlist/index.html
  dev/getting_started/architecture/index.html
  dev/getting_started/configuration/index.html
  dev/getting_started/demo/index.html
  dev/getting_started/index.html
  dev/getting_started/installation/index.html
  dev/getting_started/running-in-production/index.html
  dev/getting_started/upgrading/index.html
  dev/index.html
  dev/integrations/api-v2-docs/index.html
  dev/integrations/burp-plugin/index.html
  dev/integrations/exporting/index.html
  dev/integrations/google-sheets-sync/index.html
  dev/integrations/importing/index.html
  dev/integrations/index.html
  dev/integrations/jira/index.html
  dev/integrations/languages/index.html
  dev/integrations/ldap-authentication/index.html
  dev/integrations/notifications/index.html
  dev/integrations/parsers/index.html
  dev/integrations/rate_limiting/index.html
  dev/integrations/social-authentication/index.html
  dev/integrations/source-code-repositories/index.html
  dev/offline-search-index.24c956b1be80ed394e31a76097ffde93.json
  dev/offline-search-index.6b1bfc788cca6df731717e9b2df18ea4.json
  dev/sitemap.xml
  dev/usage/features/index.html
  dev/usage/index.html
  dev/usage/models/index.html
  dev/usage/performance/index.html
  dev/usage/permissions/index.html
  dev/usage/questionnaires/index.html
  dev/usage/workflows/index.html
Labels: none

Set CSRF_TRUSTED_ORIGINS when it is not the default value (#7410)
  dojo/settings/settings.dist.py
Labels: settings_changes

Set CSRF_TRUSTED_ORIGINS when it is not the default value (#7410)
  dojo/settings/settings.dist.py
Labels: settings_changes

Add functionality "forgot username" (#7406)
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/forgot_username.html
  dojo/templates/dojo/forgot_username_done.html
  dojo/templates/dojo/forgot_username_subject.html
  dojo/templates/dojo/login.html
  dojo/templates/notifications/mail/forgot_password.tpl
  dojo/templates/notifications/mail/forgot_username.tpl
  dojo/user/urls.py
  dojo/user/views.py
Labels: settings_changes, ui

Add functionality "forgot username" (#7406)
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/forgot_username.html
  dojo/templates/dojo/forgot_username_done.html
  dojo/templates/dojo/forgot_username_subject.html
  dojo/templates/dojo/login.html
  dojo/templates/notifications/mail/forgot_password.tpl
  dojo/templates/notifications/mail/forgot_username.tpl
  dojo/user/urls.py
  dojo/user/views.py
Labels: settings_changes, ui

Add arbitrary header setting, forward to jira
  dojo/jira_link/helper.py
  dojo/middleware.py
  dojo/settings/settings.dist.py
Labels: settings_changes

Add arbitrary header setting, forward to jira (#7417)
  dojo/jira_link/helper.py
  dojo/middleware.py
  dojo/settings/settings.dist.py
Labels: settings_changes

Add arbitrary header setting, forward to jira (#7417)
  dojo/jira_link/helper.py
  dojo/middleware.py
  dojo/settings/settings.dist.py
Labels: settings_changes

Add API common note
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/integrations/parsers/api/_index.md
  docs/content/en/integrations/parsers/api/blackduck.md
  docs/content/en/integrations/parsers/api/bugcrowd.md
  docs/content/en/integrations/parsers/api/cobalt.md
  docs/content/en/integrations/parsers/api/edgescan.md
  docs/content/en/integrations/parsers/api/sonarqube.md
  docs/content/en/integrations/parsers/api/vulners.md
Labels: docs

add missing docs
  docs/content/en/integrations/parsers/file/anchore_enterprise.md
  docs/content/en/integrations/parsers/file/anchorectl_policies.md
  docs/content/en/integrations/parsers/file/anchorectl_vulns.md
  docs/content/en/integrations/parsers/file/blackduck_component_risk.md
  docs/content/en/integrations/parsers/file/burp_api.md
  docs/content/en/integrations/parsers/file/dsop.md
  docs/content/en/integrations/parsers/file/gitlab_api_fuzzing.md
  docs/content/en/integrations/parsers/file/gitlab_container_scan.md
  docs/content/en/integrations/parsers/file/gitlab_dast.md
  docs/content/en/integrations/parsers/file/gitlab_secret_detection_report.md
  docs/content/en/integrations/parsers/file/h1.md
  docs/content/en/integrations/parsers/file/neuvector.md
  docs/content/en/integrations/parsers/file/neuvector_compliance.md
  docs/content/en/integrations/parsers/file/ort.md
  docs/content/en/integrations/parsers/file/outpost24.md
  docs/content/en/integrations/parsers/file/pip_audit.md
  docs/content/en/integrations/parsers/file/pmd.md
  docs/content/en/integrations/parsers/file/qualys_infrascan_webgui.md
  docs/content/en/integrations/parsers/file/solar_appscreener.md
  docs/content/en/integrations/parsers/file/trustwave_fusion_api.md
  docs/content/en/integrations/parsers/file/whitehat_sentinel.md
Labels: docs

Flake8
  unittests/test_parsers.py
Labels: unittests

fix missed
  unittests/test_factory.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/test_parsers.py
Labels: unittests

Fix paths
  unittests/test_parsers.py
  unittests/tools/test_anchorectl_policies_parser.py
  unittests/tools/test_anchorectl_vulns_parser.py
Labels: unittests

fix rename
  unittests/scans/anchorectl_policies/many_violations.json
  unittests/scans/anchorectl_policies/no_violation.json
  unittests/scans/anchorectl_policies/one_violation.json
  unittests/scans/anchorectl_vulns/many_vulns.json
  unittests/scans/anchorectl_vulns/no_vuln.json
  unittests/scans/anchorectl_vulns/one_vuln.json
Labels: unittests

Clean unsaved endpoints before comparing them to existing endpoints
  dojo/importers/reimporter/reimporter.py
Labels: none

Rustyhog: Make atlassian URLS clickable
  dojo/tools/rusty_hog/parser.py
Labels: parser

Clean unsaved endpoints before comparing them to existing endpoints (#7416)
  dojo/importers/reimporter/reimporter.py
Labels: none

Clean unsaved endpoints before comparing them to existing endpoints (#7416)
  dojo/importers/reimporter/reimporter.py
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Rustyhog: Make atlassian URLS clickable
  unittests/tools/test_rusty_hog_parser.py
Labels: unittests

Rustyhog: Make atlassian URLS clickable
  dojo/tools/rusty_hog/parser.py
Labels: parser

Rustyhog: Make JIRA/Confluence URLs clickable in description (#7419)
  dojo/tools/rusty_hog/parser.py
  unittests/tools/test_rusty_hog_parser.py
Labels: unittests, parser

Rustyhog: Make JIRA/Confluence URLs clickable in description (#7419)
  dojo/tools/rusty_hog/parser.py
  unittests/tools/test_rusty_hog_parser.py
Labels: unittests, parser

Translate dojo/user/views.py and related pages
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/alerts.html
  dojo/templates/dojo/api_v2_key.html
  dojo/templates/dojo/change_pwd.html
  dojo/templates/dojo/delete_alerts.html
  dojo/templates/dojo/delete_user.html
  dojo/templates/dojo/login.html
  dojo/templates/dojo/new_group_member_user.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  dojo/utils.py
Labels: ui

Fix pep8
  dojo/user/views.py
Labels: none

Use Finding.status_finding instead of endpoint_status
  dojo/api_v2/views.py
  dojo/finding/views.py
Labels: apiv2

Use Finding.status_finding instead of endpoint_status (#7433)
  dojo/api_v2/views.py
  dojo/finding/views.py
Labels: apiv2

Use Finding.status_finding instead of endpoint_status (#7433)
  dojo/api_v2/views.py
  dojo/finding/views.py
Labels: apiv2

added functionality to handle tags in reimport_scan api
  dojo/api_v2/serializers.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
Labels: apiv2
