Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*

Parser guideline updates (#9271)
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/contributing/parser-documentation-template.md
  unittests/test_parsers.py
Labels: docs, unittests

new notifications type: SLA breach combined (per product) (#8659)
  dojo/api_v2/serializers.py
  dojo/db_migrations/0195_notifications_sla_breach_combined.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/notifications/mail/sla_breach_combined.tpl
  dojo/utils.py
Labels: New Migration, apiv2, ui

new notifications type: SLA breach combined (per product) (#8659)
  dojo/api_v2/serializers.py
  dojo/db_migrations/0195_notifications_sla_breach_combined.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/notifications/mail/sla_breach_combined.tpl
  dojo/utils.py
Labels: New Migration, apiv2, ui

🐛 Nikto: Support v2.5.0 format (#9275)
  dojo/tools/nikto/parser.py
  unittests/scans/nikto/issue_9274.json
  unittests/tools/test_nikto_parser.py
Labels: unittests, parser

🐛 Nikto: Support v2.5.0 format (#9275)
  dojo/tools/nikto/parser.py
  unittests/scans/nikto/issue_9274.json
  unittests/tools/test_nikto_parser.py
Labels: unittests, parser

🐛CycloneDX: Add default for description (#9280)
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_9277.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

🐛CycloneDX: Add default for description (#9280)
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_9277.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

Fix for vulns not included in host/endpoint views after reopening (#9246)
  dojo/models.py
  unittests/test_endpoint_model.py
Labels: unittests

Fix for vulns not included in host/endpoint views after reopening (#9246)
  dojo/models.py
  unittests/test_endpoint_model.py
Labels: unittests

:bug: fix #8435, advance semgrep
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/issue_8435.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

Add bitbucket support to finding view SCM urls (#9262)
  docs/content/en/integrations/source-code-repositories.md
  docs/static/images/product-custom-fields_1.png
  docs/static/images/product-scm-type_1.png
  docs/static/images/source-code-repositories-bitbucket-onpremise_1.png
  docs/static/images/source-code-repositories-bitbucket_1.png
  docs/static/images/source-code-repositories-gitlab_1.png
  dojo/models.py
  unittests/test_finding_model.py
Labels: docs, unittests

Add bitbucket support to finding view SCM urls (#9262)
  docs/content/en/integrations/source-code-repositories.md
  docs/static/images/product-custom-fields_1.png
  docs/static/images/product-scm-type_1.png
  docs/static/images/source-code-repositories-bitbucket-onpremise_1.png
  docs/static/images/source-code-repositories-bitbucket_1.png
  docs/static/images/source-code-repositories-gitlab_1.png
  dojo/models.py
  unittests/test_finding_model.py
Labels: docs, unittests

:bug: fix deduplication for trivy, #9290 (#9292)
  dojo/settings/settings.dist.py
Labels: settings_changes

:bug: fix deduplication for trivy, #9290 (#9292)
  dojo/settings/settings.dist.py
Labels: settings_changes

:bug: fix kiuwan (#9309)
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

:bug: fix kiuwan (#9309)
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

Fix 0195/0196
  dojo/db_migrations/0196_notifications_sla_breach_combined.py
Labels: New Migration

temp -- need to fix something somewhere else
  dojo/models.py
Labels: none

Update finding templates to use test_type rather then found_by (#9287)
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
Labels: ui

Update finding templates to use test_type rather then found_by (#9287)
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
Labels: ui

Fix 0195/0196 (#9312)
  dojo/db_migrations/0196_notifications_sla_breach_combined.py
Labels: New Migration

Fix 0195/0196 (#9312)
  dojo/db_migrations/0196_notifications_sla_breach_combined.py
Labels: New Migration

Basic tests for REMOTE_USER
  unittests/test_remote_user.py
Labels: unittests

Final fixes
  dojo/remote_user.py
  dojo/settings/settings.dist.py
  unittests/test_remote_user.py
Labels: unittests, settings_changes

Rename vars in test
  unittests/test_remote_user.py
Labels: unittests

Rewrite settings
  dojo/remote_user.py
  dojo/settings/settings.dist.py
Labels: settings_changes

Add multiple groups test
  unittests/test_remote_user.py
Labels: unittests

fix unit test failure
  dojo/models.py
Labels: none

reuse helper utility for getting current date
  dojo/models.py
Labels: none

new notifications type: SLA breach combined (per product) (#8659)
  dojo/api_v2/serializers.py
  dojo/db_migrations/0195_notifications_sla_breach_combined.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/notifications/mail/sla_breach_combined.tpl
  dojo/utils.py
Labels: New Migration, apiv2, ui

🐛CycloneDX: Add default for description (#9280)
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_9277.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

Add bitbucket support to finding view SCM urls (#9262)
  docs/content/en/integrations/source-code-repositories.md
  docs/static/images/product-custom-fields_1.png
  docs/static/images/product-scm-type_1.png
  docs/static/images/source-code-repositories-bitbucket-onpremise_1.png
  docs/static/images/source-code-repositories-bitbucket_1.png
  docs/static/images/source-code-repositories-gitlab_1.png
  dojo/models.py
  unittests/test_finding_model.py
Labels: docs, unittests

:bug: fix deduplication for trivy, #9290 (#9292)
  dojo/settings/settings.dist.py
Labels: settings_changes

:sparkles: Add option for additional labels on initializer (#9273)
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

🐛 Nikto: Support v2.5.0 format (#9275)
  dojo/tools/nikto/parser.py
  unittests/scans/nikto/issue_9274.json
  unittests/tools/test_nikto_parser.py
Labels: unittests, parser

:bug: fix kiuwan (#9309)
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

advance snyk to support snykcode and snykcontainer #9270 (#9289)
  dojo/tools/snyk/parser.py
  unittests/scans/snyk/snykcode_issue_9270.json
  unittests/scans/snyk/snykcontainer_issue_9270.json
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

advance snyk to support snykcode and snykcontainer #9270 (#9289)
  dojo/tools/snyk/parser.py
  unittests/scans/snyk/snykcode_issue_9270.json
  unittests/scans/snyk/snykcontainer_issue_9270.json
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

addition of sla expiration date field on the finding model
  dojo/apps.py
  dojo/filters.py
  dojo/forms.py
  dojo/models.py
  dojo/sla_config/signals.py
  dojo/templatetags/display_tags.py
Labels: ui

add migration and fix indentation issue
  dojo/db_migrations/0197_finding_sla_expiration_date.py
  dojo/models.py
Labels: New Migration
