Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

helm:
- helm/defectdojo/*
- helm/defectdojo/**/*

"New Migration":
- dojo/db_migrations/*

unittests:
- unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

ui:
  - dojo/static/**/*
  - dojo/templates/**/*
  - dojo/templatetags/**/*

parser:
  - dojo/tools/**/*

localization:
  - dojo/locale/*
  - dojo/locale/**/*

flake8 expected 2 blank lines
  dojo/importers/utils.py
Labels: none

Add the old finding in the reimporter to the list of unchanged findings if risk acceptance matches
  dojo/importers/reimporter/reimporter.py
Labels: none

Add the old finding in the reimporter to the list of unchanged findings if risk acceptance matches (#7447)
  dojo/importers/reimporter/reimporter.py
Labels: none

Add the old finding in the reimporter to the list of unchanged findings if risk acceptance matches (#7447)
  dojo/importers/reimporter/reimporter.py
Labels: none

Adding Betterscan.io scan type to SARIF parser
  dojo/tools/sarif/parser.py
Labels: parser

Adjusted actions after saving a finding to run when the transaction has been actually commited
  dojo/models.py
Labels: none

Handle test tags when reimporting with reimport_scan api (#7446)
  dojo/api_v2/serializers.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
Labels: apiv2

Handle test tags when reimporting with reimport_scan api (#7446)
  dojo/api_v2/serializers.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
Labels: apiv2

Add integration tests
  docker/entrypoint-integration-tests.sh
  dojo/announcement/urls.py
  dojo/announcement/views.py
  tests/announcement_banner_test.py
Labels: docker, integration_tests

Bring migration up to date
  dojo/db_migrations/0179_announcement_userannouncement.py
Labels: New Migration

Flake8 compliance updates
  tests/announcement_banner_test.py
Labels: integration_tests

If findings are mitigated for AWS Security Hub then set them to inactive
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/one_finding_active.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

Added Betterscan.io to Parsers documentation
  docs/content/en/integrations/parsers.md
Labels: docs

Move '/app/components/node_modules' to example
  dojo/settings/settings.dist.py
Labels: settings_changes

Use different approach
  dojo/components/node_modules/.gitkeep
  dojo/settings/settings.dist.py
Labels: settings_changes

Clean before tests
  dojo/locale/en/LC_MESSAGES/django.po
Labels: localization

Add gettext
  Dockerfile.django
Labels: docker

Add update of localization to unit-tests
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/unit-tests.sh
Labels: docker

Add "--add-location file"
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/unit-tests.sh
  dojo/locale/en/LC_MESSAGES/django.po
Labels: docker, localization

Exclude documentation dir
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/unit-tests.sh
Labels: docker

Change wording
  docker/entrypoint-unit-tests.sh
Labels: docker

move location
  components/node_modules/.gitkeep
Labels: none

Test wrong commit - should fail unit tests
  dojo/templates/base.html
Labels: ui

Fix reconciliation issue 'TypeError: process_resolution_from_jira() missing 1 required positional argument: jira_issue'
  dojo/management/commands/jira_status_reconciliation.py
Labels: none

Write more descriptive error
  docker/entrypoint-unit-tests.sh
Labels: docker

Test 1
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/candidate.patterns
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/line_forbidden.patterns
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spelling.yml
Labels: none

If findings are mitigated for AWS Security Hub then set them to inactive (#7454)
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/one_finding_active.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

If findings are mitigated for AWS Security Hub then set them to inactive (#7454)
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/one_finding_active.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

Try to fix wrong commit
  dojo/locale/en/LC_MESSAGES/django.po
Labels: localization

Remove [wrong] test lines
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/base.html
Labels: ui, localization

no_push, pin action
  .github/workflows/spelling.yml
Labels: none

Add excludes and dicts
  .github/actions/spelling/excludes.txt
  .github/workflows/spelling.yml
Labels: none

Fix reconciliation issue 'TypeError: process_resolution_from_jira() missing 1 required positional argument: jira_issue'
  dojo/management/commands/jira_status_reconciliation.py
Labels: none

rollback pushes
  .github/workflows/spelling.yml
Labels: none

Add translations
  dojo/announcement/views.py
  dojo/forms.py
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/dojo/dismiss_announcement.html
Labels: ui, localization

Add django.po
  dojo/locale/en/LC_MESSAGES/django.po
Labels: localization

Fix problem with blocktrans
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/view_user.html
Labels: ui

Catch endpoint validation errors in the reimporter
  dojo/importers/reimporter/reimporter.py
Labels: none

Fixing typo in endpoint documentation
  dojo/templates/dojo/add_endpoint_meta_data.html
  dojo/templates/dojo/breadcrumbs/endpoint_breadcrumb.html
  dojo/templates/dojo/delete_endpoint.html
  dojo/templates/dojo/edit_endpoint_meta_data.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_test.html
Labels: ui

Update serializers.py
  dojo/api_v2/serializers.py
Labels: apiv2
