Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, New Migration, unittests, integration_tests, settings_changes, apiv2

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

"New Migration":
- dojo/db_migrations/*

unittests:
- dojo/unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

fix target start/end
  dojo/importers/reimporter/utils.py
Labels: none

cleanup
  dojo/importers/reimporter/utils.py
Labels: none

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: none

set owner for created models
  dojo/importers/reimporter/utils.py
Labels: none

added file upload
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/models.py
Labels: none

added file upload
  docker-compose.yml
  dojo/jira_link/views.py
Labels: docker

some bug fixes
  dojo/jira_link/views.py
  dojo/templates/dojo/new_jira.html
Labels: none

autocreate for reimport
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/importers/reimporter/utils.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_importers_importer.py
Labels: unittests, apiv2

some bug fixes
  dojo/jira_link/views.py
Labels: none

cleanup
  dojo/unittests/test_importers_importer.py
Labels: unittests

some bug fixes
  dojo/templates/dojo/oauth_new_jira.html
Labels: none

some bug fixes
  dojo/jira_link/helper.py
Labels: none

some bug fixes
  dojo/jira_link/helper.py
  requirements.txt
Labels: none

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: none

Update integration-tests.yml
  .github/workflows/integration-tests.yml
Labels: none

reimport authz tests
  dojo/models.py
  dojo/unittests/test_rest_framework.py
Labels: unittests

set default group for all new users
  dojo/db_migrations/0136_default_group_help_text.py
  dojo/models.py
  dojo/pipeline.py
  dojo/unittests/test_pipeline.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: New Migration, unittests

Changed parsing method to utilize Tagulous utility "parse_tags". Corrected unit tests to reflect this change.
  dojo/api_v2/serializers.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_tags.py
Labels: unittests, apiv2

Fixed Flake8 issue, oops
  dojo/unittests/test_rest_framework.py
Labels: unittests

cleanup
  dojo/unittests/test_importers_importer.py
Labels: unittests

fix(helm): allow disabling initializer job
  helm/defectdojo/templates/initializer-job.yaml
Labels: none

feat(helm): init job annotations support
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: none

Update DOCKER.md
  readme-docs/DOCKER.md
Labels: docs

Remove default port/protocol
  dojo/tools/nessus_was/parser.py
  dojo/tools/sslscan/parser.py
Labels: none

Fix Flake8
  dojo/tools/sslscan/parser.py
Labels: none

Add IP address as backup to host
  dojo/tools/nessus_was/parser.py
Labels: none

go to user view after user add
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  tests/user_test.py
Labels: integration_tests

fix release-drafter.xml
  .github/release-drafter.yml
Labels: none

Update dependency postcss from 8.4.1 to v8.4.3 (docs/package.json)
  docs/package-lock.json
  docs/package.json
Labels: docs

fix release-drafter.xml (#5511)
  .github/release-drafter.yml
Labels: none

fix release-drafter.xml (#5511)
  .github/release-drafter.yml
Labels: none

fix release-drafter.xml (#5511)
  .github/release-drafter.yml
Labels: none

Update DOCKER.md (#5505)
  readme-docs/DOCKER.md
Labels: docs

Update DOCKER.md (#5505)
  readme-docs/DOCKER.md
Labels: docs

Update DOCKER.md (#5505)
  readme-docs/DOCKER.md
Labels: docs

Update dependency postcss from 8.4.3 to v8.4.4 (docs/package.json)
  docs/package-lock.json
  docs/package.json
Labels: docs

go to user view after user add (#5510)
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  tests/user_test.py
Labels: integration_tests

go to user view after user add (#5510)
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  tests/user_test.py
Labels: integration_tests

go to user view after user add (#5510)
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  tests/user_test.py
Labels: integration_tests

set default group for all new users (#5501)
  dojo/db_migrations/0136_default_group_help_text.py
  dojo/models.py
  dojo/pipeline.py
  dojo/unittests/test_pipeline.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: New Migration, unittests
