Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, New Migration, unittests, integration_tests, settings_changes

Update import.md
  docs/content/en/integrations/import.md
Labels: none

Added canned update suggestion
  docs/content/en/integrations/import.md
  dojo/tools/dependency_check/parser.py
Labels: none

Add support for context region snippets
  dojo/tools/sarif/parser.py
Labels: none

Update parser.py
  dojo/tools/sarif/parser.py
Labels: none

Update parser.py
  dojo/tools/sarif/parser.py
Labels: none

Update import.md
  docs/content/en/integrations/import.md
Labels: none

Add upgrade instructions for 2.3.0
  docs/content/en/getting_started/upgrading.md
Labels: none

Update Chart.yaml
  helm/defectdojo/Chart.yaml
Labels: none

Update test_dependency_check_parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

Update test_dependency_check_parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

deploy: 1d152a1f5fd934006e6194f26f34fe4b30a64698
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  scss/main.min.15398ebe400bc669ab3574b6a1226a938f1b28a2726106509e80c26ff6ccd477.css
  scss/main.min.adb15633194c4e3db31df440abd1163ed21e2e914aec3da34bf1ef737ef62b3d.css
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

deploy: 98d02ca7c138e209e379c058efa3c621d2b699a2
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  scss/main.min.15398ebe400bc669ab3574b6a1226a938f1b28a2726106509e80c26ff6ccd477.css
  scss/main.min.adb15633194c4e3db31df440abd1163ed21e2e914aec3da34bf1ef737ef62b3d.css
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

deploy: b768533cf2456c8955ad9a9956fc5b0ad1ca4b2f
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  scss/main.min.15398ebe400bc669ab3574b6a1226a938f1b28a2726106509e80c26ff6ccd477.css
  scss/main.min.adb15633194c4e3db31df440abd1163ed21e2e914aec3da34bf1ef737ef62b3d.css
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

add migration for pytz update
  dojo/db_migrations/0128_pytz_update.py
Labels: New Migration

Update Chart.yaml
  helm/defectdojo/Chart.yaml
Labels: none

Changed 'is' to 'as'
  docs/content/en/integrations/import.md
Labels: none

Bandit parser: fix de-duplication settings
  dojo/settings/settings.dist.py
Labels: settings_changes

Fix: descriptions
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: none

FIx: lint
  helm/defectdojo/values.yaml
Labels: none

adjust to breaking changes in github-scripts action
  .github/workflows/new-release-master-into-dev.yml
Labels: none

adjust to breaking changes in github-scripts action
  .github/workflows/new-release-master-into-dev.yml
Labels: none

adjust to breaking changes in github-scripts action
  .github/workflows/new-release-master-into-dev.yml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Fix: removing trailing spaces
  helm/defectdojo/values.yaml
Labels: none

Add unittest
  dojo/unittests/scans/sarif/codeQL-output.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: unittests

get upload url by release number
  .github/workflows/new-release-chart.yml
Labels: none

get upload url by release number
  .github/workflows/new-release-chart.yml
Labels: none

get upload url by release number
  .github/workflows/new-release-chart.yml
Labels: none

fix version numbers after 2.3.0 mistakes
  dojo/__init__.py
Labels: none

fix version numbers after 2.3.0 mistakes
  dojo/__init__.py
Labels: none

fix version numbers after 2.3.0 mistakes
  dojo/__init__.py
Labels: none

fix version numbers after 2.3.0 mistakes
  helm/defectdojo/Chart.yaml
Labels: none

fix version numbers after 2.3.0 mistakes
  helm/defectdojo/Chart.yaml
Labels: none

fix version numbers after 2.3.0 mistakes
  helm/defectdojo/Chart.yaml
Labels: none

fix version numbers after 2.3.0 mistakes
  components/package.json
Labels: none

fix version numbers after 2.3.0 mistakes
  components/package.json
Labels: none

fix version numbers after 2.3.0 mistakes
  components/package.json
Labels: none

Add upgrade instructions for 2.3.0 (#5229)
  docs/content/en/getting_started/upgrading.md
Labels: none

Add upgrade instructions for 2.3.0 (#5229)
  docs/content/en/getting_started/upgrading.md
Labels: none

Add upgrade instructions for 2.3.0 (#5229)
  docs/content/en/getting_started/upgrading.md
Labels: none

.github/labeler.yml:

docs:
- any: ['docs/**/*', 'readme-docs/**/*']

docker:
- any: ['docker/**/*', 'docker**', 'Docker*']

"New Migration":
- any: ['dojo/db_migrations/*']

unittests:
- any: ['dojo/unittests/**/*']

integration_tests:
- any: ['tests/**/*']

settings_changes:
- any: ['dojo/settings/settings.dist.py']
