Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*

:bug: None Type in cvss score in Trivy #9263e
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_9263.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

:bug: fix zap, issue #9242 (#9243)
  dojo/tools/zap/parser.py
Labels: parser

:bug: fix zap, issue #9242 (#9243)
  dojo/tools/zap/parser.py
Labels: parser

API: Add Announcements (#9112)
  dojo/announcement/signals.py
  dojo/announcement/views.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0195_alter_announcement_dismissable.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/models.py
  dojo/urls.py
  unittests/test_rest_framework.py
  unittests/test_swagger_schema.py
Labels: New Migration, unittests, apiv2

API: Add Announcements (#9112)
  dojo/announcement/signals.py
  dojo/announcement/views.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0195_alter_announcement_dismissable.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/models.py
  dojo/urls.py
  unittests/test_rest_framework.py
  unittests/test_swagger_schema.py
Labels: New Migration, unittests, apiv2

:bug: None Type in cvss score in Trivy #9263e (#9268)
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_9263.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

:bug: None Type in cvss score in Trivy #9263e (#9268)
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_9263.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

Feature: Add Auditlog Retention and Cleanup (#9208)
  dojo/fixtures/dojo_testdata.json
  dojo/settings/settings.dist.py
  dojo/tasks.py
  unittests/test_flush_auditlog.py
Labels: unittests, settings_changes

Feature: Add Auditlog Retention and Cleanup (#9208)
  dojo/fixtures/dojo_testdata.json
  dojo/settings/settings.dist.py
  dojo/tasks.py
  unittests/test_flush_auditlog.py
Labels: unittests, settings_changes

Update how-to-write-a-parser.md
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

Create parser-documentation-template.md
  docs/content/en/contributing/parser-documentation-template.md
Labels: docs

add additional line to how-to-write-a-parser.md
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

add to unittests for parser
  unittests/test_parsers.py
Labels: unittests

correct linting error
  unittests/test_parsers.py
Labels: unittests

remove unnecessary loop
  unittests/tools/test_qualys_parser.py
Labels: unittests

Update test_qualys_parser.py for linting
  unittests/tools/test_qualys_parser.py
Labels: unittests

:sparkles: Add option for additional labels on initializer
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

:bug: fix nikto new parser format #9274
  dojo/tools/nikto/parser.py
  unittests/scans/nikto/issue_9274.json
  unittests/tools/test_nikto_parser.py
Labels: unittests, parser

:bug: fix according to comment
  dojo/tools/nikto/parser.py
Labels: parser

add pinning dependencies
  requirements.txt
Labels: none

Adapting tests to fix for reopened vulns
  unittests/test_endpoint_model.py
Labels: unittests

add bitbucket support for Finging view scm urls, some tests for it and appropriate doc update
  docs/content/en/integrations/source-code-repositories.md
  docs/static/images/product-custom-fields_1.png
  docs/static/images/product-scm-type_1.png
  docs/static/images/source-code-repositories-bitbucket-onpremise_1.png
  docs/static/images/source-code-repositories-bitbucket_1.png
  docs/static/images/source-code-repositories-gitlab_1.png
  dojo/models.py
  unittests/test_finding_model.py
Labels: docs, unittests

QualysParser: add cvss value to finding (#9256)
  dojo/tools/qualys/parser.py
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

QualysParser: add cvss value to finding (#9256)
  dojo/tools/qualys/parser.py
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

add metrics page: "Product Tag Count"
  docs/content/en/usage/features.md
  dojo/forms.py
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/metrics/urls.py
  dojo/metrics/views.py
  dojo/templates/base.html
  dojo/templates/dojo/pt_counts.html
  dojo/utils.py
Labels: docs, ui, localization

Update dojo/tools/nikto/parser.py
  dojo/tools/nikto/parser.py
Labels: parser

fixup! add metrics page: "Product Tag Count"
  dojo/forms.py
  dojo/metrics/views.py
Labels: none

:Bug: fix cyclonedx parser, issue #9277
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_9277.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

advanced unittest
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests

Update dojo/tools/nikto/parser.py
  dojo/tools/nikto/parser.py
Labels: parser

:bug: fix hcl appscan, issue #9279
  dojo/tools/hcl_appscan/parser.py
  unittests/scans/hcl_appscan/asdf.xml
Labels: unittests, parser

update
  dojo/tools/hcl_appscan/parser.py
Labels: parser

fix
  unittests/scans/hcl_appscan/issue_9279.xml
  unittests/tools/test_hcl_appscan_parser.py
Labels: unittests

update
  dojo/tools/hcl_appscan/parser.py
  unittests/tools/test_hcl_appscan_parser.py
Labels: unittests, parser

Update docs/content/en/integrations/source-code-repositories.md
  docs/content/en/integrations/source-code-repositories.md
Labels: docs

Update docs/content/en/integrations/source-code-repositories.md
  docs/content/en/integrations/source-code-repositories.md
Labels: docs

Update dojo/models.py
  dojo/models.py
Labels: none

Update dojo/models.py
  dojo/models.py
Labels: none

additional unittests
  dojo/settings/settings.dist.py
  unittests/tools/test_hcl_appscan_parser.py
Labels: unittests, settings_changes

shorten xml file, add unittests
  unittests/scans/hcl_appscan/issue_9279.xml
  unittests/tools/test_hcl_appscan_parser.py
Labels: unittests
