Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

handle non-JSON response (#7394)
  dojo/tools/sonarqube_api/api_client.py
Labels: parser

handle non-JSON response (#7394)
  dojo/tools/sonarqube_api/api_client.py
Labels: parser

add tests
  dojo/tool_config/factory.py
  dojo/tools/api_blackduck/parser.py
  unittests/test_tool_config.py
Labels: unittests, parser

Documentation - how to write API parsers
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

Fix integration test
  tests/base_test_class.py
  tests/tool_config.py
Labels: integration_tests

Adding Betterscan.io as a Scan Type
  docs/content/en/integrations/parsers.md
  dojo/tools/betterscan/__init__.py
  dojo/tools/betterscan/parser.py
Labels: docs, parser

Flake8
  dojo/tools/betterscan/parser.py
Labels: parser

Avoid unnecessary save for dynamic findings on reimport
  dojo/importers/reimporter/reimporter.py
Labels: none

Docs: Add test_connection and test_product_connection [skip action]
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

Avoid unnecessary save for dynamic findings on reimport (#7399)
  dojo/importers/reimporter/reimporter.py
Labels: none

Avoid unnecessary save for dynamic findings on reimport (#7399)
  dojo/importers/reimporter/reimporter.py
Labels: none

Clean old Django workaround from RemoteUserBackend (#5)
  dojo/remote_user.py
Labels: none

Add functionality "forgot username"
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/forgot_username.html
  dojo/templates/dojo/forgot_username_done.html
  dojo/templates/dojo/forgot_username_subject.html
  dojo/templates/dojo/login.html
  dojo/templates/notifications/mail/forgot_password.tpl
  dojo/templates/notifications/mail/forgot_username.tpl
  dojo/user/urls.py
  dojo/user/views.py
Labels: settings_changes, ui

Fix Flake8
  dojo/settings/settings.dist.py
  dojo/user/views.py
Labels: settings_changes

Adjusted transaction behaviour for import of scan results
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/importers/importer/importer.py
  dojo/importers/utils.py
Labels: none

Reverting some whitespace / blank line changes
  dojo/endpoint/utils.py
  dojo/importers/importer/importer.py
  dojo/importers/utils.py
Labels: none

Adjusted where transaction is started
  dojo/engagement/views.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
Labels: none

Added unitest
  docs/content/en/integrations/parsers.md
  unittests/tools/test_github_vulnerability_parser.py
Labels: docs, unittests

Optimize output in html for product/metrics page (#7339)
  dojo/product/views.py
  dojo/templates/dojo/product_metrics.html
  dojo/utils.py
Labels: ui

Optimize output in html for product/metrics page (#7339)
  dojo/product/views.py
  dojo/templates/dojo/product_metrics.html
  dojo/utils.py
Labels: ui

migrate surveys
  dojo/models/__init__.py
  dojo/models/surveys.py
Labels: none

migrate sonarqube
  dojo/models/__init__.py
  dojo/models/sonarqube.py
Labels: none

First step
  dojo/models/__init__.py
Labels: none

migrate user managment
  dojo/models/__init__.py
  dojo/models/user_managment.py
Labels: none

migrate benchmark
  dojo/models/__init__.py
  dojo/models/benchmark.py
Labels: none

migrate system settings
  dojo/models/__init__.py
  dojo/models/system_settings.py
Labels: none

migrate github
  dojo/models/__init__.py
  dojo/models/github.py
Labels: none

migrate notification
  dojo/models/__init__.py
  dojo/models/notification.py
Labels: none

migrate rule
  dojo/models/__init__.py
  dojo/models/rule.py
Labels: none

move get_current_date* to utils
  dojo/models/__init__.py
  dojo/utils.py
Labels: none

migrate note
  dojo/models/__init__.py
  dojo/models/note.py
Labels: none

migrate jira
  dojo/models/__init__.py
  dojo/models/jira.py
Labels: none

Added field CVE to GitHub dependendatbot parser
  unittests/tools/test_github_vulnerability_parser.py
Labels: unittests

Added field CVE to GitHub dependendatbot parser
  unittests/tools/test_github_vulnerability_parser.py
Labels: unittests

Added field CVE to GitHub dependendatbot parser
  dojo/tools/github_vulnerability/parser.py
Labels: parser

Migrate to Django 4.x (#7387)
  docker-compose.override.integration_tests.yml
  dojo/db_migrations/0178_alter_answer_polymorphic_ctype_and_more.py
  dojo/finding/views.py
  dojo/middleware.py
  dojo/remote_user.py
  dojo/reports/widgets.py
  dojo/settings/settings.dist.py
  dojo/user/validators.py
  requirements.txt
Labels: docker, New Migration, settings_changes

Migrate to Django 4.x (#7387)
  docker-compose.override.integration_tests.yml
  dojo/db_migrations/0178_alter_answer_polymorphic_ctype_and_more.py
  dojo/finding/views.py
  dojo/middleware.py
  dojo/remote_user.py
  dojo/reports/widgets.py
  dojo/settings/settings.dist.py
  dojo/user/validators.py
  requirements.txt
Labels: docker, New Migration, settings_changes

Set CSRF_TRUSTED_ORIGINS when it is not the default value
  dojo/settings/settings.dist.py
Labels: settings_changes

Update settings.dist.py
  dojo/settings/settings.dist.py
Labels: settings_changes

Create new env var to set default Jira type, to make it possible via helm chart
  dojo/models.py
  dojo/settings/settings.dist.py
Labels: settings_changes

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

helm:
- helm/defectdojo/*
- helm/defectdojo/**/*

"New Migration":
- dojo/db_migrations/*

unittests:
- unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

ui:
  - dojo/static/**/*
  - dojo/templates/**/*
  - dojo/templatetags/**/*

parser:
  - dojo/tools/**/*

localization:
  - dojo/locale/*
  - dojo/locale/**/*
