Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

In the re-importer, if the new finding is mitigated then make sure the old finding's endpoints are all mitigated
  dojo/importers/reimporter/utils.py
Labels: none

Fixing the sla_deadline function to work with the current date and not the date the finding was created
  dojo/models.py
Labels: none

Exclude bug fix branch from incremental helm chart tests [skip-actions]
  .github/workflows/test-helm-chart.yml
Labels: none

Exclude bug fix branch from incremental helm chart tests [skip-actions]
  .github/workflows/test-helm-chart.yml
Labels: none

Add OS Security Index Badge [skip actions]
  README.md
Labels: none

Add OS Security Index Badge [skip actions]
  README.md
Labels: none

Fixing typo
  dojo/tools/bugcrowd/parser.py
Labels: parser

In the re-importer, if the new finding is mitigated then make sure the old finding's endpoints are all mitigated (#7373)
  dojo/importers/reimporter/utils.py
Labels: none

In the re-importer, if the new finding is mitigated then make sure the old finding's endpoints are all mitigated (#7373)
  dojo/importers/reimporter/utils.py
Labels: none

Fixing typo (#7372)
  dojo/tools/bugcrowd/parser.py
Labels: parser

Fixing typo (#7372)
  dojo/tools/bugcrowd/parser.py
Labels: parser

Fixing the sla_deadline function to work with the current date and not the date the finding was created (#7370)
  dojo/models.py
Labels: none

Fixing the sla_deadline function to work with the current date and not the date the finding was created (#7370)
  dojo/models.py
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Migrate to Django 4.x
  dojo/db_migrations/0178_alter_answer_polymorphic_ctype_and_more.py
  dojo/middleware.py
  dojo/reports/widgets.py
  requirements.txt
Labels: New Migration

Add original libs next to forked version in case of an upgrade in the future
  requirements.txt
Labels: none

Correct typo
  requirements.txt
Labels: none

Fix Flake8
  dojo/middleware.py
Labels: none

Make an attempt to correct unit tests
  docker-compose.override.integration_tests.yml
  dojo/settings/settings.dist.py
  dojo/user/validators.py
Labels: docker, settings_changes

Add more execption handlers in Finding View
  dojo/finding/views.py
Labels: none

Correct is_ajax function that was droppd in django 4.x
  dojo/finding/views.py
Labels: none

Remove note aboute CSRF_TRUSTED_DOMAINS
  dojo/settings/settings.dist.py
Labels: settings_changes

edit parsers.md
  docs/content/en/integrations/parsers.md
Labels: docs

Adding CVE as field
  dojo/tools/github_vulnerability/parser.py
Labels: parser

Update parser.py gor gihub
  dojo/tools/github_vulnerability/parser.py
Labels: parser

update parser.py
  dojo/tools/github_vulnerability/parser.py
Labels: parser

API-bugfix: Endpoint_status - do not fail if date is missing
  dojo/api_v2/serializers.py
  unittests/test_rest_framework.py
Labels: unittests, apiv2

flake8
  unittests/test_rest_framework.py
Labels: unittests

handle non-JSON response
  dojo/tools/sonarqube_api/api_client.py
Labels: parser

Fix VulnersAPI in factory
  dojo/tool_config/factory.py
Labels: none

Fix unittests
  unittests/test_tool_config.py
  unittests/tools/test_api_edgescan_parser.py
Labels: unittests

API-bugfix: Endpoint_status - do not fail if date is missing (#7395)
  dojo/api_v2/serializers.py
  unittests/test_rest_framework.py
Labels: unittests, apiv2

API-bugfix: Endpoint_status - do not fail if date is missing (#7395)
  dojo/api_v2/serializers.py
  unittests/test_rest_framework.py
Labels: unittests, apiv2

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

helm:
- helm/defectdojo/*
- helm/defectdojo/**/*

"New Migration":
- dojo/db_migrations/*

unittests:
- unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

ui:
  - dojo/static/**/*
  - dojo/templates/**/*
  - dojo/templatetags/**/*

parser:
  - dojo/tools/**/*

localization:
  - dojo/locale/*
  - dojo/locale/**/*
