Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*

removed unnecessary lines
  dojo/importers/reimporter/reimporter.py
Labels: none

target dependabot and renovate PRs against bugfix
  .github/dependabot.yml
  .github/renovate.json
Labels: none

Update finding templates to use test_type rather then found_by
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
Labels: ui

Add a "tag findings" parameter to the import-scan and reimport-scan API endpoints (#8707)
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
Labels: apiv2

Add a "tag findings" parameter to the import-scan and reimport-scan API endpoints (#8707)
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
Labels: apiv2

advance snyk to support snykcode and snykcontainer #9270
  unittests/scans/snyk/snykcode_issue_9270.json
  unittests/scans/snyk/snykcontainer_issue_9270.json
  unittests/tools/test_snyk_parser.py
Labels: unittests

:construction: update
  dojo/tools/snyk/parser.py
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

:bug: fix deduplication for trivy, #9290
  dojo/settings/settings.dist.py
Labels: settings_changes

works, but information in findings is still missing
  dojo/tools/snyk/parser.py
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

shorten unittestfile
  unittests/scans/snyk/snykcode_issue_9270.json
  unittests/scans/snyk/snykcontainer_issue_9270.json
  unittests/tools/test_snyk_parser.py
Labels: unittests

finish
  dojo/tools/snyk/parser.py
Labels: parser

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Django Admin: UserContactInfo improvements
  dojo/models.py
Labels: none

Quick fix - everyone can see all product types to bypass bug (#107)
  dojo/product_type/queries.py
Labels: none

addition of finding sla_expiration_date field
  dojo/db_migrations/0195_alter_announcement_dismissable.py
  dojo/db_migrations/0196_finding_sla_expiration_date.py
  dojo/filters.py
  dojo/forms.py
  dojo/models.py
  dojo/templatetags/display_tags.py
  dojo/utils.py
Labels: New Migration, ui

fix migration issue
  dojo/db_migrations/0195_alter_announcement_dismissable.py
Labels: New Migration

fix spacing issue
  dojo/utils.py
Labels: none

a few fixes and naming convention changes
  dojo/filters.py
  dojo/models.py
  dojo/utils.py
Labels: none

catch sla config object changes, product sla config field changes
  dojo/apps.py
  dojo/models.py
  dojo/sla_config/signals.py
Labels: none

fix flake8 error
  dojo/models.py
Labels: none

fix migrations
  docker-compose.override.dev.yml
  dojo/db_migrations/0194_alter_finding_component_name.py
  dojo/db_migrations/0195_finding_sla_expiration_date_and_more.py
  dojo/db_migrations/0196_finding_sla_expiration_date.py
  dojo/settings/template-local_settings
Labels: docker, New Migration

flake8
  dojo/db_migrations/0194_alter_finding_component_name.py
Labels: New Migration

fix accidentally committed files
  docker-compose.override.dev.yml
  dojo/settings/template-local_settings
Labels: docker

bugfixes and migration additions
  dojo/db_migrations/0195_alter_announcement_dismissable.py
  dojo/db_migrations/0196_finding_sla_expiration_date.py
  dojo/models.py
  dojo/utils.py
Labels: New Migration

:tada: merge OpenVAS XML and CSV formats to have only one parser for OpenVAS
  docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/openvas_csv.md
  docs/content/en/integrations/parsers/file/openvas_xml.md
  dojo/tools/openvas/__init__.py
  dojo/tools/openvas/parser.py
  dojo/tools/openvas_csv/__init__.py
  dojo/tools/openvas_xml/parser.py
  unittests/scans/openvas/many_vuln.csv
  unittests/scans/openvas/many_vuln.xml
  unittests/scans/openvas/no_vuln.xml
  unittests/scans/openvas/one_vuln.csv
  unittests/scans/openvas/one_vuln.xml
  unittests/tools/test_openvas_parser.py
  unittests/tools/test_openvas_xml_parser.py
Labels: docs, unittests, parser

:bug: fix kiuwan
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

:bug: fix #9307
  dojo/tools/kiuwan/parser.py
Labels: parser

:bug: fix #9307, add vulnerability type
  dojo/tools/kiuwan/parser.py
Labels: parser

:sparkles: Add option for additional labels on initializer (#9273)
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

:sparkles: Add option for additional labels on initializer (#9273)
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

Release-drafter: Checkout to version (#9231)
  .github/workflows/fetch-oas.yml
  .github/workflows/release-drafter.yml
Labels: none

Release-drafter: Checkout to version (#9231)
  .github/workflows/fetch-oas.yml
  .github/workflows/release-drafter.yml
Labels: none

Parser guideline updates (#9271)
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/contributing/parser-documentation-template.md
  unittests/test_parsers.py
Labels: docs, unittests
