Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, New Migration, unittests, integration_tests, settings_changes

.github/labeler.yml:

docs:
- any: ['docs/**/*', 'readme-docs/**/*']

docker:
- any: ['docker/**/*', 'docker**', 'Docker*']

"New Migration":
- any: ['dojo/db_migrations/*']

unittests:
- any: ['dojo/unittests/**/*']

integration_tests:
- any: ['tests/**/*']

settings_changes:
- any: ['dojo/settings/settings.dist.py']

Update index.yaml
  index.yaml
Labels: none

Update import.md
  docs/content/en/integrations/import.md
Labels: none

deploy: c98072041faf42d41b8d24fe100bf2bca2a07f8a
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  offline-search-index.d2e1bd15705b3921805103c70744a1f5.json
  offline-search-index.d4b5139dd88fd4a82bb4409cdde1e7b7.json
  sitemap.xml
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

fix new release pr due to github scripts update
  .github/workflows/new-release-pr.yml
Labels: none

fix new release pr due to github scripts update
  .github/workflows/new-release-pr.yml
Labels: none

fix new release pr due to github scripts update
  .github/workflows/new-release-pr.yml
Labels: none

Remove repeated text
  docs/content/en/integrations/import.md
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Implement the check as Django system check
  dojo/apps.py
  dojo/checks.py
  dojo/management/commands/validatededupeconfig.py
Labels: none

User: allow search by email (#5226)
  dojo/filters.py
Labels: none

User: allow search by email (#5226)
  dojo/filters.py
Labels: none

User: allow search by email (#5226)
  dojo/filters.py
Labels: none

User: allow superuser (no staff) to list and view users
  dojo/templates/base.html
  dojo/templates/dojo/users.html
  dojo/user/views.py
Labels: none

Removing CCVS integration
  docs/content/en/integrations/import.md
  dojo/tools/ccvs/__init__.py
  dojo/tools/ccvs/parser.py
  dojo/unittests/scans/bandit/dd.json
  dojo/unittests/scans/bandit/dd2.json
  dojo/unittests/scans/bandit/many_vulns.json
  dojo/unittests/scans/ccvs/many_vulns.json
  dojo/unittests/scans/ccvs/no_vuln.json
  dojo/unittests/scans/ccvs/one_vuln_one_vendor.json
  dojo/unittests/scans/sarif/DefectDojo_django-DefectDojo__2020-12-11_13 42 10__export.sarif
  dojo/unittests/scans/semgrep/many_vulns.json
  dojo/unittests/tools/test_ccvs_parser.py
Labels: unittests

Update upgrading.md
  docs/content/en/getting_started/upgrading.md
Labels: none

Add support for context region snippets in SARIF parser (#5227)
  docs/content/en/integrations/import.md
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/codeQL-output.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: unittests

Add support for context region snippets in SARIF parser (#5227)
  docs/content/en/integrations/import.md
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/codeQL-output.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: unittests

Add support for context region snippets in SARIF parser (#5227)
  docs/content/en/integrations/import.md
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/codeQL-output.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: unittests

deploy: 1d5d776162032e2e34776e0740ee43d950a27d0c
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  offline-search-index.d4b5139dd88fd4a82bb4409cdde1e7b7.json
  offline-search-index.db57fc3de6c378311208d3ad6af18c40.json
  sitemap.xml
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

add some basic dropdown tests
  tests/finding_test.py
Labels: integration_tests

Update upgrading.md (#5243)
  docs/content/en/getting_started/upgrading.md
Labels: none

Update upgrading.md (#5243)
  docs/content/en/getting_started/upgrading.md
Labels: none

Update upgrading.md (#5243)
  docs/content/en/getting_started/upgrading.md
Labels: none

deploy: af517b1da3214a5ddca2a5aa724f2c2ee268eb7a
  404.html
  contributing/branching-model/index.html
  contributing/documentation/index.html
  contributing/how-to-write-a-parser/index.html
  contributing/index.html
  getting_started/architecture/index.html
  getting_started/configuration/index.html
  getting_started/index.html
  getting_started/installation/index.html
  getting_started/running-in-production/index.html
  getting_started/upgrading/index.html
  index.html
  integrations/api-v2-docs/index.html
  integrations/burp-plugin/index.html
  integrations/google-sheets-sync/index.html
  integrations/import/index.html
  integrations/index.html
  integrations/jira/index.html
  integrations/languages/index.html
  integrations/notifications/index.html
  integrations/rate_limiting/index.html
  integrations/social-authentication/index.html
  integrations/source-code-repositories/index.html
  offline-search-index.71e8ace8b3ef0f30e522e64ce51383e9.json
  offline-search-index.db57fc3de6c378311208d3ad6af18c40.json
  sitemap.xml
  usage/features/index.html
  usage/index.html
  usage/models/index.html
  usage/permissions/index.html
  usage/workflows/index.html
Labels: none

Fixed the flaky tests
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: unittests

Correct Javascript introduced #5207. Fixes #5236
  dojo/templates/base.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/snippets/selectpicker_in_dropdown.html
  dojo/templates/dojo/view_test.html
Labels: none

Correct Javascript introduced #5207. Fixes #5236
  dojo/templates/base.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/snippets/selectpicker_in_dropdown.html
  dojo/templates/dojo/view_test.html
Labels: none

Correct Javascript introduced #5207. Fixes #5236
  dojo/templates/base.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/snippets/selectpicker_in_dropdown.html
  dojo/templates/dojo/view_test.html
Labels: none

Correct Javascript introduced #5207. Fixes #5236
  dojo/templates/base.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/snippets/selectpicker_in_dropdown.html
  dojo/templates/dojo/view_test.html
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: none

Added Dependency Check Suppression parsing (#5082)
  docs/content/en/integrations/import.md
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
  readme-docs/DOCKER.md
Labels: unittests

Added Dependency Check Suppression parsing (#5082)
  docs/content/en/integrations/import.md
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
  readme-docs/DOCKER.md
Labels: unittests
