Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*

Update docs
  docs/content/en/integrations/parsers/file/sonarqube.md
Labels: docs

fix according to review
  unittests/test_parsers.py
Labels: unittests

fix
  docs/content/en/integrations/parsers/file/jfrog_xray_api_summary_artifact.md
Labels: docs

update recommend version
  docs/content/en/integrations/parsers/file/sonarqube.md
Labels: docs

addressing comments
  docs/content/en/getting_started/upgrading/2.31.0.md
  dojo/db_migrations/0197_whitesource_to_mend.py
Labels: docs, New Migration

Fixing "'WSGIRequest' object has no attribute 'user'" errors
  dojo/context_processors.py
Labels: none

copy paste typo fixed
  dojo/db_migrations/0197_whitesource_to_mend.py
Labels: New Migration

add recommend version in parser description
  dojo/tools/sonarqube/parser.py
Labels: parser

Update docs/content/en/integrations/parsers/file/mend.md
  docs/content/en/integrations/parsers/file/mend.md
Labels: docs

Resolve new Ruff issues (#9364)
  dojo/system_settings/views.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/tools/govulncheck/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/nikto/parser.py
Labels: parser

Resolve new Ruff issues (#9364)
  dojo/system_settings/views.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/tools/govulncheck/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/nikto/parser.py
Labels: parser

:bug: fix npm audit, issue #7897
  dojo/tools/npm_audit/parser.py
  unittests/scans/npm_audit/issue_7897.json
  unittests/tools/test_npm_audit_parser.py
Labels: unittests, parser

fix deduplication tooltip
  dojo/models.py
Labels: none

updated release notes
  docs/content/en/getting_started/upgrading/2.31.md
Labels: docs

add db migrations
  dojo/db_migrations/0197_parser_merge.py
Labels: New Migration

add product grading documentation, fixes #6125
  docs/content/en/usage/productgrading.md
Labels: docs

:tada: advance sysdig to also parse json, #6939, #7468
  docs/content/en/integrations/parsers/file/sysdig_reports.md
  dojo/tools/sysdig_reports/parser.py
  unittests/scans/sysdig_reports/sysdig.json
  unittests/tools/test_sysdig_reports_parser.py
Labels: docs, unittests, parser

added db migration because of django
  dojo/db_migrations/0198_alter_system_settings_enable_deduplication.py
Labels: New Migration

flake8
  dojo/db_migrations/0197_parser_merge.py
Labels: New Migration

:tada: add cvssv4
  dojo/models.py
Labels: none

add db migrations
  dojo/db_migrations/0199_finding_cvssv4_finding_cvssv4_score.py
Labels: New Migration

Override default Django APPEND_SLASH
  dojo/settings/settings.dist.py
Labels: settings_changes

Add USE_FIRST_SEEN to Nexpose (#2)
  dojo/tools/nexpose/parser.py
  unittests/scans/nexpose/dns.xml
  unittests/tools/test_nexpose_parser.py
Labels: unittests, parser

Add "First Seen" Parser Flag (#9361)
  dojo/settings/settings.dist.py
  dojo/tools/nexpose/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/tools/veracode_sca/parser.py
  unittests/scans/nexpose/dns.xml
  unittests/tools/test_nexpose_parser.py
  unittests/tools/test_qualys_parser.py
  unittests/tools/test_veracode_parser.py
  unittests/tools/test_veracode_sca_parser.py
Labels: unittests, settings_changes, parser

Add "First Seen" Parser Flag (#9361)
  dojo/settings/settings.dist.py
  dojo/tools/nexpose/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/tools/veracode_sca/parser.py
  unittests/scans/nexpose/dns.xml
  unittests/tools/test_nexpose_parser.py
  unittests/tools/test_qualys_parser.py
  unittests/tools/test_veracode_parser.py
  unittests/tools/test_veracode_sca_parser.py
Labels: unittests, settings_changes, parser

Fixing "'WSGIRequest' object has no attribute 'user'" errors (#9373)
  dojo/context_processors.py
Labels: none

Fixing "'WSGIRequest' object has no attribute 'user'" errors (#9373)
  dojo/context_processors.py
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

removed unnecessary variable
  dojo/engagement/views.py
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

add message to form fields when async updating flag is true
  dojo/forms.py
  dojo/templates/dojo/form_fields.html
Labels: ui

Update entrypoint-unit-tests.sh
  docker/entrypoint-unit-tests.sh
Labels: docker

Update entrypoint-unit-tests.sh
  docker/entrypoint-unit-tests.sh
Labels: docker
