Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, New Migration, unittests, integration_tests, settings_changes

.github/labeler.yml:

docs:
- any: ['docs/**/*', 'readme-docs/**/*']

docker:
- any: ['docker/**/*', 'docker**', 'Docker*']

"New Migration":
- any: ['dojo/db_migrations/*']

unittests:
- any: ['dojo/unittests/**/*']

integration_tests:
- any: ['tests/**/*']

settings_changes:
- any: ['dojo/settings/settings.dist.py']

removed line_number
  dojo/filters.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/templates/dojo/edit_rule.html
  dojo/templates/dojo/new_rule.html
  dojo/tools/fortify/parser.py
  dojo/tools/veracode/parser.py
Labels: none

removed sourcefile and sourcefilepath
  dojo/filters.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/templates/dojo/edit_rule.html
  dojo/templates/dojo/new_rule.html
  dojo/tools/gitlab_sast/parser.py
  dojo/tools/veracode/parser.py
Labels: none

removed is_template
  dojo/db_migrations/0128_finding_deprecated_fields.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/management/commands/migrate_finding_templates.py
  dojo/models.py
  dojo/product/views.py
  dojo/templates/dojo/edit_rule.html
  dojo/templates/dojo/new_rule.html
  dojo/test/views.py
  dojo/unittests/test_rest_framework.py
Labels: New Migration, unittests

rename db migration after rebase
  dojo/db_migrations/0129_finding_deprecated_fields.py
Labels: New Migration

Update Chart.yaml
  helm/defectdojo/Chart.yaml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

keep unit test database between the 2 sets of tests
  docker/entrypoint-unit-tests.sh
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none
