Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

addition of new unit tests
  unittests/test_finding_model.py
Labels: unittests

fix unit test error
  dojo/utils.py
Labels: none

:bug: fix according to comment
  dojo/tools/hcl_appscan/parser.py
  unittests/tools/test_hcl_appscan_parser.py
Labels: unittests, parser

update
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
Labels: none

flake8
  dojo/api_v2/serializers.py
  dojo/tools/utils.py
Labels: apiv2, parser

helptext update
  dojo/forms.py
Labels: none

:bug: fix unittests
  dojo/api_v2/views.py
  dojo/tools/harbor_vulnerability/parser.py
Labels: apiv2, parser

flake8
  dojo/tools/tenable/xml_format.py
Labels: parser

another flake8
  dojo/tools/tenable/csv_format.py
Labels: parser

fix unittest
  dojo/tools/crashtest_security/parser.py
Labels: parser

revert skript failure
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/xml_format.py
Labels: parser

flake8
  dojo/tools/tenable/csv_format.py
Labels: parser

remove unnecessary testprint
  dojo/tools/harbor_vulnerability/parser.py
Labels: parser

revert skript failure
  dojo/tools/tenable/xml_format.py
Labels: parser

add validation extension file import scan
  dojo/api_v2/serializers.py
  requirements.txt
Labels: apiv2

Changing name of Whitestone to Mend
  dojo/management/commands/rename_mend_findings.py
  dojo/settings/settings.dist.py
  dojo/tools/mend/__init__.py
  dojo/tools/mend/parser.py
  unittests/scans/bandit/dd.json
  unittests/scans/bandit/dd2.json
  unittests/scans/bandit/many_vulns.json
  unittests/scans/gitlab_sast/gl-sast-report-many-vuln_v14.json
  unittests/scans/gitlab_sast/gl-sast-report-many-vuln_v15.json
  unittests/scans/horusec/horres3.json
  unittests/scans/horusec/version_2.6.3.json
  unittests/scans/mend/cli_generated_many_vulns.json
  unittests/scans/mend/okhttp_many_vuln.json
  unittests/scans/mend/okhttp_no_vuln.json
  unittests/scans/mend/okhttp_one_vuln.json
  unittests/scans/sarif/DefectDojo_django-DefectDojo__2020-12-11_13 42 10__export.sarif
  unittests/scans/semgrep/many_vulns.json
  unittests/tools/test_mend_parser.py
Labels: unittests, settings_changes, parser

add xml type file
  dojo/api_v2/serializers.py
Labels: apiv2

error impor sonar api
  dojo/api_v2/serializers.py
Labels: apiv2

Endpoint Status: Accommodate Risk Exceptions
  dojo/risk_acceptance/helper.py
Labels: none

Update unit tests
  tests/finding_test.py
Labels: integration_tests

--amend
  dojo/api_v2/serializers.py
Labels: apiv2

Endpoint Status: Accommodate Risk Exceptions (#9360)
  dojo/risk_acceptance/helper.py
  tests/finding_test.py
Labels: integration_tests

Endpoint Status: Accommodate Risk Exceptions (#9360)
  dojo/risk_acceptance/helper.py
  tests/finding_test.py
Labels: integration_tests

Add "First Seen" Parser Flag
  dojo/settings/settings.dist.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/tools/veracode_sca/parser.py
  unittests/tools/test_qualys_parser.py
  unittests/tools/test_veracode_parser.py
  unittests/tools/test_veracode_sca_parser.py
Labels: unittests, settings_changes, parser

Fix Flake8
  dojo/settings/settings.dist.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
Labels: settings_changes, parser

Unittests for REMOTE_USER (#9021)
  dojo/remote_user.py
  dojo/settings/settings.dist.py
  unittests/test_remote_user.py
Labels: unittests, settings_changes

Unittests for REMOTE_USER (#9021)
  dojo/remote_user.py
  dojo/settings/settings.dist.py
  unittests/test_remote_user.py
Labels: unittests, settings_changes

:tada: merge OpenVAS XML and CSV parsers (#9322)
  docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/openvas_csv.md
  docs/content/en/integrations/parsers/file/openvas_xml.md
  dojo/tools/openvas/__init__.py
  dojo/tools/openvas/parser.py
  dojo/tools/openvas_csv/__init__.py
  dojo/tools/openvas_xml/parser.py
  unittests/scans/openvas/many_vuln.csv
  unittests/scans/openvas/many_vuln.xml
  unittests/scans/openvas/no_vuln.xml
  unittests/scans/openvas/one_vuln.csv
  unittests/scans/openvas/one_vuln.xml
  unittests/tools/test_openvas_parser.py
  unittests/tools/test_openvas_xml_parser.py
Labels: docs, unittests, parser

:tada: merge OpenVAS XML and CSV parsers (#9322)
  docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/openvas_csv.md
  docs/content/en/integrations/parsers/file/openvas_xml.md
  dojo/tools/openvas/__init__.py
  dojo/tools/openvas/parser.py
  dojo/tools/openvas_csv/__init__.py
  dojo/tools/openvas_xml/parser.py
  unittests/scans/openvas/many_vuln.csv
  unittests/scans/openvas/many_vuln.xml
  unittests/scans/openvas/no_vuln.xml
  unittests/scans/openvas/one_vuln.csv
  unittests/scans/openvas/one_vuln.xml
  unittests/tools/test_openvas_parser.py
  unittests/tools/test_openvas_xml_parser.py
Labels: docs, unittests, parser

:bug: fix #8435, advance semgrep (#9323)
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/issue_8435.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

:bug: fix #8435, advance semgrep (#9323)
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/issue_8435.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

Improve kiuwan import parser (#9316)
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/scans/kiuwan/kiuwan_defects.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

Improve kiuwan import parser (#9316)
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/scans/kiuwan/kiuwan_defects.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

:bug: fix #7690, microfocus webinspect NoneType Object (#9327)
  dojo/tools/microfocus_webinspect/parser.py
  unittests/tools/test_microfocus_webinspect_parser.py
Labels: unittests, parser

:bug: fix #7690, microfocus webinspect NoneType Object (#9327)
  dojo/tools/microfocus_webinspect/parser.py
  unittests/tools/test_microfocus_webinspect_parser.py
Labels: unittests, parser

:bug: fix #6932, advance qualys for monthly pci scan (#9328)
  dojo/tools/qualys/csv_parser.py
  unittests/scans/qualys/monthly_pci_issue6932.csv
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

:bug: fix #6932, advance qualys for monthly pci scan (#9328)
  dojo/tools/qualys/csv_parser.py
  unittests/scans/qualys/monthly_pci_issue6932.csv
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

:sparkles: Implement Chef InSpec Parser (#9329)
  docs/content/en/integrations/parsers/file/chefinspect.md
  dojo/tools/chefinspect/__init__.py
  dojo/tools/chefinspect/parser.py
  unittests/scans/chefinspect/many_findings.log
  unittests/scans/chefinspect/no_finding.log
  unittests/scans/chefinspect/one_finding.log
  unittests/tools/test_chefinspect_parser.py
Labels: docs, unittests, parser

:sparkles: Implement Chef InSpec Parser (#9329)
  docs/content/en/integrations/parsers/file/chefinspect.md
  dojo/tools/chefinspect/__init__.py
  dojo/tools/chefinspect/parser.py
  unittests/scans/chefinspect/many_findings.log
  unittests/scans/chefinspect/no_finding.log
  unittests/scans/chefinspect/one_finding.log
  unittests/tools/test_chefinspect_parser.py
Labels: docs, unittests, parser

Trivy Parser: Expand Unit Tests (#9334)
  unittests/scans/trivy/issue_9333.json
  unittests/tools/test_trivy_parser.py
Labels: unittests

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*
