Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

fix mitigated finding remaining sla days calculation
  dojo/models.py
Labels: none

fix sla violation filter to return only active, sla violating findings
  dojo/filters.py
Labels: none

migration system settings fix
  dojo/db_migrations/0197_finding_sla_expiration_date.py
Labels: New Migration

fix mitigation date vs datetime discrepancy
  dojo/models.py
Labels: none

fix breaking unit test
  unittests/tools/test_veracode_parser.py
Labels: unittests

move product save check to signal
  dojo/models.py
  dojo/product/signals.py
Labels: none

fix unit test failure
  dojo/models.py
Labels: none

re-add GitHub auth enabling restriction to org and team
  docs/content/en/integrations/social-authentication.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: docs, settings_changes, ui

Update parser.py
  dojo/tools/kiuwan/parser.py
Labels: parser

Updated unit test
  unittests/scans/kiuwan/issue_9308.csv
Labels: unittests

Fix defects import
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/kiuwan_defects.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

Define exceptions for now
  unittests/test_apiv2_methods_and_endpoints.py
Labels: unittests

Rename unittest
  unittests/test_apiv2_methods_and_endpoints.py
Labels: unittests

Announcement was implemented
  unittests/test_apiv2_methods_and_endpoints.py
Labels: unittests

Fix shellcheck
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docker/docker-compose-check.sh
  docker/dojo-data.bash
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-nginx.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/setEnv.sh
  docker/unit-tests.sh
  docker/wait-for-it.sh
  tests/local-integration-tests.sh
Labels: docker, integration_tests

Veracode: Update license mapping
  dojo/tools/veracode/json_parser.py
Labels: parser

make signal operations async, fix sla config delete 500 error
  dojo/product/helpers.py
  dojo/product/signals.py
  dojo/sla_config/helpers.py
  dojo/sla_config/signals.py
  dojo/sla_config/views.py
Labels: none

new feature and fix
  dojo/authorization/roles_permissions.py
  dojo/finding/views.py
  dojo/risk_acceptance/risk_pending.py
Labels: none

add unit tests to test sla expiration date functionality
  unittests/dojo_test_case.py
  unittests/test_finding_model.py
Labels: unittests

NoseyParker fix for 0.16
  docs/content/en/integrations/parsers/file/noseyparker.md
  dojo/fixtures/test_type.json
  dojo/settings/settings.dist.py
  dojo/tools/noseyparker/parser.py
Labels: docs, settings_changes, parser

:construction: asff
  dojo/tools/asff/parser.py
  unittests/scans/asff/many_vulns.json
  unittests/scans/asff/one_vuln.json
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

Update jfrog_xray_api_summary_artifact.md
  docs/content/en/integrations/parsers/file/jfrog_xray_api_summary_artifact.md
Labels: docs

Veracode: Update license mapping (#9325)
  dojo/tools/veracode/json_parser.py
Labels: parser

Veracode: Update license mapping (#9325)
  dojo/tools/veracode/json_parser.py
Labels: parser

Update docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests-devDocker.sh
Labels: docker

:bug: fix #7690, microfocus webinspect NoneType Object
  dojo/tools/microfocus_webinspect/parser.py
  unittests/tools/test_microfocus_webinspect_parser.py
Labels: unittests, parser

:bug: fix #6932, advance qualys for monthly pci scan
  dojo/tools/qualys/csv_parser.py
  unittests/scans/qualys/monthly_pci_issue6932.csv
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

:sparkles: implement chefinspect, #6990
  docs/content/en/integrations/parsers/file/chefinspect.md
  dojo/tools/chefinspect/__init__.py
  dojo/tools/chefinspect/parser.py
  unittests/tools/test_chefinspect_parser.py
Labels: docs, unittests, parser

force add unittestfiles against gitignore
  unittests/scans/chefinspect/many_findings.log
  unittests/scans/chefinspect/no_finding.log
  unittests/scans/chefinspect/one_finding.log
Labels: unittests

:memo:
  docs/content/en/integrations/parsers/file/wazuh.md
Labels: docs

Syncs with upstream dev (#109)
  requirements.txt
Labels: none

:memo:
  dojo/tools/wazuh/parser.py
Labels: parser

flake8
  dojo/tools/wazuh/parser.py
Labels: parser

raise testcoverage to proof issue #9333 is working
  unittests/tools/test_trivy_parser.py
Labels: unittests

add unittestfile
  unittests/scans/trivy/issue_9333.json
Labels: unittests

Update parser.py
  dojo/tools/trivy/parser.py
Labels: parser

Update parser.py
  dojo/tools/trivy/parser.py
Labels: parser

:sparkles: implement google cloud artifact scan, #8552
  docs/content/en/integrations/parsers/file/gcloud_artifact_scan.md
  dojo/tools/gcloud_artifact_scan/__init__.py
  dojo/tools/gcloud_artifact_scan/parser.py
  unittests/scans/gcloud_artifact_scan/many_vulns.json
  unittests/tools/test_gcloud_artifact_scan.py
Labels: docs, unittests, parser

fix unittest
  unittests/tools/test_gcloud_artifact_scan_parser.py
Labels: unittests

Update parser.py
  dojo/tools/trivy/parser.py
Labels: parser

.github/labeler.yml:

---
docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - readme-docs/**/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker**
      - Docker*

helm:
  - changed-files:
    - any-glob-to-any-file:
      - helm/defectdojo/*
      - helm/defectdojo/**/*

"New Migration":
  - changed-files:
    - any-glob-to-any-file:
      - dojo/db_migrations/*

unittests:
  - changed-files:
    - any-glob-to-any-file:
      - unittests/**/*

integration_tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*

settings_changes:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/settings/settings.dist.py

apiv2:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/api_v2/**/*

ui:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/static/**/*
      - dojo/templates/**/*
      - dojo/templatetags/**/*

parser:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/tools/**/*

localization:
  - changed-files:
    - any-glob-to-any-file:
      - dojo/locale/*
      - dojo/locale/**/*
