Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

helm:
- helm/defectdojo/*
- helm/defectdojo/**/*

"New Migration":
- dojo/db_migrations/*

unittests:
- unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

ui:
  - dojo/static/**/*
  - dojo/templates/**/*
  - dojo/templatetags/**/*

parser:
  - dojo/tools/**/*

localization:
  - dojo/locale/*
  - dojo/locale/**/*

A fix to update tags if specified in the re-importer
  dojo/api_v2/serializers.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
Labels: apiv2

Add dynamic Test_Type for Generic parser [originaly #5967] (#7471)
  dojo/tools/generic/parser.py
  tests/dedupe_test.py
  unittests/scans/generic/generic_custom_test.json
  unittests/tools/test_generic_parser.py
Labels: unittests, integration_tests, parser

Add dynamic Test_Type for Generic parser [originaly #5967] (#7471)
  dojo/tools/generic/parser.py
  tests/dedupe_test.py
  unittests/scans/generic/generic_custom_test.json
  unittests/tools/test_generic_parser.py
Labels: unittests, integration_tests, parser

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Disable GHA unit tests on push to branch, limit only to PR
  .github/workflows/detect-merge-conflicts.yaml
  .github/workflows/gh-pages.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-testing.yml
  .github/workflows/test-helm-chart.yml
  .github/workflows/unit-tests.yml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update index.yaml
  index.yaml
Labels: none

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Update versions in application files
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

Adjusted test to trigger on_commit hooks
  unittests/test_deduplication_logic.py
Labels: unittests

Corrected wrong indentation
  unittests/test_deduplication_logic.py
Labels: unittests

Change url -> re-path in template-local_settings
  dojo/settings/template-local_settings
Labels: none
