Repository DefectDojo/django-DefectDojo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, docker, helm, New Migration, unittests, integration_tests, settings_changes, apiv2, ui, parser, localization

Update serializers.py
  dojo/api_v2/serializers.py
Labels: apiv2

Make Finding verified field default to false
  dojo/db_migrations/0178_alter_finding_verified.py
  dojo/models.py
Labels: New Migration

Fixing typo in endpoint documentation (#7462)
  dojo/templates/dojo/add_endpoint_meta_data.html
  dojo/templates/dojo/breadcrumbs/endpoint_breadcrumb.html
  dojo/templates/dojo/delete_endpoint.html
  dojo/templates/dojo/edit_endpoint_meta_data.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_test.html
Labels: ui

Fixing typo in endpoint documentation (#7462)
  dojo/templates/dojo/add_endpoint_meta_data.html
  dojo/templates/dojo/breadcrumbs/endpoint_breadcrumb.html
  dojo/templates/dojo/delete_endpoint.html
  dojo/templates/dojo/edit_endpoint_meta_data.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_test.html
Labels: ui

Set default auth_group if one does not already exist (#7463)
  dojo/api_v2/serializers.py
Labels: apiv2

Set default auth_group if one does not already exist (#7463)
  dojo/api_v2/serializers.py
Labels: apiv2

Catch endpoint validation errors in the reimporter (#7461)
  dojo/importers/reimporter/reimporter.py
Labels: none

Catch endpoint validation errors in the reimporter (#7461)
  dojo/importers/reimporter/reimporter.py
Labels: none

Avoid "STATICFILES_DIRS" warning (#7456)
  components/node_modules/.gitkeep
Labels: none

Avoid "STATICFILES_DIRS" warning (#7456)
  components/node_modules/.gitkeep
Labels: none

Translate dojo/user/views.py and related pages (#7432)
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/alerts.html
  dojo/templates/dojo/api_v2_key.html
  dojo/templates/dojo/change_pwd.html
  dojo/templates/dojo/delete_alerts.html
  dojo/templates/dojo/delete_user.html
  dojo/templates/dojo/login.html
  dojo/templates/dojo/new_group_member_user.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  dojo/utils.py
Labels: ui, localization

Translate dojo/user/views.py and related pages (#7432)
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/alerts.html
  dojo/templates/dojo/api_v2_key.html
  dojo/templates/dojo/change_pwd.html
  dojo/templates/dojo/delete_alerts.html
  dojo/templates/dojo/delete_user.html
  dojo/templates/dojo/login.html
  dojo/templates/dojo/new_group_member_user.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  dojo/utils.py
Labels: ui, localization

Localization: Add missing + update lines (#7352)
  dojo/locale/en/LC_MESSAGES/django.po
Labels: localization

Add gzip for nginx (#7346)
  nginx/nginx.conf
  nginx/nginx_TLS.conf
Labels: none

Optimize output in html for product/metrics page (#7339)
  dojo/product/views.py
  dojo/templates/dojo/product_metrics.html
  dojo/utils.py
Labels: ui

Migrate to Django 4.x (#7387)
  docker-compose.override.integration_tests.yml
  dojo/db_migrations/0178_alter_answer_polymorphic_ctype_and_more.py
  dojo/finding/views.py
  dojo/middleware.py
  dojo/remote_user.py
  dojo/reports/widgets.py
  dojo/settings/settings.dist.py
  dojo/user/validators.py
  requirements.txt
Labels: docker, New Migration, settings_changes

Set CSRF_TRUSTED_ORIGINS when it is not the default value (#7410)
  dojo/settings/settings.dist.py
Labels: settings_changes

Handle test tags when reimporting with reimport_scan api (#7446)
  dojo/api_v2/serializers.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
Labels: apiv2

New env var DD_JIRA_EXTRA_ISSUE_TYPES to add Jira issue types (#7412)
  dojo/settings/settings.dist.py
Labels: settings_changes

Rustyhog: Make JIRA/Confluence URLs clickable in description (#7419)
  dojo/tools/rusty_hog/parser.py
  unittests/tools/test_rusty_hog_parser.py
Labels: unittests, parser

Add functionality "forgot username" (#7406)
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/forgot_username.html
  dojo/templates/dojo/forgot_username_done.html
  dojo/templates/dojo/forgot_username_subject.html
  dojo/templates/dojo/login.html
  dojo/templates/notifications/mail/forgot_password.tpl
  dojo/templates/notifications/mail/forgot_username.tpl
  dojo/user/urls.py
  dojo/user/views.py
Labels: settings_changes, ui

Avoid "STATICFILES_DIRS" warning (#7456)
  components/node_modules/.gitkeep
Labels: none

Translate dojo/user/views.py and related pages (#7432)
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/alerts.html
  dojo/templates/dojo/api_v2_key.html
  dojo/templates/dojo/change_pwd.html
  dojo/templates/dojo/delete_alerts.html
  dojo/templates/dojo/delete_user.html
  dojo/templates/dojo/login.html
  dojo/templates/dojo/new_group_member_user.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  dojo/utils.py
Labels: ui, localization

Rebase to dev
  dojo/db_migrations/0179_alter_finding_verified.py
Labels: New Migration

Set default auth_group if one does not already exist (#7463)
  dojo/api_v2/serializers.py
Labels: apiv2

Update settings.dist.py
  dojo/settings/settings.dist.py
Labels: settings_changes

remove files to speed up test of actions
  .github/workflows/cancel-outdated-workflow-runs.yml
  .github/workflows/detect-merge-conflicts.yaml
  .github/workflows/flake8.yml
  .github/workflows/gh-pages.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-testing.yml
  .github/workflows/plantuml.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-1-create-pr.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-3-master-into-dev.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-x-manual-helm-chart.yml
  .github/workflows/release_drafter_valentijn.yml
  .github/workflows/submodule-update.yml
  .github/workflows/test-helm-chart.yml
  .github/workflows/unit-tests.yml
Labels: none

rollback some changes
  .github/workflows/spelling.yml
Labels: none

use original config
  .github/workflows/spelling.yml
Labels: none

do not apply type condition
  .github/workflows/spelling.yml
Labels: none

.
  .github/workflows/spelling.yml
Labels: none

remove condition
  .github/workflows/spelling.yml
Labels: none

Fix reconciliation issue 'TypeError: process_resolution_from_jira() missing 1 required positional argument: jira_issue' (#7460)
  dojo/management/commands/jira_status_reconciliation.py
Labels: none

Fix reconciliation issue 'TypeError: process_resolution_from_jira() missing 1 required positional argument: jira_issue' (#7460)
  dojo/management/commands/jira_status_reconciliation.py
Labels: none

Make Finding verified field default to false
  dojo/api_v2/serializers.py
  dojo/db_migrations/0179_alter_finding_verified.py
  dojo/models.py
  unittests/dojo_test_case.py
  unittests/test_bulk_risk_acceptance_api.py
  unittests/test_import_reimport.py
  unittests/tools/test_sonarqube_parser.py
Labels: New Migration, unittests, apiv2

Fix flake8
  unittests/test_import_reimport.py
Labels: unittests

More unit test corrections
  unittests/test_finding_helper.py
  unittests/test_jira_import_and_pushing_api.py
Labels: unittests

Add dynamic Test_Type
  dojo/tools/generic/parser.py
  unittests/scans/generic/generic_custom_test.json
  unittests/tools/test_generic_parser.py
Labels: unittests, parser

Add requires_file
  dojo/tools/generic/parser.py
Labels: parser

Fix parser for CSV
  dojo/tools/generic/parser.py
  tests/dedupe_test.py
Labels: integration_tests, parser

.github/labeler.yml:

docs:
- docs/**/*
- readme-docs/**/*

docker:
- docker/**/*
- docker**
- Docker*

helm:
- helm/defectdojo/*
- helm/defectdojo/**/*

"New Migration":
- dojo/db_migrations/*

unittests:
- unittests/**/*

integration_tests:
- tests/**/*

settings_changes:
- dojo/settings/settings.dist.py

apiv2:
- dojo/api_v2/**/*

ui:
  - dojo/static/**/*
  - dojo/templates/**/*
  - dojo/templatetags/**/*

parser:
  - dojo/tools/**/*

localization:
  - dojo/locale/*
  - dojo/locale/**/*
