Repository DefectDojo/django-DefectDojo, pull requests merged in 2019-12, with the labels that each got.

#1683 Blackduck importer fixes
  dojo/tools/blackduck/importer.py
  dojo/unittests/scans/blackduck/blackduck_enhanced_py3_unittest_v2.zip
  dojo/unittests/test_blackduck_csv_parser.py
Labels: Waiting on response

#1664 drf_yasg for api documentation
  dojo/api_v2/views.py
  dojo/settings/settings.dist.py
  dojo/urls.py
  requirements.txt
Labels: Review Needed, Waiting on response

#1700 New feature: trivy scanner support
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/trivy/__init__.py
  dojo/tools/trivy/parser.py
  dojo/unittests/scans/trivy/trivy_mix.json
  dojo/unittests/test_trivy_parser.py
Labels: Waiting on response

#1689 Fixing endpoint pop-up in add_findings.html
  dojo/templates/dojo/add_findings.html
Labels: Review Needed

#1679 Add parser for Xanitizer's XML findings list report format
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/xanitizer/__init__.py
  dojo/tools/xanitizer/parser.py
  dojo/unittests/scans/xanitizer/multiple-findings-no-details.xml
  dojo/unittests/scans/xanitizer/multiple-findings.xml
  dojo/unittests/scans/xanitizer/no-findings.xml
  dojo/unittests/scans/xanitizer/one-findings.xml
  dojo/unittests/test_xanitizer_parser.py
Labels: Waiting on response

#1702 Dependabot config - target_branch
  .dependabot/config.yml
Labels: Review Needed

#1705 Updated php parser to report on warnings even with no errors
  dojo/tools/php_security_audit_v2/parser.py
Labels: Review Needed

#1706 Fortify Parser Overhaul
  dojo/tools/fortify/DefaultReportDefinitionAllIssues.xml
  dojo/tools/fortify/README.md
  dojo/tools/fortify/parser.py
  dojo/unittests/scans/fortify/fortify_few_findings.xml
  dojo/unittests/scans/fortify/fortify_many_findings.xml
  dojo/unittests/test_fortify_parser.py
Labels: Review Needed

#1722 adding choice for jira issuetype
  dojo/db_migrations/0025_jira_security_issuetype.py
  dojo/models.py
Labels: Review Needed

#1712 Add hackeroneparcer 359
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/h1/parser.py
  dojo/unittests/scans/h1/data_empty.json
  dojo/unittests/scans/h1/data_many.json
  dojo/unittests/scans/h1/data_one.json
  dojo/unittests/test_h1_parser.py
Labels: Review Needed, Waiting on response
