Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-08, with the labels that each got.

#2683 Add Sonarqube integration endpoints to APIv2
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_rest_framework.py
  dojo/urls.py
Labels: enhancement, maintenance

#2725 Improve Burp Enterprise parser and update gitignore
  .gitignore
  dojo/tools/burp_enterprise/parser.py
Labels: bugfix

#2778 Risk Recon API Importer
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/risk_recon/__init__.py
  dojo/tools/risk_recon/api.py
  dojo/tools/risk_recon/parser.py
  dojo/unittests/scans/risk_recon/bad_key.json
  dojo/unittests/scans/risk_recon/bad_url.json
  dojo/unittests/scans/risk_recon/findings.json
  dojo/unittests/test_risk_recon_parser.py
Labels: Import Scans

#2809 npm audit parser: fix cve parsing
  dojo/tools/npm_audit/parser.py
  dojo/unittests/scans/npm_audit_sample/many_vuln.json
Labels: bugfix

#2748 view finding: duplicate & similar finding improvements and fixes
  dojo/api_v2/views.py
  dojo/filters.py
  dojo/finding/urls.py
  dojo/finding/views.py
  dojo/models.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/filter_js_snippet.html
  dojo/templates/dojo/finding_related_actions.html
  dojo/templates/dojo/finding_related_list.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/view_finding.html
  dojo/templatetags/display_tags.py
  dojo/tools/aws_scout2/parser.py
  travis/script.sh
Labels: enhancement
