Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-12, with the labels that each got.

#3391 Update helm requirements.lock
  helm/defectdojo/requirements.lock
Labels: maintenance

#3386 Include local_settings in celery containers if present
  docker-compose.yml
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
Labels: enhancement

#3374 Adding volume for threat image in dev
  docker-compose.override.dev.yml
  docker-compose.override.ptvsd.yml
Labels: bugfix

#3394 Dockerfile: don't upgrade pip
  Dockerfile.django
  Dockerfile.nginx
Labels: maintenance

#3410 security: do not reveal products, product types and findings in metrics and reports to unauthorized users
  docker-compose.override.integration_tests.yml
  dojo/filters.py
  dojo/fixtures/product_type.json
  dojo/forms.py
  dojo/metrics/views.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/templates/base.html
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/metrics.html
  dojo/user/helper.py
  tests/Product_unit_test.py
Labels: security

#3353 Notification logger to debug
  dojo/notifications/helper.py
Labels: maintenance

#3417 security: correct incomplete fix for #3410 / GHSA-96vq-gqr9-vf2c
  dojo/filters.py
Labels: security

#3286 Fix finding export for non-staff users.
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
Labels: bugfix

#3408 [APIv2] Update put semantic and doc for endpoint /finding/{id}/metadata
  dojo/api_v2/views.py
Labels: enhancement

#3423 [feat/login-form] Allowing login forms to be hidden
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: enhancement, settings_changes

#3414 celery imports for dojo.tools.tool_issue_updater
  dojo/settings/settings.dist.py
  dojo/tools/tool_issue_updater.py
Labels: bugfix

#3432 reports: fix performance issues and small bugs
  dojo/api_v2/views.py
  dojo/filters.py
  dojo/models.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/templates/dojo/product_type_pdf_report.html
  tests/Product_unit_test.py
  tests/Report_builder_unit_test.py
Labels: bugfix, performance

#3429 Fix import: binary analysis in MobSF scans #3134
  dojo/tools/mobsf/parser.py
  dojo/unittests/scans/mobsf/report1.json
  dojo/unittests/scans/mobsf/report2.json
  dojo/unittests/test_mobsf_parser.py
Labels: bugfix

#3428 Nikto parser for scan of multiple hosts
  dojo/tools/nikto/parser.py
  dojo/unittests/scans/nikto/nikto-report-many-vuln.xml
  dojo/unittests/scans/nikto/nikto-report-old-format.xml
  dojo/unittests/scans/nikto/nikto-report-one-vuln.xml
  dojo/unittests/scans/nikto/nikto-report-zero-vuln.xml
  dojo/unittests/test_nikto_parser.py
Labels: enhancement

#3435 Allow Info findings to be pushed to JIRA without SLA
  dojo/jira_link/helper.py
  dojo/models.py
Labels: bugfix

#3416 release workflow: simplify matrix
  .github/workflows/new-release-tag-docker.yml
Labels: maintenance

#3457 pin all python / pip dependencies
  requirements.txt
Labels: bugfix, maintenance

#3453 [FIX] Remove call to old method and add call to new method for jira integration
  dojo/api_v2/views.py
  dojo/finding/views.py
Labels: bugfix

#3415 make build image for nginx the same as django
  Dockerfile.nginx
Labels: maintenance

#3260 Expose nginx status to prometheus in Kubernetes (helm)
  KUBERNETES.md
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
  nginx/nginx.conf
  nginx/nginx_TLS.conf
Labels: enhancement

#3468 apiv2: fix endpoint status creation during scan import
  dojo/api_v2/serializers.py
Labels: bugfix

#3448 report: fix report from products list and more
  dojo/filters.py
  dojo/reports/views.py
  dojo/templates/dojo/product.html
  tests/Report_builder_unit_test.py
Labels: bugfix

#3439 logging: add DD_LOG_LEVEL setting
  CONTRIBUTING.md
  DOCKER.md
  dojo/settings/settings.dist.py
  dojo/settings/template-local_settings
Labels: enhancement

#3481 jira: don't add notes when creating/linking findings
  dojo/jira_link/helper.py
Labels: enhancement

#3480 Fix exception during excess duplicate deletion tasks
  dojo/db_migrations/0067_max_dupes.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
Labels: New Migration, bugfix, performance, settings_changes

#3482 jira: add api test for adding note/comment
  dojo/api_v2/views.py
  dojo/jira_link/helper.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
Labels: enhancement

#3402 Fix reports: print test names instead of test types - #3252
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
Labels: bugfix

#3492 WebInspect Parser fails to process Issues without CWE and ReportSection with an empty SectionText
  dojo/tools/microfocus_webinspect/parser.py
  dojo/unittests/scans/microfocus_webinspect/Webinspect_many_vuln.xml
  dojo/unittests/test_microfocus_webinspect_parser.py
Labels: bugfix

#3343 securityContext related updates to Helm chart
  Dockerfile.django
  Dockerfile.nginx
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3483 Jira: Allow status changes from dojo to jira
  dojo/fixtures/dojo_testdata.json
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_create_edit_update_finding_no_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
Labels: bugfix

#3449 Tag filtering + general search improvements
  dojo/endpoint/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/search/views.py
  dojo/templates/base.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/filter_js_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_test.html
  dojo/unittests/test_search_parser.py
  tests/base_test_class.py
  tests/search_test.py
  tests/smoke_test.py
Labels: enhancement

#3495 enable search tests
  docker/entrypoint-integration-tests.sh
  entrypoint_scripts/test/travis-integration-test.sh
  setup/scripts/test/travis-integration-test.sh
  tests/base_test_class.py
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
  tests/search_test.py
  travis/integration_test-script.sh
Labels: enhancement

#3247 Add BlackDuck import functionality for License Risks that should be reviewed
  dojo/tools/blackduck_component_risk/importer.py
  dojo/tools/blackduck_component_risk/parser.py
Labels: enhancement

#3490 Bug fix: Add more unit tests for MobSF import #3479
  dojo/tools/mobsf/parser.py
  dojo/unittests/scans/mobsf/android.json
  dojo/unittests/scans/mobsf/ios.json
  dojo/unittests/test_mobsf_parser.py
Labels: bugfix

#3418 Allow use of ptvsd debugger when using k8s deployment
  KUBERNETES.md
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3450 Allow to specify the `Environment` when importing data from the APIv2 and the UI
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/fixtures/development_environment.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  tests/Finding_unit_test.py
  tests/ibm_appscan_test.py
Labels: enhancement

#3464 Importer: Add OASIS SARIF format #3445
  dojo/tools/factory.py
  dojo/tools/sarif/__init__.py
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/jfrog_xray_unified/Vulnerabilities-Report-XRAY_Unified.json
  dojo/unittests/scans/sarif/DefectDojo_django-DefectDojo__2020-12-11_13 42 10__export.sarif
  dojo/unittests/scans/sarif/SuppressionTestCurrent.sarif
  dojo/unittests/scans/sarif/appendix_k.sarif
  dojo/unittests/scans/sarif/appendix_k1.sarif
  dojo/unittests/scans/sarif/appendix_k2.sarif
  dojo/unittests/scans/sarif/appendix_k3.sarif
  dojo/unittests/scans/sarif/semgrepowasp-benchmark-sample.sarif
  dojo/unittests/test_sarif_parser.py
Labels: Import Scans

#3508 [fix/helm-rabbitMQ]: Fix incorrect YAML key for RabbitMQ chart
  helm/defectdojo/values.yaml
Labels: bugfix

#3493 product list: fix last assessed displaying
  dojo/templates/dojo/product.html
Labels: bugfix

#3536 Add PyJWT to requirements.txt
  requirements.txt
Labels: maintenance

#3538 Use full absolute url in notifications
  dojo/notifications/helper.py
  dojo/templates/notifications/engagement_added.tpl
  dojo/templates/notifications/other.tpl
  dojo/templates/notifications/report_created.tpl
  dojo/templates/notifications/scan_added.tpl
  dojo/templates/notifications/sla_breach.tpl
  dojo/templates/notifications/test_added.tpl
Labels: enhancement

#3559 Add missing modifications for SARIF format
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/sarif/parser.py
Labels: bugfix

#3499 add note about initializer duration
  README.md
Labels: documentation

#3525 Retain SLA days for mitigated findings
  dojo/models.py
Labels: enhancement

#3407 Add JIRA_Issue in related fields of Finding
  dojo/api_v2/serializers.py
  dojo/jira_link/helper.py
  dojo/templatetags/display_tags.py
Labels: enhancement

#3543 calendar: speedup and security fix
  dojo/engagement/views.py
  dojo/test/views.py
Labels: performance

#3545 celery entrypoints: support all settings related mounts
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
Labels: maintenance

#3500 Test suite and scripts cleanup
  .travis.yml
  Dockerfile.django
  README.md
  docker/docker-startup.bash
  docker/dojo_sudo
  docker/entrypoint-integration-tests.sh
  docker/unit-tests.sh
  docker/yarn-repo.gpg
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/unittests/test_apply_finding_template.py
  dojo/unittests/test_npm_audit_scan_parser.py
  dojo/unittests/test_system_settings.py
  entrypoint_scripts/deploy/post-action.bash
  entrypoint_scripts/test/travis-integration-test.sh
  entrypoint_scripts/test/travis-smoke-test.sh
  entrypoint_scripts/test/travis-unit-test.sh
  setup-docker.bash
  setup/scripts/deploy/post-action.bash
  setup/scripts/test/clear-db.sql
  setup/scripts/test/travis-integration-test.sh
  setup/scripts/test/travis-smoke-test.sh
  setup/scripts/test/travis-unit-test.sh
  tests/Import_scanner_test.py
  tests/base_test_class.py
  tests/check_status.py
  tests/check_status_ui.py
  tests/check_various_pages.py
  tests/dedupe_test.py
  tests/endpoint_test.py
  tests/engagement_test.py
  tests/environment_test.py
  tests/finding_test.py
  tests/ibm_appscan_test.py
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
  tests/local-unit-tests.sh
  tests/note_type_test.py
  tests/notes_test.py
  tests/product_test.py
  tests/product_type_test.py
  tests/regulations_test.py
  tests/report_builder_test.py
  tests/search_test.py
  tests/test_test.py
  tests/user_test.py
  travis/README.md
  travis/before-install.sh
  travis/before-script.sh
  travis/deploy.sh
  travis/integration_test-script.sh
  travis/script.sh
Labels: maintenance

#3549 (product) metrics: fixes and speedup
  dojo/filters.py
  dojo/metrics/views.py
  dojo/product/views.py
  dojo/user/helper.py
Labels: bugfix

#3532 Fix issue 3527 while importing some Twistlock scans
  dojo/tools/twistlock/parser.py
  dojo/unittests/scans/twistlock/scan_report_prisma_twistlock_images_four_vulns.csv
  dojo/unittests/scans/twistlock/scan_report_prisma_twistlock_images_long_package_name.csv
  dojo/unittests/scans/twistlock/scan_report_prisma_twistlock_images_no_vuln.csv
  dojo/unittests/test_twistlock_parser.py
Labels: bugfix

#3531 Reupload bug fixes
  dojo/forms.py
  dojo/test/views.py
Labels: bugfix

#3469 fix(risk_acceptance): remove hard coded user_id
  dojo/models.py
Labels: bugfix

#3523 Only mitigate finding if previously active
  dojo/api_v2/serializers.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/product/views.py
  dojo/test/views.py
Labels: bugfix

#3489 Fix(helm-unittests): add secret key and credential key
  helm/defectdojo/templates/tests/unit-tests.yaml
Labels: bugfix

#3534 Add support for GitLab Dependency Scanning reports
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/gitlab_dep_scan/__init__.py
  dojo/tools/gitlab_dep_scan/parser.py
  dojo/unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-0-vuln.json
  dojo/unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-1-vuln.json
  dojo/unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-many-vuln.json
  dojo/unittests/test_gitlab_dep_scan_parser.py
Labels: Import Scans

#3473 Add redis transit encryption
  dojo/settings/settings.dist.py
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.yaml
Labels: enhancement, settings_changes
