Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-10, with the labels that each got.

#2669 fix: prevent saving empty cve
  dojo/forms.py
  dojo/models.py
  dojo/tools/anchore_engine/parser.py
  dojo/tools/ibm_app/parser.py
  dojo/tools/snyk/parser.py
  dojo/tools/sonatype/parser.py
Labels: bugfix

#2952 fix/optimize search and autocomplete
  dojo/db_migrations/0056_index_component_name.py
  dojo/filters.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/filter_js_snippet.html
  dojo/utils.py
Labels: New Migration, bugfix, settings_changes

#2956 sync renovate config from master
  renovate.json
Labels: maintenance

#2935 HackerOne: Added unique_id_from_tool to fix deduplication
  dojo/settings/settings.dist.py
  dojo/tools/h1/parser.py
Labels: bugfix

#2923 Start celery without uid
  docker-compose.yml
  docker/entrypoint-celery-beat.sh
  helm/defectdojo/templates/celery-beat-deployment.yaml
Labels: maintenance

#2951 jira: fix looping when pushing from api
  docker/entrypoint-unit-tests-devDocker.sh
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/models.py
  dojo/unittests/test_rest_framework.py
Labels: bugfix

#2955 Fix cb search
  dojo/db_migrations/0056_index_component_name.py
  dojo/filters.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/filter_js_snippet.html
  dojo/utils.py
Labels: New Migration, bugfix, performance, settings_changes

#2960 Move onetime command code to respective files
  dojo/management/commands/fix_loop_duplicates.py
  dojo/management/commands/rename_whitesource_findings.py
  dojo/tasks.py
  dojo/unittests/test_duplication_loops.py
  dojo/unittests/test_utils.py
  dojo/unittests/test_utils_deduplication_reopen.py
  dojo/utils.py
Labels: maintenance

#2962 Adding short API block in README
  README.md
Labels: documentation

#2969 doc: add credentials tips into quick-start
  README.md
Labels: documentation

#2975 Remove HipChat integration, add support for Microsoft Teams instead
  dojo/db_migrations/0057_ms_teams.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/notifications/helper.py
  dojo/templates/dojo/notifications.html
  dojo/templates/dojo/system_settings.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/notifications/engagement_added.tpl
  dojo/templates/notifications/other.tpl
  dojo/templates/notifications/product_added.tpl
  dojo/templates/notifications/report_created.tpl
  dojo/templates/notifications/scan_added.tpl
  dojo/templates/notifications/sla_breach.tpl
  dojo/templates/notifications/test_added.tpl
  dojo/templates/notifications/upcoming_engagement.tpl
  dojo/templates/notifications/user_mentioned.tpl
Labels: New Migration, enhancement

#2980 search: restore missing index fields
  dojo/apps.py
Labels: documentation, index-rebuild-needed

#2286 ZAP parser: do not resolve hostname to IP address during endpoint creation (#2284)
  dojo/tools/zap/parser.py
Labels: Waiting on response, enhancement

#2946 Don't copy inexistent certs folder in Dockerfile.django
  .gitignore
  Dockerfile.django
  docker/certs/readme.txt
Labels: bugfix

#2983 Fix APIv2 Endpoint Status bug
  dojo/api_v2/serializers.py
Labels: bugfix

#2994 Removing deprecated keys
  docker/cert.pem
  docker/key.pem
Labels: maintenance

#2995 Bugfix typo in docker integration tests
  docker/entrypoint-integration-tests.sh
Labels: bugfix

#2959 more tests for import and deduplication
  dojo/api_v2/serializers.py
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/notifications/helper.py
  dojo/tools/zap/parser.py
  dojo/unittests/scans/zap/0_zap_sample.xml
  dojo/unittests/scans/zap/1_zap_sample_0_and_new_absent.xml
  dojo/unittests/scans/zap/2_zap_sample_0_and_new_endpoint.xml
  dojo/unittests/scans/zap/3_zap_sampl_0_and_different_severities.xml
  dojo/unittests/scans/zap/some_2.9.0.xml
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_import_reimport.py
  dojo/utils.py
Labels: maintenance

#3000 apiv2: add misssing fields for filtering and remove UI related stuff
  dojo/filters.py
Labels: bugfix

#2961 finding: document all the fields in the model
  dojo/db_migrations/0058_document_finding_model.py
  dojo/models.py
Labels: New Migration, documentation

#2977 Add Component overview
  dojo/components/__init__.py
  dojo/components/urls.py
  dojo/components/views.py
  dojo/filters.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/templates/base.html
  dojo/templates/dojo/components.html
  dojo/templates/dojo/product_components.html
  dojo/urls.py
  tests/Finding_unit_test.py
  tests/Product_unit_test.py
  tests/base_test_class.py
Labels: enhancement

#3005 add engagement: fix permission checks
  dojo/engagement/views.py
  dojo/forms.py
  dojo/product/views.py
  dojo/user/helper.py
Labels: bugfix

#3013 Move helm deps to Chart.yaml
  helm/defectdojo/Chart.yaml
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
Labels: maintenance

#3008 Add required fields in package.json
  components/package.json
Labels: maintenance

#2906 Allow specifying the key for the database secrets
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/secret-mysql.yaml
  helm/defectdojo/templates/secret-postgresql.yaml
  helm/defectdojo/templates/secret-redis.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#2783 Make Product Type reports more descriptive
  dojo/reports/views.py
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templatetags/display_tags.py
Labels: bugfix

#3024 linting
  tests/Product_unit_test.py
Labels: maintenance

#3007 Add authorized users at the product type level
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0059_product_type_authorized_users.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/reports/views.py
  dojo/scan/views.py
  dojo/search/views.py
  dojo/survey/views.py
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/edit_product_type.html
  dojo/templates/dojo/new_product_type.html
  dojo/templates/dojo/view_product_details.html
  dojo/test/views.py
  dojo/user/helper.py
  dojo/user/views.py
Labels: New Migration, enhancement

#3030 fix jira column on similar findings rows
  dojo/templates/dojo/finding_related_row.html
Labels: bugfix

#3031 title: suppress superfluous log lines
  dojo/settings/settings.dist.py
Labels: maintenance

#3028 dedupe / false positive history: make queries more performant
  dojo/db_migrations/0060_false_p_dedupe_indices.py
  dojo/models.py
  dojo/utils.py
Labels: New Migration, performance

#3025 swagger ui: use sessions, more compact UI
  dojo/settings/settings.dist.py
Labels: enhancement, settings_changes

#3016 Add SSL verification variable to JIRA integration
  dojo/jira_link/views.py
  dojo/settings/settings.dist.py
  dojo/tool_type/views.py
  dojo/utils.py
Labels: enhancement, settings_changes

#3041 Fix nginx port definition in docker-compose.yml
  docker-compose.yml
Labels: bugfix

#3036 sonatype parser: truncate filepath
  dojo/tools/sonatype/parser.py
  dojo/unittests/scans/sonatype/long_file_path.json
  dojo/unittests/test_sonatype_parser.py
Labels: bugfix

#3035 view_test: fix javascript for bulk edit enablement
  dojo/templates/dojo/view_test.html
Labels: bugfix

#3032 Set finding is_Mitigated on finding update
  dojo/api.py
  dojo/finding/views.py
  dojo/jira_link/views.py
  dojo/product/views.py
  dojo/test/views.py
  dojo/tools/sonarqube_api/updater_from_source.py
Labels: bugfix

#2974 Add filter to product metrics
  dojo/filters.py
  dojo/metrics/views.py
  dojo/product/views.py
  dojo/templates/dojo/product_metrics.html
Labels: enhancement

#3046 Add configurable SAML2 logout endpoint
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
Labels: enhancement, settings_changes

#3045 Modify uwsgi entrypoint to allow for overriding settings.py
  docker/entrypoint-uwsgi.sh
Labels: enhancement

#3044 Fix burp request/response encoding errors in API
  dojo/api.py
  dojo/api_v2/serializers.py
Labels: bugfix

#3067 master->dev sync: modifications to workflow files
  .github/workflows/flake8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Labels: maintenance

#3062 Add json logging to Django
  dojo/settings/settings.dist.py
  requirements.txt
Labels: enhancement, settings_changes

#3059 Fix nginx port in docker-compose.override.https.yml
  docker-compose.override.https.yml
Labels: bugfix

#3052 upgrade to drf_yasg2 which is needed for django rest framework 3.12 and higher
  dojo/api_v2/views.py
  dojo/risk_acceptance/api.py
  dojo/settings/settings.dist.py
  dojo/urls.py
  requirements.txt
Labels: dependencies, python

#3055 Add verbose importing flow to Fortify scans
  dojo/tools/fortify/parser.py
  dojo/unittests/scans/fortify/fortify_few_findings_count_chart.xml
  dojo/unittests/test_fortify_parser.py
Labels: bugfix

#3068 Add endpoint_status creation script
  dojo/management/commands/create_endpoint_status.py
Labels: maintenance

#3073 integration tests: fix mark finding for review errors
  tests/Finding_unit_test.py
Labels: maintenance

#3012 Add annotations for pods
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3078 master->dev: github action workflow config sync
  .github/workflows/flake8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
Labels: maintenance

#3072 Add DD_LOGGING_FORMAT variable, celery logger section
  dojo/celery.py
  dojo/settings/settings.dist.py
Labels: bugfix, enhancement, settings_changes

#3066 apiv2: add doc for finding's related_fields + stick to OAv3
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: bugfix, documentation

#3089 apiv1 deprecation: show warning on docs and api key pages
  dojo/templates/dojo/api_key.html
  dojo/templates/tastypie_swagger/index.html
  dojo/unittests/test_apiv2_metadata.py
Labels: maintenance

#3074 Test header bar - findings count fix
  dojo/templatetags/display_tags.py
Labels: bugfix

#3106 Add 'options' to JIRA connections
  dojo/jira_link/views.py
  dojo/tool_type/views.py
  dojo/utils.py
Labels: bugfix

#3094 v0.1 of GHA release automation
  .github/workflows/new-release-pr.yml
  .github/workflows/new-release-tag-docker.yml
Labels: maintenance

#3081 enable safety parser to work offline
  Dockerfile.django
  dojo/tools/safety/parser.py
Labels: bugfix

#3105 Optional env variable for custom footer version
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: enhancement

#3104 GitHub Action for kubernetes tests
  .github/workflows/k8s-testing.yml
Labels: maintenance

#2881 Feature/helm external redis
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3079 integration tests: let celery handle dedupe again as before
  tests/dedupe_unit_test.py
Labels: maintenance

#3011 APIv2 findings performance improvements
  dojo/api_v2/views.py
Labels: enhancement

#3124 github actions: add docker login due to rate limiting
  .github/workflows/flake8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-testing.yml
  .github/workflows/new-release-pr.yml
  .github/workflows/new-release-tag-docker.yml
  .github/workflows/unit-tests.yml
Labels: maintenance

#3087 travis: remove non-k8s tests, reduce matrix for k8s
  .travis.yml
  travis/before-install.sh
  travis/script.sh
Labels: maintenance

#3125 travis: remove non-k8s tests, reduce matrix for k8s (#3087)
  .travis.yml
  travis/before-install.sh
  travis/script.sh
Labels: maintenance

#3126 travis: disable all tests due to hanging jobs and migration to GitHub Actions
  .travis.yml
Labels: maintenance

#3082 Allow requiring a secret for incoming JIRA webhook requests
  Dockerfile.django
  docker/entrypoint-initializer.sh
  dojo/db_migrations/0061_jira_webhook_secret.py
  dojo/jira_link/urls.py
  dojo/jira_link/views.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/system_settings.html
Labels: New Migration, enhancement, settings_changes

#3116 GHA release: update version in package.json
  .github/workflows/new-release-pr.yml
Labels: bugfix

#3069 Allow to load extra fixtures in docker deployment
  .dockerignore
  .gitignore
  DOCKER.md
  Dockerfile.django
  docker/entrypoint-initializer.sh
  docker/extra_fixtures/readme.txt
Labels: enhancement

#3132 allow TEMPLATE_DEBUG to be set in settings
  dojo/settings/settings.dist.py
Labels: maintenance, settings_changes
