Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-04, with the labels that each got.

#2120 honor note_type property on POST /findings/{id}/notes/
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: bugfix

#2131 Move similar finding below actual finding main info
  dojo/templates/dojo/view_finding.html
Labels: enhancement

#2138 [apiv2] Add capability to query by finding_id on the jira_finding_mapping endpoint
  dojo/api_v2/views.py
Labels: enhancement

#2127 Allow staff users to delete notes
  dojo/api_v2/views.py
  dojo/notes/views.py
Labels: bugfix

#2105 unittests: check for existence of system_settings db record
  dojo/unittests/test_system_settings.py
Labels: bugfix

#2158 system settings test: fix copy-paste error
  dojo/unittests/test_system_settings.py
Labels: bugfix

#2134 Adding a parser from Harbor vulnerability API
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/harbor_vulnerability/__init__.py
  dojo/tools/harbor_vulnerability/parser.py
  dojo/unittests/scans/harbor_vulnerability/harbor-0-vuln.json
  dojo/unittests/scans/harbor_vulnerability/harbor-1-vuln.json
  dojo/unittests/scans/harbor_vulnerability/harbor-5-vuln.json
  dojo/unittests/test_harbor_vulnerability.py
Labels: Import Scans, Waiting on response, next-release-candidate

#2157 Fix test notes not appearing in report + cosmetic improvement
  dojo/templates/dojo/test_pdf_report.html
Labels: bugfix

#2160 integration tests fixes and improvements
  dojo/models.py
  dojo/utils.py
  tests/Engagement_unit_test.py
  tests/Import_scanner_unit_test.py
  tests/Product_unit_test.py
  tests/Test_unit_test.py
  tests/base_test_class.py
  tests/dedupe_unit_test.py
  tests/ibm_appscan_test.py
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
  tests/smoke_test.py
  travis/integration_test-script.sh
  travis/script.sh
Labels: bugfix, enhancement

#2175 Brakeman parser improvement
  dojo/tools/brakeman/parser.py
  dojo/unittests/scans/brakeman/many_findings.json
  dojo/unittests/scans/brakeman/no_finding.json
  dojo/unittests/scans/brakeman/two_findings.json
  dojo/unittests/test_brakeman_parser.py
Labels: enhancement

#2177 Minor DOCKER.md fix for ptvsd
  DOCKER.md
Labels: documentation

#2149 Adding a parser for Gitleaks scanner
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/gitleaks/__init__.py
  dojo/tools/gitleaks/parser.py
  dojo/unittests/scans/gitleaks/data_many.json
  dojo/unittests/scans/gitleaks/data_one.json
  dojo/unittests/test_gitleaks_parser.py
Labels: Import Scans, next-release-candidate

#2116 Add github integration
  dojo/db_migrations/0034_add_github_support.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/github.py
  dojo/github_issue_link/__init__.py
  dojo/github_issue_link/urls.py
  dojo/github_issue_link/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/tasks.py
  dojo/templates/base.html
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/delete_github.html
  dojo/templates/dojo/edit_findings.html
  dojo/templates/dojo/edit_github.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/github.html
  dojo/templates/dojo/new_github.html
  dojo/templates/dojo/new_product.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_finding.html
  dojo/urls.py
  dojo/utils.py
  requirements.txt
Labels: enhancement, next-release-candidate

#2186 Hadolint parser fix
  dojo/tools/hadolint/parser.py
Labels: bugfix

#2185 Acunetix parser fix
  dojo/tools/acunetix/parser.py
  dojo/tools/acunetix/parser_helper.py
  dojo/unittests/scans/acunetix/many_findings.xml
  dojo/unittests/scans/acunetix/one_finding.xml
  dojo/unittests/test_acunetix_parser.py
Labels: bugfix

#1929 Cicd improvements: reupload mitigation, overdue
  dojo/api_v2/serializers.py
  dojo/models.py
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_eng.html
  dojo/test/views.py
  dojo/utils.py
  tests/Engagement_unit_test.py
  tests/Test_unit_test.py
  tests/base_test_class.py
  tests/local-integration-tests.bat
Labels: enhancement, next-release-candidate

#2183 Add plantuml github action + use major version for RD
  .github/workflows/plantuml.yml
  .github/workflows/release-drafter.yml
Labels: maintenance

#2115 Add TLS for Nginx Helm Chart
  Dockerfile.nginx
  KUBERNETES.md
  docker-compose.override.https.yml
  docker-compose.yml
  docker/entrypoint-nginx.sh
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/django-service.yaml
  helm/defectdojo/values.yaml
  nginx/nginx_TLS.conf
Labels: enhancement, next-release-candidate

#2003 add doc about wrappers and branching model
  BRANCHING-MODEL.md
  README.md
  WRAPPERS.md
  doc/branching_model.plantuml
  doc/branching_model.png
Labels: documentation, maintenance, next-release-candidate

#2114 Dockerfile for integration tests
  DOCKER.md
  Dockerfile.integration-tests
  docker-compose.override.integration_tests.yml
  docker/entrypoint-integration-tests.sh
  docker/setEnv.sh
  dojo/unittests/test_api_v1.py
  tests/base_test_class.py
  tests/dedupe_scans/multiple_findings.xml
  tests/dedupe_scans/multiple_findings_line_changed.xml
  tests/dedupe_unit_test.py
Labels: enhancement

#2194 Update values.yaml mysql default description
  helm/defectdojo/values.yaml
Labels: documentation

#2200 Travis reorder: remove finish_fast that is breaking builds
  .travis.yml
Labels: bugfix

#2140 Feature/jira overhaul (Push All Issues)
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0035_push_all_issues_help_text_rename_gh_fields.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/management/commands/push_to_jira_update.py
  dojo/models.py
  dojo/product/views.py
  dojo/tasks.py
  dojo/templates/dojo/edit_findings.html
  dojo/templates/dojo/import_scan_results.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/promote_to_finding.html
  dojo/test/views.py
  dojo/utils.py
Labels: enhancement, next-release-candidate

#1831 Improve Google Sheets Sync feature
  dojo/db_migrations/0035_system_settings_email_address.py
  dojo/forms.py
  dojo/google_sheet/views.py
  dojo/models.py
Labels: New Migration, enhancement

#2229 Fixed typos in ENV varible - changed DD_DATABASE_PASsWORD to DD_DATAB…
  entrypoint_scripts/common/dojo-shared-resources.sh
  entrypoint_scripts/run/startup-docker.bash
Labels: bugfix

#2256 Email notification improvements fix imports
  dojo/notifications/helper.py
  dojo/utils.py
Labels: bugfix

#2248 fix crash when running fix_loop_duplicates.py
  dojo/management/commands/fix_loop_duplicates.py
Labels: bugfix

#1862 Finding: Fix unbound variable error in `edit_template`
  dojo/finding/views.py
Labels: bugfix

#2268 Fixing Bundler audit scan
  dojo/tools/bundler_audit/parser.py
Labels: bugfix

#2145 edit product: sort username dropdowns by (full) name
  dojo/forms.py
Labels: enhancement

#2153 Amend swagger doc to have the proper serializer displayed
  dojo/api_v2/views.py
Labels: bugfix

#2174 cache system_settings v2
  docker/entrypoint-initializer.sh
  dojo/middleware.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/system_settings/views.py
  dojo/tasks.py
  dojo/utils.py
  tests/dedupe_unit_test.py
Labels: bugfix

#2216 product_metrics: fix and align statuses with views
  dojo/finding/views.py
  dojo/product/views.py
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_metrics.html
Labels: bugfix

#2231 improve layout handling of finding title
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/view_test.html
Labels: enhancement

#2219 fix broken html due to invalid truncate
  dojo/templates/dojo/all_product_findings.html
  dojo/templates/dojo/custom_pdf_report_endpoint_list.html
  dojo/templates/dojo/custom_pdf_report_finding_list.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/report_endpoints.html
  dojo/templates/dojo/request_endpoint_report.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_risk.html
Labels: bugfix, ready-for-backport

#2287 choctaw_hog parser
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/choctaw_hog/__init.py__
  dojo/tools/choctaw_hog/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/choctaw_hog/many_vulns.json
  dojo/unittests/scans/choctaw_hog/no_vuln.json
  dojo/unittests/scans/choctaw_hog/one_vuln.json
  dojo/unittests/test_choctawhog_parser.py
Labels: Import Scans

#2260 bugfix nmap parser
  dojo/tools/nmap/parser.py
Labels: bugfix

#2255 DSOP parser improvements
  dojo/tools/dsop/parser.py
  dojo/unittests/scans/dsop/many_vuln.xlsx
Labels: enhancement

#2244 parser: clair/klar: set finding type to "static"
  dojo/settings/settings.dist.py
  dojo/tools/clair/parser.py
  dojo/tools/clair_klar/parser.py
Labels: bugfix

#2207 docker-compose-dev: allow chosing of admin password
  docker-compose.override.dev.yml
Labels: enhancement

#2241 Add a new field version to the test model
  dojo/api_v2/serializers.py
  dojo/db_migrations/0038_test_version.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/view_test.html
  dojo/unittests/test_rest_framework.py
Labels: New Migration, enhancement
