Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-02, with the labels that each got.

#1829 added snyk custom ID in references
  dojo/tools/snyk/parser.py
Labels: enhancement

#1833 findings_list: add tooltips for engagement name and test title
  dojo/templates/dojo/findings_list.html
Labels: enhancement

#1835 show local dates for tests target_start and target_end
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_test.html
Labels: bugfix

#1825 Npm audit add file path and configure dedupe fields
  dojo/settings/settings.dist.py
  dojo/tools/npm_audit/parser.py
Labels: enhancement

#1820 Apply Template to Finding: Fix merge options for tags
  dojo/finding/views.py
  dojo/forms.py
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/apply_finding_template_form_fields.html
  dojo/templatetags/as_json.py
Labels: bugfix

#1819 Apply template to Finding: Fix merge options for markdown text fields
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/apply_finding_template_form_fields.html
Labels: bugfix

#1756 Improve Qualys Parser
  dojo/tools/__init__.py
  dojo/tools/qualys/parser.py
Labels: enhancement

#1669 Reopen closed findings
  dojo/utils.py
Labels: Review Needed, enhancement

#1783 Only run async tool issue updated when applicable
  dojo/finding/views.py
  dojo/models.py
  dojo/test/views.py
  dojo/tools/tool_issue_updater.py
Labels: enhancement, performance

#1839 HackerOne: Updated parser, fixed typos, added some other fields from JSON
  dojo/tools/h1/__init__.py
  dojo/tools/h1/parser.py
Labels: bugfix

#1785 performance: add indices for findings, convert title to charfield
  dojo/db_migrations/0028_finding_indices.py
  dojo/models.py
Labels: enhancement, performance

#1713 Fix test dropdown menus
  dojo/templates/dojo/view_eng.html
  requirements.txt
Labels: Review Needed, bugfix

#1796 dashboard and punchcard performance improvements
  dojo/home/views.py
  dojo/metrics/views.py
  dojo/product/views.py
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/view_product.html
  dojo/utils.py
Labels: enhancement, performance

#1866 Bugfix dashboard do not reraise e
  dojo/utils.py
Labels: bugfix

#1870 Add get_object_or_404 to view_test
  dojo/test/views.py
Labels: enhancement

#1704 Blackduck Component Risk (License and Security Risk)
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/blackduck_component_risk/__init__.py
  dojo/tools/blackduck_component_risk/importer.py
  dojo/tools/blackduck_component_risk/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/blackduck_component_risk/blackduck_hub_component_risk.zip
  dojo/unittests/test_blackduck_component_risk_parser.py
Labels: Import Scans, Review Needed

#1760 Added exception catching, error message, and redirect
  dojo/engagement/views.py
  dojo/test/views.py
Labels: enhancement

#1902 Changed variable NODE_URL to fix bug #1753
  setup/scripts/common/config-vars.sh
Labels: bugfix

#1867 dev: chg: use Helm named repositories. Closes #1728
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
Labels: enhancement

#1884 Add status filters to findings
  dojo/filters.py
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/view_test.html
  dojo/test/views.py
Labels: bugfix, enhancement

#1847 TLS Improvments
  DOCKER.md
  Dockerfile.nginx
  docker-compose.override.https.yml
  docker-compose.yml
  docker/entrypoint-nginx.sh
  nginx/nginx_TLS.conf
Labels: enhancement

#1897 Add support for DSOP scans
  dojo/api_v2/views.py
  dojo/db_migrations/0029_cve_regex.py
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/dsop/__init__.py
  dojo/tools/dsop/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/dsop/many_vuln.xlsx
  dojo/unittests/scans/dsop/zero_vuln.xlsx
  dojo/unittests/test_dsop_parser.py
  requirements.txt
Labels: Import Scans, New Migration

#1899 performance: prefetch prod_type + open finding list, prod list, prod engagements
  dojo/api.py
  dojo/api_v2/views.py
  dojo/db_migrations/0029_prod_type_meta.py
  dojo/finding/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templatetags/display_tags.py
  dojo/user/views.py
  dojo/utils.py
  tests/Endpoint_unit_test.py
  tests/Engagement_unit_test.py
  tests/Environment_unit_test.py
  tests/Finding_unit_test.py
  tests/Import_scanner_unit_test.py
  tests/Note_type_unit_test.py
  tests/Product_type_unit_test.py
  tests/Product_unit_test.py
  tests/Test_unit_test.py
  tests/User_unit_test.py
  tests/check_status.py
  tests/check_status_ui.py
  tests/dedupe_unit_test.py
  tests/ibm_appscan_test.py
  tests/smoke_test.py
  tests/zap.py
  travis/integration_test-script.sh
Labels: New Migration, performance

#1925 Remove useless celery deployment
  helm/defectdojo/templates/celery-deployment.yaml
Labels: enhancement

#1935 add moderator information
  README.md
Labels: documentation

#1939 Performance prefetching phase1 migrationfix
  dojo/db_migrations/0030_prod_type_meta.py
  dojo/models.py
Labels: bugfix

#1938 add git tips
  PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1943 Remove root package.json
  .dependabot/config.yml
  .github/workflows/release-drafter.yml
  package.json
Labels: maintenance
