Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-11, with the labels that each got.

#3088 duplicates: only show first 5 bug icons, link to duplicate cluste sec…
  dojo/templates/dojo/view_finding.html
Labels: enhancement

#3091 Centralize logic to decide on async or foreground tasks
  dojo/decorators.py
  dojo/engagement/services.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/management/commands/dedupe.py
  dojo/management/commands/rename_whitesource_findings.py
  dojo/management/commands/test_celery_decorator.py
  dojo/models.py
  dojo/product/views.py
  dojo/signals.py
  dojo/tasks.py
  dojo/test/views.py
  dojo/tools/tool_issue_updater.py
  dojo/utils.py
Labels: maintenance

#3142 Revoke access to authorized users after removal
  dojo/product_type/views.py
  dojo/user/views.py
Labels: bugfix

#3137 Fix endpoint_status filter and bug in ad-hoc finding creation
  dojo/filters.py
  dojo/test/views.py
Labels: bugfix

#3147 Fix endpoint_status bug for ad-hoc findings
  dojo/filters.py
  dojo/test/views.py
Labels: bugfix

#3146 Fix Authorized User bugs
  dojo/product_type/views.py
  dojo/user/views.py
Labels: bugfix

#3149 Release/1.9.1
  dojo/__init__.py
  dojo/filters.py
  dojo/product_type/views.py
  dojo/test/views.py
  dojo/user/views.py
  helm/defectdojo/Chart.yaml
  setup.py
Labels: maintenance

#3043 Kubernetes liveness and readiness improvement
  docker/entrypoint-uwsgi.sh
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
  nginx/nginx.conf
  nginx/nginx_TLS.conf
Labels: enhancement

#3119 Issue and PR template update
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: maintenance

#3136 settings: support add settings.py and support local_settings.py
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  DOCKER.md
  Dockerfile.django
  Dockerfile.nginx
  docker-compose.yml
  docker/entrypoint-initializer.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi-ptvsd.sh
  docker/entrypoint-uwsgi.sh
  docker/extra_settings/README.md
  dojo/settings/settings.py
  dojo/settings/template-local_settings
  dojo/urls.py
  requirements.txt
Labels: documentation, enhancement, settings_changes

#3151 Veracode parser bug fixes.
  dojo/tools/veracode/parser.py
Labels: bugfix

#3170 GitHub actions: Adding docker hub login, k8s imagepullSecrets improve…
  .github/workflows/k8s-testing.yml
Labels: enhancement

#3168 fix view all endpoints: added import statement for #3167
  dojo/endpoint/views.py
Labels: bugfix

#3165 fix jira add/edit configuration
  dojo/jira_link/views.py
  dojo/notifications/helper.py
  dojo/tool_type/views.py
Labels: bugfix

#3185 sync master to dev after k8s workflow updates #3183
  .github/workflows/k8s-testing.yml
Labels: maintenance

#3171 logging: improve variable naming for HANDLERs
  dojo/settings/settings.dist.py
Labels: settings_changes

#3173 django-debug-toolbar: add example config + required pip packages
  CONTRIBUTING.md
  dojo/settings/template-local_settings
  requirements.txt
Labels: enhancement

#2781 semgrepReport (JSON) import Scans
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/semgrep/__init__.py
  dojo/tools/semgrep/models.py
  dojo/tools/semgrep/parser.py
  dojo/unittests/scans/semgrep/many_findings.json
  dojo/unittests/scans/semgrep/one_finding.json
  dojo/unittests/scans/semgrep/repeated_findings.json
  dojo/unittests/test_semgrep_parser.py
Labels: Import Scans

#3181 github action release workflow: support bugfix/hotfix releases
  .github/workflows/new-release-pr.yml
  .github/workflows/new-release-tag-docker.yml
Labels: enhancement

#3194 k8s stable repo doc change
  KUBERNETES.md
Labels: documentation

#3199 [GHA] Push image in one's org
  .github/workflows/new-release-tag-docker.yml
Labels: maintenance

#3160 APIv2: Allow updating users and set is_superuser
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/unittests/test_rest_framework.py
Labels: enhancement

#3203 Fix missing base64 import
  dojo/api.py
Labels: bugfix

#3212 Check if Finding SLA enabled to run SLA notifications
  dojo/tasks.py
Labels: bugfix

#3177 add OSS Review Toolkit parser (ORT)
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/ort/__init__.py
  dojo/tools/ort/parser.py
  dojo/unittests/scans/ort/evaluated-model-reporter-test-output.json
  dojo/unittests/test_ort_parser.py
Labels: Import Scans

#3202 Remove old logging causing issues with celery logging
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
Labels: bugfix, settings_changes

#3213 system setting: set random secret when jira secret is disabled and empty
  dojo/templates/dojo/system_settings.html
Labels: bugfix

#3215 remove unused new_eng view
  dojo/engagement/urls.py
  dojo/engagement/views.py
Labels: maintenance

#3156 Improve default date handling.
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/test/views.py
Labels: bugfix

#3150 Improve Qualys WAS parser.
  dojo/db_migrations/0062_add_vuln_id_from_tool.py
  dojo/models.py
  dojo/tools/qualys_webapp/parser.py
  dojo/unittests/test_qualys_webapp_parser.py
Labels: New Migration, enhancement

#3133 add datetime to logformat (use verbose)
  dojo/settings/settings.dist.py
Labels: maintenance

#3145 npm audit: refuse npm7 or higher as it misses most important fields
  docker/entrypoint-unit-tests-devDocker.sh
  dojo/tools/npm_audit/parser.py
  dojo/unittests/scans/npm_audit_sample/many_vuln_npm7.json
  dojo/unittests/test_npm_audit_scan_parser.py
Labels: bugfix

#3235 endpoint_status: prefetch part1
  dojo/finding/views.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/get_endpoint_status.py
  dojo/test/views.py
Labels: bugfix

#3054 Render URL's as HTML links in findings
  dojo/models.py
  dojo/templates/dojo/view_finding.html
  dojo/templatetags/display_tags.py
  dojo/tools/sslyze/parser_json.py
  dojo/unittests/test_finding_model.py
  dojo/utils.py
Labels: enhancement

#3227 allow bulk delete in view_test
  dojo/templates/dojo/view_test.html
Labels: bugfix

#3239 Update defect_dojo_sample_file.json to work with recent versions
  dojo/fixtures/defect_dojo_sample_data.json
Labels: maintenance

#3233 Remove excessive qs in report generator
  dojo/reports/views.py
Labels: bugfix

#3263 fix reports: add missing Q import
  dojo/reports/views.py
Labels: bugfix

#3092 Celery: only send model ids and not full instances
  dojo/decorators.py
  dojo/github.py
  dojo/management/commands/test_celery_decorator.py
  dojo/settings/settings.dist.py
  dojo/tools/tool_issue_updater.py
  dojo/utils.py
Labels: enhancement, settings_changes

#2583 Change encoding from utf-8 to utf-8-sig
  dojo/tools/netsparker/parser.py
Labels: Waiting on response, bugfix

#3269 uwsgi: increase default buffer-size
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi-ptvsd.sh
  docker/entrypoint-uwsgi.sh
Labels: bugfix

#3267 Update open finding definition on product level
  dojo/templates/base.html
  dojo/utils.py
Labels: bugfix

#3273 jira: use correct url for dojo_alert notification
  dojo/jira_link/views.py
Labels: bugfix

#3280 settings.dist.py: reduce default log level from DEBUG to INFO
  dojo/settings/settings.dist.py
Labels: bugfix

#3282 Fix JIRA owner instead of reporter
  dojo/jira_link/views.py
  dojo/tools/sonarqube_api/updater_from_source.py
Labels: bugfix

#3250 Reintroduce HTML report builder
  docker/entrypoint-integration-tests.sh
  dojo/forms.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/custom_html_report.html
  dojo/templates/dojo/custom_html_report_cover_page.html
  dojo/templates/dojo/custom_html_report_endpoint_list.html
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/custom_html_report_wysiwyg_content.html
  dojo/templates/dojo/custom_html_toc.html
  dojo/templates/dojo/custom_pdf_report_endpoint_list.html
  dojo/templates/dojo/custom_pdf_report_wysiwyg_content.html
  dojo/templates/dojo/report_builder.html
  tests/Report_builder_unit_test.py
  tests/base_test_class.py
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
Labels: enhancement

#3291 Release drafter - add breaking changes section
  .github/release-drafter.yml
Labels: maintenance

#3297 Fix Accepted Risk reporter/owner in engineer metrics
  dojo/metrics/views.py
Labels: bugfix

#3289 sla notify: disable by default, add explanation to settings
  dojo/settings/settings.dist.py
Labels: enhancement, settings_changes

#3295 Allow re-import scan to function without JIRA
  dojo/test/views.py
Labels: bugfix

#3308 Various bug fixes in various places
  dojo/context_processors.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/user/views.py
Labels: bugfix, performance, settings_changes

#3293 performance: optimize a bit view_finding, max similar findings=25
  dojo/finding/views.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
Labels: performance, settings_changes

#3254 API_V2 : Add metadata operation on findings endpoints
  dojo/api_v2/views.py
  dojo/unittests/test_rest_framework.py
Labels: enhancement

#3288 reimport: set component_name&version on existing findings
  dojo/api_v2/serializers.py
  dojo/test/views.py
Labels: enhancement

#3284 jira: split url handling for issues and projects
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/import_scan_results.html
  dojo/templates/dojo/new_eng.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
Labels: bugfix

#3281 jira: fix mailto link in description
  dojo/models.py
  dojo/templates/issue-trackers/jira-description.tpl
  dojo/templatetags/display_tags.py
Labels: bugfix

#3277 aws security hub: fix handling of missing lastObservedAt
  dojo/tools/awssecurityhub/parser.py
  dojo/unittests/scans/awssecurityhub/many_findings.json
Labels: bugfix

#2990 Added steps to reproduce in Jira Description Template
  dojo/templates/issue-trackers/jira-description.tpl
Labels: Waiting on response, bugfix

#3309 debug_toolbar: add known issue + fix for static files
  dojo/settings/template-local_settings
Labels: bugfix

#2859 Move charts to bitnami's repo
  KUBERNETES.md
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
  helm/defectdojo/templates/secret-postgresql.yaml
Labels: Breaking Changes, maintenance

#3324 tags: add testcases
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_taggit_tags.py
Labels: enhancement

#3331 reimport: don't try to set component_name for absent findings
  dojo/api_v2/serializers.py
  dojo/test/views.py
Labels: bugfix

#3318 Nikto quick fix
  dojo/tools/nikto/parser.py
Labels: bugfix

#3321 jira_webhook: improve error handling
  dojo/fixtures/dojo_testdata.json
  dojo/jira_link/views.py
  dojo/unittests/test_jira_webhook.py
Labels: bugfix

#3317 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#3315 Update MAINTAINERS.md
  .github/release-drafter.yml
  MAINTAINERS.md
Labels: documentation

#3316 Update SPONSORING.md
  SPONSORING.md
Labels: documentation

#3329 fix importing aws securityhub timestamp
  dojo/tools/awssecurityhub/parser.py
Labels: bugfix

#3335 jira: fix add/edit engagement if no jira config used
  dojo/engagement/views.py
  dojo/product/views.py
Labels: bugfix

#3339 Correct filter for findings for non-staff users
  dojo/finding/views.py
Labels: bugfix

#3314 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#2289 Acunetix parser: Import all affected items + technical details
  dojo/settings/settings.dist.py
  dojo/tools/acunetix/parser.py
  dojo/tools/acunetix/parser_helper.py
Labels: bugfix, settings_changes

#3285 apiv2: set mitigated date if applicable
  dojo/api_v2/serializers.py
Labels: bugfix

#3359 Aqua parser: correct missing values
  dojo/tools/aqua/parser.py
Labels: bugfix

#3355 jira: fix link existing jira issue
  dojo/finding/views.py
  dojo/jira_link/helper.py
Labels: bugfix

#3348 Align Qualys WAS severities with the those in the UI
  dojo/tools/qualys_webapp/parser.py
  dojo/unittests/test_qualys_webapp_parser.py
Labels: bugfix

#3347 Fix helm rabbitMQ not grabbing secret after move to bitnami
  helm/defectdojo/templates/secret-rabbitmq.yaml
  helm/defectdojo/values.yaml
Labels: bugfix

#3350 Helm posgreSQL, use existing secret even if postgres not enabled
  helm/defectdojo/templates/secret-postgresql.yaml
Labels: bugfix

#3341 Fix Nikto Port replacement
  dojo/tools/nikto/parser.py
Labels: bugfix

#3362 FIX APIv2 : Add exception when parser fail to avoid error 500 without error info
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: bugfix

#3366 jira: fix add/edit product jira logic
  dojo/db_migrations/0065_delete_empty_jira_project_configs.py
  dojo/engagement/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/product/views.py
  dojo/templates/dojo/new_eng.html
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_config_and_pushing.py
  dojo/unittests/test_jira_config_engagement.py
  dojo/unittests/test_jira_config_product.py
  dojo/unittests/test_jira_import_and_pushing_api.py
Labels: New Migration, bugfix
