Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-03, with the labels that each got.

#1891 Update slack invite URL to use the OWASP heroku invite rotator app
  README.md
Labels: maintenance

#1896 bugfix: include verified findings in product metrics on product detai…
  dojo/product/views.py
Labels: bugfix

#1853 Fix import error for Crashtest Security importer
  dojo/tools/crashtest_security/parser.py
Labels: bugfix

#1964 Burp Enterprise Edition Parser
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/burp_enterprise/__init__.py
  dojo/tools/burp_enterprise/parser.py
  dojo/tools/factory.py
Labels: Import Scans

#1965 Generalize for multiple endpoints (Burp Enterprise Scan)
  dojo/tools/burp_enterprise/parser.py
Labels: bugfix

#1898 bugfix: severity-filter, always allow all 5 choices
  dojo/filters.py
Labels: bugfix

#1868 Optimize use of system settings in templates and other optimizations
  dojo/context_processors.py
  dojo/engagement/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/all_product_findings.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_product.html
  dojo/templates/dojo/view_test.html
  dojo/templates/notifications/engagement_added.tpl
  dojo/templates/notifications/other.tpl
  dojo/templates/notifications/report_created.tpl
  dojo/templates/notifications/results_added.tpl
  dojo/templates/notifications/test_added.tpl
  dojo/templates/notifications/upcoming_engagement.tpl
  dojo/templates/notifications/user_mentioned.tpl
  dojo/templatetags/display_tags.py
  dojo/templatetags/get_system_setting.py
Labels: enhancement, performance, settings_changes

#1854 Add artifact metadata to findings
  dojo/db_migrations/0031_finding_component.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/tools/anchore_engine/parser.py
  dojo/tools/aqua/parser.py
  dojo/tools/blackduck/importer.py
  dojo/tools/blackduck/model.py
  dojo/tools/blackduck/parser.py
  dojo/tools/dependency_track/parser.py
  dojo/tools/snyk/parser.py
  dojo/tools/twistlock/parser.py
  dojo/tools/whitesource/parser.py
Labels: New Migration, enhancement, settings_changes

#1967 Implement Gitlab OAuth2 authentication. Fix #1966
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: Auth Related, enhancement, settings_changes

#1893 Add Monitoring
  Dockerfile.django
  Dockerfile.nginx
  docker-compose.yml
  docker/entrypoint-nginx.sh
  dojo/settings/settings.dist.py
  dojo/urls.py
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/secret.yaml
  helm/defectdojo/values.yaml
  nginx/nginx.conf
  nginx/nginx_TLS.conf
  requirements.txt
Labels: enhancement

#1970 Fix import error for Crashtest Security importer for skipped scans
  dojo/tools/crashtest_security/parser.py
Labels: bugfix

#1969 Fix outpost24 parser
  dojo/tools/outpost24/parser.py
Labels: bugfix

#1928 dedupe: also log background tasks and management tasks
  dojo/management/commands/dedupe.py
  dojo/tasks.py
Labels: enhancement

#1978 Revert import scan to original permission checks
  dojo/api_v2/views.py
Labels: bugfix

#1981 BurpE Parser Scale Upgrade
  dojo/engagement/views.py
  dojo/tools/burp_enterprise/parser.py
Labels: Import Scans, bugfix

#1927 release-drafter to work with dev branch
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: maintenance

#1983 Backport nodejs fix
  Dockerfile.nginx
Labels: backport, bugfix

#1997 [BurpE] Add multiple request/response tabs
  dojo/engagement/views.py
  dojo/test/views.py
  dojo/tools/burp/parser.py
  dojo/tools/burp_enterprise/parser.py
Labels: Import Scans, bugfix

#1990 Keyboard shortcuts to navigate to previous and next finding
  dojo/templates/dojo/view_finding.html
Labels: enhancement

#1996 Add parser for Crashtest Security JSON file
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/crashtest_security_json/__init__.py
  dojo/tools/crashtest_security_json/parser.py
  dojo/tools/crashtest_security_xml/__init__.py
  dojo/tools/crashtest_security_xml/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/crashtest_security_json/data_extracted.json
  dojo/unittests/scans/crashtest_security_json/empty.json
  dojo/unittests/scans/crashtest_security_json/full.json
  dojo/unittests/test_crashtest_security_json_parser.py
Labels: Import Scans, enhancement

#1955 performance gains by prefetching in more places
  dojo/context_processors.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/search/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/findings_list.html
  dojo/templatetags/navigation_tags.py
  travis/integration_test-script.sh
  travis/script.sh
Labels: performance, settings_changes

#2002 Javascript dependency refactor
  .gitignore
  components/package.json
  components/yarn.lock
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/add_related.html
  dojo/templates/dojo/custom_pdf_report.html
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/report_builder.html
  dojo/templates/dojo/view_engineer.html
  dojo/templates/dojo/view_product.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/report_base.html
  dojo/urls.py
  package.json
  tests/Note_type_unit_test.py
  tests/Product_type_unit_test.py
  tests/Product_unit_test.py
  tests/dedupe_unit_test.py
Labels: dependencies, javascript, maintenance, security, settings_changes

#2017 remove dependency pygments
  requirements.txt
Labels: dependencies, maintenance

#2016 Add a parser for policy checks created by Anchore enterprise
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/anchore_enterprise/__init__.py
  dojo/tools/anchore_enterprise/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/anchore_enterprise/invalid_checks_format.json
  dojo/unittests/scans/anchore_enterprise/many_checks.json
  dojo/unittests/scans/anchore_enterprise/no_checks.json
  dojo/unittests/scans/anchore_enterprise/one_check.json
  dojo/unittests/test_anchore_policy_check.py
Labels: Import Scans

#2049 fix #2048 handle None value for CWE in apply finding template
  dojo/templates/dojo/apply_finding_template_form_fields.html
Labels: bugfix

#2031 Update CONTRIBUTING.md after migration to python3.
  CONTRIBUTING.md
Labels: maintenance

#2080 fix removed system settings processor
  dojo/settings/settings.dist.py
Labels: bugfix

#2067 add required middleware to set actor_id in auditlog entries
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#2055 remove unused docker/nginx.conf
  docker/nginx.conf
Labels: maintenance

#2015 simplify and speedup integration tests
  tests/Endpoint_unit_test.py
  tests/Engagement_unit_test.py
  tests/Environment_unit_test.py
  tests/Finding_unit_test.py
  tests/Import_scanner_unit_test.py
  tests/Note_type_unit_test.py
  tests/Product_type_unit_test.py
  tests/Product_unit_test.py
  tests/Test_unit_test.py
  tests/User_unit_test.py
  tests/__init__.py
  tests/base_test_class.py
  tests/check_status.py
  tests/check_status_ui.py
  tests/dedupe_unit_test.py
  tests/ibm_appscan_test.py
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
  tests/local-unit-tests.sh
  tests/smoke_test.py
Labels: maintenance

#2066 add watson middleware for more efficient search index updates
  dojo/settings/settings.dist.py
Labels: performance, settings_changes

#2079 Implement Auth0 OAuth2 authentication
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: enhancement, settings_changes

#2068 add system setting to enable/disable audit logging
  dojo/db_migrations/0032_system_settings_enable_auditlog.py
  dojo/models.py
  dojo/system_settings/views.py
  dojo/views.py
Labels: New Migration, performance, settings_changes

#2077 From string to boolean - fix login page buttons not showing #2075
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#2061 add url and product name to jira alert message
  dojo/utils.py
Labels: enhancement

#2060 npm audit parser: limit vulnerable paths to max 25
  dojo/tools/npm_audit/parser.py
Labels: bugfix

#2046 only show dupes dropdown if there are dupes, fixes #2006
  dojo/templates/dojo/edit_findings.html
Labels: bugfix

#2042 fix superfluous sla column in datatable config (fixes #2041)
  dojo/templates/dojo/findings_list.html
Labels: bugfix

#2039 only show donut if donut (language) data is available, fixes #2005
  dojo/templates/dojo/view_product_details.html
Labels: bugfix

#2026 fix some queries so that open include active verified and not verified
  dojo/product/views.py
Labels: bugfix

#1953 performance: cache system_settings in views
  dojo/models.py
  dojo/system_settings/views.py
  dojo/unittests/test_system_settings.py
Labels: performance

#1941 Adding SimilarityID and PathID concatenation as unique_id_from_tool for Checkmarx Parser
  dojo/tools/checkmarx/parser.py
  dojo/unittests/test_checkmarx_parser.py
Labels: Import Scans, Waiting on response, bugfix

#2086 Anchore parser fix to consider package_path
  dojo/tools/anchore_engine/parser.py
  dojo/unittests/scans/anchore/many_vulns.json
  dojo/unittests/test_anchore_parser.py
Labels: bugfix

#1879 add version to filter fields
  dojo/api_v2/views.py
Labels: bugfix

#2054 fix various DSOP parser issues
  dojo/forms.py
  dojo/tools/dsop/parser.py
  dojo/unittests/test_dsop_parser.py
Labels: bugfix

#2090 fix login buttons by adding explicit CLASSIC_AUTH_ENABLED option
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: bugfix, settings_changes

#2034 quickfix #1995 bulk edit in view_test
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/view_test.html
  tests/Finding_unit_test.py
  tests/Test_unit_test.py
Labels: bugfix

#2051 fix #2050 broken javascript datatable product list
  dojo/templates/dojo/product.html
Labels: Review Needed, bugfix

#2084 docker initializer: do not give a new non-working passwd if admin present in DB
  docker/entrypoint-initializer.sh
Labels: bugfix

#2094 apiv2: add test.id in result of importscan
  dojo/api_v2/serializers.py
Labels: enhancement

#2009 Fix duplication issue
  dojo/db_migrations/0032_remove_finding_duplicate_list.py
  dojo/finding/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/tasks.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: New Migration, bugfix, maintenance

#2100 fix migrations after #2009
  dojo/db_migrations/0033_remove_finding_duplicate_list.py
Labels: bugfix

#1979 Add component name and version for JFrog scans
  dojo/tools/jfrogxray/parser.py
  dojo/unittests/test_jfrogxray_parser.py
Labels: enhancement

#2101 integration-tests: add wait/retry when checking for duplicates
  tests/dedupe_unit_test.py
Labels: maintenance

#1924 Fix kubernetes helm upgrade
  KUBERNETES.md
  helm/defectdojo/templates/secret-mysql.yaml
  helm/defectdojo/templates/secret-postgresql.yaml
  helm/defectdojo/templates/secret-rabbitmq.yaml
  helm/defectdojo/templates/secret-redis.yaml
  helm/defectdojo/templates/secret.yaml
  helm/defectdojo/values.yaml
  travis/script.sh
Labels: bugfix

#1881 kubernetes: fix node selectors; add limits
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: bugfix

#1904 Add bulk risk acceptance API
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/models.py
  dojo/risk_acceptance/__init__.py
  dojo/risk_acceptance/api.py
  dojo/unittests/test_risk_acceptance_api.py
  entrypoint_scripts/test/travis-unit-test.sh
  setup/scripts/test/travis-unit-test.sh
  tests/unit-tests.sh
Labels: enhancement

#2104 DSOP parser missing fields
  dojo/tools/dsop/parser.py
Labels: bugfix

#2012 Prefetch tags and more to remove 1+N queries problem
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/models.py
  dojo/object/parser.py
  dojo/product/views.py
  dojo/search/views.py
  dojo/settings/settings.dist.py
  dojo/tag/prefetching_tag_descriptor.py
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/test/views.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_taggit_tags.py
  dojo/utils.py
  requirements.txt
  setup.py
Labels: performance, settings_changes

#2063 remove unused view_product_details
  dojo/product/urls.py
  dojo/product/views.py
  dojo/templates/dojo/view_product.html
Labels: maintenance

#2095 product list: add missing quotes around asc for table sorter
  dojo/templates/dojo/product.html
Labels: bugfix

#2010 Find and correct duplicate loops
  dojo/filters.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/management/commands/fix_loop_duplicates.py
  dojo/tasks.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: maintenance

#1956 Pinned yarn package manager to stable version
  Dockerfile.nginx
Labels: maintenance

#1863 Fix middlewares
  dojo/middleware.py
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#2112 fix dashboard graph - show values
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/dashboard.html
Labels: bugfix
