Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-06, with the labels that each got.

#2431 bump rabbitmq to latest 3.7 patch version
  docker-compose.yml
Labels: maintenance

#2393 Fixing Product Type Report error when there are no findings
  dojo/api_v2/views.py
  dojo/reports/views.py
Labels: bugfix

#2413 Replaced SimpleMDE with EasyMDE
  components/package.json
  components/yarn.lock
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/edit_presets.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/import_scan_results.html
  dojo/templates/dojo/merge_findings.html
  dojo/templates/dojo/new_eng.html
  dojo/templates/dojo/new_params.html
  dojo/templates/dojo/new_product.html
  dojo/templates/dojo/promote_to_finding.html
Labels: maintenance

#2402 JIRA Config Bulk update fix
  dojo/finding/views.py
  dojo/test/views.py
Labels: bugfix

#2435 minor bump for mysql
  docker-compose.yml
Labels: maintenance

#2421 release after care: Merge release/1.6.0 into dev
  .dependabot/config.yml
  DOCKER.md
  README.md
  docker/entrypoint-integration-tests.sh
  helm/defectdojo/values.yaml
  setup/postgresql.txt
  tests/Finding_unit_test.py
Labels: maintenance

#2412 improve error handling notifications
  dojo/notifications/helper.py
Labels: bugfix

#2056 make finding images work in docker dev and ptvsd setup
  docker-compose.override.dev.yml
  docker-compose.override.ptvsd.yml
  nginx/nginx.conf
Labels: enhancement

#2469 add known issue about finding images not working
  DOCKER.md
Labels: documentation

#2470 add known issue about finding images not working in release mode
  DOCKER.md
Labels: documentation

#2359 fix alerts for product_added, and more
  dojo/models.py
  dojo/notifications/helper.py
  dojo/tasks.py
Labels: bugfix

#2225 npm audit parser: fixes
  dojo/tools/npm_audit/parser.py
  dojo/unittests/scans/npm_audit_sample/empty_with_error.json
  dojo/unittests/test_npm_audit_scan_parser.py
Labels: bugfix

#2406 Declutter view engagement page
  dojo/templates/dojo/view_eng.html
Labels: enhancement

#2482 search: fix for non-staff non-superusers
  dojo/search/views.py
Labels: bugfix

#2434 Upgrade docker containers to python 3.6
  Dockerfile.django
  Dockerfile.integration-tests
  Dockerfile.nginx
Labels: maintenance

#2483 False positive history: Recognized false positives marked as verified
  dojo/utils.py
Labels: bugfix

#2369 BugCrowd parser and collapse similar findings by default
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/templates/dojo/view_finding.html
  dojo/tools/bugcrowd/__init__.py
  dojo/tools/bugcrowd/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/bugcrowd/BugCrowd-many.csv
  dojo/unittests/scans/bugcrowd/BugCrowd-one.csv
  dojo/unittests/scans/bugcrowd/BugCrowd-zero.csv
  dojo/unittests/test_bugcrowd_parser.py
Labels: Import Scans

#2498 fix version numbers missed in 1.6.1
  dojo/__init__.py
  setup.py
Labels: maintenance

#2499 release aftercare: merge hotfix 1.6.2 into 1.6.5
  DOCKER.md
  README.md
  dojo/__init__.py
  setup.py
Labels: maintenance

#2462 JIRA fixes
  dojo/github_issue_link/urls.py
  dojo/models.py
  dojo/templates/dojo/product.html
  dojo/utils.py
Labels: bugfix

#2441 Fix JIRA update issue if issue already linked
  dojo/finding/views.py
Labels: bugfix

#2343 finding: add index to hash_code, line and unique_id_from_tool
  dojo/db_migrations/0043_finding_hash_code_index.py
  dojo/models.py
Labels: New Migration, maintenance, performance

#2381 Making prod_type field required in the Model
  dojo/db_migrations/0044_required_prod_type.py
  dojo/models.py
Labels: New Migration, bugfix

#2405 added unique_id_from_tool filter to APIv2 when retrieving findings
  dojo/api_v2/views.py
Labels: enhancement

#2426 return age and sla days remaining for findings apiv2
  dojo/api_v2/serializers.py
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/templatetags/display_tags.py
  dojo/unittests/test_rest_framework.py
Labels: enhancement

#2506 fixed duplicate_finding_set function to not throw error
  dojo/models.py
Labels: bugfix

#2505 fix github issue creation
  dojo/github.py
Labels: bugfix

#2322 add parser for yarn audit
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/yarn_audit/__init__.py
  dojo/tools/yarn_audit/parser.py
  dojo/unittests/scans/yarn_audit/empty_with_error.json
  dojo/unittests/scans/yarn_audit/yarn_audit_many_vul.json
  dojo/unittests/scans/yarn_audit/yarn_audit_one_vul.json
  dojo/unittests/scans/yarn_audit/yarn_audit_zero_vul.json
  dojo/unittests/test_yarn_audit_parser.py
  requirements.txt
  setup.py
Labels: Import Scans

#2516 setup.bash EOL
  setup/scripts/common/prompt.sh
  setup/setup.bash
Labels: maintenance

#2527 setup.bash: print message when user selects unsupported database scen…
  setup/scripts/common/prompt.sh
Labels: maintenance

#2539 Disable XXE when parsing Qualys reports
  dojo/tools/qualys/parser.py
  dojo/tools/qualys_webapp/parser.py
Labels: security

#2538 Fix IBM appscan severity capitalization
  dojo/tools/ibm_app/parser.py
Labels: bugfix

#2544 Changes to SECURITY.md
  SECURITY.md
Labels: maintenance

#2528 Check the size of the scan report when is imported through API
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/utils.py
Labels: enhancement, settings_changes

#2565 mentioning a user: fix notifications
  dojo/notifications/helper.py
  dojo/utils.py
Labels: bugfix

#2568 merge release/1.6.5 into dev
  README.md
  dojo/finding/views.py
  dojo/github.py
  dojo/github_issue_link/urls.py
  dojo/jira_link/views.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/search/views.py
  dojo/tasks.py
  dojo/templates/dojo/product.html
  dojo/test/views.py
  dojo/tools/npm_audit/parser.py
  dojo/tools/qualys/parser.py
  dojo/unittests/scans/npm_audit_sample/empty_with_error.json
  dojo/unittests/test_npm_audit_scan_parser.py
  dojo/utils.py
  setup/scripts/common/prompt.sh
  setup/setup.bash
  travis/integration_test-script.sh
Labels: maintenance

#2377 run some Integration tests with block execution = true
  dojo/api_v2/serializers.py
  tests/Finding_unit_test.py
  tests/Product_unit_test.py
  tests/base_test_class.py
  tests/dedupe_unit_test.py
Labels: maintenance

#2310 kubernetes: add missing affinity
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: bugfix

#2580 travis: merge docker step with integration tests step
  .travis.yml
  tests/base_test_class.py
  tests/dedupe_unit_test.py
  travis/script.sh
Labels: maintenance

#2579 Jira fixes for #2521 #2577
  dojo/product/views.py
  dojo/test/views.py
Labels: bugfix

#2581 Notes improvements (UI and Jira integration)
  dojo/jira_link/views.py
  dojo/models.py
  dojo/utils.py
Labels: enhancement

#2574 integration tests: grep celery work logs for ERRORs
  travis/integration_test-script.sh
Labels: maintenance

#2486 Slack enhancements
  dojo/db_migrations/0045_slack_help_text.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/utils.py
Labels: New Migration, enhancement

#2576 Bugfix for burp test upload
  dojo/test/views.py
  dojo/tools/burp/parser.py
  dojo/unittests/scans/burp/one_finding.xml
  dojo/unittests/scans/burp/seven_findings.xml
  dojo/unittests/test_burp_parser.py
Labels: bugfix

#2558 Eslint plugin (against dev)
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/eslint/__init__.py
  dojo/tools/eslint/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/eslint/empty.json
  dojo/unittests/scans/eslint/no_finding.json
  dojo/unittests/scans/eslint/scan.json
  dojo/unittests/test_eslint.py
Labels: Import Scans

#2602 API V2: add the possibility to filter by "is_Mitigated" status
  dojo/api_v2/views.py
Labels: enhancement

#2611 Feature/add tool ccvs
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/ccvs/__init__.py
  dojo/tools/ccvs/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/ccvs/many_vulns.json
  dojo/unittests/scans/ccvs/no_vuln.json
  dojo/unittests/scans/ccvs/one_vuln_one_vendor.json
  dojo/unittests/test_ccvs_parser.py
Labels: Import Scans

#2578 Added pwgen for all platforms.
  setup/scripts/common/dojo-shared-resources.sh
Labels: bugfix

#2613 remove BREAK in html
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/notifications.html
Labels: $100 reward, maintenance

#2612 Feature/add tool huskyci
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/huskyci/__init__.py
  dojo/tools/huskyci/parser.py
  dojo/unittests/scans/huskyci/huskyci_report_many_finding_one_tool.json
  dojo/unittests/scans/huskyci/huskyci_report_many_finding_two_tools.json
  dojo/unittests/scans/huskyci/huskyci_report_no_finding.json
  dojo/unittests/scans/huskyci/huskyci_report_one_finding_one_tool.json
  dojo/unittests/test_huskyci_parser.py
Labels: Import Scans

#2560 Add description to test add and edit
  dojo/forms.py
  dojo/templates/dojo/view_eng.html
  dojo/test/views.py
Labels: bugfix

#2603 Add SAML2 support
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
  dojo/urls.py
  requirements.txt
Labels: enhancement, settings_changes

#2606 Exception preventing in (re)import-scan
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/test/views.py
Labels: bugfix

#2390 Add risk acceptance flag and simple bulk risk acceptance
  dojo/filters.py
  dojo/finding/urls.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/middleware.py
  dojo/models.py
  dojo/risk_acceptance/api.py
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_risk.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/urls.py
  dojo/test/views.py
  dojo/utils.py
  tests/Finding_unit_test.py
  tests/base_test_class.py
Labels: enhancement
