Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-09, with the labels that each got.

#2817 search: fix when searching for empty string
  dojo/search/views.py
Labels: bugfix

#2826 Upgrade components minikube k8s helm
  .travis.yml
  travis/before-install.sh
  travis/script.sh
Labels: maintenance

#2825 BUG-2824, add missing trivy finding fields and settings for deduplication
  dojo/settings/settings.dist.py
  dojo/tools/trivy/parser.py
  dojo/unittests/scans/trivy/trivy_mix.json
  dojo/unittests/test_trivy_parser.py
Labels: bugfix, settings_changes

#2823 Search fix watson references to deleted findings
  dojo/templates/dojo/simple_search.html
Labels: bugfix

#2841 update threat model download process
  dojo/engagement/views.py
  dojo/templates/dojo/view_eng.html
Labels: bugfix

#2843 edit finding: fix parent/original duplicate + small fixes
  dojo/finding/views.py
  dojo/forms.py
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/finding_related_row.html
Labels: bugfix, enhancement

#2814 Regulation gui/api extending
  docker/entrypoint-integration-tests.sh
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0051_regulation_categories.py
  dojo/forms.py
  dojo/models.py
  dojo/regulations/__init__.py
  dojo/regulations/urls.py
  dojo/regulations/views.py
  dojo/templates/base.html
  dojo/templates/dojo/edit_regulation.html
  dojo/templates/dojo/new_regulation.html
  dojo/templates/dojo/regulations.html
  dojo/templates/dojo/regulations_config.html
  dojo/urls.py
  tests/Regulations_unit_test.py
  tests/local-integration-tests.sh
  travis/integration_test-script.sh
Labels: New Migration, enhancement

#2791 Django saml2 plugin dedicated cert
  .gitignore
  Dockerfile.django
  dojo/settings/settings.dist.py
Labels: enhancement

#2836 Fixes problems generating AsciiDOC product report
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report_endpoints.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
Labels: bugfix

#2806 Add request_response pairs to the UI
  dojo/finding/views.py
  dojo/forms.py
  dojo/product/views.py
  dojo/test/views.py
Labels: enhancement

#2839 Dockerfile improvements
  Dockerfile.django
  Dockerfile.nginx
  docker-compose.yml
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-nginx.sh
  nginx/nginx.conf
  nginx/nginx_TLS.conf
Labels: maintenance, security

#2853 Bump helm chart versions
  helm/defectdojo/Chart.yaml
Labels: maintenance

#2856 Fixed cve field showing None when importing nessus .xml reports
  dojo/tools/nessus/parser.py
Labels: bugfix

#2858 Adding more envvars to settings.py
  dojo/settings/settings.dist.py
Labels: enhancement

#1887 Adding CVSS3.0 Score to the DefectDojo
  dojo/db_migrations/0052_cvssv3_field.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/models.py
  dojo/static/dojo/js/cvss_calculator.js
  dojo/static/dojo/js/cvsscalc30.js
  dojo/static/dojo/js/cvsscalc30_helptext.js
  dojo/templates/base.html
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report_endpoints.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
  dojo/templates/dojo/custom_pdf_report_endpoint_list.html
  dojo/templates/dojo/custom_pdf_report_finding_list.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/form_fields.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_finding.html
Labels: New Migration, enhancement

#2832 Fixed dates sorted alphabetically
  dojo/templates/dojo/engagements_all.html
Labels: bugfix

#2822 Replaced .ix[] with .loc[] in AWS Prowler parser.py
  dojo/tools/aws_prowler/parser.py
  dojo/unittests/scans/aws_prowler/many_vuln.csv
  dojo/unittests/scans/aws_prowler/no_vuln.csv
  dojo/unittests/scans/aws_prowler/one_vuln.csv
  dojo/unittests/test_aws_prowler_parser.py
Labels: bugfix

#2857 Custom dates on product type metrics
  dojo/filters.py
  dojo/metrics/views.py
Labels: enhancement

#2510 Add Notes at Engagement level and improvements at Test level
  docker/entrypoint-integration-tests.sh
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0053_engagement_notes.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/models.py
  dojo/notes/views.py
  dojo/templates/dojo/snippets/comments.html
  dojo/templates/dojo/view_eng.html
  dojo/test/views.py
  dojo/unittests/test_rest_framework.py
  tests/Notes_unit_test.py
  travis/integration_test-script.sh
Labels: New Migration, enhancement

#2765 Add limited staff access to authorized users
  dojo/endpoint/urls.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/user/helper.py
Labels: enhancement

#2865 Add request/response pairs to finding APIv2 calls
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_rest_framework.py
Labels: enhancement

#2868 Fixing helm /var/run issue
  helm/defectdojo/Chart.yaml
  helm/defectdojo/requirements.lock
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  nginx/nginx_TLS.conf
Labels: bugfix

#2845 Set component name/version for php symfony & dependency check parsers
  dojo/api_v2/serializers.py
  dojo/test/views.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/php_symfony_security_check/parser.py
  dojo/unittests/test_dependency_check_parser.py
  dojo/unittests/test_php_symfony_security_check_parser.py
  requirements.txt
Labels: enhancement

#2862 findings: add support for metadata
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0054_dojometa_finding.py
  dojo/models.py
Labels: New Migration, enhancement

#2855 Quantify endpoint status objects when viewing findings
  dojo/api_v2/serializers.py
  dojo/finding/views.py
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/get_endpoint_status.py
  dojo/test/views.py
Labels: maintenance

#2885 Fix edit findings function
  dojo/finding/views.py
Labels: bugfix

#2849 bugfix for risk acceptance migration
  dojo/db_migrations/0042_risk_acceptance_improvements.py
Labels: New Migration, bugfix

#2846 New Import Parser drHeader
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/drheader/__init__.py
  dojo/tools/drheader/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/drheader/scan.json
  dojo/unittests/test_drheader_parser.py
Labels: Waiting on response

#2889 (jira) alerts: improve error handling and more
  dojo/db_migrations/0055_notifications_jira_update_verbose_name.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/management/commands/jira_async_updates.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
  dojo/templates/base.html
  dojo/templates/dojo/alerts.html
  dojo/templates/dojo/migrate_alerts.html
  dojo/test/views.py
  dojo/user/urls.py
  dojo/user/views.py
  dojo/utils.py
  requirements.txt
Labels: New Migration, enhancement

#2887 Adding a parser for Checkov scanner
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/checkov/__init__.py
  dojo/tools/checkov/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/checkov/checkov-report-0-vuln.json
  dojo/unittests/scans/checkov/checkov-report-1-vuln.json
  dojo/unittests/scans/checkov/checkov-report-many-vuln.json
  dojo/unittests/test_checkov_parser.py
Labels: Import Scans

#2875 Add user post endpoint to APIv2
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/unittests/test_rest_framework.py
Labels: maintenance

#2896 Import empty Anchore policies without error
  dojo/tools/anchore_enterprise/parser.py
Labels: bugfix

#2861 Search improvements and fixes
  components/package.json
  components/yarn.lock
  dojo/__init__.py
  dojo/apps.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/models.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/search/views.py
  dojo/settings/settings.dist.py
  dojo/static/dojo/css/datatables.css
  dojo/static/dojo/css/datatables.min.css
  dojo/static/dojo/js/datatables.js
  dojo/static/dojo/js/datatables.min.js
  dojo/templates/base.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/filter_js_snippet.html
  dojo/templates/dojo/filter_snippet.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/factory.py
  dojo/utils.py
  tests/smoke_test.py
Labels: bugfix, documentation, enhancement, settings_changes

#2899 Security and Bug Fixes
  dojo/templates/dojo/change_pwd.html
  dojo/templates/dojo/login.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templatetags/get_endpoint_status.py
  dojo/test/views.py
  dojo/tools/qualys_infrascan_webgui/parser.py
  dojo/tools/sonarqube_api/importer.py
  dojo/utils.py
Labels: bugfix, maintenance, security

#2912 closed findings: filter by is_Mitigated instead of mitigated
  dojo/finding/views.py
Labels: bugfix

#2813 docker-compose and helm: Add variables for celeryworker prefork and uwsgi thread/procs control
  Dockerfile.django
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#2917 add flake8 check as github action
  .github/workflows/flake8-your-pr.yml
Labels: maintenance

#2918 add GitHub action for integration tests
  .github/workflows/integration-tests.yml
Labels: maintenance

#2904 fix chosen js dependency
  components/package.json
  components/yarn.lock
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/edit_question.html
  dojo/templates/defectDojo-engagement-survey/edit_survey_questions.html
  dojo/templates/dojo/add_endpoint.html
  dojo/templates/dojo/add_endpoint_meta_data.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/add_product_meta_data.html
  dojo/templates/dojo/add_related.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/add_tests.html
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/benchmark.html
  dojo/templates/dojo/calendar.html
  dojo/templates/dojo/clear_finding_review.html
  dojo/templates/dojo/edit_cred.html
  dojo/templates/dojo/edit_cred_all.html
  dojo/templates/dojo/edit_endpoint.html
  dojo/templates/dojo/edit_endpoint_meta_data.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/edit_jira.html
  dojo/templates/dojo/edit_object.html
  dojo/templates/dojo/edit_presets.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/edit_product_meta_data.html
  dojo/templates/dojo/edit_regulation.html
  dojo/templates/dojo/edit_test.html
  dojo/templates/dojo/edit_tool_config.html
  dojo/templates/dojo/edit_tool_product.html
  dojo/templates/dojo/edit_tool_type.html
  dojo/templates/dojo/filter_js_snippet.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/import_scan_results.html
  dojo/templates/dojo/manage_images.html
  dojo/templates/dojo/merge_findings.html
  dojo/templates/dojo/new_eng.html
  dojo/templates/dojo/new_object.html
  dojo/templates/dojo/new_params.html
  dojo/templates/dojo/new_product.html
  dojo/templates/dojo/notifications.html
  dojo/templates/dojo/report_builder.html
  dojo/templates/dojo/review_finding.html
  dojo/templates/dojo/system_settings.html
  dojo/templates/dojo/up_risk.html
  dojo/templates/dojo/view_risk.html
  dojo/templates/dojo/view_test.html
  tests/base_test_class.py
Labels: maintenance

#2926 Calculate metrics by endpoint status
  dojo/filters.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product_metrics.html
  dojo/test/views.py
  dojo/utils.py
Labels: enhancement

#2927 fix add finding from template req_resp key error
  dojo/forms.py
Labels: bugfix

#2929 Fix custom report endpoint_status error
  dojo/templates/dojo/custom_asciidoc_report_endpoints.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
Labels: bugfix

#2420 Questionnaire Renaming and Fixes
  dojo/filters.py
  dojo/forms.py
  dojo/survey/urls.py
  dojo/survey/views.py
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/add_survey.html
  dojo/templates/defectDojo-engagement-survey/assign_survey.html
  dojo/templates/defectDojo-engagement-survey/create_questionnaire.html
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
  dojo/templates/defectDojo-engagement-survey/delete_questionnaire.html
  dojo/templates/defectDojo-engagement-survey/edit_question.html
  dojo/templates/defectDojo-engagement-survey/edit_survey_questions.html
  dojo/templates/defectDojo-engagement-survey/list_surveys.html
  dojo/templates/defectDojo-engagement-survey/surveys.html
  dojo/templates/dojo/view_eng.html
Labels: Waiting on response, maintenance

#2932 Merge back 1.8.0 from master into dev
  dojo/__init__.py
  setup.py
Labels: maintenance
