Repository DefectDojo/django-DefectDojo, pull requests merged in 2020-05, with the labels that each got.

#2288 Update Qualys Web App parser
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/qualys_webapp/utfdictcsv.py
  dojo/unittests/scans/qualys_webapp/qualys_webapp_many_vuln.xml
  dojo/unittests/scans/qualys_webapp/qualys_webapp_no_vuln.xml
  dojo/unittests/scans/qualys_webapp/qualys_webapp_one_vuln.xml
  dojo/unittests/test_qualys_webapp_parser.py
Labels: maintenance

#2314 fix default sorting findings and products
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
  dojo/templatetags/display_tags.py
Labels: bugfix

#2195 Add GitLab SAST parser
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/gitlab_sast/__init__.py
  dojo/tools/gitlab_sast/parser.py
  dojo/unittests/scans/gitlab_sast/gl-sast-report-0-vuln.json
  dojo/unittests/scans/gitlab_sast/gl-sast-report-1-vuln.json
  dojo/unittests/scans/gitlab_sast/gl-sast-report-many-vuln.json
  dojo/unittests/test_gitlab_sast_parser.py
Labels: Import Scans

#2291 adopt improvements for docker integrations-tests from travis
  docker/entrypoint-integration-tests.sh
Labels: enhancement

#2311 update datatables to 1.0.20 and fix default sorting
  dojo/static/dojo/css/datatables.min.css
  dojo/static/dojo/js/datatables.min.js
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
  dojo/templatetags/display_tags.py
Labels: bugfix

#2305 reorder queries to make prefetching work everywhere
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/middleware.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/test/views.py
  dojo/utils.py
Labels: enhancement

#2326 Add email to APIv2 user get request
  dojo/api_v2/serializers.py
Labels: maintenance

#2319 Add Note Type APIv2 endpoint
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_rest_framework.py
  dojo/urls.py
Labels: enhancement

#2304 remove some leftover print statements
  dojo/utils.py
Labels: maintenance

#2273 Fix dojo version
  dojo/__init__.py
Labels: ready-for-backport

#2333 a bug in api v2 for update wherein a finding without a jira configura…
  dojo/api_v2/views.py
Labels: bugfix

#2329 Delete old unused files
  dojo/templates/dojo/add_burp_scan.html
  dojo/templates/dojo/add_checkmarx_scan.html
  dojo/templates/dojo/add_nessus_scan.html
  dojo/templates/dojo/add_nexpose_scan.html
  dojo/templates/dojo/add_veracode_scan.html
  dojo/templates/dojo/custom_pdf_report_cover_page.html
  dojo/templates/dojo/edit_rule2.html
  dojo/templates/dojo/exist_new_product.html
  dojo/templates/dojo/report_filter_js_snippet.html
  dojo/templates/dojo/template_search.html
  dojo/templates/dojo/view_checklist.html
Labels: maintenance

#1821 Apply Template to Finding: Use replace as default option for tags
  dojo/templates/dojo/apply_finding_template_form_fields.html
Labels: enhancement

#2123 Scan Importer/Qualys infra scan WebGUI format
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/qualys/parser.py
  dojo/tools/qualys_infrascan_webgui/__init__.py
  dojo/tools/qualys_infrascan_webgui/parser.py
  dojo/tools/qualys_infrascan_webgui/utfdictcsv.py
  dojo/unittests/scans/qualys_infrascan_webgui/qualys_infrascan_webgui_0.xml
  dojo/unittests/scans/qualys_infrascan_webgui/qualys_infrascan_webgui_1.xml
  dojo/unittests/scans/qualys_infrascan_webgui/qualys_infrascan_webgui_multiple.xml
  dojo/unittests/test_qualys_infrascan_webgui_vulnerabilities.py
Labels: Import Scans, Review Needed

#2320 finding: add index on cwe column
  dojo/db_migrations/0040_finding_cwe_index.py
  dojo/models.py
Labels: New Migration, performance

#2318 deduplicate code in finding views
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/urls.py
  dojo/finding/views.py
  dojo/metrics/views.py
  dojo/note_type/views.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/templates/dojo/findings_list.html
  dojo/test_type/views.py
  tests/Finding_unit_test.py
Labels: enhancement

#2328 datatables: improve column visibility settings
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
Labels: enhancement

#2331 add default actions for main menu
  dojo/templates/base.html
Labels: enhancement

#2330 always use __date__range for ranging datetime fields
  dojo/filters.py
  dojo/home/views.py
  dojo/metrics/views.py
  dojo/utils.py
Labels: enhancement, performance

#2336 Fix broken github integration inconsistencies (#2335)
  dojo/finding/views.py
  dojo/github.py
  dojo/github_issue_link/urls.py
  dojo/github_issue_link/views.py
  dojo/models.py
  dojo/templates/dojo/edit_github.html
Labels: bugfix

#2230 merge findings: allow setting to disable it
  dojo/settings/settings.dist.py
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
Labels: enhancement, settings_changes

#2178 docker: update to python 3.6
  Dockerfile.django
  Dockerfile.nginx
Labels: maintenance

#2355 Revert "docker: update to python 3.6"
  Dockerfile.django
  Dockerfile.nginx
Labels: bugfix

#2364 require login for alert count
  dojo/user/views.py
Labels: maintenance

#2357 More GitHub integration fixes
  dojo/product/views.py
  dojo/templates/dojo/product.html
Labels: bugfix

#2348 zap parser: add title to dedupe fields + unittests
  dojo/settings/settings.dist.py
  dojo/tools/zap/parser.py
  dojo/unittests/scans/zap/empty_2.9.0.xml
  dojo/unittests/scans/zap/some_2.9.0.xml
  dojo/unittests/test_zap.py
Labels: bugfix, settings_changes

#2380 import scan ui: don't open datepicker by default
  dojo/static/dojo/js/index.js
Labels: enhancement

#2353 Do not show "push to github" if no product config set
  dojo/finding/views.py
  dojo/github.py
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/findings_list.html
Labels: bugfix

#2378 Merge master into release 1.6.0
  .dependabot/config.yml
  .github/workflows/plantuml.yml
  DOCKER.md
  README.md
  helm/defectdojo/values.yaml
  setup/postgresql.txt
Labels: do-not-merge, maintenance

#2356 run some integration tests also with jira and github enabled
  docker/entrypoint-integration-tests.sh
  tests/Finding_unit_test.py
  tests/Product_unit_test.py
  tests/base_test_class.py
  tests/dedupe_unit_test.py
  travis/integration_test-script.sh
Labels: enhancement

#2373 make notifications work with users created without usercontactinfo
  dojo/engagement/views.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/user/views.py
Labels: bugfix

#2366 restore pdf export button and update datatable to 1.0.21
  .gitignore
  dojo/static/dojo/css/datatables.css
  dojo/static/dojo/css/datatables.min.css
  dojo/static/dojo/js/datatables.js
  dojo/static/dojo/js/datatables.min.js
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
Labels: bugfix

#2387 dependency check parser: only set cve when available
  dojo/tools/dependency_check/parser.py
Labels: bugfix

#2365 Datatables for engagement list and test view
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_engagements.html
  dojo/templates/dojo/view_test.html
Labels: enhancement

#2235 similar findings: fix bug and extend with identical issues
  components/package.json
  components/yarn.lock
  dojo/finding/views.py
  dojo/models.py
  dojo/templates/dojo/view_finding.html
Labels: bugfix, enhancement

#2398 1.6.0 bugfix PRs
  .gitignore
  docker/entrypoint-integration-tests.sh
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/github.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/static/dojo/css/datatables.css
  dojo/static/dojo/css/datatables.min.css
  dojo/static/dojo/js/datatables.js
  dojo/static/dojo/js/datatables.min.js
  dojo/templates/dojo/edit_findings.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/findings_list.html
  dojo/templates/dojo/product.html
  dojo/user/views.py
  tests/Finding_unit_test.py
  tests/Product_unit_test.py
  tests/base_test_class.py
  tests/dedupe_unit_test.py
  travis/integration_test-script.sh
Labels: maintenance

#2401 Disable delete finding template tests due to chrome 83 choking on it …
  tests/Finding_unit_test.py
Labels: maintenance

#2334 Include DefectDojo_Engagement_Surveys into the main repo
  dojo/admin.py
  dojo/db_migrations/0041_engagement_survey_import.py
  dojo/filters.py
  dojo/fixtures/initial_surveys.json
  dojo/forms.py
  dojo/home/views.py
  dojo/management/commands/import_surveys.py
  dojo/management/commands/migrate_surveys.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/survey/__init__.py
  dojo/survey/urls.py
  dojo/survey/views.py
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/add_choices.html
  dojo/templates/defectDojo-engagement-survey/add_engagement.html
  dojo/templates/defectDojo-engagement-survey/add_survey.html
  dojo/templates/defectDojo-engagement-survey/add_surveys.html
  dojo/templates/defectDojo-engagement-survey/answer_survey.html
  dojo/templates/defectDojo-engagement-survey/assign_survey.html
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
  dojo/templates/defectDojo-engagement-survey/create_survey.html
  dojo/templates/defectDojo-engagement-survey/delete_survey.html
  dojo/templates/defectDojo-engagement-survey/edit_question.html
  dojo/templates/defectDojo-engagement-survey/edit_survey_questions.html
  dojo/templates/defectDojo-engagement-survey/list_questions.html
  dojo/templates/defectDojo-engagement-survey/list_surveys.html
  dojo/templates/defectDojo-engagement-survey/survey_fields.html
  dojo/templates/defectDojo-engagement-survey/surveys.html
  dojo/templates/defectDojo-engagement-survey/view_survey.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/view_eng.html
  dojo/templatetags/survey_tags.py
  dojo/urls.py
  requirements.txt
  setup.py
Labels: New Migration, enhancement, maintenance

#2171 Basic control over system settings for superusers
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/urls.py
Labels: enhancement
