Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-08, with the labels that each got.

#4898 Minikube update to make k8s tests run successfully again
  .github/workflows/k8s-testing.yml
Labels: bugfix

#4863 OAuth2: Default group and setting for staff members
  docker/entrypoint-unit-tests-devDocker.sh
  docs/content/en/integrations/social-authentication.md
  dojo/api_v2/exception_handler.py
  dojo/api_v2/serializers.py
  dojo/db_migrations/0119_default_group_is_staff.py
  dojo/forms.py
  dojo/group/queries.py
  dojo/group/views.py
  dojo/models.py
  dojo/pipeline.py
  dojo/settings/settings.dist.py
  dojo/system_settings/views.py
  dojo/unittests/test_pipeline.py
Labels: Auth Related, New Migration, enhancement

#4890 Two problems with reviews for findings
  dojo/finding/views.py
  dojo/forms.py
  dojo/user/queries.py
Labels: bugfix

#4676 SonarQube: support multiple SQ projects for one product
  docs/content/en/integrations/import.md
  dojo/api_v2/serializers.py
  dojo/db_migrations/0120_sonarqube_test_and_clean.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/fixtures/unit_sonarqube_product.json
  dojo/fixtures/unit_sonarqube_sqcNoKey.json
  dojo/fixtures/unit_sonarqube_sqcWithKey.json
  dojo/fixtures/unit_sonarqube_toolConfig1.json
  dojo/fixtures/unit_sonarqube_toolConfig2.json
  dojo/fixtures/unit_sonarqube_toolType.json
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/models.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/templates/base.html
  dojo/templates/dojo/add_product_sonarqube_configuration.html
  dojo/templates/dojo/delete_product_sonarqube_configuration.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/edit_product_sonarqube_configuration.html
  dojo/templates/dojo/new_product.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_sonarqube_configuration.html
  dojo/templates/dojo/view_test.html
  dojo/test/views.py
  dojo/tool_config/views.py
  dojo/tools/sonarqube_api/api_client.py
  dojo/tools/sonarqube_api/importer.py
  dojo/tools/sonarqube_api/updater.py
  dojo/tools/sonarqube_api/updater_from_source.py
  dojo/unittests/tools/test_sonarqube_importer.py
Labels: enhancement

#4857 Nessus parser: Fix error when fqdn is missing
  dojo/tools/nessus/parser.py
Labels: bugfix

#4908 Documentation: Naming of parser classes
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: documentation

#4896 Bugfix and enhancement for SLA notifications
  dojo/templates/notifications/sla_breach.tpl
  dojo/utils.py
Labels: bugfix, enhancement

#4891 Install chromium driver in Python
  Dockerfile.integration-tests
  tests/base_test_class.py
Labels: bugfix

#4895 Two bugfixes for engagemens lists
  dojo/engagement/views.py
  dojo/templates/dojo/engagements_all.html
Labels: bugfix

#4904 Added API for Notifications and enhancements for MetaData API
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_rest_framework.py
  dojo/urls.py
Labels: enhancement

#4928 Remove nonexisting file reference in sample data
  dojo/fixtures/defect_dojo_sample_data.json
Labels: bugfix

#4924 [GHA] Remove un-needed docker login
  .github/workflows/new-release-master-into-dev.yml
  .github/workflows/new-release-pr.yml
Labels: maintenance

#4923 [GHA - release] Bump chart version when merging master back to dev
  .github/workflows/new-release-master-into-dev.yml
  .github/workflows/new-release-pr.yml
Labels: maintenance

#4916 Add a parser for Aquasecurity's Cloudsploit
  docs/content/en/integrations/import.md
  dojo/tools/cloudsploit/__init__.py
  dojo/tools/cloudsploit/parser.py
  dojo/unittests/scans/cloudsploit/cloudsploit_many_vul.json
  dojo/unittests/scans/cloudsploit/cloudsploit_one_vul.json
  dojo/unittests/scans/cloudsploit/cloudsploit_zero_vul.json
  dojo/unittests/tools/test_cloudsploit_parser.py
Labels: Import Scans

#4941 security: update npm path-parse to 1.0.7
  components/yarn.lock
Labels: security

#4886 Dockle parser: switch to hash_code based deduplication
  dojo/settings/settings.dist.py
  dojo/tools/dockle/parser.py
Labels: bugfix

#4960 Support new format of tfsec json
  dojo/tools/tfsec/parser.py
  dojo/unittests/scans/tfsec/many_findings_current.json
  dojo/unittests/scans/tfsec/many_findings_legacy.json
  dojo/unittests/scans/tfsec/one_finding_legacy.json
  dojo/unittests/tools/test_tfsec_parser.py
Labels: bugfix

#4968 Update Google sheets to user newer libraries
  docs/content/en/integrations/google-sheets-sync.md
  dojo/google_sheet/views.py
  dojo/unittests/vcr/google_sheets/GoogleSheetsConfigTestApi.test_config_google_sheets.yaml
  requirements.txt
Labels: dependencies, bugfix

#4976 Added dd-import to WRAPPERS.md
  WRAPPERS.md
Labels: documentation

#4982 Deprecation notice for legacy authorization
  docs/content/en/getting_started/upgrading.md
  dojo/home/views.py
Labels: maintenance

#4894 Searchable fields are not displayed correctly for multiselect fields
  dojo/templates/defectDojo-engagement-survey/edit_question.html
  dojo/templates/defectDojo-engagement-survey/edit_survey_questions.html
  dojo/templates/dojo/clear_finding_review.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/new_group_member.html
  dojo/templates/dojo/new_group_member_user.html
  dojo/templates/dojo/new_product_group.html
  dojo/templates/dojo/new_product_group_group.html
  dojo/templates/dojo/new_product_member.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_group.html
  dojo/templates/dojo/new_product_type_group_group.html
  dojo/templates/dojo/new_product_type_member.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/review_finding.html
  tests/finding_test.py
  tests/group_test.py
  tests/product_group_test.py
  tests/product_member_test.py
  tests/product_type_group_test.py
  tests/product_type_member_test.py
Labels: bugfix, easy-review

#4867 cargo audit parser repaired
  dojo/tools/cargo_audit/parser.py
  dojo/unittests/tools/test_cargo_audit_parser.py
Labels: enhancement, bugfix

#4930 Incorrect False positives and Risk accepted metrics
  dojo/metrics/views.py
  dojo/product/views.py
Labels: bugfix, easy-review

#4837 Helm extra volumes
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#5004 Semgrep: Add support for INFO severity
  dojo/tools/semgrep/parser.py
  dojo/unittests/scans/semgrep/many_findings.json
  dojo/unittests/tools/test_semgrep_parser.py
Labels: bugfix

#4996 Add tags to Gitleaks parser
  dojo/tools/gitleaks/parser.py
  dojo/unittests/scans/gitleaks/issue4336.json
  dojo/unittests/scans/gitleaks/version_7.5.0.json
  dojo/unittests/tools/test_gitleaks_parser.py
Labels: enhancement

#4994 make notifications async again
  dojo/decorators.py
  dojo/notifications/helper.py
Labels: enhancement, performance
