Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-03, with the labels that each got.

#3929 set mitigation related fields correctly at close_old_findings
  dojo/api_v2/serializers.py
Labels: bugfix, easy-review

#3963 Safety parser: Fix unit tests and add component
  dojo/settings/settings.dist.py
  dojo/tools/safety/parser.py
  dojo/unittests/scans/safety/empty.json
  dojo/unittests/scans/safety/many_vulns.json
  dojo/unittests/tools/test_safety_parser.py
Labels: bugfix, easy-review

#3927 Quick report based on current finding filters
  dojo/reports/urls.py
  dojo/reports/views.py
  dojo/templates/base.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_test.html
Labels: enhancement

#3952 [GHA] Remove useless docker login
  .github/workflows/new-release-tag-docker.yml
Labels: maintenance

#3972 Change Finding Image deprecation to 2021 rather than 2020
  dojo/finding/views.py
Labels: maintenance

#3973 Add LinkedIn to Readme
  README.md
Labels: maintenance

#3986 Safety parser: Fix unit tests and add component (back-port to 1.13.x)
  dojo/settings/settings.dist.py
  dojo/tools/safety/parser.py
  dojo/unittests/scans/safety/empty.json
  dojo/unittests/scans/safety/many_vulns.json
  dojo/unittests/tools/test_safety_parser.py
Labels: bugfix

#3988 Backport: Safety parser: Fix unit tests and add component Backporting #3963
  dojo/settings/settings.dist.py
  dojo/tools/safety/parser.py
  dojo/unittests/scans/safety/empty.json
  dojo/unittests/scans/safety/many_vulns.json
  dojo/unittests/tools/test_safety_parser.py
Labels: bugfix

#3984 Fix NessusXMLParser' object has no attribute 'parse'
  dojo/tools/nessus/parser.py
  dojo/unittests/scans/nessus/nessus_v_unknown.xml
  dojo/unittests/test_factory.py
  dojo/unittests/tools/test_nessus_parser.py
Labels: bugfix, easy-review

#3985 OpenVAS parser: fix error and add unit tests
  dojo/tools/openvas_csv/parser.py
  dojo/unittests/scans/openvas/report-e2759495-f26d-4089-9c56-12a10dc36c9c.csv
  dojo/unittests/tools/test_openvas_csv_parser.py
Labels: bugfix, easy-review

#3964 Fix gitpython version and remove jsonlines
  requirements.txt
Labels: easy-review, maintenance

#3938 JIRA: allow different templates for jira description rendering
  docs/content/integrations/jira.md
  docs/static/images/jira_issue_templates.png
  dojo/db_migrations/0080_jira_issue_templates.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/issue-trackers/jira-description-limited.tpl
  dojo/templates/issue-trackers/jira-description.tpl
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_config_product.py
  dojo/unittests/test_jira_template.py
Labels: New Migration, enhancement, settings_changes

#3977 docs: migrate to github pages
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  README.md
  docs/content/contributing/how-to-write-a-parser.md
  docs/content/integrations/import.md
  docs/content/integrations/jira.md
  docs/static/images/10Security-logo.png
  docs/static/images/Twitter_Logo.png
  docs/static/images/XING_logo.png
  docs/static/images/cloudbees-logo.png
  docs/static/images/dojo_tshirt_front.png
  docs/static/images/gc_logo_2018.png
  docs/static/images/isaac.png
  docs/static/images/screenshot1.png
  docs/static/images/sda-se-logo.png
  docs/static/images/signal-iduna.png
  docs/static/images/slack_rgb.png
  docs/static/images/timo-pagel-logo.png
  docs/static/images/wso2-logo-for-screen.png
  dojo/__init__.py
  dojo/db_migrations/0001_initial.py
  dojo/models.py
  dojo/tools/risk_recon/api.py
  tests/Import_scanner_test.py
Labels: documentation

#3947 add last_status_update field and make status updates consistent
  dojo/api_v2/serializers.py
  dojo/db_migrations/0081_last_status_update.py
  dojo/db_migrations/0082_last_status_update_populate.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/test/views.py
  dojo/unittests/test_finding_helper.py
  dojo/unittests/test_utils_deduplication_reopen.py
  dojo/utils.py
  requirements.txt
Labels: Breaking Changes, New Migration, enhancement

#3993 Removal of automatic nmap scans
  docker/sample_data/initial_dojo_data.json
  docs/content/basics/features.md
  docs/content/integrations/api-docs.md
  docs/content/integrations/api-v2-docs.md
  docs/content/running/configuration.md
  docs/static/images/scan_1.png
  docs/static/images/scan_2.png
  docs/static/images/scan_3.png
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0080_remove_ipscan.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/management/commands/notify_isoc.py
  dojo/management/commands/run_scan.py
  dojo/models.py
  dojo/product/views.py
  dojo/scan/__init__.py
  dojo/scan/urls.py
  dojo/scan/views.py
  dojo/settings/settings.dist.py
  dojo/settings/template-env
  dojo/templates/dojo/edit_scan_settings.html
  dojo/templates/dojo/gmap.html
  dojo/templates/dojo/launch_va.html
  dojo/templates/dojo/view_scan.html
  dojo/templates/dojo/view_scan_settings.html
  dojo/templatetags/display_tags.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_swagger_schema.py
  dojo/urls.py
  dojo/user/helper.py
  entrypoint_scripts/common/config-vars.sh
  entrypoint_scripts/common/install-env
  entrypoint_scripts/os/linux.sh
  requirements.txt
  setup.py
  setup/scripts/common/config-vars.sh
  setup/scripts/common/install-env
  setup/scripts/os/linux.sh
Labels: maintenance

#3998 Make the Django session duration configurable
  dojo/settings/settings.dist.py
Labels: enhancement, settings_changes

#3906 Update spotbugs parser
  dojo/settings/settings.dist.py
  dojo/tools/spotbugs/parser.py
  dojo/unittests/scans/spotbugs/many_findings.xml
  dojo/unittests/scans/spotbugs/no_finding.xml
  dojo/unittests/test_spotbugs_parser.py
Labels: enhancement

#4013 Anchore Grype parser: add deduplication
  docs/content/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/anchore_grype/many_vulns2.json
  dojo/unittests/scans/anchore_grype/many_vulns3.json
  dojo/unittests/tools/test_anchore_grype_parser.py
Labels: enhancement, hashcode-update-needed

#3994 Updates to Bulk Edit for Findings
  dojo/templates/dojo/findings_list_snippet.html
Labels: easy-review, enhancement

#4015 add magical illusionary roadmap
  README.md
Labels: easy-review

#3926 Authorization V2: authorization for products
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/authorization_decorators.py
  dojo/authorization/roles_permissions.py
  dojo/benchmark/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/metrics/views.py
  dojo/product/queries.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/search/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/delete_product_member.html
  dojo/templates/dojo/edit_product_member.html
  dojo/templates/dojo/new_product_member.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/view_engagements.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templatetags/authorization_tags.py
  dojo/templatetags/display_tags.py
  dojo/unittests/authorization/test_authorization.py
  dojo/unittests/authorization/test_authorization_decorators.py
  dojo/unittests/authorization/test_authorization_tags.py
Labels: enhancement, settings_changes

#3753 Reimport feature: use the configurable deduplication for matching new findings to existing findings
  DOCKER.md
  docker-compose.override.integration_tests.yml
  dojo/api_v2/serializers.py
  dojo/management/commands/dedupe.py
  dojo/models.py
  dojo/reimport_utils.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/tools/bandit/parser.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/scans/sonarqube/sonar-6-findings-1-unique_id_changed.html
  dojo/unittests/scans/veracode/many_findings_different_hash_code_different_unique_id.xml
  dojo/unittests/scans/veracode/many_findings_same_hash_code_different_unique_id.xml
  dojo/unittests/scans/veracode/many_findings_same_unique_id_different_hash_code.xml
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_import_reimport.py
  dojo/utils.py
  requirements.txt
  tests/dedupe_test.py
Labels: Breaking Changes, enhancement, settings_changes

#4044 Fix for new parser infra
  docs/content/contributing/how-to-write-a-parser.md
Labels: documentation, easy-review

#4045 Netsparker: Fix crashing parser at method get_findings()
  README.md
  dojo/tools/netsparker/parser.py
Labels: bugfix

#4046 Update Aqua-scanner import for CVSS3 finding field
  dojo/tools/aqua/parser.py
  dojo/unittests/tools/test_aqua_parser.py
Labels: enhancement

#4027 Add PMD Parser
  dojo/tools/pmd/__init__.py
  dojo/tools/pmd/parser.py
  dojo/unittests/scans/pmd/pmd_many_vulns.csv
  dojo/unittests/scans/pmd/pmd_no_vuln.csv
  dojo/unittests/scans/pmd/pmd_one_vuln.csv
  dojo/unittests/tools/test_pmd_parser.py
Labels: Import Scans

#4051 JIRA: fix webhook mitigated by
  dojo/finding/helper.py
  dojo/jira_link/views.py
Labels: bugfix, easy-review

#4048 dedupe: select oldest (lowest id) finding as original
  dojo/fixtures/dojo_testdata.json
  dojo/management/commands/fix_loop_duplicates.py
  dojo/reimport_utils.py
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_duplication_loops.py
  dojo/unittests/test_rest_framework.py
  dojo/utils.py
Labels: bugfix

#4055 Hash code deduplication for GitLab SAST and Checkov
  dojo/settings/settings.dist.py
Labels: easy-review, enhancement

#3957 JIRA status reconciliation management command
  docker/entrypoint-unit-tests-devDocker.sh
  docs/content/integrations/jira.md
  dojo/db_migrations/0001_initial.py
  dojo/db_migrations/0006_django2_upgrade.py
  dojo/db_migrations/0082_last_status_update_populate.py
  dojo/finding/views.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/templates/dojo/view_finding.html
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_create_edit_update_finding_no_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_creation.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_no_push_to_jira_but_push_all.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_no_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_twice_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_twice_push_to_jira_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_with_push_to_jira_epic_as_issue_type.yaml
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_with_push_to_jira_is_false_but_push_all.yaml
Labels: enhancement

#4056 Fix SSLyze scanner: Remove unnecessary read
  dojo/tools/sslyze/parser.py
  dojo/unittests/tools/test_sslyze_json_parser.py
  dojo/unittests/tools/test_sslyze_xml_parser.py
Labels: bugfix, easy-review

#4018 celery: allow forced synchronous execution
  dojo/decorators.py
Labels: maintenance

#4074 fix counts returned to non-staff users in apiv2
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/models.py
Labels: bugfix

#4072 Fix survey submission 500 error
  dojo/forms.py
Labels: bugfix

#4066 [docker-compose] Fix image version in use
  docker-compose.yml
Labels: bugfix

#4060 Nexpose dedup settings
  dojo/settings/settings.dist.py
Labels: enhancement

#4054 add missing ordering for api filters
  dojo/filters.py
Labels: enhancement

#4025 Burp REST API: implement de-duplication and request/response
  dojo/settings/settings.dist.py
  dojo/tools/burp_api/parser.py
  dojo/unittests/tools/test_burp_api_parser.py
Labels: enhancement

#4065 Hide reports list behind a feature flag
  dojo/forms.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/report_builder.html
  dojo/templatetags/display_tags.py
  tests/report_builder_test.py
Labels: easy-review, maintenance

#4062 Updates Bulk Edit status combination/validation for Tests
  dojo/templates/dojo/view_test.html
Labels: bugfix, easy-review

#4075 Add an extra javascript block to base.html
  dojo/templates/base.html
Labels: easy-review, maintenance

#4081 Arachni parser: maintenace and fix 'Info' error
  docs/content/integrations/import.md
  dojo/api.py
  dojo/engagement/views.py
  dojo/reimport_utils.py
  dojo/test/views.py
  dojo/tools/arachni/parser.py
  dojo/unittests/scans/arachni/arachni.afr.json
  dojo/unittests/scans/arachni/dd.com.afr.json
  dojo/unittests/scans/arachni/js.com.afr.json
  dojo/unittests/tools/test_arachni_parser.py
Labels: bugfix

#4068 SonarQube api filters
  docs/content/integrations/import.md
  dojo/db_migrations/0084_add_extras_in_tool.py
  dojo/models.py
  dojo/tools/sonarqube_api/api_client.py
Labels: New Migration, enhancement

#3907 Qualys Infrastructure Scan parser: maintenance and fix date of finding
  dojo/tools/qualys_infrascan_webgui/parser.py
  dojo/tools/qualys_infrascan_webgui/utfdictcsv.py
  dojo/unittests/scans/qualys_infrascan_webgui/qualys_infrascan_webgui_3.xml
  dojo/unittests/tools/test_qualys_infrascan_webgui_parser.py
Labels: maintenance

#4087 Remove generation of PDF reports in documentation
  docs/content/basics/features.md
Labels: documentation

#4082 Nexpose parser: Process all hosts + add Endpoint(and protocol) + add new reference links + test
  dojo/tools/nexpose/parser.py
  dojo/unittests/scans/nexpose/report_auth.xml
  dojo/unittests/tools/test_nexpose_parser.py
Labels: enhancement

#4059 Some typo fixes
  docker/extra_settings/README.md
  docs/content/integrations/social-authentication.md
Labels: documentation, easy-review

#4078 edit engagement: unhide error messages, fix testing lead error
  dojo/engagement/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/user/helper.py
Labels: bugfix

#4093 jira webhook update datetime parse fix
  dojo/jira_link/views.py
Labels: bugfix

#4095 api docs: switch back to supported drf-yasg
  dojo/api_v2/prefetch/schema.py
  dojo/api_v2/schema/extra_schema.py
  dojo/api_v2/schema/utils.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/risk_acceptance/api.py
  dojo/settings/settings.dist.py
  dojo/unittests/test_swagger_schema.py
  dojo/urls.py
  requirements.txt
Labels: apiv2, maintenance

#4094 stub/potential findings: fix push to JIRA
  dojo/finding/views.py
  dojo/forms.py
  dojo/jira_link/helper.py
Labels: bugfix

#4090 Fix title max length and add more tests
  dojo/tools/aws_prowler/parser.py
  dojo/tools/aws_scout2/parser.py
  dojo/tools/scout_suite/parser.py
  dojo/unittests/scans/aws_scout2/aws_config.js
  dojo/unittests/tools/test_aws_prowler_parser.py
  dojo/unittests/tools/test_aws_scout2_parser.py
  dojo/unittests/tools/test_scout_suite_parser.py
Labels: bugfix, easy-review

#4088 SARIF parser: fix error when titles are to long
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/bash-report.sarif
  dojo/unittests/scans/sarif/dependency_check.sarif
  dojo/unittests/scans/sarif/taint-python-report.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: bugfix, easy-review

#4091 SKF parser: add unit tests
  dojo/tools/skf/parser.py
  dojo/unittests/scans/skf/export.csv
  dojo/unittests/tools/test_skf_parser.py
Labels: maintenance

#4097 Nikto parser: add support for JSON format
  docs/content/integrations/import.md
  dojo/tools/nikto/parser.py
  dojo/unittests/scans/nikto/juice-shop.json
  dojo/unittests/tools/test_nikto_parser.py
Labels: Import Scans

#4030 Add new parser - Wfuzz
  docs/content/integrations/import.md
  dojo/tools/wfuzz/__init__.py
  dojo/tools/wfuzz/parser.py
  dojo/unittests/scans/wfuzz/many_findings.json
  dojo/unittests/scans/wfuzz/no_findings.json
  dojo/unittests/scans/wfuzz/one_dup_finding.json
  dojo/unittests/scans/wfuzz/one_finding.json
  dojo/unittests/tools/test_wfuzz_parser.py
Labels: Import Scans

#4033 prefetch for engagements all page
  dojo/engagement/views.py
  dojo/templates/dojo/engagements_all.html
Labels: easy-review, performance

#3873 Improve GitLab Dependency Scanning hash code configuration
  dojo/settings/settings.dist.py
  dojo/unittests/test_import_reimport.py
Labels: enhancement

#4110 allow jira reconciliation to run through celerybeat
  dojo/management/commands/jira_status_reconciliation.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
Labels: enhancement

#4016 Add checkmarx OSA parser and cvss3 score. Make some fields optional
  docker-compose.override.integration_tests.yml
  docker-compose.override.ptvsd.yml
  docs/content/basics/features.md
  docs/content/integrations/import.md
  dojo/db_migrations/0085_add_publish_date_cvssv3_score.py
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/view_finding.html
  dojo/tools/checkmarx_osa/__init__.py
  dojo/tools/checkmarx_osa/parser.py
  dojo/unittests/scans/checkmarx_osa/multiple_findings.json
  dojo/unittests/scans/checkmarx_osa/no_finding.json
  dojo/unittests/scans/checkmarx_osa/single_finding.json
  dojo/unittests/scans/checkmarx_osa/single_finding_confirmed.json
  dojo/unittests/scans/checkmarx_osa/single_finding_false_positive.json
  dojo/unittests/scans/checkmarx_osa/single_finding_no_libraryId.json
  dojo/unittests/scans/checkmarx_osa/single_finding_no_score.json
  dojo/unittests/scans/checkmarx_osa/single_finding_no_url.json
  dojo/unittests/tools/test_checkmarx_osa_parser.py
  tests/finding_test.py
Labels: Import Scans, New Migration, settings_changes

#4122 Make mitigation, impact, url fields optional
  docs/content/running/upgrading.md
Labels: documentation

#4120 Clair parser: fixes TypeError: string indices must be integers
  docker/entrypoint-unit-tests-devDocker.sh
  dojo/tools/clair/parser.py
  dojo/unittests/scans/clair/empty.json
  dojo/unittests/scans/clair/many_vul.json
  dojo/unittests/tools/test_clair_parser.py
Labels: bugfix, easy-review

#4111 SARIF: support date of findings
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/DefectDojo_django-DefectDojo__2020-12-11_13 42 10__export.sarif
  dojo/unittests/scans/sarif/njsscan.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: easy-review, enhancement

#3967 Veracode parser: remove lxml dependency
  dojo/finding/helper.py
  dojo/tools/veracode/parser.py
  dojo/unittests/scans/veracode/mitigated_finding.xml
  dojo/unittests/scans/veracode/veracode_scan.xml
  dojo/unittests/test_import_reimport.py
  dojo/unittests/tools/test_veracode_parser.py
Labels: maintenance

#4133 WPScan: Add more tests and fixes missing finding
  dojo/tools/wpscan/parser.py
  dojo/unittests/scans/wpscan/empty.json
  dojo/unittests/scans/wpscan/sample.json
  dojo/unittests/scans/wpscan/wordpress.json
  dojo/unittests/scans/wpscan/wpscan.json
  dojo/unittests/tools/test_wpscan_parser.py
Labels: bugfix

#4146 jira helper: remove print statement
  dojo/jira_link/helper.py
Labels: easy-review

#4132 JIRA: Always check credentials when creating/saving a JIRA instance
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/unittests/test_jira_config_product.py
Labels: bugfix, easy-review

#4163 Fix MobSF parser
  dojo/tools/mobsf/parser.py
  dojo/unittests/tools/test_mobsf_parser.py
Labels: bugfix, easy-review

#4149 alert count: don't get them on every dropdown click
  dojo/templates/base.html
Labels: bugfix, performance

#4164 jira: fix crash on invalid credentials
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_config_product.py
Labels: bugfix

#4166 Fix: Nexpose ref URL format
  dojo/tools/nexpose/parser.py
Labels: bugfix

#4165 Cookie cutter template parser for new scanners
  docs/content/contributing/how-to-write-a-parser.md
Labels: documentation, enhancement

#3849 Publish the Helm chart tarball with each release
  .github/workflows/new-release-tag-docker.yml
Labels: enhancement

#4170 Revert Helm chart PRs, suspected to cause GHA to hang
  .github/workflows/new-release-tag-docker.yml
  KUBERNETES.md
Labels: maintenance

#4171 Publish the Helm chart tarball with each release (try 2)
  .github/workflows/new-release-tag-docker.yml
  KUBERNETES.md
Labels: enhancement

#4177 prod overview: fix perf regression
  dojo/finding/views.py
  dojo/product/views.py
Labels: bugfix, performance

#4134 finding.save and dedupe streamlining
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/management/commands/dedupe.py
  dojo/management/commands/rename_whitesource_findings.py
  dojo/models.py
  dojo/reimport_utils.py
  dojo/risk_acceptance/helper.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_finding_helper.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: bugfix, enhancement

#4179 Ability to invoke fix_loop_duplicates from celerybeat
  dojo/settings/settings.dist.py
  dojo/tasks.py
Labels: enhancement
