Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-02, with the labels that each got.

#3764 Safety parser: fix error in unit tests
  dojo/unittests/tools/test_safety_parser.py
Labels: maintenance

#2604 Fix broken nexpose parser
  dojo/tools/nexpose/parser.py
  dojo/unittests/scans/nexpose/many_vulns.xml
  dojo/unittests/scans/nexpose/no_vuln.xml
  dojo/unittests/tools/test_nexpose_parser.py
Labels: bugfix

#3759 Allow Findings filter by tags of all object levels
  dojo/filters.py
Labels: enhancement

#3755 api: fix authorized product allowance for Test retrieval
  dojo/api_v2/views.py
Labels: bugfix

#3767 Fix helm chart
  helm/defectdojo/templates/django-ingress.yaml
Labels: bugfix

#3788 Safety parser: fix error in unit tests
  dojo/unittests/test_safety_parser.py
Labels: bugfix

#3790 Security fixes for reports/notes/enpoints via APIv2
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/risk_acceptance/api.py
Labels: security

#3734 Sonarqube HTML reports fix #3725
  dojo/tools/sonarqube/parser.py
  dojo/unittests/scans/sonarqube/sonar.html
  dojo/unittests/tools/test_sonarqube_parser.py
Labels: bugfix

#3763 AWS Prowler parser maintenance
  dojo/tools/aws_prowler/parser.py
  dojo/unittests/scans/aws_prowler/many_vuln2.csv
  dojo/unittests/tools/test_aws_prowler_parser.py
Labels: maintenance

#3700 Multiple Endpoint object query fix
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/test/views.py
Labels: bugfix

#3780 product: prefetch verified count, add missing indexes 🏎️
  dojo/db_migrations/0072_composite_index.py
  dojo/endpoint/views.py
  dojo/finding/urls.py
  dojo/models.py
  dojo/product/views.py
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/view_product_type.html
Labels: New Migration, performance

#3801 Updated UI product name max chars to match model and API
  dojo/forms.py
Labels: bugfix

#3768 risk acceptance: fix notes bugs
  dojo/engagement/views.py
  dojo/templates/dojo/view_risk_acceptance.html
Labels: bugfix

#3796 Fix Burp blank response bug #3795
  dojo/tools/burp/parser.py
  dojo/unittests/scans/burp/one_finding_with_blank_response.xml
  dojo/unittests/scans/burp/one_finding_with_cwe.xml
  dojo/unittests/tools/test_burp_parser.py
Labels: bugfix

#3805 updating release diagram
  doc/branching_model.png
Labels: maintenance

#3806 update release diagram
  doc/branching_model.png
Labels: maintenance

#3784 DSOP parser: remove pandas and fix twistlock CVE
  dojo/tools/dsop/parser.py
  dojo/unittests/tools/test_dsop_parser.py
  requirements.txt
Labels: dependencies, maintenance

#3427 Allow marking Qualys WAS security weaknesses as findings.
  dojo/settings/settings.dist.py
  dojo/tools/qualys_webapp/parser.py
  dojo/unittests/tools/test_qualys_webapp_parser.py
Labels: enhancement, settings_changes

#3730 Metrics query optimizations
  dojo/filters.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/unittests/test_metrics_queries.py
Labels: enhancement, performance

#3770 cleanup: remove Python2 __unicode__ everywhere
  dojo/models.py
  dojo/tools/arachni/parser.py
Labels: maintenance

#3811 products: only prefetch github data if enabled
  dojo/product/views.py
Labels: performance

#3810 product types: remove unused count prefetch
  dojo/product_type/views.py
Labels: performance

#3769 jira webhook: fix risk acceptance handling
  dojo/jira_link/views.py
Labels: bugfix

#3747 Fix google sheets + tests
  dojo/db_migrations/0073_sheets_textfields.py
  dojo/google_sheet/views.py
  dojo/models.py
  dojo/settings/exception_filter.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_google_sheets_configuration.py
  dojo/unittests/test_system_settings.py
  dojo/unittests/vcr/google_sheets/GoogleSheetsConfigTestApi.test_config_google_sheets.yaml
  tests/base_test_class.py
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
  tests/test-dojo-sheets-NONEXISTING.json
Labels: New Migration, bugfix, settings_changes

#3822 Fix deduplication hashcode fields for Dependency Track scanner
  dojo/settings/settings.dist.py
Labels: easy-review, hashcode-update-needed

#3819 Show boolean fields in product types as icons
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/view_product_type.html
Labels: easy-review

#3828 risk acceptance rename left over reporter to owner
  dojo/filters.py
  dojo/templates/dojo/dashboard.html
Labels: bugfix, easy-review

#3825 store tags for new (ad hoc) findings
  dojo/product/views.py
  dojo/test/views.py
Labels: bugfix, easy-review

#3802 anchore parser: Fix image_digest/imageDigest error
  dojo/tools/anchore_engine/parser.py
  dojo/unittests/scans/anchore/many_vulns_2.4.1.json
  dojo/unittests/tools/test_anchore_parser.py
Labels: bugfix, easy-review

#3826 fixing #3824
  dojo/home/views.py
  dojo/templates/dojo/dashboard.html
Labels: bugfix

#3814 Add parser for Anchore Grype scan
  dojo/tools/anchore_grype/__init__.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/anchore_grype/many_vulns.json
  dojo/unittests/scans/anchore_grype/no_vuln.json
  dojo/unittests/tools/test_anchore_grype_parser.py
Labels: Import Scans, easy-review

#3803 Add Close Engagement Notification
  dojo/db_migrations/0074_notifications_close_engagement.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/models.py
Labels: New Migration, enhancement

#3834 tests: fix add finding javascript error
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/view_eng.html
  tests/test_test.py
Labels: bugfix, easy-review

#3839 finding.save() + add logging of the JIRA issue key to jira webhook
  dojo/jira_link/views.py
Labels: bugfix

#3748 feature flag: Track Import history per Test
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0075_import_history.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/models.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/paging_snippet.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_engagements.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_import_reimport.py
  dojo/unittests/test_utils.py
  dojo/urls.py
  dojo/utils.py
  requirements.txt
Labels: New Migration, enhancement, settings_changes

#3856 Make the engagement view more consistent
  dojo/templates/defectDojo-engagement-survey/surveys.html
  dojo/templates/dojo/view_eng.html
Labels: enhancement

#3855 import_scan: add test response field to swagger docs
  dojo/api_v2/serializers.py
Labels: apiv2, bugfix

#3813 Make mitigated date editable
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/field-datetime.html
  dojo/unittests/test_finding_helper.py
Labels: enhancement, settings_changes

#3858 Reimport: keep false positive and out of scope history #3848
  dojo/api_v2/serializers.py
  dojo/test/views.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_import_reimport.py
Labels: bugfix

#3804 node/yarn: update to v14 and 1.22.10
  Dockerfile.nginx
Labels: dependencies, easy-review, javascript, maintenance

#3812 add paging + filter to list of tests, engagements. similar findings
  dojo/db_migrations/0001_initial.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/search/views.py
  dojo/static/dojo/css/dojo.css
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/action_history.html
  dojo/templates/dojo/components.html
  dojo/templates/dojo/dev_env.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/filter_js_snippet.html
  dojo/templates/dojo/filter_snippet.html
  dojo/templates/dojo/finding_related_list.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/note_type.html
  dojo/templates/dojo/paging_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_components.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/reports.html
  dojo/templates/dojo/request_endpoint_report.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/rules.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/test_type.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_engagements.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/survey_tags.py
  dojo/test/views.py
  tests/Import_scanner_test.py
  tests/dedupe_test.py
  tests/engagement_test.py
Labels: enhancement, performance

#3880 feat(docs): trigger gh-pages build on push to dev
  .github/workflows/gh-pages.yml
Labels: documentation, gh-pages-update

#3757 AuthZv2.0: Object-based authorization (1st pull request)
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/__init__.py
  dojo/authorization/authorization.py
  dojo/authorization/authorization_decorators.py
  dojo/authorization/roles_permissions.py
  dojo/db_migrations/0076_authorization.py
  dojo/filters.py
  dojo/forms.py
  dojo/models.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/urls.py
  dojo/product_type/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/delete_product_type_member.html
  dojo/templates/dojo/edit_product_type_member.html
  dojo/templates/dojo/new_product_type_member.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/view_product_type.html
  dojo/templatetags/authorization_tags.py
  dojo/unittests/authorization/__init__.py
  dojo/unittests/authorization/test_authorization.py
Labels: New Migration, enhancement, settings_changes

#3882 documentation: Fix edit link and integrate doc folder into docs
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
  doc/guide_to_parser_writing.md
  docs/config.toml
  docs/content/contributing/branching-model.md
  docs/content/contributing/how-to-write-a-parser.md
  docs/static/images/branching_model.png
  docs/static/images/branching_model.puml
Labels: documentation

#3866 Fix risk acceptance celery handler + align @task decorators
  dojo/jira_link/helper.py
  dojo/management/commands/rename_whitesource_findings.py
  dojo/management/commands/test_celery_decorator.py
  dojo/notifications/helper.py
  dojo/risk_acceptance/helper.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
  dojo/tools/tool_issue_updater.py
  dojo/utils.py
Labels: bugfix, settings_changes

#3886 Allow Login URL to be changed
  dojo/settings/settings.dist.py
Labels: enhancement

#3889 update social-auth-core to support pyjwt 2.0.1
  requirements.txt
Labels: bugfix, easy-review

#3892 sonarqube & github updater: add missing import
  dojo/product/views.py
  dojo/tools/sonarqube_api/updater_from_source.py
Labels: bugfix, easy-review

#3868 Nmap parser remove lxml and support vulners script
  dojo/tools/nmap/parser.py
  dojo/unittests/scans/nmap/nmap_0port.xml
  dojo/unittests/scans/nmap/nmap_1port.xml
  dojo/unittests/scans/nmap/nmap_multiple_port.xml
  dojo/unittests/scans/nmap/nmap_script_vulners.xml
  dojo/unittests/tools/test_nmap_parser.py
Labels: easy-review, maintenance

#3867 Remove an unused script that validate Acunetix files
  tests/validate_acunetix_scan_xml.py
Labels: easy-review, maintenance

#3872 Nexpose parser bugfixes
  dojo/api.py
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/test/views.py
  dojo/tools/nexpose/parser.py
  dojo/unittests/scans/nexpose/report_auth.xml
  dojo/unittests/tools/test_nexpose_parser.py
Labels: bugfix

#3853 fix typo in delete_duplicates
  dojo/db_migrations/0077_delete_dupulicates.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/tasks.py
Labels: New Migration, easy-review, maintenance

#3860 Fix editing of Engagement checklist
  dojo/engagement/views.py
  dojo/templates/dojo/checklist.html
Labels: bugfix

#3861 Rearrange for cvssv3
  dojo/db_migrations/0078_cvssv3_rename_verbose_name.py
  dojo/forms.py
  dojo/models.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
  dojo/templates/dojo/custom_html_report_endpoint_list.html
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_finding.html
  tests/finding_test.py
  tests/product_test.py
  tests/test_test.py
Labels: New Migration, enhancement

#3895 fix typo when editing engagement
  dojo/engagement/views.py
Labels: bugfix, easy-review

#3883 improve jira validation and error reporting
  dojo/finding/views.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/product/views.py
  dojo/templates/dojo/view_finding.html
  dojo/test/views.py
  dojo/utils.py
Labels: bugfix, enhancement

#3885 aftercare: don't show paging snippet if no results, fix tags field layout
  dojo/filters.py
  dojo/forms.py
  dojo/templates/dojo/paging_snippet.html
Labels: easy-review

#3750 Make the dashboard consistent
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/home/views.py
  dojo/metrics/views.py
  dojo/templates/base.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/unittests/test_dashboard.py
Labels: enhancement

#3897 aftercare: fix datatables viewing duplicate findings
  dojo/finding/views.py
  dojo/templates/dojo/finding_related_list.html
  dojo/templates/dojo/paging_snippet.html
  dojo/templates/dojo/view_finding.html
Labels: bugfix

#3909 aftercare: add finding from template fix
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/templates/dojo/view_test.html
  dojo/test/views.py
Labels: bugfix

#3915 Dynamic infrastructure: implement detailed mode
  dojo/tools/checkmarx/parser.py
  dojo/tools/factory.py
  dojo/tools/sonarqube/parser.py
  dojo/unittests/tools/test_checkmarx_parser.py
  dojo/unittests/tools/test_sonarqube_parser.py
Labels: bugfix

#3912 Helm mount ca volume, ingress spec
  helm/defectdojo/Chart.yaml
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/django-ingress.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3914 Add configurable disclaimer to notifications and reports
  dojo/db_migrations/0079_system_settings_disclaimer.py
  dojo/forms.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/reports/views.py
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/notifications/engagement_added.tpl
  dojo/templates/notifications/other.tpl
  dojo/templates/notifications/product_added.tpl
  dojo/templates/notifications/product_type_added.tpl
  dojo/templates/notifications/report_created.tpl
  dojo/templates/notifications/risk_acceptance_expiration.tpl
  dojo/templates/notifications/scan_added.tpl
  dojo/templates/notifications/sla_breach.tpl
  dojo/templates/notifications/test_added.tpl
  dojo/templates/notifications/upcoming_engagement.tpl
  dojo/templates/notifications/user_mentioned.tpl
Labels: New Migration, enhancement

#3930 Let users not configure personal notifications to Microsoft Teams
  docs/content/basics/features.md
  docs/static/images/notifications_1.png
  dojo/templates/dojo/notifications.html
  dojo/templates/dojo/view_product_details.html
Labels: enhancement

#3940 view_test: fix paging of findings
  dojo/templates/dojo/view_test.html
Labels: bugfix

#3941 view_test: fix paging of findings (backport to 1.13.x)
  dojo/templates/dojo/view_test.html
Labels: bugfix

#3948 [GHA] Lint helm charts
  .github/workflows/test-helm-chart.yml
  ct.yaml
  helm/defectdojo/Chart.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3936 GHA: Test multiple k8s versions
  .github/workflows/k8s-testing.yml
  helm/defectdojo/templates/django-ingress.yaml
Labels: bugfix

#3950 remove left over risk acceptance jira comment code
  dojo/risk_acceptance/helper.py
Labels: bugfix, easy-review

#3953 jira helper: remove redundant .save() calls
  dojo/jira_link/helper.py
Labels: bugfix, easy-review

#3949 fix typo in duplicate_reopen
  dojo/utils.py
Labels: bugfix, easy-review

#3956 fix dates and reimport history for similar / duplicate findings
  dojo/templates/dojo/finding_related_row.html
Labels: bugfix, easy-review
