Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-01, with the labels that each got.

#3568 Add unit tests for Bandit parser
  dojo/tools/bandit/parser.py
  dojo/unittests/scans/bandit/many_vulns.json
  dojo/unittests/scans/bandit/no_vuln.json
  dojo/unittests/scans/bandit/one_vuln.json
  dojo/unittests/test_bandit_parser.py
Labels: enhancement

#3574 remove unused / left over custom_field dependency
  docker/sample_data/initial_dojo_data.json
  dojo/management/commands/migrate_meta.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/unittests_legacy/test_endpoint_metadata.py
  requirements.txt
Labels: Breaking Changes, maintenance, settings_changes

#3578 Component enhancements
  dojo/components/sql_group_concat.py
  dojo/components/views.py
  dojo/filters.py
  dojo/product/views.py
  dojo/templates/base.html
  dojo/templates/dojo/components.html
  dojo/templates/dojo/product_components.html
Labels: enhancement

#3572 Add the close_old_findings parameter also to reimport API
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/test/views.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_import_reimport.py
Labels: enhancement

#3598 feat(alerts): automated cleanup of alerts per user
  dojo/settings/settings.dist.py
  dojo/tasks.py
  dojo/unittests/test_cleanup_alerts.py
Labels: enhancement, settings_changes

#3596 Reimport (UI): Preserve existing tags when reimporting scan/test
  dojo/forms.py
  dojo/test/views.py
Labels: bugfix

#3592 Send status changes from re-import to jira
  dojo/test/views.py
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
Labels: bugfix

#3580 Update sample data fixture file
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/unittests/test_sample_data.py
Labels: maintenance

#3567 Parameter confidence is optional and CWE's are not always numerical in GitLab SAST
  dojo/tools/gitlab_sast/parser.py
  dojo/unittests/scans/gitlab_sast/gl-sast-report-confidence.json
  dojo/unittests/scans/gitlab_sast/gl-sast-report-cwe.json
  dojo/unittests/test_gitlab_sast_parser.py
Labels: bugfix

#3562 system settings through apiv2
  dojo/api_v2/serializers.py
Labels: enhancement

#3601 fix(qualys-parser): map qid to vuln_id_from_tool
  dojo/tools/qualys/parser.py
Labels: bugfix

#3600 feat(clair parser): parse component name and version
  dojo/tools/clair/parser.py
Labels: enhancement

#3603 Initial parser doc
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
  doc/guide_to_parser_writing.md
Labels: documentation

#3610 Add Scantist Vulnerability Scan Parser
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/scantist/__init__.py
  dojo/tools/scantist/parser.py
  dojo/unittests/scans/scantist/scantist-many-vuln.json
  dojo/unittests/scans/scantist/scantist-no-vuln.json
  dojo/unittests/scans/scantist/scantist-one-vuln.json
  dojo/unittests/test_scantist_parser.py
Labels: Import Scans

#3622 Security: Prevent XEE in parsers, Prevent open redirect
  dojo/endpoint/views.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/survey/views.py
  dojo/tools/acunetix/parser_helper.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/veracode/parser.py
  dojo/unittests/test_deduplication_logic.py
  dojo/utils.py
  tests/validate_acunetix_scan_xml.py
Labels: security

#2211 Import Gitlab projects as DefectDojo products fix Issue #1984
  dojo/pipeline.py
  dojo/settings/settings.dist.py
  requirements.txt
Labels: enhancement

#3591 Update to release workflow
  BRANCHING-MODEL.md
  doc/branching_model.puml
Labels: documentation

#3608 APIv1: disable by default
  dojo/api.py
  dojo/settings/settings.dist.py
  dojo/unittests/test_api_v1.py
Labels: Breaking Changes, apiv1

#3621 Improve Micro Focus Webinspect parser
  dojo/tools/microfocus_webinspect/parser.py
  dojo/unittests/test_microfocus_webinspect_parser.py
Labels: Import Scans

#3570 3520: Added OSSIndex Devaudit scanner import functionality
  docker/unit-tests.sh
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/ossindex_devaudit/__init__.py
  dojo/tools/ossindex_devaudit/parser.py
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_empty_cwe.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_empty_reference.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_missing_cwe.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_missing_reference.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_multiple_vulns.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_no_vuln.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_null_cwe.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_one_vuln.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_severity_critical.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_severity_high.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_severity_info.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_severity_low.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_severity_medium.json
  dojo/unittests/scans/ossindex_devaudit_sample/ossindex_devaudit_vuln_no_cvssscore.json
  dojo/unittests/test_ossindex_devaudit_parser.py
Labels: Import Scans

#3629 fix anchore reimport, sync reimport logic API<->UI, add unit tests
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/scans/anchore/one_vuln_many_files.json
  dojo/unittests/test_import_reimport.py
  dojo/utils.py
Labels: bugfix

#3616 Snyk parser enhancements
  dojo/tools/snyk/parser.py
  dojo/unittests/scans/snyk/all-projects_many_vulns.json
  dojo/unittests/scans/snyk/all-projects_no_vulns.json
  dojo/unittests/scans/snyk/all-projects_one_vuln.json
  dojo/unittests/scans/snyk/single_project_many_vulns.json
  dojo/unittests/scans/snyk/single_project_no_vulns.json
  dojo/unittests/scans/snyk/single_project_one_vuln.json
  dojo/unittests/test_snyk_parser.py
Labels: Import Scans

#3602 ScoutSuite parser
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/factory.py
  dojo/tools/scout_suite/__init__.py
  dojo/tools/scout_suite/parser.py
  dojo/unittests/scans/scout_suite/no_vuln.js
  dojo/unittests/scans/scout_suite/two_findings.js
  dojo/unittests/test_scoutsuite_parser.py
Labels: Import Scans

#3606 jira webhook: fix incoming author name check
  dojo/fixtures/dojo_testdata.json
  dojo/jira_link/views.py
  dojo/unittests/test_jira_webhook.py
Labels: bugfix

#3585 Fix JFrog Xray JSON parser for CWE and CVSS v3 (#3597 fix)
  dojo/tools/jfrogxray/parser.py
  dojo/unittests/scans/jfrogxray/many_vulns2.json
  dojo/unittests/test_jfrogxray_parser.py
  requirements.txt
Labels: bugfix

#3634 Add more unit tests for AppSpider report parser
  dojo/tools/appspider/parser.py
  dojo/unittests/scans/appspider/one_vuln.xml
  dojo/unittests/test_appspider.py
Labels: enhancement

#3542 Importer: Burp REST API (Fix #3447)
  dojo/fixtures/test_type.json
  dojo/forms.py
  dojo/templates/dojo/import_scan_results.html
  dojo/tools/burp_api/__init__.py
  dojo/tools/burp_api/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/burp_suite_pro/example.json
  dojo/unittests/test_burp_api_parser.py
Labels: Import Scans

#3528 Add swagger schema test with tagged test cases
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  dojo/unittests/test_swagger_schema.py
Labels: apiv2, documentation, enhancement

#3635 remove old/dead/left-behind code
  dojo/models.py
Labels: maintenance

#3582 Exposing additional securityContext settings in parent values.yaml
  helm/defectdojo/Chart.yaml
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#3619 Fix sonarqube 3-hourly sync job
  dojo/settings/settings.dist.py
Labels: bugfix

#3516 [APIv2] Prefetch Mixins + Composable Swagger Schema
  dojo/api_v2/prefetch/__init__.py
  dojo/api_v2/prefetch/mixins.py
  dojo/api_v2/prefetch/prefetcher.py
  dojo/api_v2/prefetch/schema.py
  dojo/api_v2/prefetch/utils.py
  dojo/api_v2/schema/__init__.py
  dojo/api_v2/schema/extra_schema.py
  dojo/api_v2/schema/utils.py
  dojo/api_v2/views.py
  dojo/unittests/test_rest_framework.py
Labels: apiv2, enhancement

#3657 Fix impact bug on Burp REST API parser and add more unit tests
  dojo/tools/burp_api/parser.py
  dojo/unittests/scans/burp_api/many_vulns.json
  dojo/unittests/test_burp_api_parser.py
Labels: bugfix

#3566 Add Arbitrary File Uploads
  docker-compose.override.unit_tests.yml
  docker/entrypoint-integration-tests.sh
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0068_file_upload.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/manage_files.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/unittests/test_rest_framework.py
  dojo/urls.py
  dojo/views.py
  tests/base_test_class.py
  tests/file_test.py
Labels: enhancement

#3658 add product: fix missing error messages
  dojo/product/views.py
Labels: bugfix

#3605 Findings list: Display jira key instead of jira bug icon
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
Labels: enhancement

#3659 GHA: Docker build caching and other speed improvements
  .github/workflows/flake8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-testing.yml
  .github/workflows/new-release-tag-docker.yml
  .github/workflows/unit-tests.yml
  Dockerfile.busybox
  Dockerfile.django
  Dockerfile.integration-tests
  docker-compose.override.integration_tests.yml
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests.sh
Labels: enhancement

#3664 master-to-dev: GHA: Docker build caching and other speed improvements (#3659)
  .github/workflows/flake8.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-testing.yml
  .github/workflows/new-release-tag-docker.yml
  .github/workflows/unit-tests.yml
  Dockerfile.busybox
  Dockerfile.django
  Dockerfile.integration-tests
  docker-compose.override.integration_tests.yml
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests.sh
Labels: maintenance

#3609 Jira: fix support for epic as default issuetype + error handling
  dojo/fixtures/dojo_testdata.json
  dojo/jira_link/helper.py
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/vcr/jira/JIRAConfigAndPushTestApi.test_import_with_push_to_jira_epic.yaml
Labels: bugfix

#3668 jira: fix broken author check for cloud
  dojo/decorators.py
  dojo/jira_link/views.py
  dojo/unittests/test_jira_webhook.py
Labels: bugfix

#3669 fix engagement styling bug
  dojo/templates/dojo/view_eng.html
Labels: bugfix

#3678 notifications: make them synchronous
  dojo/notifications/helper.py
Labels: bugfix

#3673 Fix bug in redirect function call
  dojo/endpoint/views.py
  dojo/reports/views.py
  dojo/utils.py
Labels: bugfix

#3684 Fix tag migration for legacy products
  dojo/db_migrations/0066_django_tagulous.py
Labels: bugfix

#3690 files upload: remove from filters
  dojo/filters.py
  dojo/templates/dojo/view_finding.html
Labels: bugfix

#3692 add product via prod_type: use normal add product logic
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/product/views.py
  dojo/product_type/urls.py
  dojo/product_type/views.py
  tests/base_test_class.py
  tests/product_test.py
  tests/product_type_test.py
  tests/report_builder_test.py
Labels: bugfix

#3667 dependency track parser: fix dedupe, set hash code fields
  dojo/forms.py
  dojo/settings/settings.dist.py
  dojo/tools/dependency_track/parser.py
  dojo/unittests/scans/dependency_track_samples/dependency_track_3.8.0_2021-01-18.json
  dojo/unittests/test_dependency_track_parser.py
Labels: bugfix

#3696 Fix date format on Fortify parser
  dojo/tools/fortify/parser.py
  dojo/unittests/test_fortify_parser.py
Labels: bugfix

#3697 cleanup old comments / commented out code
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/apps.py
  dojo/cred/views.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/jira_link/helper.py
  dojo/management/commands/migrate_finding_templates.py
  dojo/models.py
  dojo/object/parser.py
  dojo/object/views.py
  dojo/product/views.py
  dojo/risk_acceptance/helper.py
  dojo/search/views.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/utils.py
Labels: maintenance

#3682 Increase alert field size to 250
  dojo/db_migrations/0070_increase_alert_field_size.py
  dojo/models.py
  dojo/notifications/helper.py
Labels: New Migration, bugfix

#3711 initializer: import fixtures all at once, skip watson build
  docker/entrypoint-initializer.sh
  docker/wait-for-it.sh
Labels: maintenance

#3639 Bump django-auditlog to 1.0a1
  requirements.txt
Labels: dependencies, maintenance, python

#3656 Product Type UI refresh
  dojo/db_migrations/0071_product_type_enhancement.py
  dojo/forms.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product_type/urls.py
  dojo/product_type/views.py
  dojo/templates/base.html
  dojo/templates/dojo/delete_product_type.html
  dojo/templates/dojo/edit_product_type.html
  dojo/templates/dojo/new_product_type.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/notifications/product_type_added.tpl
  tests/product_type_test.py
  tests/report_builder_test.py
Labels: New Migration, enhancement

#3727 api v2: remove try-catch that swallows all exceptions
  dojo/api_v2/views.py
Labels: bugfix

#3593 UI: Make Endpoint status reflect Finding status after close/reopen
  dojo/endpoint/views.py
  dojo/finding/views.py
  tests/finding_test.py
  tests/product_test.py
Labels: bugfix

#3726 test.version: add missing places in UI, filters and importers
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/templates/dojo/view_eng.html
  dojo/test/views.py
Labels: enhancement

#3739 integration tests: use --disable-dev-shm-usage to start chrome
  tests/base_test_class.py
Labels: bugfix

#3737 Contrast parser: maintenance
  dojo/tools/contrast/parser.py
  dojo/unittests/scans/contrast/contrast-node-goat.csv
  dojo/unittests/scans/contrast/vulnerabilities2020-09-21.csv
  dojo/unittests/tools/test_contrast_parser.py
Labels: maintenance

#3709 template tags: remove unused leftover tags
  dojo/templatetags/display_tags.py
  dojo/templatetags/event_tags.py
  dojo/templatetags/navigation_tags.py
Labels: maintenance

#3732 Webhook: Fix JIRA key error for name
  dojo/jira_link/views.py
  dojo/unittests/test_jira_webhook.py
Labels: bugfix

#3724 Nessus activate deduplication hash code algorythm
  dojo/settings/settings.dist.py
Labels: settings_changes

#3710 Fix IP address/host decoding in Nessus CSV parser (#3655)
  dojo/tools/nessus/parser.py
  dojo/unittests/scans/nessus/nessus_many_vuln.csv
  dojo/unittests/scans/nessus/nessus_many_vuln.xml
  dojo/unittests/scans/nessus/nessus_many_vuln2-all.csv
  dojo/unittests/scans/nessus/nessus_many_vuln2-default.csv
  dojo/unittests/tools/test_nessus_parser.py
Labels: bugfix

#3752 cleanup: remove empty unittests_legacy folder
  dojo/unittests_legacy/__init__.py
Labels: maintenance

#3687 Helm: Chart improvements for running on GKE
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/django-ingress.yaml
  helm/defectdojo/templates/django-service.yaml
  helm/defectdojo/templates/gke-managed-certificate.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/sa.yaml
  helm/defectdojo/values.yaml
Labels: enhancement
