Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-07, with the labels that each got.

#4671 Helm upgrade, config tracking
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#4770 Dockle parser findings marked static and dynamic
  dojo/tools/dockle/parser.py
  dojo/unittests/tools/test_dockle_parser.py
Labels: bugfix

#4746 Mark Hadolint findings as static
  dojo/tools/hadolint/parser.py
Labels: easy-review, enhancement

#4744 New Acunetix 360 parser
  docs/content/en/integrations/import.md
  dojo/tools/acunetix360/__init__.py
  dojo/tools/acunetix360/parser.py
  dojo/unittests/scans/acunetix360/acunetix360_many_findings.json
  dojo/unittests/scans/acunetix360/acunetix360_one_finding.json
  dojo/unittests/scans/acunetix360/acunetix360_zero_finding.json
  dojo/unittests/tools/test_acunetix360_parser.py
Labels: Import Scans

#4761 Fixed CWE integer parsing problem.
  dojo/tools/netsparker/__init__.py
  dojo/tools/netsparker/parser.py
  dojo/unittests/tools/test_netsparker_parser.py
Labels: easy-review, enhancement

#4769 Fix kubebench parser to work with newer versions
  dojo/tools/kubebench/parser.py
  dojo/unittests/scans/kubebench/kube-bench-controls.json
  dojo/unittests/tools/test_kubebench_parser.py
Labels: bugfix

#4777 Bugfixes for Questionnaires
  docker/entrypoint-initializer.sh
  dojo/forms.py
  dojo/home/views.py
  dojo/management/commands/migrate_textquestions.py
  dojo/survey/views.py
  dojo/templates/defectDojo-engagement-survey/assign_survey.html
  dojo/templates/defectDojo-engagement-survey/list_questions.html
  dojo/templates/defectDojo-engagement-survey/list_surveys.html
  dojo/templates/defectDojo-engagement-survey/surveys.html
  dojo/templates/dojo/dashboard.html
Labels: bugfix

#4771 Authorization V2: Group global roles and integration tests
  docker/entrypoint-integration-tests.sh
  docs/content/en/usage/permissions.md
  dojo/group/views.py
  dojo/templates/dojo/add_group.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  tests/group_test.py
  tests/product_group_test.py
  tests/product_type_group_test.py
Labels: Auth Related, enhancement

#4756 Fix Github Issue Creation
  dojo/github.py
Labels: bugfix

#4754 Enhance GitHub parser to support more attributes.
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/github_vulnerability/parser.py
  dojo/unittests/scans/github_vulnerability/github_issue2984.json
  dojo/unittests/scans/github_vulnerability/github_search.json
  dojo/unittests/scans/github_vulnerability/github_search2.json
  dojo/unittests/scans/github_vulnerability/github_search3.json
  dojo/unittests/tools/test_github_vulnerability.py
  dojo/unittests/tools/test_github_vulnerability_parser.py
Labels: enhancement

#4750 Improve factory to support Python >= 3.8
  dojo/tools/factory.py
Labels: easy-review, maintenance

#4792 Skip false positives from detect-secrets report
  dojo/tools/detect_secrets/parser.py
  dojo/unittests/scans/detect_secrets/many_findings.json
  dojo/unittests/tools/test_detect_secrets_parser.py
Labels: enhancement

#4794 Enable import history by default
  dojo/settings/settings.dist.py
Labels: maintenance

#4795 Enable findings groups by default
  dojo/settings/settings.dist.py
Labels: maintenance

#4791 Languages overhaul
  docs/content/en/integrations/languages.md
  docs/static/images/languages_api.png
  docs/static/images/languages_ui.png
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/roles_permissions.py
  dojo/db_migrations/0115_language_types.py
  dojo/fixtures/dojo_testdata.json
  dojo/fixtures/language_type.json
  dojo/management/commands/import_github_languages.py
  dojo/product/queries.py
  dojo/templates/dojo/view_product_details.html
  dojo/unittests/files/defectdojo_cloc.json
  dojo/unittests/test_apiv2_methods.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_swagger_schema.py
  dojo/unittests/tools/test_checkmarx_parser.py
  dojo/urls.py
Labels: New Migration, enhancement

#4793 Add flag to enable/disable a parser
  dojo/db_migrations/0116_test_type_active.py
  dojo/models.py
  dojo/tools/factory.py
Labels: New Migration, easy-review, enhancement

#4803 Slight visual overhaul for Engagements
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
Labels: easy-review, enhancement

#4805 fix log message dedupe.py
  dojo/management/commands/dedupe.py
Labels: bugfix

#4783 Added force password reset functionality
  docs/content/en/usage/features.md
  dojo/db_migrations/0117_usercontactinfo_force_password_reset.py
  dojo/forms.py
  dojo/middleware.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/change_pwd.html
  dojo/user/validators.py
  dojo/user/views.py
  tests/user_test.py
Labels: New Migration, enhancement

#4784 Add Rate Limiting to Login Page
  docs/content/en/integrations/rate_limiting.md
  dojo/decorators.py
  dojo/settings/settings.dist.py
  dojo/user/views.py
  requirements.txt
Labels: enhancement

#4804 Remove Finding Images/Migrate to Files
  docker-compose.yml
  docker/sample_data/initial_dojo_data.json
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0118_remove_finding_images.py
  dojo/filters.py
  dojo/finding/urls.py
  dojo/finding/views.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/reports/views.py
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report_endpoints.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
  dojo/templates/dojo/custom_html_report_endpoint_list.html
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/snippets/file_images.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/unittests/test_rest_framework.py
  dojo/utils.py
  tests/finding_test.py
Labels: New Migration, maintenance

#4836 Remove Node JS Scan from documentation
  docs/content/en/integrations/import.md
Labels: bugfix, easy-review

#4835 Fix handling of empty URLs in tool configuration
  dojo/forms.py
  dojo/templates/dojo/view_tool_product_all.html
Labels: bugfix, easy-review

#4834 Bring unique_id_from_tool back to Finding filter
  dojo/filters.py
Labels: bugfix, easy-review

#4833 Support new Trivy JSON report
  dojo/tools/trivy/parser.py
  dojo/unittests/scans/trivy/legacy_many_vulns.json
  dojo/unittests/scans/trivy/legacy_no_vuln.json
  dojo/unittests/scans/trivy/legacy_trivy_mix.json
  dojo/unittests/scans/trivy/scheme_2_many_vulns.json
  dojo/unittests/scans/trivy/scheme_2_no_vuln.json
  dojo/unittests/tools/test_trivy_parser.py
Labels: enhancement

#4826 Added false positive and risk accepted for Netsparker.
  dojo/tools/netsparker/parser.py
Labels: bugfix

#4839 Authorization V2: fix Gitlab import
  dojo/pipeline.py
Labels: bugfix, easy-review

#4753 Enable to specify SAML2 mapping using env variables
  docs/content/en/integrations/social-authentication.md
  dojo/settings/settings.dist.py
Labels: enhancement, settings_changes

#4842 Fix broken link in README
  README.md
Labels: bugfix

#4582 Gitlab projects tag_list and web_url reflected in products. Fix #4489
  dojo/pipeline.py
  dojo/settings/settings.dist.py
Labels: enhancement

#4808 fix/gitlab-container-datetime: ts parsing
  dojo/tools/gitlab_container_scan/parser.py
  dojo/unittests/tools/test_gitlab_container_scan_parser.py
Labels: bugfix, easy-review

#4868 Solution for Issue#2835
  dojo/utils.py
Labels: bugfix

#4883 Trivy parser - bugfix for initialization of cvssv3
  dojo/tools/trivy/parser.py
  dojo/unittests/scans/trivy/scheme_2_many_vulns.json
  dojo/unittests/tools/test_trivy_parser.py
Labels: bugfix

#4846 Fix Pagination issue on paused engagements #4840
  dojo/templates/dojo/view_engagements.html
Labels: bugfix

#4845 add new parser - Mobsfscan
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/mobsfscan/__init__.py
  dojo/tools/mobsfscan/parser.py
  dojo/unittests/scans/mobsfscan/many_findings.json
  dojo/unittests/scans/mobsfscan/no_findings.json
  dojo/unittests/tools/test_mobsfscan_parser.py
Labels: Import Scans

#4766 UI: Make all select fields searchable
  components/package.json
  components/yarn.lock
  dojo/static/dojo/css/dojo.css
  dojo/templates/base.html
  dojo/templates/dojo/report_builder.html
  tests/report_builder_test.py
Labels: enhancement
