Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-05, with the labels that each got.

#4393 new parser for Coverity API
  docs/content/en/integrations/import.md
  dojo/tools/coverity_api/__init__.py
  dojo/tools/coverity_api/parser.py
  dojo/unittests/scans/coverity_api/empty.json
  dojo/unittests/scans/coverity_api/few_findings.json
  dojo/unittests/scans/coverity_api/few_findings_mitigated.json
  dojo/unittests/scans/coverity_api/few_findings_triaged_as_bug.json
  dojo/unittests/scans/coverity_api/only_quality.json
  dojo/unittests/scans/coverity_api/wrong.json
  dojo/unittests/tools/test_coverity_api_parser.py
Labels: Import Scans

#4405 [Burp parser] Fixes binary payload bug and severity anomaly
  dojo/tools/burp/parser.py
  dojo/unittests/scans/burp/issue4399.xml
  dojo/unittests/tools/test_burp_parser.py
Labels: bugfix

#3698 Remove unused setup.py
  .github/renovate.json
  .github/workflows/new-release-master-into-dev.yml
  .github/workflows/new-release-pr.yml
  setup.py
Labels: maintenance

#3854 RENAMED: Finding.is_Mitigated to is_mitigated
  dojo/api.py
  dojo/db_migrations/0092_is_mitigated.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/jira_link/helper.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/models.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_test.html
  dojo/tools/coverity_api/parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/sonarqube_api/updater.py
  dojo/tools/sonarqube_api/updater_from_source.py
  dojo/tools/veracode/parser.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_dashboard.py
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_finding_helper.py
  dojo/unittests/test_import_reimport.py
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/test_utils_deduplication_reopen.py
  dojo/unittests/tools/test_veracode_parser.py
  dojo/utils.py
  tests/finding_test.py
  tests/test_test.py
Labels: Breaking Changes, New Migration, maintenance

#4413 REMOVED: API v1
  .github/dependabot.yml
  README.md
  docker/sample_data/initial_dojo_data.json
  docs/content/en/basics/features.md
  docs/content/en/integrations/api-docs.md
  docs/content/en/integrations/api-v2-docs.md
  dojo/api.py
  dojo/api_test_files/engagement.json
  dojo/api_test_files/finding.json
  dojo/api_test_files/product.json
  dojo/api_test_files/scansettings.json
  dojo/api_test_files/test.json
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/api_key.html
  dojo/templates/tastypie_swagger/index.html
  dojo/unittests/test_api_v1.py
  dojo/urls.py
  dojo/user/views.py
  requirements.txt
Labels: Breaking Changes

#4419 remove old django-tagging references
  dojo/db_migrations/0093_django_tagging_removal.py
  dojo/filters.py
  dojo/models.py
  requirements.txt
Labels: New Migration, maintenance

#4412 Helm chart linting: specify target branch for all ct
  .github/workflows/test-helm-chart.yml
Labels: maintenance

#4415 REMOVED: S0/1/2/3/4/5 severity display option
  dojo/db_migrations/0093_remove_system_settings_s_finding_severity_naming.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/fixtures/system_settings.json
  dojo/models.py
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/pt_counts.html
  dojo/templates/dojo/research_metrics.html
  dojo/templates/dojo/simple_metrics.html
  dojo/templates/dojo/view_engineer.html
  dojo/templatetags/display_tags.py
Labels: New Migration, cleanup, maintenance

#4414 REMOVED: Old Unused Product contact fields
  docker/sample_data/initial_dojo_data.json
  dojo/api_v2/serializers.py
  dojo/db_migrations/0095_remove_old_product_contact_fields.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/management/commands/migrate_product_contacts.py
  dojo/models.py
  dojo/templates/dojo/edit_rule.html
  dojo/templates/dojo/new_rule.html
Labels: New Migration, cleanup, easy-review, maintenance

#4417 REMOVED: setup.bash install method
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docs/content/en/running/getting-started.md
  docs/content/en/running/running-in-production.md
  docs/content/en/running/upgrading.md
  entrypoint_scripts/README.MD
  entrypoint_scripts/common/cmd-args.sh
  entrypoint_scripts/common/common-os.sh
  entrypoint_scripts/common/config-vars.sh
  entrypoint_scripts/common/dojo-shared-resources.sh
  entrypoint_scripts/common/install-dojo.sh
  entrypoint_scripts/common/install-env
  entrypoint_scripts/common/prompt.sh
  entrypoint_scripts/common/setup-superuser.expect
  entrypoint_scripts/misc/url_db.py
  entrypoint_scripts/os/linux.sh
  entrypoint_scripts/os/ubuntu.sh
  entrypoint_scripts/run/run-local-dojo.bash
  entrypoint_scripts/run/startup-docker.bash
  legacy-setup.bash
  setup/README.md
  setup/mysql.txt
  setup/postgresql.txt
  setup/scripts/common/cmd-args.sh
  setup/scripts/common/common-os.sh
  setup/scripts/common/config-vars.sh
  setup/scripts/common/dojo-shared-resources.sh
  setup/scripts/common/install-dojo.sh
  setup/scripts/common/install-env
  setup/scripts/common/prompt.sh
  setup/scripts/common/setup-superuser-2.expect
  setup/scripts/common/setup-superuser.expect
  setup/scripts/misc/url_db.py
  setup/scripts/os/linux.sh
  setup/scripts/os/ubuntu.sh
  setup/scripts/run/run-local-dojo.bash
  setup/scripts/run/startup-docker.bash
  setup/setup.bash
  setup/upgrade.bash
  upgrade.bash
Labels: Breaking Changes, cleanup

#4264 Grype - Align name and change default dedupe algo
  docs/content/en/integrations/import.md
  dojo/db_migrations/0092_grype_name_change.py
  dojo/settings/settings.dist.py
  dojo/tools/anchore_grype/parser.py
Labels: New Migration, bugfix, hashcode-update-needed

#4421 REMOVE: Engagement_Type model
  docker/sample_data/initial_dojo_data.json
  dojo/db_migrations/0096_engagement_type.py
  dojo/filters.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/edit_rule.html
  dojo/templates/dojo/new_rule.html
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_config_engagement.py
  dojo/unittests/test_rest_framework.py
Labels: New Migration, cleanup, maintenance

#4298 Add Intsights Parser
  docs/content/en/integrations/import.md
  dojo/fixtures/test_type.json
  dojo/tools/intsights/__init__.py
  dojo/tools/intsights/parser.py
  dojo/unittests/scans/intsights/empty_with_error.csv
  dojo/unittests/scans/intsights/empty_with_error.json
  dojo/unittests/scans/intsights/intsights_invalid_file.txt
  dojo/unittests/scans/intsights/intsights_many_vul.json
  dojo/unittests/scans/intsights/intsights_many_vuln.csv
  dojo/unittests/scans/intsights/intsights_one_vul.json
  dojo/unittests/scans/intsights/intsights_one_vuln.csv
  dojo/unittests/scans/intsights/intsights_zero_vul.json
  dojo/unittests/scans/intsights/intsights_zero_vuln.csv
  dojo/unittests/tools/test_intsights_parser.py
Labels: Import Scans

#4395 Anchore parser, use vuln_id_from_tool instead of unique_id_from_tool
  dojo/db_migrations/0098_anchore_vuln_id.py
  dojo/tools/anchore_engine/parser.py
  dojo/unittests/tools/test_anchore_engine_parser.py
Labels: New Migration, bugfix

#3632 Upgrade to Django 3.1
  dojo/db_migrations/0075_import_history.py
  dojo/forms.py
  dojo/models.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/manage_files.html
  requirements.txt
Labels: maintenance

#4408 [Nmap parser] Fixes multiple identifiers bug
  dojo/tools/nmap/parser.py
  dojo/unittests/scans/nmap/issue4406.xml
  dojo/unittests/tools/test_nmap_parser.py
Labels: bugfix, easy-review

#4427 Fix exception when running dedupe management command
  dojo/management/commands/dedupe.py
Labels: bugfix

#4438 Bugfix: Handle Exception in Endpoint metrics when no Endpoints visible
  dojo/filters.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_metrics_queries.py
Labels: bugfix

#4445 Fix duplicate cluster original verbiage
  dojo/templates/dojo/finding_related_row.html
Labels: bugfix

#4447 Authorization V2: Make unit_tests run without errors
  dojo/api_v2/permissions.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_apiv2_metadata.py
  dojo/unittests/test_bulk_risk_acceptance_api.py
  dojo/unittests/test_metrics_queries.py
  dojo/unittests/test_rest_framework.py
Labels: enhancement

#4444 [Risk Recon parser] Add unique_id and date
  dojo/tools/risk_recon/parser.py
  dojo/unittests/tools/test_risk_recon_parser.py
Labels: enhancement

#4452 [AWS Prowler parser] handle missing columns bug
  dojo/tools/aws_prowler/parser.py
  dojo/unittests/scans/aws_prowler/issue4450.csv
  dojo/unittests/tools/test_aws_prowler_parser.py
Labels: bugfix

#4451 [Mozilla parser] support Python CLI
  dojo/tools/mozilla_observatory/parser.py
  dojo/unittests/scans/mozilla_observatory/demo.json
  dojo/unittests/scans/mozilla_observatory/juicy.json
  dojo/unittests/scans/mozilla_observatory/mozilla_org.json
  dojo/unittests/scans/mozilla_observatory/nmap_scanme.json
  dojo/unittests/scans/nmap_scanme.json
  dojo/unittests/tools/test_mozilla_observatory_parser.py
Labels: enhancement

#4424 re-enable generic/watson search results
  dojo/search/views.py
Labels: bugfix, easy-review

#4469 mark as duplicate/original: fix deduplication inside engagement check
  dojo/finding/views.py
Labels: bugfix, easy-review

#4476 Remove ct install step
  .github/workflows/test-helm-chart.yml
Labels: maintenance

#4353 Finding groups: (Auto) Group By and more enhancements
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/scans/npm_audit_sample/many_vuln_with_groups.json
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_create_edit_update_finding.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_creation.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_create_edit_update_finding.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_but_push_all.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_but_push_all.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_twice_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_with_push_to_jira_is_false_but_push_all.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_epic_as_issue_type.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false_but_push_all.yaml
Labels: enhancement

#4322 Swap ptvsd for debugpy, ptvsd deprecated #4115
  DOCKER.md
  Dockerfile.django
  docker-compose.override.debug.yml
  docker-compose.override.dev.yml
  docker-compose.override.ptvsd.yml
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi-ptvsd.sh
  docker/extra_settings/README.md
  docker/setEnv.sh
  docs/content/en/contributing/how-to-write-a-parser.md
  dojo/wsgi.py
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
  requirements.txt
Labels: enhancement, maintenance

#4487 Fix erroneous comparison causing dev env to also be single process
  docker/entrypoint-uwsgi-dev.sh
  dojo/wsgi.py
Labels: bugfix

#4475 Checkboxes to disable checklists, questionnaires and credentials
  dojo/db_migrations/0101_enable_features.py
  dojo/models.py
  dojo/templates/base.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_test.html
Labels: New Migration, enhancement

#4506 remove or comment out print statements
  dojo/unittests/test_deduplication_logic.py
  dojo/unittests/test_jira_config_engagement.py
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/test_jira_webhook.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_search_parser.py
Labels: easy-review, maintenance

#4493 Add new parser - KICS
  docs/content/en/integrations/import.md
  dojo/tools/kics/__init__.py
  dojo/tools/kics/parser.py
  dojo/unittests/scans/kics/many_findings.json
  dojo/unittests/scans/kics/no_findings.json
  dojo/unittests/tools/test_kics_parser.py
Labels: Import Scans

#4516 Auto-redirect when only one Social Auth is defined
  dojo/settings/settings.dist.py
  dojo/user/urls.py
  dojo/user/views.py
Labels: enhancement

#4494 Fix gitleaks parser report with redacted feature enabled
  dojo/tools/gitleaks/parser.py
  dojo/unittests/scans/gitleaks/redacted_data_many.json
  dojo/unittests/tools/test_gitleaks_parser.py
Labels: enhancement

#4515 remove obsolete django-rest-swagger dependency
  docs/content/en/integrations/api-v2-docs.md
  dojo/settings/settings.dist.py
  requirements.txt
Labels: easy-review, maintenance

#4467 [Coverity API parser] add verified data and de-duplication algorythm (unique ID)
  dojo/settings/settings.dist.py
  dojo/tools/coverity_api/parser.py
  dojo/unittests/tools/test_coverity_api_parser.py
Labels: enhancement

#4537 parser guide: add info about dedupe algorithm
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs, easy-review

#4536 Don't show Dojo_User in admin site
  dojo/models.py
Labels: easy-review, security

#4446 Fix edit finding view to unset duplicate status of a finding
  dojo/finding/views.py
Labels: bugfix, easy-review

#4410 Allow alternate service types without enabling gke #4388
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/django-ingress.yaml
  helm/defectdojo/templates/django-service.yaml
Labels: enhancement

#4484 [Generic parser] add JSON format
  dojo/tools/generic/parser.py
  dojo/unittests/scans/generic/generic_report1.json
  dojo/unittests/scans/generic/generic_report2.json
  dojo/unittests/tools/test_generic_parser.py
Labels: Import Scans, easy-review

#4531 add new parser - cargo audit
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/cargo_audit/__init__.py
  dojo/tools/cargo_audit/parser.py
  dojo/unittests/scans/cargo_audit/many_findings.json
  dojo/unittests/scans/cargo_audit/no_findings.json
  dojo/unittests/tools/test_cargo_audit_parser.py
Labels: Import Scans

#4528 add new parser - terrascan
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/terrascan/__init__.py
  dojo/tools/terrascan/parser.py
  dojo/unittests/scans/terrascan/many_findings.json
  dojo/unittests/scans/terrascan/no_findings.json
  dojo/unittests/tools/test_terrascan_parser.py
Labels: Import Scans

#4548 Added Nessus WAS Scanner
  docs/content/en/integrations/import.md
  dojo/tools/nessus_was/__init__.py
  dojo/tools/nessus_was/parser.py
  dojo/unittests/scans/nessus_was/nessus_was_many_vuln.csv
  dojo/unittests/scans/nessus_was/nessus_was_many_vuln.xml
  dojo/unittests/scans/nessus_was/nessus_was_no_vuln.csv
  dojo/unittests/scans/nessus_was/nessus_was_no_vuln.xml
  dojo/unittests/scans/nessus_was/nessus_was_one_vuln.csv
  dojo/unittests/scans/nessus_was/nessus_was_one_vuln.xml
  dojo/unittests/tools/test_nessus_was_parser.py
Labels: Import Scans

#4422 search: don't fail on endpoints without product
  dojo/templates/dojo/simple_search.html
Labels: bugfix, easy-review

#4525 add new parser - TFSec
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/tfsec/__init__.py
  dojo/tools/tfsec/parser.py
  dojo/unittests/scans/tfsec/many_findings.json
  dojo/unittests/scans/tfsec/no_findings.json
  dojo/unittests/scans/tfsec/one_finding.json
  dojo/unittests/tools/test_tfsec_parser.py
Labels: Import Scans

#4565 Ingress pathtype fix
  .github/workflows/k8s-testing.yml
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/django-ingress.yaml
Labels: bugfix

#4557 Fix aqua deduplication algorithm
  dojo/settings/settings.dist.py
Labels: enhancement

#4564 Nexpose parser: Add "Host Up" + "Open port" and handling non-standard names of services
  dojo/tools/nexpose/parser.py
  dojo/unittests/scans/nexpose/many_vulns.xml
  dojo/unittests/tools/test_nexpose_parser.py
Labels: enhancement

#4570 OpenVAS: process Hostname (+fix empty protocol)
  dojo/tools/openvas_csv/parser.py
  dojo/unittests/scans/openvas/many_vuln.csv
  dojo/unittests/scans/openvas/one_vuln.csv
  dojo/unittests/tools/test_openvas_csv_parser.py
Labels: easy-review, enhancement

#4423 Tags: allow filtering on NOT having tags, add API filters for transitive tags
  dojo/filters.py
  dojo/search/views.py
  dojo/templates/dojo/simple_search.html
Labels: enhancement

#4496 Deduplicate and simplify code for finding filters
  dojo/api_v2/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/urls.py
  dojo/finding/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/search/views.py
  dojo/templates/dojo/components.html
  dojo/templates/dojo/product_components.html
  dojo/test/queries.py
  dojo/test/views.py
  dojo/unittests/test_metrics_queries.py
  dojo/utils.py
  tests/finding_test.py
Labels: bugfix, maintenance

#4559 Set a configurable min_access_level for Gitlab projects import. Fix #4486
  dojo/pipeline.py
  dojo/settings/settings.dist.py
Labels: enhancement

#4550 parser guide: show most recent merged PRs first
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

#4576 Fix celery to be used in integration tests
  dojo/decorators.py
  tests/Import_scanner_test.py
  tests/base_test_class.py
  tests/dedupe_test.py
  tests/endpoint_test.py
  tests/engagement_test.py
  tests/environment_test.py
  tests/finding_test.py
  tests/ibm_appscan_test.py
  tests/note_type_test.py
  tests/notes_test.py
  tests/product_member_test.py
  tests/product_test.py
  tests/product_type_member_test.py
  tests/product_type_test.py
  tests/regulations_test.py
  tests/report_builder_test.py
  tests/search_test.py
Labels: maintenance

#4566 Upgrade celery to 5.1.0
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  requirements.txt
Labels: dependencies, python
