Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-06, with the labels that each got.

#4558 Add arrival as sponsors
  README.md
  docs/static/images/arrival.png
Labels: documentation

#4591 Stop deduplication across products
  dojo/utils.py
Labels: bugfix

#4604 Endpoint: update host validation
  dojo/models.py
  dojo/unittests/test_endpoint_model.py
Labels: enhancement

#4609 APIv2: Add DELETE of Product_Type
  dojo/api_v2/views.py
Labels: easy-review, enhancement

#4608 Add more documentation for parser contributions
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: documentation, easy-review

#4573 Update import.md to add Semgrep parser
  docs/content/en/integrations/import.md
Labels: documentation, easy-review

#4571 Add endpoints to generic parser for JSON format
  docs/content/en/integrations/import.md
  dojo/tools/generic/parser.py
  dojo/unittests/scans/generic/generic_report3.json
  dojo/unittests/tools/test_generic_parser.py
Labels: enhancement

#4603 Authorization V2: Model and database table for Roles
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/roles_permissions.py
  dojo/db_migrations/0106_role_model.py
  dojo/fixtures/role.json
  dojo/forms.py
  dojo/models.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
  dojo/templatetags/authorization_tags.py
  dojo/unittests/authorization/test_authorization.py
  dojo/unittests/test_bulk_risk_acceptance_api.py
  dojo/urls.py
  tests/product_member_test.py
  tests/product_type_member_test.py
Labels: enhancement

#4627 Fix copy&paste error
  dojo/unittests/tools/test_qualys_webapp_parser.py
Labels: easy-review

#4624 APIv2: Add Product Type filter to Engagement
  dojo/filters.py
Labels: enhancement

#4520 Authorization V2: Global roles
  docs/content/en/usage/permissions.md
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/db_migrations/0107_global_role.py
  dojo/endpoint/queries.py
  dojo/engagement/queries.py
  dojo/finding/queries.py
  dojo/finding_group/queries.py
  dojo/forms.py
  dojo/models.py
  dojo/product/queries.py
  dojo/product_type/queries.py
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/test/queries.py
  dojo/unittests/authorization/test_authorization.py
  dojo/unittests/test_metrics_queries.py
  dojo/urls.py
  dojo/user/views.py
Labels: enhancement

#4625 Authorization V2: Add multiple members at once
  dojo/forms.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/templates/dojo/new_product_member.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_member.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  tests/product_member_test.py
  tests/product_type_member_test.py
Labels: enhancement

#4541 Fix API Swagger specs, add OpenAPI v3
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  dojo/api_v2/prefetch/schema.py
  dojo/api_v2/prefetch/utils.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/filters.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/risk_acceptance/api.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_swagger_schema.py
  dojo/urls.py
  requirements.txt
Labels: apiv2, enhancement

#4660 OpenSCAP: Add endpoint with FQDN
  dojo/tools/openscap/parser.py
  dojo/unittests/tools/test_openscap_parser.py
Labels: easy-review, enhancement

#4249 Minor improvements to SpotBugs and Dependency Check parsers
  dojo/tools/dependency_check/parser.py
  dojo/tools/spotbugs/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
  dojo/unittests/tools/test_spotbugs_parser.py
Labels: enhancement

#4599 Added ability to set user password when adding a new user
  Dockerfile.django
  dojo/forms.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/add_user.html
  dojo/user/views.py
  tests/user_test.py
Labels: enhancement

#4669 fix: missing Yarn Audit support in documentation
  docs/content/en/integrations/import.md
Labels: documentation, easy-review

#4650 Bugfix for global roles
  dojo/authorization/authorization.py
  dojo/endpoint/queries.py
  dojo/engagement/queries.py
  dojo/finding/queries.py
  dojo/finding_group/queries.py
  dojo/product/queries.py
  dojo/product_type/queries.py
  dojo/test/queries.py
  dojo/unittests/authorization/test_authorization.py
Labels: bugfix

#4675 Ignore upper/lower-case for sorting Scan-types
  dojo/forms.py
Labels: easy-review, enhancement

#4656 Allow null-able CharFields to be blank
  dojo/db_migrations/0108_blank_fields.py
  dojo/models.py
Labels: New Migration, enhancement

#4649 fix missing one-to-one relationships from prefetch API specs
  dojo/api_v2/prefetch/utils.py
Labels: bugfix

#4664 SARIF parser: implement 'level' (severity) attribute
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/dockle_0_3_15.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: enhancement

#4643 Fix generic parser import endpoint without protocol
  dojo/tools/generic/parser.py
  dojo/unittests/scans/generic/generic_report4.csv
  dojo/unittests/scans/generic/generic_report4.json
  dojo/unittests/tools/test_generic_parser.py
Labels: enhancement

#4634 Added Meterian Scanner
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/meterian/__init__.py
  dojo/tools/meterian/parser.py
  dojo/unittests/scans/meterian/report_invalid.json
  dojo/unittests/scans/meterian/report_many_vulns.json
  dojo/unittests/scans/meterian/report_multi_language.json
  dojo/unittests/scans/meterian/report_no_vulns.json
  dojo/unittests/scans/meterian/report_one_vuln.json
  dojo/unittests/scans/meterian/report_one_vuln_no_remediation.json
  dojo/unittests/tools/test_meterian_parser.py
Labels: Import Scans

#4376 AWS Security Hub parser add unique_id_from_tool and deduplication
  dojo/settings/settings.dist.py
  dojo/tools/awssecurityhub/parser.py
  dojo/unittests/tools/test_awssecurityhub.py
Labels: enhancement

#4367 [WhiteHat Sentinel DAST parser] new parser
  dojo/tools/whitehat_sentinel/__init__.py
  dojo/tools/whitehat_sentinel/parser.py
  dojo/unittests/scans/whitehat_sentinel/empty_file.json
  dojo/unittests/scans/whitehat_sentinel/invalid_data.txt
  dojo/unittests/scans/whitehat_sentinel/many_vuln.json
  dojo/unittests/scans/whitehat_sentinel/one_vuln.json
  dojo/unittests/tools/test_whitehat_sentinel_parser.py
Labels: Import Scans

#4685 Update how-to-write-a-parser.md to include advice for CVSS data
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: documentation, easy-review

#4698 show severity of similar finding correctly
  dojo/templates/dojo/finding_related_row.html
Labels: bugfix

#4678 SARIF parser: Process CWE field for njsscan
  dojo/tools/sarif/parser.py
  dojo/unittests/tools/test_sarif_parser.py
Labels: easy-review, enhancement

#4681 feat: AuditJS parser added
  docs/content/en/integrations/import.md
  dojo/settings/settings.dist.py
  dojo/tools/auditjs/__init__.py
  dojo/tools/auditjs/parser.py
  dojo/unittests/scans/auditjs/auditjs_many_vul.json
  dojo/unittests/scans/auditjs/auditjs_one_vul.json
  dojo/unittests/scans/auditjs/auditjs_zero_vul.json
  dojo/unittests/scans/auditjs/empty_with_error.json
  dojo/unittests/tools/test_auditjs_parser.py
Labels: Import Scans

#4689 Authorization V2: Frontend for Groups
  docs/content/en/usage/permissions.md
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/roles_permissions.py
  dojo/db_migrations/0111_group_user_rename.py
  dojo/db_migrations/0112_group_user_rename_2.py
  dojo/filters.py
  dojo/forms.py
  dojo/group/queries.py
  dojo/group/urls.py
  dojo/group/views.py
  dojo/models.py
  dojo/product/queries.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/urls.py
  dojo/product_type/views.py
  dojo/templates/base.html
  dojo/templates/dojo/add_group.html
  dojo/templates/dojo/delete_group.html
  dojo/templates/dojo/delete_group_member.html
  dojo/templates/dojo/delete_product_group.html
  dojo/templates/dojo/delete_product_type_group.html
  dojo/templates/dojo/edit_group_member.html
  dojo/templates/dojo/edit_product_group.html
  dojo/templates/dojo/edit_product_type_group.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/new_group_member.html
  dojo/templates/dojo/new_group_member_user.html
  dojo/templates/dojo/new_product_group.html
  dojo/templates/dojo/new_product_group_group.html
  dojo/templates/dojo/new_product_type_group.html
  dojo/templates/dojo/new_product_type_group_group.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
  dojo/unittests/authorization/test_authorization.py
  dojo/unittests/test_swagger_schema.py
  dojo/urls.py
  dojo/user/urls.py
  dojo/user/views.py
Labels: enhancement

#4687 Authorization V2 - API unit tests
  dojo/api_v2/permissions.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_metrics_queries.py
  dojo/unittests/test_rest_framework.py
Labels: maintenance

#4668 Add de-duplication configuration for ScoutSuite
  dojo/settings/settings.dist.py
Labels: enhancement

#4696 [Endpoints] Change size of protocol + [Nexpose] consolidation of protocols
  dojo/db_migrations/0113_endpoint_protocol.py
  dojo/models.py
  dojo/tools/nexpose/parser.py
  dojo/unittests/tools/test_nexpose_parser.py
Labels: New Migration, easy-review, enhancement

#4706 Add Management Command To Easily Display Settings
  dojo/management/commands/print_settings.py
Labels: enhancement

#4703 api: prefetch more for findings
  dojo/api_v2/views.py
Labels: performance

#4702 fix create finding with existing jira ticket
  dojo/forms.py
Labels: bugfix

#4534 add new parser - Nuclei
  docs/content/en/integrations/import.md
  dojo/tools/nuclei/__init__.py
  dojo/tools/nuclei/parser.py
  dojo/unittests/scans/nuclei/many_findings.json
  dojo/unittests/scans/nuclei/no_findings.json
  dojo/unittests/tools/test_nuclei_parser.py
Labels: Import Scans

#4691 GitLab DAST Parser
  dojo/__init__.py
  dojo/tools/gitlab_dast/__init__.py
  dojo/tools/gitlab_dast/parser.py
  dojo/unittests/scans/gitlab_dast/empty_with_error.json
  dojo/unittests/scans/gitlab_dast/gitlab_dast_many_vul.json
  dojo/unittests/scans/gitlab_dast/gitlab_dast_one_vul.json
  dojo/unittests/scans/gitlab_dast/gitlab_dast_zero_vul.json
  dojo/unittests/tools/test_gitlab_dast_parser.py
Labels: Import Scans

#4716 Fix Burp Import Issues
  dojo/tools/burp/parser.py
Labels: bugfix

#4714 Authorization V2: One bugfix and some optimizations
  dojo/group/queries.py
  dojo/product/queries.py
  dojo/product_type/queries.py
  dojo/user/urls.py
  dojo/user/views.py
Labels: bug, maintenance, performance

#4718 Docker volume for /var/lib/rabbitmq
  docker-compose.yml
Labels: maintenance

#4117 feat: replace django-saml2-auth with djangosaml2
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/social-authentication.md
  dojo/settings/attribute-maps/django_saml_uri.py
  dojo/settings/attribute-maps/saml_uri.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
  dojo/urls.py
  requirements.txt
Labels: Breaking Changes, settings_changes

#4690 Trustwave Fusion API Parser
  dojo/tools/trustwave_fusion_api/__init__.py
  dojo/tools/trustwave_fusion_api/parser.py
  dojo/unittests/scans/trustwave_fusion_api/test_cve.json
  dojo/unittests/scans/trustwave_fusion_api/trustwave_fusion_api_many_vul.json
  dojo/unittests/scans/trustwave_fusion_api/trustwave_fusion_api_zero_vul.json
  dojo/unittests/tools/test_trustwave_fusion_api_parser.py
Labels: Import Scans

#4711 Updated Netsparker Parser
  dojo/tools/netsparker/parser.py
  dojo/unittests/scans/netsparker/netsparker_many_findings.json
  dojo/unittests/scans/netsparker/netsparker_one_finding.json
  dojo/unittests/scans/netsparker/netsparker_zero_finding.json
  dojo/unittests/tools/test_netsparker_parser.py
Labels: enhancement

#4722 Engagement name
  dojo/engagement/services.py
  dojo/forms.py
  dojo/product/views.py
Labels: bugfix

#4705 [Checkov parser] support multiples check_type in reports
  dojo/tools/checkov/parser.py
  dojo/unittests/scans/checkov/checkov-report-multiple-check_type.json
  dojo/unittests/tools/test_checkov_parser.py
Labels: enhancement

#4723 Add Stefan as moderator in README.md
  README.md
Labels: documentation, easy-review

#4594 feat: added GitLab container scanning report parser
  dojo/fixtures/test_type.json
  dojo/tools/gitlab_container_scan/__init__.py
  dojo/tools/gitlab_container_scan/parser.py
  dojo/unittests/scans/gitlab_container_scan/gl-container-scanning-report-0-vuln.json
  dojo/unittests/scans/gitlab_container_scan/gl-container-scanning-report-1-vuln.json
  dojo/unittests/scans/gitlab_container_scan/gl-container-scanning-report-5-vuln.json
  dojo/unittests/tools/test_gitlab_container_scan_parser.py
Labels: Import Scans

#4682 feat: added GitLab API fuzzing report parser
  dojo/tools/gitlab_api_fuzzing/__init__.py
  dojo/tools/gitlab_api_fuzzing/parser.py
  dojo/unittests/scans/gitlab_api_fuzzing/gitlab_api_fuzzing_0_vuln.json
  dojo/unittests/scans/gitlab_api_fuzzing/gitlab_api_fuzzing_1_vuln.json
  dojo/unittests/scans/gitlab_api_fuzzing/gitlab_api_fuzzing_invalid.json
  dojo/unittests/tools/test_gitlab_api_fuzzing_parser.py
Labels: Import Scans

#4742 Delete setup.py
  .github/workflows/new-release-pr.yml
  setup.py
Labels: maintenance

#4297 Update Qualys Webapp Parser to use Unique ID from tool
  dojo/settings/settings.dist.py
  dojo/tools/qualys_webapp/parser.py
Labels: enhancement

#4434 [CyloneDX parser] remove unused attributes and switch unique id to vuln id
  dojo/db_migrations/0114_cyclonedx_vuln_uniqu.py
  dojo/tools/cyclonedx/parser.py
  dojo/unittests/scans/cyclonedx/dd_1_15_0.xml
  dojo/unittests/scans/cyclonedx/retirejs.latest.xml
  dojo/unittests/tools/test_cyclonedx_parser.py
Labels: New Migration, enhancement
