Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-11, with the labels that each got.

#5336 Use endpoint status to determine vulnerable endpoints
  dojo/endpoint/views.py
  dojo/filters.py
  dojo/finding/urls.py
  dojo/models.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/base.html
  dojo/templates/dojo/add_endpoint_meta_data.html
  dojo/templates/dojo/add_product_meta_data.html
  dojo/templates/dojo/edit_endpoint_meta_data.html
  dojo/templates/dojo/edit_product_meta_data.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/view_endpoint.html
Labels: bugfix

#5327 Enhanced endpoint selection and creation
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/product/views.py
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/import_scan_results.html
  dojo/templates/dojo/promote_to_finding.html
  dojo/test/views.py
  tests/product_test.py
  tests/test_test.py
Labels: bugfix, integration_tests

#5361 order findings last 7 days by -date
  dojo/templates/dojo/dashboard.html
Labels: easy-review

#5362 filter out products without configs
  dojo/db_migrations/0131_migrate_sonarcube_cobalt.py
Labels: bugfix, New Migration

#5364 Fix problem with duplicate projects in GitLab pipeline
  dojo/pipeline.py
Labels: bugfix

#5346 Add service attribute to Findings to be used for deduplication
  dojo/api_v2/serializers.py
  dojo/db_migrations/0133_finding_service.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/test/views.py
  tests/dedupe_test.py
Labels: enhancement, New Migration, settings_changes, apiv2, integration_tests

#5275 Allow User Profiles to be read-only
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  dojo/forms.py
  dojo/settings/settings.dist.py
  tests/base_test_class.py
  tests/user_test.py
Labels: enhancement, settings_changes, integration_tests

#5369 Change Anchore Grype parser to allow matcher lists
  dojo/tools/anchore_grype/parser.py
  dojo/unittests/scans/anchore_grype/many_vulns4.json
  dojo/unittests/tools/test_anchore_grype_parser.py
Labels: unittests

#5342 APIv2: Allow import/reimport by names not only ids
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/utils.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_importers_importer.py
  dojo/unittests/test_rest_framework.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: enhancement, apiv2, unittests

#5383 Fix migration of API configurations
  dojo/db_migrations/0131_migrate_sonarcube_cobalt.py
  dojo/product/views.py
Labels: New Migration

#5390 main: improve documentation
  dojo/settings/settings.dist.py
  helm/defectdojo/values.yaml
Labels: maintenance, settings_changes, easy-review

#5397 Integration test idempotency
  tests/base_test_class.py
  tests/user_test.py
Labels: integration_tests

#5382 Auth V2 - Remove legacy authorization part 1: Remove legacy auth from templates
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/surveys.html
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/finding_related_actions.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/snippets/comments.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/snippets/risk_acceptance_actions_snippet.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/templates/dojo/view_test.html
  dojo/templates/dojo/view_user.html
  dojo/templatetags/authorization_tags.py
  dojo/templatetags/display_tags.py
  dojo/unittests/authorization/test_authorization_tags.py
Labels: maintenance, unittests

#5415 Update the nginx-prometheus-exporter entrypoint
  helm/defectdojo/templates/django-deployment.yaml
Labels: bugfix

#5445 Integration test warning cleanup
  tests/Import_scanner_test.py
  tests/base_test_class.py
  tests/check_various_pages.py
  tests/dedupe_test.py
  tests/endpoint_test.py
  tests/engagement_test.py
  tests/environment_test.py
  tests/file_test.py
  tests/finding_test.py
  tests/group_test.py
  tests/ibm_appscan_test.py
  tests/note_type_test.py
  tests/notes_test.py
  tests/product_group_test.py
  tests/product_member_test.py
  tests/product_test.py
  tests/product_type_group_test.py
  tests/product_type_member_test.py
  tests/product_type_test.py
  tests/regulations_test.py
  tests/report_builder_test.py
  tests/search_test.py
  tests/test_test.py
  tests/user_test.py
Labels: integration_tests

#5447 add defectdojo license to yarn package.json
  components/package.json
Labels: maintenance, easy-review

#5410 Authz: Allow global maintainers/owner to add Product Types
  docs/content/en/usage/permissions.md
  dojo/api_v2/permissions.py
  dojo/authorization/authorization.py
  dojo/authorization/authorization_decorators.py
  dojo/authorization/roles_permissions.py
  dojo/endpoint/queries.py
  dojo/engagement/queries.py
  dojo/finding/queries.py
  dojo/finding_group/queries.py
  dojo/fixtures/dojo_testdata.json
  dojo/jira_link/views.py
  dojo/models.py
  dojo/product/queries.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/templates/base.html
  dojo/templates/dojo/product_type.html
  dojo/templatetags/authorization_tags.py
  dojo/test/queries.py
  dojo/unittests/authorization/test_authorization.py
  dojo/unittests/test_rest_framework.py
Labels: apiv2, unittests

#5449 feat(saml): configurable login button text
  docs/content/en/integrations/social-authentication.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: enhancement, settings_changes

#5444 Allow to force login form
  docs/content/en/integrations/social-authentication.md
  dojo/templates/dojo/login.html
  dojo/user/views.py
Labels: enhancement

#5431 Update release-drafter template
  .github/release-drafter.yml
Labels: easy-review

#5391 feat: make semgrep reports more informative
  dojo/tools/semgrep/parser.py
  dojo/unittests/tools/test_semgrep_parser.py
Labels: unittests

#5412 Auth V2 - Remove legacy authorization part 2: Remove dojo/user/helper.py
  dojo/authorization/authorization_decorators.py
  dojo/benchmark/views.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/finding_group/views.py
  dojo/forms.py
  dojo/google_sheet/views.py
  dojo/metrics/views.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/reports/views.py
  dojo/survey/views.py
  dojo/test/views.py
  dojo/tool_product/views.py
  dojo/unittests/authorization/test_authorization_decorators.py
  dojo/user/helper.py
  dojo/views.py
Labels: maintenance, unittests

#5458 Auth V2 - Remove legacy authorization part 3: Remove feature flag from core classes
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/pipeline.py
  dojo/product/views.py
  dojo/unittests/authorization/test_authorization_decorators.py
  dojo/unittests/authorization/test_authorization_tags.py
  dojo/urls.py
  dojo/views.py
Labels: apiv2, unittests

#5457 Fix for creating multiple groups containing the same Product Type
  dojo/group/views.py
Labels: bugfix, easy-review

#5455 Fix for missing API_Scan_Configuration and exception handler
  dojo/api_v2/exception_handler.py
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/tools/cobalt_api/importer.py
  dojo/tools/sonarqube_api/importer.py
  dojo/unittests/tools/test_cobalt_api_importer.py
Labels: bugfix, apiv2, unittests

#5478 New report format for Trufflehog3, use hashcode for dedupe
  dojo/settings/settings.dist.py
  dojo/tools/trufflehog3/parser.py
  dojo/unittests/scans/trufflehog3/many_vulns2_legacy.json
  dojo/unittests/scans/trufflehog3/many_vulns_current.json
  dojo/unittests/scans/trufflehog3/many_vulns_legacy.json
  dojo/unittests/scans/trufflehog3/zero_vulns.json
  dojo/unittests/tools/test_trufflehog3_parser.py
Labels: maintenance, settings_changes, unittests

#5488 optimize GHA unit test
  .github/workflows/unit-tests.yml
Labels: easy-review

#5483 Use hash_code for deduplication of detect-secrets scans
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes, easy-review

#5505 Update DOCKER.md to fix broken link
  readme-docs/DOCKER.md
Labels: docs

#5510 Go to user view after user add
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
  tests/user_test.py
Labels: maintenance, easy-review

#5501 Set default group for all new users
  dojo/db_migrations/0136_default_group_help_text.py
  dojo/models.py
  dojo/pipeline.py
  dojo/unittests/test_pipeline.py
  dojo/unittests/test_utils.py
  dojo/utils.py
Labels: enhancement, New Migration, unittests

#5477 Auth V2 - Remove legacy authorization part 4: final removal of FEATURE_AUTHORIZATION_V2
  dojo/endpoint/queries.py
  dojo/endpoint/views.py
  dojo/engagement/queries.py
  dojo/engagement/views.py
  dojo/finding/queries.py
  dojo/finding/views.py
  dojo/finding_group/queries.py
  dojo/home/views.py
  dojo/notes/views.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/settings/settings.dist.py
  dojo/test/queries.py
  dojo/test/views.py
  dojo/unittests/test_apiv2_endpoint.py
  dojo/unittests/test_apiv2_metadata.py
  dojo/unittests/test_metrics_queries.py
  dojo/user/queries.py
  dojo/user/views.py
Labels: maintenance, settings_changes, unittests

#5515 fix duplicate notification urls
  dojo/notifications/urls.py
Labels: easy-review

#5514 Fix missing import/model in 0066_django_tagulous.py
  dojo/db_migrations/0066_django_tagulous.py
Labels: bugfix, easy-review

#5471 Nessus: store only standard protocol names
  dojo/tools/nessus/parser.py
  dojo/unittests/scans/nessus/nessus_many_vuln.xml
  dojo/unittests/scans/nessus/nessus_v_unknown.xml
  dojo/unittests/tools/test_nessus_parser.py
Labels: unittests

#5504 fix(helm): allow disabling initializer job
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: enhancement
