Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-09, with the labels that each got.

#5038 fix javascript regex error detection
  tests/base_test_class.py
Labels: maintenance

#5031 fix(rest-api): fix some warnings from drf
  dojo/benchmark/urls.py
  dojo/product/urls.py
Labels: maintenance, easy-review

#5047 Support Docker Compose V2
  docker-compose.override.debug.yml
  docker-compose.override.dev.yml
  docker-compose.override.integration_tests.yml
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docker-compose.yml
Labels: maintenance

#5025 Better support SARIF ruleId attribute
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/appendix_k4.sarif
  dojo/unittests/scans/sarif/flawfinder.sarif
  dojo/unittests/scans/sarif/gitleaks_7.5.0.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: enhancement

#5030 safety-parser: configurable offline mode
  dojo/settings/settings.dist.py
  dojo/tools/safety/parser.py
Labels: enhancement, settings_changes, easy-review

#5032 Add support for dynamic test import for Veracode
  dojo/tools/veracode/parser.py
  dojo/unittests/scans/veracode/dynamic_finding.xml
  dojo/unittests/scans/veracode/many_findings.xml
  dojo/unittests/scans/veracode/many_findings_different_hash_code_different_unique_id.xml
  dojo/unittests/scans/veracode/many_findings_same_hash_code_different_unique_id.xml
  dojo/unittests/scans/veracode/many_findings_same_unique_id_different_hash_code.xml
  dojo/unittests/test_import_reimport.py
  dojo/unittests/tools/test_veracode_parser.py
Labels: enhancement

#5049 Endpoint: Fix host validation
  dojo/models.py
  dojo/unittests/test_endpoint_model.py
Labels: bugfix

#5059 Exception handler quick fix
  dojo/api_v2/exception_handler.py
Labels: bugfix

#5064 fix error on merging findings due to django3 changes
  dojo/forms.py
Labels: bugfix

#5035 Add a deduplication configuration for Aquasecurity's Cloudsploit
  dojo/settings/settings.dist.py
Labels: enhancement

#4934 SonarQube: use severity from issue instead of rule
  dojo/tools/sonarqube_api/importer.py
Labels: enhancement

#5072 fix incorrect encoding of urls in finding list headings
  dojo/templatetags/navigation_tags.py
Labels: bugfix

#4962 Add Cobalt.io API parser/importer
  docs/content/en/integrations/import.md
  dojo/api_v2/serializers.py
  dojo/db_migrations/0122_cobaltio_product.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/models.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/add_product_cobaltio_configuration.html
  dojo/templates/dojo/delete_product_cobaltio_configuration.html
  dojo/templates/dojo/edit_product_cobaltio_configuration.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_product_cobaltio_configuration.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_test.html
  dojo/test/views.py
  dojo/tool_config/views.py
  dojo/tools/cobalt_api/__init__.py
  dojo/tools/cobalt_api/api_client.py
  dojo/tools/cobalt_api/importer.py
  dojo/tools/cobalt_api/parser.py
  dojo/tools/factory.py
  dojo/unittests/scans/cobalt_api/cobalt_api_many_vul.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_carried_over.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_check_fix.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_invalid.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_need_fix.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_new.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_out_of_scope.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_triaging.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_valid_fix.json
  dojo/unittests/scans/cobalt_api/cobalt_api_one_vul_wont_fix.json
  dojo/unittests/scans/cobalt_api/cobalt_api_zero_vul.json
  dojo/unittests/tools/test_cobalt_api_parser.py
Labels: Import Scans, New Migration

#4963 Check deduplication config on startup
  docker/entrypoint-initializer.sh
  dojo/management/commands/validatededupeconfig.py
Labels: bugfix

#4812 Checkmarx: Do not hardcode Active and Verified finding attributes
  dojo/tools/checkmarx/parser.py
  dojo/unittests/tools/test_checkmarx_parser.py
Labels: easy-review

#5068 Fix errors with Spotbugs 4.4.x
  dojo/tools/spotbugs/parser.py
  dojo/unittests/scans/spotbugs/version_4.4.0.xml
  dojo/unittests/tools/test_spotbugs_parser.py
Labels: maintenance

#5074 Changed Dropdown Button Color to White
  dojo/static/dojo/css/dojo.css
Labels: enhancement

#5071 SARIF parser - add more information to findings
  dojo/tools/sarif/parser.py
  dojo/unittests/tools/test_sarif_parser.py
Labels: enhancement

#4260 Added ability to use business days or calendar days
  dojo/models.py
  dojo/settings/settings.dist.py
  requirements.txt
Labels: enhancement

#5093 docs: add MyISAM requirement
  docs/content/en/getting_started/architecture.md
Labels: documentation

#5090 UI improvements
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/filter_snippet.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/paging_snippet.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/report_filter_snippet.html
  dojo/templates/dojo/snippets/comments.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_test.html
  dojo/templates/dojo/view_user.html
  tests/group_test.py
  tests/product_group_test.py
  tests/product_type_group_test.py
  tests/user_test.py
Labels: maintenance

#5084 Make scan type list rely on Dynamic parser infra.
  docs/content/en/contributing/how-to-write-a-parser.md
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/utils.py
  dojo/management/commands/initialize_test_types.py
  dojo/product/views.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/cobalt_api/parser.py
  dojo/tools/factory.py
  dojo/tools/sonarqube_api/parser.py
  dojo/tools/tool_issue_updater.py
  dojo/unittests/test_factory.py
Labels: maintenance

#5108 Repair stub findings
  dojo/finding/views.py
  dojo/templates/dojo/promote_to_finding.html
  dojo/templates/dojo/view_test.html
  tests/test_test.py
Labels: bugfix

#5099 ZAP parser maintenance
  dojo/tools/zap/__init__.py
  dojo/tools/zap/parser.py
  dojo/unittests/scans/zap/juicy2.xml
  dojo/unittests/scans/zap/zap-results-first-scan.xml
  dojo/unittests/scans/zap/zap-results-second-scan.xml
  dojo/unittests/test_import_reimport.py
  dojo/unittests/tools/test_zap_parser.py
Labels: maintenance

#5110 View engagement: fix sonarqubce config error
  dojo/models.py
Labels: bugfix

#5111 Fix Bundler Audit for version 0.9.x.x and unittests maintenance
  dojo/tools/bundler_audit/parser.py
  dojo/tools/burp/parser.py
  dojo/tools/cloudsploit/parser.py
  dojo/tools/cyclonedx/parser.py
  dojo/tools/nessus/parser.py
  dojo/tools/nikto/parser.py
  dojo/tools/trivy/parser.py
  dojo/tools/twistlock/parser.py
  dojo/unittests/scans/bundler_audit/bundler-audit_v0.6.1.txt
  dojo/unittests/scans/bundler_audit/version_9.0.json
  dojo/unittests/scans/bundler_audit/version_9.0.txt
  dojo/unittests/scans/burp_api/example.json
  dojo/unittests/tools/test_anchore_enterprise_parser.py
  dojo/unittests/tools/test_appspider_parser.py
  dojo/unittests/tools/test_awssecurityhub_parser.py
  dojo/unittests/tools/test_bundler_audit_parser.py
  dojo/unittests/tools/test_burp_api_parser.py
  dojo/unittests/tools/test_nessus_parser.py
  dojo/unittests/tools/test_npm_audit_parser.py
  dojo/unittests/tools/test_sonarqube_api_parser.py
  dojo/unittests/tools/test_sslyze_json_parser.py
  dojo/unittests/tools/test_sslyze_parser.py
  dojo/unittests/tools/test_sslyze_xml_parser.py
  dojo/unittests/tools/test_twistlock_parser.py
Labels: bugfix

#5113 Fix deduplication config check
  dojo/management/commands/validatededupeconfig.py
Labels: bugfix

#5122 Documentation update for settings and reports
  docs/content/en/getting_started/configuration.md
  docs/content/en/integrations/rate_limiting.md
  docs/content/en/integrations/social-authentication.md
  docs/content/en/usage/features.md
  docs/static/images/report_1.png
  docs/static/images/report_2.png
  dojo/settings/settings.dist.py
  dojo/settings/settings.py
Labels: documentation

#5125 SARIF parser: Fix severity in rule and take into account the kind attribute
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/flawfinder.sarif
  dojo/unittests/tools/test_sarif_parser.py
Labels: enhancement, bugfix

#5133 Fixes build statuses, corrects image pointers, and ...
  README.md
Labels: documentation, easy-review

#5131 Enhancements for KICS scans
  dojo/settings/settings.dist.py
  dojo/tools/kics/parser.py
  dojo/unittests/tools/test_kics_parser.py
Labels: enhancement, easy-review

#5140 Fix Harbor parser
  dojo/tools/harbor_vulnerability/parser.py
  dojo/unittests/scans/harbor_vulnerability/harbor-5-vuln.json
  dojo/unittests/tools/test_harbor_vulnerability_parser.py
Labels: bugfix

#5143 Add unit tests for Dawnscanner
  dojo/tools/dawnscanner/parser.py
  dojo/unittests/scans/dawnscanner/dawnscanner_v1.6.9.json
  dojo/unittests/tools/test_dawnscanner_parser.py
Labels: maintenance

#5148 Export findings to CSV and Excel
  dojo/reports/urls.py
  dojo/reports/views.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
  tests/base_test_class.py
  tests/finding_test.py
Labels: enhancement

#5156 Make integration test for exports more resilient
  tests/finding_test.py
Labels: bugfix

#5144 Fix merge of findings - incomplete fix introduced in #5064
  dojo/forms.py
Labels: bugfix

#5177 Fix integration test for export of findings
  tests/base_test_class.py
  tests/finding_test.py
Labels: bugfix

#5123 fix import for SonarQube findings without 'htmlDesc'
  dojo/tools/sonarqube_api/importer.py
  dojo/unittests/scans/sonarqube_api/rule_wo_html_desc.json
  dojo/unittests/tools/test_sonarqube_importer.py
Labels: bugfix

#5182 Yet another parser: Azure Security Center
  dojo/settings/settings.dist.py
  dojo/tools/azure_security_center/__init__.py
  dojo/tools/azure_security_center/parser.py
  dojo/unittests/scans/azure_security_center/many_vulns.csv
  dojo/unittests/scans/azure_security_center/zero_vulns.csv
  dojo/unittests/tools/test_azure_security_center_parser.py
Labels: Import Scans

#5121 Custom Test_Type for parsers (modify "Found by" dynamicaly)
  docs/content/en/integrations/import.md
  dojo/db_migrations/0123_scan_type.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/test/views.py
  dojo/tools/parser_test.py
  dojo/tools/sarif/parser.py
  dojo/unittests/scans/sarif/appendix_k1_double.sarif
  dojo/unittests/scans/sarif/spotbugs.sarif
  dojo/unittests/test_importers_importer.py
  dojo/unittests/tools/test_sarif_parser.py
Labels: enhancement, New Migration

#5189 Rename Azure Security Center parser
  dojo/settings/settings.dist.py
  dojo/tools/azure_security_center_recommendations/__init__.py
  dojo/tools/azure_security_center_recommendations/parser.py
  dojo/unittests/scans/azure_security_center_recommendations/many_vulns.csv
  dojo/unittests/scans/azure_security_center_recommendations/zero_vulns.csv
  dojo/unittests/tools/test_azure_security_center_recommendations_parser.py
Labels: enhancement

#5192 Use https as submodule url of google/docsy.git
  .gitmodules
Labels: documentation

#5194 SonarQube API Import: set dedup algo
  dojo/settings/settings.dist.py
Labels: bugfix

#4107 Import SonarQube security hotspots
  dojo/db_migrations/0124_sonarqube_api_type_length_change.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/tools/sonarqube_api/api_client.py
  dojo/tools/sonarqube_api/importer.py
  dojo/unittests/scans/sonarqube_api/hotspots/many_vulns.json
  dojo/unittests/scans/sonarqube_api/hotspots/no_vuln.json
  dojo/unittests/scans/sonarqube_api/hotspots/one_vuln.json
  dojo/unittests/scans/sonarqube_api/hotspots/rule.json
  dojo/unittests/tools/test_sonarqube_api_parser.py
  dojo/unittests/tools/test_sonarqube_importer.py
Labels: enhancement, New Migration
