Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-12, with the labels that each got.

#5491 Endpoint Metadata Importer for adding tags/custom fields to Endpoints
  docs/content/en/usage/features.md
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0137_system_settings_enable_endpoint_metadata_import.py
  dojo/endpoint/urls.py
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/forms.py
  dojo/importers/reimporter/utils.py
  dojo/models.py
  dojo/templates/base.html
  dojo/templates/dojo/endpoint_meta_importer.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/report_findings.html
  dojo/templates/dojo/request_endpoint_report.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/snippets/tags.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_objects.html
  dojo/templates/dojo/view_objects_eng.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_test.html
  dojo/unittests/dojo_test_case.py
  dojo/unittests/scans/endpoint_meta_import/full_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/no_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/no_hostname_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_added_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_changed_endpoint_meta_import.csv
  dojo/unittests/scans/endpoint_meta_import/updated_removed_endpoint_meta_import.csv
  dojo/unittests/test_apiv2_methods.py
  dojo/unittests/test_endpoint_meta_import.py
  dojo/unittests/test_importers_importer.py
  dojo/unittests/test_utils.py
  dojo/urls.py
Labels: enhancement, New Migration, apiv2, docs, unittests

#5490 Update Nessus WAS parser to catch the lack of a port in CSV Parser
  dojo/tools/nessus_was/parser.py
  dojo/tools/sslscan/parser.py
Labels: bugfix, easy-review

#5450 main(helm): remove deprecated stable repo
  .github/workflows/k8s-testing.yml
  .github/workflows/new-release-chart.yml
  .github/workflows/new-release-tag-docker.yml
  .github/workflows/test-helm-chart.yml
  docs/content/en/getting_started/upgrading.md
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/secret-mysql.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: maintenance, docs

#5529 update docs for SOCIAL_AUTH_GOOGLE_OAUTH2_WHITELISTED_DOMAINS
  docs/content/en/integrations/social-authentication.md
Labels: docs

#5265 Upgrade to Django 3.2
  requirements.txt
Labels: enhancement, maintenance

#5531 Fixes for typos in UI and code
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/importers/reimporter/utils.py
Labels: bugfix, apiv2

#5506 Checkmarx parser aggregation and deduplication with query id
  dojo/tools/checkmarx/parser.py
  dojo/unittests/scans/checkmarx/multiple_findings_same_query_id.xml
  unittests/tools/test_checkmarx_parser.py
Labels: unittests

#5539 bump django to 3.2.9
  requirements.txt
Labels: easy-review

#5509 Fix files API
  dojo/api_v2/views.py
  unittests/test_rest_framework.py
Labels: bugfix, apiv2, unittests

#5543 Move unit test leftovers
  unittests/endpoint_meta_import/full_endpoint_meta_import.csv
  unittests/endpoint_meta_import/no_endpoint_meta_import.csv
  unittests/endpoint_meta_import/no_hostname_endpoint_meta_import.csv
  unittests/endpoint_meta_import/updated_added_endpoint_meta_import.csv
  unittests/endpoint_meta_import/updated_changed_endpoint_meta_import.csv
  unittests/endpoint_meta_import/updated_removed_endpoint_meta_import.csv
  unittests/scans/checkmarx/multiple_findings_same_query_id.xml
  unittests/test_endpoint_meta_import.py
  unittests/test_importers_importer.py
  unittests/tools/test_checkmarx_parser.py
Labels: maintenance, unittests

#5545 remove duplicated `{{block.super}}` lines
  dojo/templates/dojo/express_new_jira.html
  dojo/templates/dojo/new_cred.html
  dojo/templates/dojo/new_cred_mapping.html
  dojo/templates/dojo/new_cred_product.html
  dojo/templates/dojo/new_github.html
  dojo/templates/dojo/new_jira.html
  dojo/templates/dojo/new_object.html
  dojo/templates/dojo/new_tool_config.html
  dojo/templates/dojo/new_tool_product.html
  dojo/templates/dojo/new_tool_type.html
Labels: easy-review

#5495 use GHA caching for integration tests
  .github/workflows/integration-tests.yml
Labels: easy-review

#5544 Add organizational blocks around metrics.js files
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_engineer.html
  dojo/templates/dojo/view_product_details.html
Labels: maintenance, easy-review

#5540 remove findingimages leftovers
  docker/sample_data/initial_dojo_data.json
  dojo/static/dojo/css/dojo.css
Labels: docker, maintenance, easy-review

#5508 Add support for files in generic parser
  docs/content/en/integrations/import.md
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/models.py
  dojo/tools/generic/parser.py
  unittests/scans/generic/test_with_image.json
  unittests/tools/test_generic_parser.py
Labels: enhancement, docs, unittests

#5551 Fix staff permission to add product types
  dojo/authorization/authorization.py
Labels: bugfix

#5548 Typo in README and a missing parser in the documentation
  README.md
  docs/content/en/integrations/import.md
Labels: bugfix, easy-review, docs

#5552 Set default_auto_field after migration to Django 3.2
  dojo/settings/settings.dist.py
Labels: maintenance, settings_changes

#5484 Checkmarx: parse and set false positive, active and verified fields correctly
  dojo/importers/importer/importer.py
  dojo/tools/checkmarx/parser.py
  unittests/scans/checkmarx/single_finding_false_positive.xml
  unittests/test_import_reimport.py
  unittests/tools/test_checkmarx_parser.py
Labels: unittests

#5492 Autocreate product / engagement during (re)import
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/getting_started/demo.md
  docs/content/en/integrations/api-v2-docs.md
  docs/content/en/integrations/exporting.md
  docs/content/en/integrations/importing.md
  docs/content/en/integrations/parsers.md
  docs/static/images/export_1.png
  docs/static/images/export_2.png
  docs/static/images/imp_2.png
  docs/static/images/import_history1.png
  docs/static/images/import_history_details1.png
  docs/static/images/reupload_menu1.png
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/forms.py
  dojo/importers/reimporter/utils.py
  dojo/models.py
  unittests/dojo_test_case.py
  unittests/test_endpoint_meta_import.py
  unittests/test_importers_importer.py
  unittests/test_rest_framework.py
  unittests/test_utils.py
Labels: apiv2, docs, unittests

#5561 Added info on upgrading godojo installs of DefectDojo to the docs
  docs/content/en/getting_started/upgrading.md
Labels: docs

#5553 Add asynchronous re/imports (disabled by default)
  docs/content/en/getting_started/running-in-production.md
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/reimporter/utils.py
  dojo/importers/utils.py
  dojo/settings/settings.dist.py
  dojo/tools/nessus/parser.py
  unittests/test_importers_importer.py
Labels: enhancement, performance, settings_changes, docs, unittests

#5549 fix image migration for duplicate captions
  dojo/db_migrations/0118_remove_finding_images.py
Labels: bugfix, New Migration

#5560 api: update reimport docstring
  dojo/api_v2/views.py
Labels: apiv2

#5547 Respect `scan_date` at import time for all findings imported
  docs/content/en/integrations/importing.md
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  unittests/dojo_test_case.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
Labels: bugfix, apiv2, easy-review, docs, unittests

#5587 Add migration to enable/disable Google Sheets and Rules Framework (PR 1 of 3)
  dojo/db_migrations/0139_google_sheets_rules_framework_enable.py
  dojo/forms.py
  dojo/models.py
Labels: maintenance, New Migration

#5423 Configuration authorization: Permission checks and editing of permissions for users and groups
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/authorization_decorators.py
  dojo/db_migrations/0140_auth_group.py
  dojo/forms.py
  dojo/group/urls.py
  dojo/group/utils.py
  dojo/group/views.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/tool_type.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_user.html
  dojo/templatetags/authorization_tags.py
  dojo/tool_type/views.py
  dojo/user/urls.py
  dojo/user/views.py
  unittests/authorization/test_authorization.py
  unittests/authorization/test_authorization_decorators.py
  unittests/authorization/test_authorization_tags.py
  unittests/test_rest_framework.py
Labels: New Migration, settings_changes, apiv2, unittests

#5284 Fix: filesystem not to be writable by the defectdojo user
  Dockerfile.django
Labels: docker

#5620 Solar change deduplication model
  dojo/settings/settings.dist.py
  dojo/tools/solar_appscreener/parser.py
  unittests/tools/test_solar_appscreener_parser.py
Labels: settings_changes, unittests

#5626 update tagulous to 1.3.1 instead of hotfix commit
  requirements.txt
Labels: maintenance

#5625 Support version 8 of gitleaks
  dojo/settings/settings.dist.py
  dojo/tools/gitleaks/parser.py
  unittests/scans/gitleaks/gitleaks8_many.json
  unittests/tools/test_gitleaks_parser.py
Labels: maintenance, settings_changes, unittests

#5624 Disable not supported notifications
  .github/workflows/integration-tests.yml
  dojo/notifications/views.py
  dojo/product/views.py
  dojo/templates/dojo/notifications.html
  dojo/templates/dojo/view_product_details.html
  dojo/utils.py
  tests/local-integration-tests.sh
  tests/notifications_test.py
  tests/product_test.py
  tests/user_test.py
Labels: enhancement, integration_tests

#5633 Update to Django 3.2.10
  requirements.txt
Labels: dependencies, easy-review

#5611 Move USER_PROFILE_EDITABLE to system_settings
  dojo/db_migrations/0141_enable_user_profile_editable.py
  dojo/forms.py
  dojo/models.py
  dojo/settings/settings.dist.py
  tests/user_test.py
Labels: enhancement, New Migration, settings_changes, integration_tests

#5645 Show descriptions for scan types on pages for import and re-import
  dojo/engagement/views.py
  dojo/test/views.py
  dojo/tools/azure_security_center_recommendations/parser.py
  dojo/tools/cobalt_api/parser.py
  dojo/tools/factory.py
  dojo/tools/sonarqube_api/parser.py
Labels: enhancement, easy-review

#5574 add scan_date fix also for reimport, fix validation
  docs/content/en/integrations/api-v2-docs.md
  docs/content/en/integrations/importing.md
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  unittests/dojo_test_case.py
  unittests/scans/aws_prowler/many_vuln_plus_one.json
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/test_rest_framework.py
Labels: bugfix, apiv2, docs, unittests

#5639 docs: add pointer to open items for DD_ASYNC_FINDING_IMPORT
  docs/content/en/getting_started/running-in-production.md
Labels: docs

#5642 New parser for pip-audit
  dojo/settings/settings.dist.py
  dojo/tools/pip_audit/__init__.py
  dojo/tools/pip_audit/parser.py
  unittests/scans/pip-audit/empty.json
  unittests/scans/pip-audit/many_vulns.json
  unittests/scans/pip-audit/zero_vulns.json
  unittests/tools/test_pip_audit_parser.py
Labels: Import Scans, settings_changes, unittests

#5640 Revamp of the Anchore Grype parser
  dojo/tools/anchore_grype/parser.py
  unittests/scans/anchore_grype/check_all_fields.json
  unittests/tools/test_anchore_grype_parser.py
Labels: Import Scans, unittests

#5593 Give readers the permission to add notes
  docs/content/en/usage/permissions.md
  dojo/authorization/roles_permissions.py
  dojo/finding/views.py
  dojo/notes/urls.py
  dojo/notes/views.py
Labels: enhancement, security, easy-review, docs

#5592 Restrict deletion of environments
  dojo/db_migrations/0141_environment_delete.py
  dojo/development_environment/views.py
  dojo/models.py
Labels: bugfix, New Migration, easy-review

#5591 simplify and add comments for `auto_create_context`
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/importers/reimporter/utils.py
  unittests/dojo_test_case.py
  unittests/test_importers_importer.py
Labels: maintenance, apiv2, unittests

#5638 Checkmarx parser: fix empty filename
  dojo/tools/checkmarx/parser.py
  dojo/utils.py
  unittests/scans/checkmarx/single_no_filename.xml
  unittests/test_import_reimport.py
  unittests/tools/test_checkmarx_parser.py
Labels: bugfix, unittests

#5649 Fix database migration for deletion of development environments
  dojo/db_migrations/0142_environment_delete.py
Labels: maintenance, New Migration

#5610 Mail notification improvement
  dojo/templates/notifications/engagement_added.tpl
  dojo/templates/notifications/other.tpl
  dojo/templates/notifications/product_added.tpl
  dojo/templates/notifications/product_type_added.tpl
  dojo/templates/notifications/report_created.tpl
  dojo/templates/notifications/risk_acceptance_expiration.tpl
  dojo/templates/notifications/scan_added.tpl
  dojo/templates/notifications/sla_breach.tpl
  dojo/templates/notifications/test_added.tpl
  dojo/templates/notifications/upcoming_engagement.tpl
  dojo/templates/notifications/user_mentioned.tpl
Labels: enhancement

#5653 jira: respect summary max length (255)
  dojo/jira_link/helper.py
Labels: bugfix
