Repository DefectDojo/django-DefectDojo, pull requests merged in 2021-04, with the labels that each got.

#4159 Microfocus WebInspect parser: fix a bug in endpoint management
  dojo/tools/microfocus_webinspect/parser.py
  dojo/unittests/scans/microfocus_webinspect/Webinspect_V18_20.xml
  dojo/unittests/tools/test_microfocus_webinspect_parser.py
Labels: bugfix, easy-review

#4156 Testssl parser: fix filtering and use unsaved_endpoints
  dojo/tools/testssl/parser.py
  dojo/unittests/scans/testssl/demo.csv
  dojo/unittests/scans/testssl/demo2.csv
  dojo/unittests/scans/testssl/many_cves.csv
  dojo/unittests/tools/test_testssl_parser.py
Labels: bugfix, easy-review

#4151 Trustwave parser: switch endpoints to unsaved_endpoints
  dojo/tools/trustwave/parser.py
  dojo/unittests/tools/test_trustwave_parser.py
Labels: easy-review, enhancement

#4192 Fixes issues #4191
  dojo/unittests/tools/test_safety_parser.py
Labels: bugfix

#4017 Allow grouping of Findings (and push to JIRA)
  docs/content/integrations/jira.md
  docs/content/running/upgrading.md
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0080_jira_issue_templates.py
  dojo/db_migrations/0086_finding_groups.py
  dojo/decorators.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/finding_group/__init__.py
  dojo/finding_group/urls.py
  dojo/finding_group/views.py
  dojo/fixtures/defect_dojo_sample_data.json
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/delete_finding_group.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
  dojo/templates/issue-trackers/jira_limited/jira-description.tpl
  dojo/templates/issue-trackers/jira_limited/jira-finding-group-description.tpl
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/unittests/test_jira_config_product.py
  dojo/unittests/test_jira_template.py
  dojo/urls.py
  dojo/user/helper.py
  dojo/utils.py
Labels: Breaking Changes, New Migration, settings_changes

#4204 fix api prefetch for test imports
  dojo/api_v2/views.py
Labels: bugfix

#4208 finding groups: remove superfluous dropdown
  dojo/templates/dojo/view_test.html
Labels: easy-review

#4201 add hashcode computation instructions for 1.15.0
  docs/content/running/upgrading.md
Labels: easy-review

#4189 fix ORT parser error when importing oss-review-toolkit file
  dojo/tools/ort/parser.py
Labels: bugfix

#4199 optimize dedupe command, fix product grade
  docs/content/basics/features.md
  dojo/decorators.py
  dojo/management/commands/dedupe.py
  dojo/utils.py
Labels: bugfix, performance

#4207 jira: improve UI around inheritance for engagement JIRA config
  dojo/api_v2/serializers.py
  dojo/db_migrations/0048_sla_notifications.py
  dojo/db_migrations/0069_risk_acceptance.py
  dojo/db_migrations/0087_protect_jira_issues.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/models.py
  dojo/templates/dojo/new_eng.html
  dojo/unittests/dojo_test_case.py
  dojo/unittests/test_jira_config_engagement.py
  dojo/unittests/test_jira_config_product.py
  dojo/unittests/test_rest_framework.py
Labels: New Migration, enhancement

#4182 [anchore parser] add cvssv3_score when available
  dojo/tools/anchore_engine/parser.py
  dojo/unittests/tools/test_anchore_engine_parser.py
Labels: enhancement

#4150 Update Wapiti parser to support more recent versions
  dojo/tools/wapiti/parser.py
  dojo/unittests/scans/wapiti/cwe.xml
  dojo/unittests/scans/wapiti/demo.xml
  dojo/unittests/scans/wapiti/example.xml
  dojo/unittests/scans/wapiti/juicyshop.xml
  dojo/unittests/scans/wapiti_sample/wapiti_many_vuln.xml
  dojo/unittests/scans/wapiti_sample/wapiti_no_vuln.xml
  dojo/unittests/scans/wapiti_sample/wapiti_one_vuln.xml
  dojo/unittests/tools/test_wapiti_parser.py
Labels: enhancement

#4209 import history improvements
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0088_import_history_cicd.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/unittests/test_rest_framework.py
Labels: New Migration, enhancement

#4142 don't delete all duplicates when deleting an original, fix product grade on deletion.
  dojo/db_migrations/0058_document_finding_model.py
  dojo/finding/helper.py
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/unittests/test_duplication_loops.py
  dojo/utils.py
Labels: New Migration, bugfix, settings_changes

#4218 Show benchmark results in Product view only when benchmarks are enabled
  dojo/templates/dojo/view_product_details.html
Labels: easy-review

#4231 Fixes safety parser unit test#4191 (#4192)
  dojo/unittests/tools/test_safety_parser.py
Labels: bugfix

#4229 jira: remove validate parameter on config change
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/unittests/test_jira_config_product.py
Labels: bugfix

#4219 don't show fields on delete forms
  dojo/forms.py
Labels: bugfix, easy-review

#4124 Product engagements page performance
  dojo/product/views.py
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_engagements.html
Labels: easy-review, performance

#4049 Engagement page performance
  dojo/engagement/views.py
  dojo/filters.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templatetags/dict_key.py
Labels: easy-review, performance

#4241 bulk edit: fix auth v2 regression
  dojo/finding/views.py
Labels: bugfix

#4240 login banner: allow clickable urls
  dojo/db_migrations/0026_login_banner.py
  dojo/models.py
  dojo/templates/dojo/login.html
  dojo/templatetags/get_banner.py
Labels: enhancement

#4243 Integrate interactive and ci/cd engagements in one list
  dojo/engagement/views.py
  dojo/product/urls.py
  dojo/product/views.py
  dojo/templates/base.html
  dojo/templates/dojo/breadcrumbs/engagement_breadcrumb.html
  dojo/templates/dojo/new_eng.html
  dojo/templates/dojo/snippets/engagement_list.html
  tests/product_test.py
  tests/test_test.py
Labels: enhancement

#4121 Qualys parser: fixes TypeError: init() got an unexpected keyword argument 'resolve_entities'
  dojo/tools/qualys/parser.py
  dojo/tools/qualys/utfdictcsv.py
  dojo/unittests/scans/qualys/Qualys_Sample_Report.xml
  dojo/unittests/scans/qualys/empty.xml
  dojo/unittests/tools/test_qualys_parser.py
Labels: bugfix, easy-review

#4244 finding groups: clarify it's only available per test
  dojo/templates/dojo/findings_list_snippet.html
Labels: easy-review

#4245 reimport utils: move into its own folder
  dojo/api_v2/serializers.py
  dojo/importers/reimport/utils.py
  dojo/test/views.py
Labels: easy-review, maintenance

#4252 Push godojo in the supported install in README
  README.md
Labels: documentation

#4246 Harmonize import and reimport logic
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/reimporter/utils.py
  dojo/importers/utils.py
  dojo/notifications/helper.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/utils.py
  tests/dedupe_test.py
  tests/finding_test.py
  tests/ibm_appscan_test.py
Labels: maintenance

#4217 [PHPCS parser] fix invalid classname error
  dojo/tools/php_security_audit_v2/parser.py
  dojo/unittests/scans/php_security_audit_v2/many_vulns.json
  dojo/unittests/scans/php_security_audit_v2/php_security_audit_v2.0.0_unformatted.json
  dojo/unittests/tools/test_php_security_audit_v2_parser.py
Labels: bugfix, easy-review

#4268 SecureCodeBox - update java wrapper doc
  WRAPPERS.md
Labels: documentation

#4278 Update .gitignore
  .gitignore
Labels: maintenance

#4273 fix Nonetype when adding from template
  dojo/finding/helper.py
  dojo/forms.py
Labels: bugfix

#4284 [Snyk parser] Fix missing attribute errors
  dojo/tools/snyk/parser.py
  dojo/unittests/scans/snyk/all_projects_issue4277.json
  dojo/unittests/tools/test_snyk_parser.py
Labels: easy-review

#4291 delete jira issues when product/engagement is deleted
  dojo/db_migrations/0089_unprotect_jira_project.py
  dojo/models.py
Labels: bugfix, easy-review

#4282 fix __str__ for GitHub_Issue model
  dojo/models.py
Labels: bugfix, easy-review

#4281 Set rabbitMQ memory high watermark
  helm/defectdojo/Chart.yaml
  helm/defectdojo/values.yaml
Labels: bugfix, easy-review

#4239 Bandit parser: implement scanner confidence
  dojo/tools/bandit/parser.py
  dojo/unittests/scans/bandit/dd.json
  dojo/unittests/tools/test_bandit_parser.py
  tests/dedupe_scans/dedupe_path_1.json
  tests/dedupe_scans/dedupe_path_2.json
Labels: easy-review, enhancement

#4247 Harmonize managing of users with the rest of the UI
  dojo/forms.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/new_product_member_user.html
  dojo/templates/dojo/new_product_type_member_user.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/user/urls.py
  dojo/user/views.py
  dojo/utils.py
  tests/user_test.py
Labels: enhancement

#4294 Fix datetime/date mismatch between CICD engagement and test
  dojo/engagement/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/importers/utils.py
  dojo/test/views.py
Labels: bugfix, easy-review

#4296 [Nexpose parser] Fix error with Python 3.9
  dojo/tools/nexpose/parser.py
Labels: enhancement

#4183 Contrast parser: switch endpoint to unsaved_endpoints
  dojo/tools/contrast/parser.py
  dojo/unittests/tools/test_contrast_parser.py
Labels: easy-review, enhancement

#4258 [Semgrep parser] fix internal de-duplication
  dojo/tools/semgrep/__init__.py
  dojo/tools/semgrep/models.py
  dojo/tools/semgrep/parser.py
  dojo/unittests/scans/semgrep/empty.json
  dojo/unittests/scans/semgrep/many_vulns.json
  dojo/unittests/tools/test_semgrep_parser.py
Labels: easy-review, enhancement

#4029 Add parser for CycloneDX
  docs/content/integrations/import.md
  dojo/tools/cyclonedx/__init__.py
  dojo/tools/cyclonedx/parser.py
  dojo/unittests/scans/cyclonedx/cyclonedx_bom.xml
  dojo/unittests/scans/cyclonedx/grype.xml
  dojo/unittests/scans/cyclonedx/grype_dd_1_14_1.xml
  dojo/unittests/scans/cyclonedx/jake.xml
  dojo/unittests/scans/cyclonedx/spec1.xml
  dojo/unittests/tools/test_cyclonedx_parser.py
Labels: Import Scans, easy-review

#4286 update npm audit parser description
  dojo/tools/npm_audit/parser.py
Labels: easy-review, maintenance

#4295 reimporter: make close_old_findings True by default everywhere
  dojo/importers/reimporter/reimporter.py
Labels: maintenance

#4137 OpenVAS parser: add port and protocol implementation
  dojo/tools/openvas_csv/parser.py
  dojo/unittests/tools/test_openvas_csv_parser.py
Labels: enhancement

#4303 [Burp Entreprise parser] fixes HTML read issue #4287
  dojo/tools/burp_enterprise/parser.py
Labels: bugfix

#4302 Helm chart linting - pick target branch
  .github/workflows/test-helm-chart.yml
Labels: maintenance

#4311 filters: file_path partial matching instead of exact match
  dojo/filters.py
Labels: easy-review, enhancement

#4305 view_finding: show hash_code in title of ID field
  dojo/management/commands/dedupe.py
  dojo/templates/dojo/view_finding.html
Labels: easy-review, enhancement

#4299 Add Microsoft CredScan parser
  docs/content/integrations/import.md
  dojo/tools/cred_scan/__init__.py
  dojo/tools/cred_scan/parser.py
  dojo/unittests/scans/cred_scan/cred_scan_many_vuln.csv
  dojo/unittests/scans/cred_scan/cred_scan_no_vuln.csv
  dojo/unittests/scans/cred_scan/cred_scan_one_vuln.csv
  dojo/unittests/tools/test_cred_scan_parser.py
Labels: Import Scans

#4324 Delete unused entrypoint-celery.sh
  docker/entrypoint-celery.sh
Labels: easy-review, maintenance

#4323 SpotBugs: Use hash_code for deduplication and minor enhancements
  dojo/settings/settings.dist.py
  dojo/tools/spotbugs/parser.py
Labels: enhancement

#4325 Include suggested CredScan fixes from #4299
  dojo/tools/cred_scan/parser.py
  dojo/unittests/tools/test_cred_scan_parser.py
Labels: maintenance

#4333 Authorization V2: Integrationtests for management of product members and product type members
  docker/entrypoint-integration-tests.sh
  dojo/fixtures/product_type.json
  dojo/templates/dojo/finding_related_actions.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
  tests/base_test_class.py
  tests/product_member_test.py
  tests/product_type_member_test.py
  tests/user_test.py
Labels: enhancement

#4332 JIRA webhooks to properly handle JIRA resolution when set as 2nd step
  dojo/fixtures/initial_surveys.json
  dojo/jira_link/helper.py
Labels: bugfix

#4331 Import History: fix Endpoint JSON Serialization issue
  dojo/importers/importer/importer.py
  dojo/importers/utils.py
  dojo/unittests/dojo_test_case.py
  dojo/unittests/scans/clair/few_vuln.json
  dojo/unittests/test_import_reimport.py
Labels: bugfix, easy-review

#4349 Re-import fix "Finding has not test" exception
  dojo/importers/reimporter/reimporter.py
Labels: bugfix, easy-review

#4308 [Acunetix parser] Remove lxml, implements endpoints/date/CVSS vectors and requests
  docs/content/running/upgrading.md
  dojo/tools/acunetix/parser.py
  dojo/tools/acunetix/parser_helper.py
  dojo/tools/acunetix/parser_models.py
  dojo/unittests/scans/acunetix/XML_http_example_co_id_.xml
  dojo/unittests/scans/acunetix/one_finding.xml
  dojo/unittests/tools/test_acunetix_parser.py
Labels: enhancement, hashcode-update-needed

#4354 [Generic parser] Add more unit tests
  dojo/unittests/scans/generic/generic_report1.csv
  dojo/unittests/tools/test_generic_parser.py
Labels: easy-review, enhancement

#4339 Unaccept risk on finding edit only if already accepted
  dojo/finding/views.py
Labels: bugfix, easy-review

#4365 Duplicate scanner name fix #4275
  dojo/engagement/views.py
  dojo/importers/utils.py
Labels: bugfix

#4345 [Gitlab SAST parser] Fixes missing severity error
  dojo/tools/gitlab_sast/parser.py
  dojo/unittests/scans/gitlab_sast/gl-sast-report_issue4344.json
  dojo/unittests/tools/test_gitlab_sast_parser.py
Labels: bugfix, easy-review

#4364 [RetireJS parser] fix JSON parsing error
  dojo/tools/retirejs/parser.py
  dojo/unittests/scans/retirejs/latest.json
  dojo/unittests/tools/test_retirejs_parser.py
Labels: bugfix, easy-review

#4355 Bulk risk acceptance filter remove need for Verified status
  dojo/models.py
Labels: bugfix, easy-review

#4371 Added media path
  nginx/nginx_TLS.conf
Labels: easy-review, maintenance

#4357 [Nikto parser] Fix severity and add more unit tests
  dojo/tools/nikto/parser.py
  dojo/unittests/scans/nikto/nikto-output.xml
  dojo/unittests/scans/nikto/tdh.json
  dojo/unittests/scans/nikto/tdh.xml
  dojo/unittests/tools/test_nikto_parser.py
Labels: easy-review, enhancement

#4346 AuthV2: Change wording (admin set user perms)
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
Labels: bugfix, easy-review

#4361 [ZAP parser] fixes missing attribute 'param' error
  dojo/tools/zap/parser.py
  dojo/unittests/scans/zap/dvwa_baseline_dojo.xml
  dojo/unittests/tools/test_zap_parser.py
Labels: bugfix, easy-review

#4366 jira: fix silent epic error during unit tests
  dojo/fixtures/dojo_testdata.json
  dojo/unittests/test_jira_import_and_pushing_api.py
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_create_edit_update_finding_no_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_creation.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_but_push_all.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira_push_all_issues.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_epic_as_issue_type.yaml
  dojo/unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false_but_push_all.yaml
Labels: easy-review, maintenance

#4312 dependency check improvements
  docs/content/running/upgrading.md
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/breadcrumbs/finding_breadcrumb.html
  dojo/templates/dojo/view_test.html
  dojo/tools/dependency_check/parser.py
  dojo/unittests/tools/test_dependency_check_parser.py
Labels: enhancement

#4307 npm audit scan: make dedupe work with hashes in paths
  docs/content/running/upgrading.md
  dojo/db_migrations/0091_npm_audit_path_censoring.py
  dojo/tools/npm_audit/parser.py
  dojo/unittests/scans/npm_audit_sample/many_vuln.json
  dojo/unittests/tools/test_npm_audit_scan_parser.py
Labels: New Migration, easy-review

#4315 [Nexpose parser] add identification of L4 protocol tcp/udp for DNS service
  dojo/tools/nexpose/parser.py
  dojo/unittests/scans/nexpose/dns.xml
  dojo/unittests/tools/test_nexpose_parser.py
Labels: enhancement

#4373 [Qualys parser] fix parsing issues when cvss field contains a vector
  dojo/tools/qualys/parser.py
  dojo/unittests/scans/qualys/Qualys_Sample_Report.xml
  dojo/unittests/tools/test_qualys_parser.py
Labels: bugfix

#4381 k8s gha: Fix logging check application step
  .github/workflows/k8s-testing.yml
Labels: maintenance

#4379 Bump python to 3.8
  Dockerfile.django
  Dockerfile.integration-tests
  Dockerfile.nginx
Labels: easy-review, enhancement

#4386 Fix helm chart push
  .github/workflows/new-release-tag-docker.yml
Labels: maintenance

#4383 Anchore parser: add optional custom vulnerability description
  dojo/tools/anchore_engine/parser.py
Labels: enhancement

#4397 Recognize .nessus file names
  dojo/tools/nessus/parser.py
Labels: enhancement

#4402 Recognize .nessus file names by @pburkholder
  dojo/tools/nessus/parser.py
Labels: enhancement
