Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-12, with the labels that each got.

#7226 Rev k8 supported versions
  .github/workflows/k8s-testing.yml
Labels: maintenance

#7200 Attempt correction of documentation building and helm linting
  .github/workflows/submodule-update.yml
  .github/workflows/test-helm-chart.yml
Labels: maintenance

#7201 Add upgrade docs for 2.17.x
  docs/content/en/getting_started/upgrading.md
Labels: do-not-merge, easy-review, docs

#7217 Add additional error catching for severity in Checkov Parser
  dojo/tools/checkov/parser.py
Labels: bugfix, easy-review, parser

#7199 Remove last instance of "is_Mitigated"
  dojo/tools/qualys/csv_parser.py
Labels: maintenance, easy-review, parser

#7208 Fixed bug with the horusec parser's date parser.
  dojo/tools/horusec/parser.py
  unittests/tools/test_horusec_parser.py
Labels: unittests, parser

#6692 Add parser and importer for Vulners.com reports API
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/vulners/__init__.py
  dojo/tools/vulners/api_client.py
  dojo/tools/vulners/importer.py
  dojo/tools/vulners/parser.py
  requirements.txt
  unittests/scans/vulners/report_many_vulns.json
  unittests/scans/vulners/report_no_description.json
  unittests/scans/vulners/report_no_vulns.json
  unittests/scans/vulners/report_one_vuln.json
  unittests/tools/test_vulners_parser.py
Labels: Waiting on response, settings_changes, docs, unittests, parser

#7228 Update settings.dist.py to include scan file size as env variable
  dojo/settings/settings.dist.py
Labels: settings_changes

#7198 Add middleware to alert users of missing trailing slash
  dojo/middleware.py
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#7221 Dockerfile for alpine-based django docker image
  Dockerfile.django-alpine
Labels: docker

#7220 Fixed finding deletion in integration test
  tests/finding_test.py
Labels: integration_tests

#7219 Adding API switch close_old_findings_product_scope to allow closing f…
  docs/content/en/usage/features.md
  dojo/api_v2/serializers.py
  dojo/importers/importer/importer.py
Labels: apiv2, docs

#7236 Improved the design of the custom html report findings
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/snippets/endpoints.html
Labels: ui

#7190 JFrog xray api corrections
  dojo/tools/jfrog_xray_api_summary_artifact/parser.py
  unittests/scans/jfrog_xray_api_summary_artifact/many_vulns.json
  unittests/scans/jfrog_xray_api_summary_artifact/no_vuln.json
  unittests/scans/jfrog_xray_api_summary_artifact/one_vuln.json
  unittests/tools/test_jfrog_xray_api_summary_artifact_parser.py
Labels: unittests, parser

#7135 Fix verified/active logic in the re-importer
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/test/views.py
  tests/dedupe_test.py
  unittests/dojo_test_case.py
  unittests/test_import_reimport.py
Labels: apiv2, unittests, integration_tests

#7255 Translate product type
  dojo/product_type/views.py
  dojo/templates/dojo/delete_product_type.html
  dojo/templates/dojo/delete_product_type_group.html
  dojo/templates/dojo/delete_product_type_member.html
  dojo/templates/dojo/edit_product_type.html
  dojo/templates/dojo/edit_product_type_group.html
  dojo/templates/dojo/edit_product_type_member.html
  dojo/templates/dojo/new_product_type.html
  dojo/templates/dojo/new_product_type_group.html
  dojo/templates/dojo/new_product_type_member.html
  dojo/templates/dojo/paging_snippet.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/view_product_type.html
Labels: ui

#7252 Add an ability to change SAML AUTHENTICATION_BACKENDS by the env var
  dojo/settings/settings.dist.py
Labels: settings_changes

#7211 "Duplicates" marked as "Active" after deleting a engagement with those findings "Mitigated"
  dojo/finding/helper.py
  unittests/test_duplication_loops.py
Labels: unittests

#7258 Replace url() by re_path(), ugettext_lazy() by gettext_lazy(), filter_fields by filterset_fields, filter_class by filterset_class, assertEquals by assertEqual for Django 4.x
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/banner/urls.py
  dojo/benchmark/urls.py
  dojo/components/urls.py
  dojo/cred/urls.py
  dojo/development_environment/urls.py
  dojo/endpoint/urls.py
  dojo/engagement/urls.py
  dojo/filters.py
  dojo/finding/urls.py
  dojo/finding_group/urls.py
  dojo/github_issue_link/urls.py
  dojo/google_sheet/urls.py
  dojo/group/urls.py
  dojo/home/urls.py
  dojo/jira_link/urls.py
  dojo/metrics/urls.py
  dojo/note_type/urls.py
  dojo/notes/urls.py
  dojo/notifications/urls.py
  dojo/object/urls.py
  dojo/product/urls.py
  dojo/product_type/urls.py
  dojo/regulations/urls.py
  dojo/reports/urls.py
  dojo/rules/urls.py
  dojo/search/urls.py
  dojo/settings/template-local_settings
  dojo/sla_config/urls.py
  dojo/survey/urls.py
  dojo/system_settings/urls.py
  dojo/test/urls.py
  dojo/test_type/urls.py
  dojo/tool_config/urls.py
  dojo/tool_product/urls.py
  dojo/tool_type/urls.py
  dojo/urls.py
  dojo/user/urls.py
  unittests/dojo_test_case.py
  unittests/test_bulk_risk_acceptance_api.py
  unittests/test_cleanup_alerts.py
  unittests/test_deduplication_logic.py
  unittests/test_sonarqube_updater.py
  unittests/test_system_settings.py
  unittests/test_tags.py
  unittests/tools/test_bundler_audit_parser.py
  unittests/tools/test_burp_graphql_parser.py
  unittests/tools/test_dsop_parser.py
  unittests/tools/test_intsights_parser.py
  unittests/tools/test_jfrog_xray_unified_parser.py
  unittests/tools/test_jfrogxray_parser.py
  unittests/tools/test_mobsf_parser.py
  unittests/tools/test_outpost24_parser.py
  unittests/tools/test_sarif_parser.py
  unittests/tools/test_wpscan_parser.py
Labels: maintenance, apiv2, unittests

#7269 Importer + Re-Importer are setting active/verified to false by default
  dojo/api_v2/serializers.py
Labels: apiv2

#7289 Add endpoints to Qualys dedupe settings
  dojo/settings/settings.dist.py
Labels: settings_changes, easy-review

#7291 Fix for overscroll issue
  dojo/static/dojo/css/dojo.css
Labels: ui

#7306 Update rabbit chart version
  helm/defectdojo/Chart.yaml
Labels: helm

#7301 Fix regression in blocktranslate
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/edit_product_type.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/paging_snippet.html
  dojo/templates/dojo/pt_counts.html
  dojo/templates/dojo/view_note_history.html
Labels: ui

#6439 Dependency Check parser.py update
  dojo/tools/dependency_check/parser.py
  unittests/scans/dependency_check/PR6439.xml
  unittests/scans/dependency_check/multiple_vulnerabilities_has_multiple_findings.xml
  unittests/scans/dependency_check/single_dependency_with_related_no_vulnerability.xml
  unittests/scans/dependency_check/single_vuln.xml
  unittests/tools/test_dependency_check_parser.py
Labels: unittests, parser

#7302 Fixing error when grype location is empty
  dojo/tools/anchore_grype/parser.py
Labels: parser

#7307 Set Veracode "Fixed" findings as mitigated
  dojo/tools/veracode/parser.py
  unittests/scans/veracode/mitigated_fixed_finding.xml
  unittests/tools/test_veracode_parser.py
Labels: unittests, parser

#7320 Address K8 rate limiting issue
  .github/workflows/k8s-testing.yml
Labels: easy-review

#7316 Survey Bugs: Submit multichoice question, 500 when editing name
  dojo/survey/views.py
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
Labels: bugfix, easy-review, ui

#7319 Add AUDITLOG_DISABLE_ON_RAW_SAVE to Settings
  dojo/settings/settings.dist.py
Labels: maintenance, settings_changes, easy-review

#7318 Add last login field to users page
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/user/views.py
Labels: easy-review, ui

#7328 Fix for CSS issue for EasyMDE table icon
  dojo/static/dojo/css/dojo.css
Labels: ui
