Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-04, with the labels that each got.

#6093 Update settings.dist.py to force_auth for SAML2
  dojo/settings/settings.dist.py
Labels: enhancement, settings_changes

#6098 Show file selection dialogue in OpenAPI3 Swagger
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#6113 Fix view tool product error
  dojo/templates/dojo/view_tool_product_all.html
Labels: bugfix, ui

#6103 Update Nuclei importer maintaining backwards compatibility
  dojo/tools/nuclei/parser.py
  unittests/scans/nuclei/many_findings_new.json
  unittests/tools/test_nuclei_parser.py
Labels: unittests, parser

#6058 Deprecation notice for legacy authorization for configurations
  docs/content/en/getting_started/upgrading.md
  dojo/home/views.py
Labels: docs

#6059 Add Hydra Parser
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/hydra/__init__.py
  dojo/tools/hydra/parser.py
  unittests/scans/hydra/hydra_report_many_finding.json
  unittests/scans/hydra/hydra_report_no_finding.json
  unittests/scans/hydra/hydra_report_one_finding.json
  unittests/scans/hydra/hydra_report_one_finding_missing_date.json
  unittests/scans/hydra/hydra_report_two_findings_with_one_incomplete.json
  unittests/scans/hydra/invalid.json
  unittests/scans/hydra/oddly_familiar_json_that_isnt_us.json
  unittests/tools/test_hydra_parser.py
Labels: settings_changes, docs, unittests, parser

#6114 Bulk notes
  dojo/finding/views.py
  dojo/forms.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
Labels: ui

#6123 Changed blue panel CSS, plus a few minor design fixes
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/dashboard.html
Labels: ui

#6140 Helm Chart: Fix indentation for ingressClassName
  helm/defectdojo/templates/django-ingress.yaml
Labels: helm

#6151 Endpoint Meta Importer - Import UTF-8-BOM files
  dojo/endpoint/utils.py
Labels: bugfix

#6160 Improve notifications on Exceptions
  dojo/notifications/helper.py
  dojo/tools/sonarqube_api/importer.py
Labels: parser

#6165 Enhanced documentation for Docker scripts
  readme-docs/DOCKER.md
Labels: docs

#6135 Unittests speed-up - skip TestRemoveEndpointMitigatedMigration
  unittests/test_migrations.py
Labels: unittests

#5904 Replace CVE with Vulnerability references in Findings
  docs/content/en/getting_started/upgrading.md
  dojo/api_v2/serializers.py
  dojo/db_migrations/0157_vulnerability_reference.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  dojo/models.py
  dojo/product/views.py
  dojo/risk_acceptance/api.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/finding_related_list.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/promote_to_finding.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/cyclonedx/parser.py
  dojo/tools/pip_audit/parser.py
  tests/finding_test.py
  tests/product_test.py
  unittests/test_finding_helper.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/tools/test_anchore_grype_parser.py
  unittests/tools/test_cyclonedx_parser.py
  unittests/tools/test_pip_audit_parser.py
Labels: enhancement, New Migration, settings_changes, apiv2, docs, unittests, integration_tests, ui, parser

#6178 Vulnerability References: Change to vulnerability reference in risk acceptance API
  docs/content/en/getting_started/upgrading.md
  dojo/risk_acceptance/api.py
  unittests/test_bulk_risk_acceptance_api.py
  unittests/test_swagger_schema.py
Labels: docs, unittests

#6150 Notifications enhancement
  docs/content/en/integrations/notifications.md
  dojo/templates/dojo/notifications.html
Labels: docs, ui

#6185 Hotfix 0150 - skip broken endpoint_statuses + command for removal of broken endpoints
  dojo/db_migrations/0150_dedupe_endpoint_status.py
  dojo/endpoint/utils.py
  dojo/management/commands/fix_broken_endpoint_status.py
  unittests/test_endpoint_model.py
  unittests/test_migrations.py
Labels: New Migration, unittests

#6187 Rename vulnerability reference to vulnerability id
  docs/content/en/getting_started/upgrading.md
  dojo/api_v2/serializers.py
  dojo/db_migrations/0158_vulnerability_id.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  dojo/models.py
  dojo/product/views.py
  dojo/risk_acceptance/api.py
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/finding_related_list.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/promote_to_finding.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/bugcrowd/parser.py
  dojo/tools/cyclonedx/parser.py
  dojo/tools/pip_audit/parser.py
  tests/finding_test.py
  tests/product_test.py
  unittests/test_bulk_risk_acceptance_api.py
  unittests/test_finding_helper.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/test_swagger_schema.py
  unittests/tools/test_anchore_grype_parser.py
  unittests/tools/test_cyclonedx_parser.py
  unittests/tools/test_pip_audit_parser.py
Labels: New Migration, apiv2, docs, unittests, integration_tests, ui, parser

#6192 Endpoint_status: Disable to set "endpoint" and "finding" to null
  dojo/db_migrations/0159_remove_broken_endpoint_statuses.py
  dojo/db_migrations/0160_set_notnull_endpoint_statuses.py
  dojo/finding/helper.py
  dojo/models.py
  unittests/test_endpoint_model.py
  unittests/test_migrations.py
Labels: New Migration, unittests

#6041 Logging enhancement
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  dojo/finding/views.py
  dojo/middleware.py
  dojo/settings/settings.dist.py
  dojo/utils.py
  nginx/nginx.conf
Labels: docker, settings_changes

#6199 Fix 500 error when editing or adding user and new FEATURE_CONFIGURATION_AUTHORIZATION configuration if not superuser
  dojo/forms.py
Labels: bugfix

#6194 Enlarge RAM Request
  helm/defectdojo/values.yaml
Labels: easy-review, helm
