Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-02, with the labels that each got.

#5839 copy python files from extra_settings
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-uwsgi.sh
Labels: docker, maintenance, kubernetes

#5688 upgrade python:3.8.12-slim-buster -> python:3.8.12-slim-bullseye
  Dockerfile.django
  Dockerfile.integration-tests
  Dockerfile.nginx
  dojo/__init__.py
Labels: docker

#5883 Ignore warning from django-auditlog
  dojo/settings/settings.dist.py
Labels: maintenance, settings_changes

#5882 Make alert the default notification in API
  dojo/api_v2/serializers.py
  dojo/db_migrations/0148_default_notifications.py
  dojo/models.py
Labels: enhancement, New Migration, apiv2, easy-review

#5745 Kubernetes hostname changes
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: enhancement, docs

#5884 Copy only *.py files from extra_settings
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-uwsgi.sh
Labels: docker, bugfix

#5890 make JIRA authentication docs more explicit
  docs/content/en/integrations/jira.md
Labels: docs

#5899 Add Postgres NULL char validation/removal in Endpoint cleaning
  dojo/models.py
Labels: bugfix

#5902 Sum Info findings as well in metrics severity count
  dojo/metrics/views.py
Labels: bugfix, easy-review

#5905 APIv2: allow searching users by parameters 'is_active' and 'is_superuser'
  dojo/api_v2/views.py
Labels: apiv2

#5916 Flexible permissions for the configuration of DefectDojo are now active by default
  docs/content/en/getting_started/upgrading.md
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  tests/base_test_class.py
  tests/group_test.py
  tests/user_test.py
Labels: settings_changes, docs, integration_tests, ui

#5816 Add PostgreSQL as an option for Docker Compose
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  .gitignore
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-up-d.sh
  dc-up.sh
  docker-compose.override.debug.yml
  docker-compose.override.dev.yml
  docker-compose.override.https.yml
  docker-compose.override.integration_tests.yml
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docker-compose.yml
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/environments/mysql-rabbitmq.env
  docker/environments/mysql-redis.env
  docker/environments/postgres-rabbitmq.env
  docker/environments/postgres-redis.env
  docker/setEnv.sh
  docs/content/en/getting_started/running-in-production.md
  docs/content/en/getting_started/upgrading.md
  readme-docs/DOCKER.md
  tests/dedupe_test.py
  tests/finding_test.py
  tests/product_type_test.py
  tests/test_test.py
Labels: enhancement, docker, docs, integration_tests

#5898 Don't show 'all alerts' and 'clear all alerts' when no notification found
  dojo/templates/base.html
Labels: ui

#5894 Format of reviewer form
  dojo/forms.py
  dojo/user/queries.py
  tests/product_test.py
  tests/test_test.py
Labels: integration_tests

#5925 Doc: fix path in "Contributing/Parsers"
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

#5931 harbor vulnscan deduplication algorithm #5926
  dojo/settings/settings.dist.py
Labels: settings_changes

#5927 Remove host from links for custom reports
  dojo/templates/dojo/custom_html_report.html
  dojo/templates/report_base.html
Labels: bugfix, ui

#5886 fix(helm): update redis keys
  docs/content/en/getting_started/upgrading.md
  helm/defectdojo/templates/secret-redis.yaml
  helm/defectdojo/values.yaml
Labels: bugfix, Breaking Changes, docs

#5942 Fix indentation in docker-compose.override.debug.yml
  docker-compose.override.debug.yml
Labels: docker

#5945 Docker-compose: Add mailhog to dc-debug + remove noise
  docker-compose.override.debug.yml
  docker-compose.override.dev.yml
Labels: docker

#5940 Adds duroc hog to rusty hog
  docs/content/en/integrations/parsers.md
  dojo/tools/rusty_hog/parser.py
  unittests/scans/rusty_hog/durochog_many_vulns.json
  unittests/scans/rusty_hog/durochog_no_vuln.json
  unittests/scans/rusty_hog/durochog_one_vuln.json
  unittests/tools/test_rusty_hog_parser.py
Labels: docs, unittests, parser

#5949 Harmonize user format
  dojo/db_migrations/0149_harmonize_user_format.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/snippets/comments.html
Labels: New Migration, ui

#5903 Use scan_type to determine hash_code and deduplication algorithms
  dojo/fixtures/dojo_testdata.json
  dojo/importers/reimporter/reimporter.py
  dojo/importers/reimporter/utils.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/utils.py
  unittests/test_deduplication_logic.py
Labels: bugfix, settings_changes, unittests

#5932 main(docker): remove duplicated default envs from dockerfile
  Dockerfile.django
  dojo/settings/settings.dist.py
Labels: docker, maintenance, settings_changes

#5941 Add StackHawk HawkScan webhook event parser
  dc-unittest.sh
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/stackhawk/__init__.py
  dojo/tools/stackhawk/parser.py
  readme-docs/DOCKER.md
  unittests/scans/stackhawk/invalid.json
  unittests/scans/stackhawk/oddly_familiar_json_that_isnt_us.json
  unittests/scans/stackhawk/stackhawk_many_vul.json
  unittests/scans/stackhawk/stackhawk_one_vul.json
  unittests/scans/stackhawk/stackhawk_one_vuln_all_endpoints_false_positive.json
  unittests/scans/stackhawk/stackhawk_one_vuln_all_endpoints_have_different_status.json
  unittests/scans/stackhawk/stackhawk_one_vuln_all_endpoints_risk_accepted.json
  unittests/scans/stackhawk/stackhawk_zero_vul.json
  unittests/tools/test_stackhawk_parser.py
Labels: settings_changes, docs, unittests, parser
