Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-09, with the labels that each got.

#6777 Corrected deduplication settings for 'Twistlock Image Scan'
  dojo/settings/settings.dist.py
Labels: settings_changes

#6770 Corrected deduplication settings for 'Anchore Enterprise Policy Check'
  dojo/settings/settings.dist.py
Labels: settings_changes

#6782 Auth: Add RemoteUser implementation
  docs/content/en/integrations/social-authentication.md
  dojo/pipeline.py
  dojo/remote_user.py
  dojo/settings/settings.dist.py
  requirements.txt
Labels: settings_changes, docs

#6775 Fix bug that caused scan imports to fail
  dojo/tools/edgescan/api_client.py
Labels: parser

#6817 Sort findings in notifications
  dojo/notifications/helper.py
Labels: enhancement, easy-review

#6819 Translate metrics
  dojo/metrics/views.py
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/pt_counts.html
  dojo/templates/dojo/simple_metrics.html
Labels: ui

#6825 Update the text that slack notification shows
  dojo/templates/notifications/test_added.tpl
Labels: ui

#6621 #6620 Create API importer for Bugcrowd
  .flake8
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/templates/dojo/add_product_api_scan_configuration.html
  dojo/templates/dojo/edit_product_api_scan_configuration.html
  dojo/tool_config/factory.py
  dojo/tools/bugcrowd_api/__init__.py
  dojo/tools/bugcrowd_api/api_client.py
  dojo/tools/bugcrowd_api/importer.py
  dojo/tools/bugcrowd_api/parser.py
  unittests/scans/bugcrowd_api/bugcrowd_empty.json
  unittests/scans/bugcrowd_api/bugcrowd_many.json
  unittests/scans/bugcrowd_api/bugcrowd_one.json
  unittests/tools/test_bugcrowd_api_importer.py
  unittests/tools/test_bugcrowd_api_parser.py
Labels: settings_changes, docs, unittests, ui, parser

#6786 fix npm audit JFrog Artifactory import bug
  dojo/tools/utils.py
  unittests/scans/npm_audit_sample/cwe_null.json
  unittests/tools/test_npm_audit_parser.py
Labels: unittests, parser

#6798 Optimize metrics
  dojo/endpoint/views.py
  dojo/finding/queries.py
  dojo/metrics/views.py
  dojo/templates/dojo/metrics.html
  dojo/utils.py
  unittests/test_metrics_queries.py
Labels: unittests, ui

#6759 switch to Has Capabilities
  helm/defectdojo/templates/django-ingress.yaml
Labels: easy-review, helm

#6851 Center the "No Endpoints" text to match the other objects
  dojo/templates/dojo/endpoints.html
Labels: ui

#6850 Fix simple search width
  dojo/static/dojo/css/dojo.css
Labels: ui

#6849 Update release automation to fix helm issues, Bump versions
  .github/workflows/release-1-create-pr.yml
  .github/workflows/release-3-master-into-dev.yml
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

#6764 Replace documentation links
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/gh-pages.yml
  README.md
  docs/content/en/contributing/branching-model.md
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/jira.md
  dojo/__init__.py
  dojo/settings/settings.dist.py
  dojo/settings/settings.py
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
  dojo/tools/risk_recon/api.py
  readme-docs/CONTRIBUTING.md
  readme-docs/DOCKER.md
  readme-docs/RELEASING.md
  tests/Import_scanner_test.py
Labels: maintenance, settings_changes, docs, integration_tests, ui, parser

#6848 Fixed bleach clean not allowing links in descriptions
  dojo/templatetags/display_tags.py
Labels: ui

#6847 API Cleanup: Set sane defaults for non required fields and safely retrieve results
  dojo/api_v2/serializers.py
  dojo/tools/factory.py
Labels: bugfix, apiv2, parser

#6846 Added questionnaire functionality documentation
  docs/content/en/usage/questionnaires.md
  docs/static/images/questionnaires-add-from-engagement.png
  docs/static/images/questionnaires-added.png
  docs/static/images/questionnaires-assign-user.png
  docs/static/images/questionnaires-create-engagement.png
  docs/static/images/questionnaires-create-new.png
  docs/static/images/questionnaires-main-view.png
  docs/static/images/questionnaires-multiple-choice.png
  docs/static/images/questionnaires-new-engagement.png
  docs/static/images/questionnaires-open-ended.png
  docs/static/images/questionnaires-publicize.png
  docs/static/images/questionnaires-question-search.png
  docs/static/images/questionnaires-questions.png
  docs/static/images/questionnaires-respond.png
  docs/static/images/questionnaires-search.png
  docs/static/images/questionnaires-select-questions.png
  docs/static/images/questionnaires-select-survey.png
  docs/static/images/questionnaires-share.png
  docs/static/images/questionnaires-sidebar.png
  docs/static/images/questionnaires-system-settings.png
  docs/static/images/questionnaires-unassigned.png
  docs/static/images/questionnaires-view-questionnaire.png
  docs/static/images/questionnaires-view-responses.png
Labels: docs

#6852 Release Version 2.14.1
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release-1-create-pr.yml
  .github/workflows/release-3-master-into-dev.yml
  .github/workflows/test-helm-chart.yml
  README.md
  components/package.json
  docs/content/en/contributing/branching-model.md
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/jira.md
  docs/content/en/usage/questionnaires.md
  docs/static/images/questionnaires-add-from-engagement.png
  docs/static/images/questionnaires-added.png
  docs/static/images/questionnaires-assign-user.png
  docs/static/images/questionnaires-create-engagement.png
  docs/static/images/questionnaires-create-new.png
  docs/static/images/questionnaires-main-view.png
  docs/static/images/questionnaires-multiple-choice.png
  docs/static/images/questionnaires-new-engagement.png
  docs/static/images/questionnaires-open-ended.png
  docs/static/images/questionnaires-publicize.png
  docs/static/images/questionnaires-question-search.png
  docs/static/images/questionnaires-questions.png
  docs/static/images/questionnaires-respond.png
  docs/static/images/questionnaires-search.png
  docs/static/images/questionnaires-select-questions.png
  docs/static/images/questionnaires-select-survey.png
  docs/static/images/questionnaires-share.png
  docs/static/images/questionnaires-sidebar.png
  docs/static/images/questionnaires-system-settings.png
  docs/static/images/questionnaires-unassigned.png
  docs/static/images/questionnaires-view-questionnaire.png
  docs/static/images/questionnaires-view-responses.png
  dojo/__init__.py
  dojo/api_v2/serializers.py
  dojo/settings/settings.dist.py
  dojo/settings/settings.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
  dojo/templatetags/display_tags.py
  dojo/tools/factory.py
  dojo/tools/risk_recon/api.py
  helm/defectdojo/Chart.yaml
  readme-docs/CONTRIBUTING.md
  readme-docs/DOCKER.md
  readme-docs/RELEASING.md
  tests/Import_scanner_test.py
Labels: settings_changes, apiv2, docs, integration_tests, ui, parser, helm

#6855 Parse mitigation status for Veracode SCA findings
  dojo/tools/veracode/parser.py
  unittests/scans/veracode/veracode_scan_sca_mitigated.xml
  unittests/tools/test_veracode_parser.py
Labels: unittests, parser

#6816 fix(helm): fix postgresql svc name
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/values.yaml
Labels: helm

#6870 Bugfixes for Github Vulnerability Parser
  dojo/settings/settings.dist.py
  dojo/tools/github_vulnerability/parser.py
  unittests/scans/github_vulnerability/github_search4_null_cvss_vector.json
  unittests/tools/test_github_vulnerability_parser.py
Labels: bugfix, settings_changes, unittests, parser

#6869 Add checks for anonymous users in auth model
  dojo/authorization/authorization.py
  dojo/user/queries.py
Labels: bugfix

#6879 added Null value check in vectorString of Github Scan (Credit @L3m0nb4tt3ry)
  dojo/tools/github_vulnerability/parser.py
Labels: bugfix, parser

#6880 SonarQube API Importer: Supprt for SonarCloud and Multi Branch Scanning
  docs/content/en/integrations/parsers.md
  dojo/templates/dojo/add_product_api_scan_configuration.html
  dojo/templates/dojo/edit_product_api_scan_configuration.html
  dojo/tools/sonarqube_api/api_client.py
  dojo/tools/sonarqube_api/importer.py
Labels: docs, ui, parser

#6876 Mitigate Veracode SourceClear findings with "Fixed" status
  dojo/tools/veracode_sca/parser.py
  unittests/scans/veracode_sca/veracode_sca_fixed.json
  unittests/tools/test_veracode_sca_parser.py
Labels: unittests, parser

#6874 Added parser for new report format of AnchoreCTL (Anchore Enterprise Engine's new CLI Tool)
  dojo/settings/settings.dist.py
  dojo/tools/anchorectl_policies/__init__.py
  dojo/tools/anchorectl_policies/parser.py
  dojo/tools/anchorectl_vulns/__init__.py
  dojo/tools/anchorectl_vulns/parser.py
  unittests/scans/anchoreCTL_policies/many_violations.json
  unittests/scans/anchoreCTL_policies/no_violation.json
  unittests/scans/anchoreCTL_policies/one_violation.json
  unittests/scans/anchoreCTL_vulns/many_vulns.json
  unittests/scans/anchoreCTL_vulns/no_vuln.json
  unittests/scans/anchoreCTL_vulns/one_vuln.json
  unittests/tools/test_anchorectl_policies_parser.py
  unittests/tools/test_anchorectl_vulns_parser.py
Labels: settings_changes, unittests, parser

#6906 Fixing broken report generation when more than one item is selected
  dojo/reports/widgets.py
Labels: docker, settings_changes, docs, unittests, ui, parser, helm

#6867 Fix accepted by name
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_risk_acceptance.html
Labels: ui

#6619 [FIX] JQuery Error on Edit Finding
  dojo/templates/base.html
Labels: ui

#6809 tools: NeuVector: introducing NeuVector (REST) scan type
  dojo/settings/settings.dist.py
  dojo/tools/neuvector/__init__.py
  dojo/tools/neuvector/parser.py
  unittests/scans/neuvector/many_vulns.json
  unittests/scans/neuvector/no_vuln.json
  unittests/scans/neuvector/one_vuln.json
  unittests/tools/test_neuvector_parser.py
Labels: settings_changes, unittests, parser

#6302 Estimated remediation date
  dojo/db_migrations/0169_planned_remediation_date.py
  dojo/filters.py
  dojo/finding/urls.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/remediation_date.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
Labels: enhancement, New Migration, ui

#6740 Add support for specifying custom JIRA fields
  dojo/db_migrations/0170_jira_project_custom_fields.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/models.py
  unittests/dojo_test_case.py
  unittests/test_jira_config_engagement.py
Labels: New Migration, unittests

#6720 Add the ability to set JIRA labels per-product or engagement
  dojo/db_migrations/0171_jira_labels_per_product_and_engagement.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/models.py
Labels: New Migration

#6918 changed type to regular django type to also pick up creation events
  dojo/utils.py
  unittests/test_rest_framework.py
Labels: unittests

#6097 Bugfixing when the Checkov report has no findings
  dojo/tools/checkov/parser.py
Labels: bugfix, Waiting on tests, parser
