Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-03, with the labels that each got.

#5760 First step to internationalization
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/models.py
  dojo/templates/base.html
Labels: ui

#6000 yarn: fix CWE parsing
  dojo/tools/yarn_audit/parser.py
  unittests/scans/yarn_audit/yarn_audit_multiple_cwe.json
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests, parser

#5997 base.html cleanup and formatting
  dojo/templates/base.html
Labels: maintenance, ui

#6009 Fix: #5965
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-uwsgi.sh
Labels: docker

#5824 WIP: Notification profile
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0152_notifications_template.py
  dojo/forms.py
  dojo/models.py
  dojo/notifications/urls.py
  dojo/notifications/views.py
  dojo/templates/dojo/notifications.html
  dojo/utils.py
  tests/notifications_test.py
  unittests/test_apiv2_notifications.py
  unittests/test_utils.py
Labels: New Migration, apiv2, unittests, integration_tests, ui

#6016 npm/yarn audit: fix CWE parsing
  dojo/tools/npm_audit/parser.py
  dojo/tools/utils.py
  dojo/tools/yarn_audit/parser.py
  unittests/scans/npm_audit_sample/multiple_cwes.json
  unittests/scans/npm_audit_sample/multiple_cwes2.json
  unittests/scans/yarn_audit/yarn_audit_multiple_cwes.json
  unittests/scans/yarn_audit/yarn_audit_multiple_cwes2.json
  unittests/tools/test_npm_audit_parser.py
  unittests/tools/test_yarn_audit_parser.py
Labels: bugfix, unittests, parser

#5992 Added GitHub & GitHub Enterprise - Social Auth Support
  docs/content/en/integrations/social-authentication.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
  dojo/user/views.py
Labels: settings_changes, docs, ui

#6029 APIv2: remove configuration_url from ToolConfigurationSerializer
  docs/content/en/getting_started/upgrading.md
  dojo/api_v2/serializers.py
  unittests/test_rest_framework.py
Labels: apiv2, docs, unittests

#6073 [ADD] Finding from Template Shortcut
  dojo/templates/dojo/view_eng.html
Labels: ui

#6074 [FIX] Typo fix on migrate_staff_users
  docs/content/en/getting_started/upgrading.md
Labels: docs

#6081 Update parsers.md (Snyk support)
  .github/ISSUE_TEMPLATE/support_request.md
  docs/content/en/integrations/parsers.md
Labels: docs

#6053 Finding group enhancements
  dojo/db_migrations/0155_enable_finding_groups.py
  dojo/db_migrations/0156_migrate_finding_groups_setting.py
  dojo/filters.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/utils.py
  unittests/test_jira_import_and_pushing_api.py
Labels: New Migration, settings_changes, unittests, ui
