Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-01, with the labels that each got.

#5091 Slack notification: get user by email instead of searching all users
  dojo/notifications/helper.py
Labels: bugfix

#5632 Fix enclosing variable redefinition
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/tools/generic/parser.py
  unittests/test_import_reimport.py
Labels: bugfix, easy-review, unittests

#5621 Configuration authorization 2: Making more staff-permissions configurable
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/development_environment/views.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/home/views.py
  dojo/survey/views.py
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/create_questionnaire.html
  dojo/templates/defectDojo-engagement-survey/edit_question.html
  dojo/templates/defectDojo-engagement-survey/list_questions.html
  dojo/templates/defectDojo-engagement-survey/list_surveys.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/dev_env.html
  dojo/templates/dojo/edit_dev_env.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/test_type.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_user.html
  dojo/test_type/views.py
  unittests/test_apiv2_methods.py
Labels: enhancement, apiv2, unittests

#5608 Remove Objects_Engagement and introduce flag to enable/disable Objects_Product
  dojo/db_migrations/0143_objects.py
  dojo/models.py
  dojo/object/parser.py
  dojo/object/urls.py
  dojo/object/views.py
  dojo/templates/base.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_product_details.html
Labels: maintenance, New Migration, ui

#5631 Close old findings of same service only
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  unittests/dojo_test_case.py
  unittests/test_import_reimport.py
Labels: bugfix, apiv2, unittests

#5665 Extend scan_date functionality to Endpoints created at import time
  dojo/importers/utils.py
Labels: bugfix

#5613 Updating engineer metrics and removing research metrics
  dojo/filters.py
  dojo/metrics/urls.py
  dojo/metrics/views.py
  dojo/templates/base.html
  dojo/templates/dojo/engineer_metrics.html
  dojo/templates/dojo/research_metrics.html
  dojo/templates/dojo/users.html
  tests/product_test.py
Labels: enhancement, integration_tests, ui

#5673 add missing comma
  dojo/filters.py
Labels: bugfix

#5672 Adjust several permissions for API and UI
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/roles_permissions.py
  dojo/github_issue_link/views.py
  dojo/jira_link/queries.py
  dojo/jira_link/views.py
  dojo/object/views.py
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_objects.html
  dojo/templates/dojo/view_product_details.html
  dojo/tool_product/queries.py
  dojo/tool_product/urls.py
  dojo/tool_product/views.py
  unittests/test_rest_framework.py
  unittests/test_swagger_schema.py
Labels: apiv2, unittests, ui

#5635 API: return stats for api (re)imports
  dojo/api_v2/serializers.py
  dojo/db_migrations/0144_import_action_untouched.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  dojo/models.py
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  unittests/test_endpoint_meta_import.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/test_rest_framework.py
  unittests/test_utils.py
Labels: New Migration, apiv2, unittests, ui

#5681 Updated django dockerfile to work with bind mounts for local_settings.py
  Dockerfile.django
Labels: docker

#5691 Updated all dockerfiles to match the django dockerfile so UID/GIDs are consistent across dockerfiles
  Dockerfile.django
  Dockerfile.integration-tests
  Dockerfile.nginx
  docker-compose.override.integration_tests.yml
Labels: docker

#5692 Revert permission changes for `test_type` and `development_environment`
  dojo/api_v2/views.py
Labels: bugfix, apiv2

#5693 Reinstate copying of extra_settings
  Dockerfile.django
Labels: docker, bugfix

#5700 Revert "Updated all dockerfiles to match the django dockerfile so UID/GIDs are consistent across dockerfiles"
  Dockerfile.django
  Dockerfile.integration-tests
  Dockerfile.nginx
  docker-compose.override.integration_tests.yml
Labels: docker

#5701 Revert "Updated django dockerfile to work with bind mounts for local_settings.py"
  Dockerfile.django
Labels: docker

#5721 Correct date format mismatch when async imports are enabled
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
Labels: bugfix

#5722 Make dashboard more modular
  dojo/templates/dojo/dashboard.html
Labels: maintenance, ui

#5711 Rubocop: add parser
  dojo/settings/settings.dist.py
  dojo/tools/rubocop/__init__.py
  dojo/tools/rubocop/parser.py
  unittests/scans/rubocop/empty.json
  unittests/scans/rubocop/many_vulns.json
  unittests/scans/rubocop/one_finding.json
  unittests/scans/rubocop/zero_vulns.json
  unittests/tools/test_rubocop_parser.py
Labels: Import Scans, settings_changes, unittests

#5614 rustyhog replaces choctawhog and gottingenhog is added #5607
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/parsers.md
  dojo/tools/choctaw_hog/parser.py
  dojo/tools/rusty_hog/__init__.py
  dojo/tools/rusty_hog/parser.py
  unittests/scans/rusty_hog/choctawhog_many_vulns.json
  unittests/scans/rusty_hog/choctawhog_no_vuln.json
  unittests/scans/rusty_hog/choctawhog_one_vuln.json
  unittests/scans/rusty_hog/gottingenhog_many_vulns.json
  unittests/scans/rusty_hog/gottingenhog_no_vuln.json
  unittests/scans/rusty_hog/gottingenhog_one_vuln.json
  unittests/tools/test_choctaw_hog_parser.py
  unittests/tools/test_rusty_hog_parser.py
Labels: enhancement, docs, unittests

#5682 Removal of `is_staff` for various functionalities
  dojo/api_v2/views.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/notifications/helper.py
  dojo/reports/views.py
  dojo/survey/views.py
  dojo/templates/dojo/add_user.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
  dojo/utils.py
Labels: apiv2, ui

#5699 Removal of `AUTHORIZATION_STAFF_OVERRIDE`
  docs/content/en/getting_started/upgrading.md
  docs/content/en/usage/permissions.md
  dojo/api_v2/permissions.py
  dojo/authorization/authorization.py
  dojo/endpoint/queries.py
  dojo/engagement/queries.py
  dojo/finding/queries.py
  dojo/finding_group/queries.py
  dojo/group/queries.py
  dojo/jira_link/queries.py
  dojo/management/commands/migrate_staff_users.py
  dojo/product/queries.py
  dojo/product_type/queries.py
  dojo/test/queries.py
  dojo/tool_product/queries.py
  unittests/authorization/test_authorization.py
  unittests/authorization/test_authorization_decorators.py
Labels: apiv2, docs, unittests

#5741 Update Jira Integration docs for Jira Server
  docs/content/en/integrations/jira.md
Labels: docs

#5728 Remove CCVS API parser
  docs/content/en/integrations/parsers.md
  dojo/tools/ccvs/__init__.py
  dojo/tools/ccvs/parser.py
  unittests/scans/ccvs/many_vulns.json
  unittests/scans/ccvs/no_vuln.json
  unittests/scans/ccvs/one_vuln_one_vendor.json
  unittests/tools/test_ccvs_parser.py
Labels: Import Scans, maintenance, easy-review, docs, unittests

#5746 Fixed indentation/naming of two blocks in base.html
  dojo/templates/base.html
Labels: ui

#5752 Adds AMI to readme and docs
  README.md
  docs/content/en/getting_started/installation.md
Labels: docs

#5713 Configuration authorization 3: Finish making more configuration permissions editable
  docker/entrypoint-initializer.sh
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/banner/views.py
  dojo/cred/queries.py
  dojo/cred/urls.py
  dojo/cred/views.py
  dojo/development_environment/views.py
  dojo/forms.py
  dojo/github_issue_link/views.py
  dojo/google_sheet/views.py
  dojo/jira_link/views.py
  dojo/management/commands/initialize_permissions.py
  dojo/models.py
  dojo/note_type/views.py
  dojo/regulations/views.py
  dojo/rules/views.py
  dojo/templates/base.html
  dojo/templates/dojo/delete_github.html
  dojo/templates/dojo/edit_regulation.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/github.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/jira.html
  dojo/templates/dojo/new_github.html
  dojo/templates/dojo/note_type.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/regulations.html
  dojo/templates/dojo/rules.html
  dojo/templates/dojo/test_type.html
  dojo/templates/dojo/tool_config.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_cred.html
  dojo/templates/dojo/view_cred_all_details.html
  dojo/templates/dojo/view_cred_details.html
  dojo/templates/dojo/view_cred_prod.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_test.html
  dojo/templates/dojo/view_user.html
  dojo/templatetags/navigation_tags.py
  dojo/test/views.py
  dojo/test_type/views.py
  dojo/tool_config/views.py
  dojo/user/views.py
  dojo/views.py
  unittests/test_rest_framework.py
Labels: enhancement, docker, apiv2, unittests, ui

#5758 Fix bug in Product view when GitHub is enabled
  dojo/product/views.py
Labels: bugfix, ui

#5737 Bugfix SLA days remaining
  dojo/models.py
Labels: bugfix

#5762 Update values.yaml
  helm/defectdojo/values.yaml
Labels: easy-review

#5562 Update wpscan data upload
  dojo/tools/wpscan/parser.py
  unittests/scans/wpscan/wordpress_vuln_version.json
  unittests/tools/test_wpscan_parser.py
Labels: unittests

#5775 Maintenance of JFrog Xray parser
  dojo/settings/settings.dist.py
  dojo/tools/jfrogxray/parser.py
  unittests/tools/test_jfrogxray_parser.py
Labels: bugfix, settings_changes, unittests, parser

#5733 Remove exception hiding in the importer
  dojo/db_migrations/0146_lead_optional.py
  dojo/importers/importer/importer.py
  dojo/models.py
  unittests/test_importers_importer.py
Labels: New Migration, unittests

#5782 Update social authentication docs
  docs/content/en/integrations/social-authentication.md
  helm/defectdojo/values.yaml
Labels: docs

#5789 Bugfix: For Snyk parser, preserve file paths with @ in package name
  dojo/tools/snyk/parser.py
  unittests/scans/snyk/single_project_one_vuln_with_ampersands.json
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

#5779 Advances RustyHog to also support EssexHog
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/parsers.md
  dojo/tools/rusty_hog/parser.py
  unittests/scans/rusty_hog/essexhog_many_vulns.json
  unittests/scans/rusty_hog/essexhog_no_vuln.json
  unittests/scans/rusty_hog/essexhog_one_vuln.json
  unittests/tools/test_rusty_hog_parser.py
Labels: docs, unittests, parser

#5783 Add migitation field to cyclonedx parser
  dojo/tools/cyclonedx/parser.py
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

#5794 Paginated Product list in Product Type details
  dojo/product_type/views.py
  dojo/templates/dojo/view_product_type.html
Labels: enhancement, easy-review, ui

#5756 Hide "Staff" flags in UI and API plus documentation of configuration permissions
  docs/content/en/getting_started/upgrading.md
  docs/content/en/usage/permissions.md
  docs/static/images/configuration_permissions.png
  dojo/api_v2/serializers.py
  dojo/filters.py
  dojo/forms.py
  dojo/templates/base.html
  dojo/templates/dojo/engineer_metrics.html
  dojo/templates/dojo/rules.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
  dojo/utils.py
Labels: apiv2, docs, ui

#5797 Add support for including multiple setting files via extra_settings
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-uwsgi.sh
Labels: docker, maintenance, easy-review

#5732 Improves Rusty Hog and fixes #5730
  dojo/tools/rusty_hog/parser.py
  unittests/tools/test_rusty_hog_parser.py
Labels: unittests, parser

#5799 Facelift: borders for panels with lists
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_test.html
Labels: enhancement, easy-review, ui

#5809 Rendering of references is corrupted when the same URL occurs more than one time
  dojo/models.py
Labels: bugfix

#5772 feat(helm): add ingressClassName value to ingress resource
  helm/defectdojo/templates/django-ingress.yaml
  helm/defectdojo/values.yaml
Labels: enhancement

#5726 Oauth integration keycloak dev
  docs/content/en/integrations/social-authentication.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: settings_changes, docs, ui

#5751 Finetune and document release process
  .github/workflows/release-1-create-pr.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-3-master-into-dev.yml
  .github/workflows/release-x-manual-helm-chart.yml
  readme-docs/RELEASING.md
Labels: docs

#5822 Fix RustyHog subscanner classification #5821
  dojo/tools/rusty_hog/parser.py
Labels: parser

#5823 Make unit test for rest framework more stable
  unittests/test_rest_framework.py
Labels: easy-review, unittests

#5833 Wrong var in include_executive_summary block for product_type
  dojo/api_v2/views.py
Labels: bugfix, apiv2

#5810 WPScan - implement confidence
  dojo/models.py
  dojo/tools/wpscan/parser.py
  unittests/scans/wpscan/issue5774.json
  unittests/tools/test_wpscan_parser.py
Labels: unittests, parser

#5685 Edgescan integration
  docs/content/en/integrations/parsers.md
  dojo/management/commands/initialize_test_types.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/add_product_api_scan_configuration.html
  dojo/templates/dojo/edit_product_api_scan_configuration.html
  dojo/tool_config/factory.py
  dojo/tools/edgescan/__init__.py
  dojo/tools/edgescan/api_client.py
  dojo/tools/edgescan/importer.py
  dojo/tools/edgescan/parser.py
  unittests/scans/edgescan/many_vulns.json
  unittests/scans/edgescan/no_vuln.json
  unittests/scans/edgescan/one_vuln.json
  unittests/tools/test_edgescan_importer.py
  unittests/tools/test_edgescan_parser.py
Labels: settings_changes, docs, unittests, ui, parser

#5811 CycloneDX 1.4 support
  dojo/settings/settings.dist.py
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/jake.json
  unittests/scans/cyclonedx/jake2.json
  unittests/scans/cyclonedx/valid-vulnerability-1.4.json
  unittests/scans/cyclonedx/valid-vulnerability-1.4.xml
  unittests/tools/test_cyclonedx_parser.py
Labels: settings_changes, unittests, parser

#5689 feat: Rework sslyze parser for version 5
  docs/content/en/getting_started/upgrading.md
  dojo/db_migrations/0147_rename_sslyze_parser.py
  dojo/settings/settings.dist.py
  dojo/tools/sslyze/parser.py
  dojo/tools/sslyze/parser_json.py
  unittests/scans/sslyze/one_target_many_vuln_new.json
  unittests/scans/sslyze/one_target_many_vuln_old.json
  unittests/scans/sslyze/one_target_one_vuln_new.json
  unittests/scans/sslyze/one_target_one_vuln_old.json
  unittests/scans/sslyze/one_target_zero_vuln_new.json
  unittests/scans/sslyze/one_target_zero_vuln_old.json
  unittests/scans/sslyze/two_targets_many_vuln_new.json
  unittests/scans/sslyze/two_targets_two_vuln_old.json
  unittests/tools/test_sslyze_parser.py
Labels: New Migration, settings_changes, docs, unittests, parser

#5841 Change colour of submit button for bulk edit in Test view
  dojo/templates/dojo/view_test.html
Labels: easy-review, ui

#5840 Apply filters for Findings in Product Type report
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templatetags/display_tags.py
Labels: bugfix, easy-review, ui

#5757 DependencyCheck maintenance
  dojo/tools/dependency_check/parser.py
  unittests/scans/dependency_check/dc_empty.xml
  unittests/scans/dependency_check/version-6.5.3.xml
  unittests/tools/test_dependency_check_parser.py
Labels: bugfix, easy-review, unittests, parser

#5830 Async Import: Fix group_by flag
  dojo/decorators.py
  dojo/finding/helper.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  dojo/jira_link/helper.py
  dojo/management/commands/test_celery_decorator.py
  dojo/tools/tool_issue_updater.py
  dojo/utils.py
Labels: bugfix, parser

#5846 Allow empty report files (in API v2 and UI)
  dojo/api_v2/serializers.py
  dojo/forms.py
  unittests/scans/nuclei/empty.jsonl
  unittests/test_import_reimport.py
  unittests/tools/test_nuclei_parser.py
Labels: apiv2, easy-review, unittests

#5842 Option not to create user automatically using SOCIAL_AUTH
  dojo/pipeline.py
  dojo/settings/settings.dist.py
Labels: settings_changes

#5849 Product type metrics update
  dojo/templates/dojo/metrics.html
Labels: ui
