Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-08, with the labels that each got.

#6624 Add LDAP integration docs
  docs/content/en/integrations/ldap-authentication.md
Labels: docs

#6493 Management command to migrate CVEs to Vulnerability Ids
  docs/content/en/getting_started/upgrading.md
  dojo/management/commands/migrate_cve.py
  dojo/utils.py
Labels: docs

#6642 Adds SaaS Info
  README.md
  docs/content/en/getting_started/installation.md
Labels: docs

#6644 Master into dev/2.13.0 2.14.0 dev
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

#6641 fixes import GitLab container scan missing date
  dojo/tools/gitlab_container_scan/parser.py
  unittests/scans/gitlab_container_scan/issue6639.json
  unittests/tools/test_gitlab_container_scan_parser.py
Labels: unittests, parser

#6623 Update settings.dist.py (Blackduck Hub Deduplication)
  dojo/settings/settings.dist.py
Labels: settings_changes

#6616 API: Add support for DD_API_TOKENS_ENABLED
  docs/content/en/integrations/api-v2-docs.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/profile.html
  dojo/urls.py
  dojo/user/urls.py
  dojo/user/views.py
Labels: settings_changes, docs, ui

#6657 Snyk: update mitigation section
  dojo/tools/snyk/parser.py
  unittests/tools/test_snyk_parser.py
Labels: bugfix, unittests, parser

#6660 Fix shebang on shell scripts
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docker/docker-compose-check.sh
Labels: docker, easy-review

#6670 Correct Finding Copy typo when sending notifications
  dojo/finding/views.py
Labels: bugfix

#6673 Release: Merge release into master from: release/2.13.1
  components/package.json
  dojo/__init__.py
  dojo/finding/views.py
  dojo/pipeline.py
  helm/defectdojo/Chart.yaml
Labels: helm

#6652 Clean Finding Title for pwn_sast Parser
  dojo/tools/pwn_sast/parser.py
  unittests/tools/test_pwn_sast_parser.py
Labels: unittests, parser

#6675 Parse the report timestamp for CycloneDX json
  dc-unittest.sh
  dojo/tools/cyclonedx/parser.py
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

#6638 add docker-bench-security results parser, add parser tests
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/dockerbench/__init__.py
  dojo/tools/dockerbench/parser.py
  unittests/scans/dockerbench/docker-bench-report-many-vulns.json
  unittests/scans/dockerbench/docker-bench-report-single-vuln.json
  unittests/scans/dockerbench/docker-bench-report-zero-vulns.json
  unittests/tools/test_dockerbench_parser.py
Labels: settings_changes, docs, unittests, parser

#6452 Fix: in reimporter, do not reactivate mitigated findings if they have the same date
  dojo/importers/reimporter/reimporter.py
  unittests/test_import_reimport.py
Labels: bugfix, unittests

#6687 feat: add SARIF basic de-duplication data
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/sarif/parser.py
  unittests/tools/test_sarif_parser.py
Labels: settings_changes, docs, unittests, parser

#6659 Modify helm test workflow for master branch
  .github/workflows/test-helm-chart.yml
Labels: bugfix

#6630 feat(parser): add Whispers scanner for identifying secrets
  docs/content/en/integrations/parsers.md
  dojo/fixtures/test_type.json
  dojo/settings/settings.dist.py
  dojo/tools/whispers/__init__.py
  dojo/tools/whispers/parser.py
  unittests/scans/whispers/empty_with_error.json
  unittests/scans/whispers/whispers_many_vul.json
  unittests/scans/whispers/whispers_one_vul.json
  unittests/scans/whispers/whispers_zero_vul.json
  unittests/tools/test_whispers_parser.py
Labels: settings_changes, docs, unittests, parser

#6696 Add native AWS SQS support to Django Docker image
  Dockerfile.django
  Dockerfile.nginx
  requirements.txt
Labels: docker

#6701 Add BleachCSS for Login Banner
  dojo/templatetags/get_banner.py
  requirements.txt
Labels: ui

#6699 Questionnaire cleanup efforts
  dojo/forms.py
  dojo/survey/views.py
  dojo/templates/defectDojo-engagement-survey/add_choices.html
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
  dojo/templates/defectDojo-engagement-survey/edit_survey_questions.html
  dojo/templates/defectDojo-engagement-survey/list_questions.html
  dojo/templates/defectDojo-engagement-survey/list_surveys.html
Labels: maintenance, ui

#6686 Add vulnerability Id as a label when pushing data to JIRA
  dojo/db_migrations/0167_system_settings_add_vulnerability_id_to_jira_label.py
  dojo/jira_link/helper.py
  dojo/models.py
Labels: New Migration

#6449 Add all existing finding notes to the JIRA when created
  dojo/jira_link/helper.py
  unittests/dojo_test_case.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_add_comments_then_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
Labels: Waiting on tests, jira, unittests

#6714 Use the CVSS parser to parse the CVSS vector
  dojo/tools/acunetix/parser.py
  dojo/tools/acunetix360/parser.py
  dojo/tools/generic/parser.py
  dojo/tools/github_vulnerability/parser.py
  dojo/tools/netsparker/parser.py
  dojo/tools/nuclei/parser.py
Labels: parser

#6719 Add Code Flows to finding's description for SARIF test results
  dojo/tools/sarif/parser.py
  unittests/tools/test_sarif_parser.py
Labels: unittests, parser

#6563 Fix parser horusec
  dojo/tools/horusec/parser.py
  unittests/scans/horusec/pr_6563.json
  unittests/tools/test_horusec_parser.py
Labels: Waiting on tests, unittests, parser

#6738 Upgrade Jira to 3.4.0
  requirements.txt
  unittests/test_jira_import_and_pushing_api.py
  unittests/vcr/jira/JIRAConfigAndPushTestApi.test_create_edit_update_finding_no_push_to_jira.yaml
  unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_creation.yaml
  unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAConfigAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAConfigEngagementEpicTest.test_add_engagement_with_jira_project_and_epic_mapping.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_create_edit_update_finding.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_creation.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_create_edit_update_finding.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_add_comments_then_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_twice_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_with_push_to_jira_is_false_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_tags.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_epic_as_issue_type.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_update_tags.yaml
Labels: unittests

#6698 Adding parser for Veracode SCA (SourceClear) JSON/CSV files
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/veracode_sca/__init__.py
  dojo/tools/veracode_sca/parser.py
  unittests/scans/veracode_sca/veracode_sca.csv
  unittests/scans/veracode_sca/veracode_sca.json
  unittests/tools/test_veracode_sca_parser.py
Labels: settings_changes, docs, unittests, parser

#6712 Update API endpoint for file upload
  dojo/api_v2/serializers.py
  dojo/models.py
Labels: bugfix, apiv2

#6679 feat: add parser and importer for BlackDuck API
  docs/content/en/integrations/parsers.md
  dojo/settings/settings.dist.py
  dojo/tools/blackduck_api/__init__.py
  dojo/tools/blackduck_api/api_client.py
  dojo/tools/blackduck_api/importer.py
  dojo/tools/blackduck_api/parser.py
  requirements.txt
  unittests/scans/blackduck_api/many_vulns.json
  unittests/tools/test_blackduck_api_parser.py
Labels: settings_changes, docs, unittests, parser

#6730 adapted the helm chart of initializer-job.yaml to allow for metadata …
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

#6751 Design fixes to footer, tags input, and filters snippet
  dojo/static/dojo/css/dojo.css
  dojo/templates/base.html
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/add_group.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/edit_presets.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/edit_product_type.html
  dojo/templates/dojo/filter_snippet.html
  dojo/templates/dojo/new_eng.html
  dojo/templates/dojo/new_params.html
  dojo/templates/dojo/new_product.html
  dojo/templates/dojo/new_product_type.html
  dojo/templates/dojo/promote_to_finding.html
Labels: ui

#6781 Doc: Update local_settings.py description
  docs/content/en/getting_started/configuration.md
Labels: easy-review, docs
