Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-06, with the labels that each got.

#6347 Acunetix Parser fix - Multiple CWEs on report
  dojo/tools/acunetix360/parser.py
  unittests/scans/acunetix360/acunetix360_multiple_cwe.json
  unittests/tools/test_acunetix360_parser.py
Labels: unittests, parser

#6346 Raise PermissionDenied when user is not allowed to add products
  dojo/product/views.py
Labels: bugfix

#6345 Fix for error when importing from SonarQube
  dojo/tools/sonarqube_api/importer.py
Labels: bugfix, parser

#6341 Vulnerability Id: Various small changes
  dojo/api_v2/serializers.py
  dojo/reports/views.py
  unittests/test_deduplication_logic.py
  unittests/test_finding_helper.py
Labels: apiv2, unittests

#6362 Fix for Kubernetes tests
  .github/workflows/k8s-testing.yml
  .github/workflows/test-helm-chart.yml
Labels: bugfix

#6197 [HELM] Network policies
  .github/workflows/k8s-testing.yml
  helm/defectdojo/templates/network-policy.yaml
  helm/defectdojo/values.yaml
Labels: helm

#6366 Fixes for missing Burp GraphQL response data
  dojo/tools/burp_graphql/parser.py
  unittests/scans/burp_graphql/null_request_segments.json
  unittests/tools/test_burp_graphql_parser.py
Labels: bugfix, unittests, parser

#6365 Fix spelling errors in Blackduck Parser
  dojo/tools/blackduck/parser.py
Labels: bugfix, parser

#6353 Settings/notification: localization + refactoring
  dojo/notifications/helper.py
  dojo/notifications/views.py
  dojo/templates/dojo/notifications.html
Labels: ui

#6364 Localize some modules
  dojo/notes/views.py
  dojo/templates/dojo/edit_note.html
  dojo/templates/dojo/view_note_history.html
  dojo/user/views.py
Labels: ui

#6370 Option to extend ingress network policy
  helm/defectdojo/templates/network-policy.yaml
  helm/defectdojo/values.yaml
Labels: helm

#6352 Import misconfigurations and secrets from Trivy
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/misconfigurations_and_secrets.json
  unittests/tools/test_trivy_parser.py
Labels: enhancement, unittests, parser

#6379 Update bitnami refs in GHA and requirements
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-x-manual-helm-chart.yml
  helm/defectdojo/requirements.lock
Labels: helm

#6307 Support postgresql ha
  .github/workflows/k8s-testing.yml
  helm/defectdojo/requirements.lock
  helm/defectdojo/requirements.yaml
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/secret-postgresql-ha-pgpool.yaml
  helm/defectdojo/templates/secret-postgresql-ha.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
Labels: enhancement, helm

#6403 Add variable DD_CSRF_TRUSTED_ORIGINS
  dojo/settings/settings.dist.py
Labels: settings_changes, easy-review

#6408 (feat) Semgrep parser cwe list support
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/cwe_list.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

#6415 Update importing.md
  docs/content/en/integrations/importing.md
Labels: docs

#6418 Fix automatic setting of created and updated attributes
  dojo/db_migrations/0162_created_and_updated.py
  dojo/engagement/services.py
  dojo/importers/utils.py
  dojo/models.py
  dojo/product/views.py
  unittests/test_cleanup_alerts.py
Labels: New Migration, unittests

#6421 Adjust description of Generic Parser
  dojo/tools/generic/parser.py
Labels: parser

#6419 Fix list indentation in docs
  readme-docs/DOCKER.md
  setup/README.md
Labels: docs

#6397 (feat) Checkmarx parser JSON support
  dojo/tools/checkmarx/parser.py
  unittests/scans/checkmarx/multiple_findings.json
  unittests/tools/test_checkmarx_parser.py
Labels: unittests, parser

#6425 Support Trivy Kubernetes scan
  dojo/filters.py
  dojo/importers/importer/importer.py
  dojo/tools/trivy/parser.py
  dojo/utils.py
  unittests/scans/trivy/kubernetes.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

#6423 Fix DD_SITE_URL in helm chart #6422
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: docs, helm

#6427 Fix broken linting
  helm/defectdojo/values.yaml
Labels: helm

#6432 Fix part 2: Add DD_SITE_URL to Helm chart
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: easy-review, docs, helm

#6426 Enable/disable calendar
  dojo/db_migrations/0163_system_settings_enable_calendar.py
  dojo/engagement/views.py
  dojo/models.py
  dojo/templates/base.html
  dojo/test/views.py
Labels: New Migration, ui

#6430 Search for vulnerability ids
  docs/content/en/getting_started/upgrading.md
  dojo/apps.py
  dojo/finding/queries.py
  dojo/models.py
  dojo/search/views.py
  dojo/templates/dojo/simple_search.html
  tests/search_test.py
Labels: docs, integration_tests, ui

#6431 Display tags in several lists again
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/report_findings.html
  dojo/templates/dojo/request_endpoint_report.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/simple_search.html
Labels: bugfix, easy-review, ui

#6424 APIv2: Add support for configuration_permissions
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/urls.py
  dojo/user/utils.py
  unittests/test_apiv2_methods.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests

#6440 Making the vulnerable component tag "bold" in the JIRA description
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: ui

#6360 Remove CWE from Dependency Track Hash Code Field
  dojo/settings/settings.dist.py
Labels: settings_changes

#6447 Add Due-Date to JIRA description and don't write out None values
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: ui

#6429 Draft: Translation of modules
  dojo/product/views.py
  dojo/templates/dojo/edit_tool_type.html
  dojo/templates/dojo/new_tool_type.html
  dojo/templates/dojo/tool_type.html
  dojo/templates/dojo/view_product_details.html
  dojo/tool_product/views.py
  dojo/tool_type/views.py
Labels: ui
