Repository DefectDojo/django-DefectDojo, pull requests merged in 2022-10, with the labels that each got.

#6928 SonarQube API Importer: Add sonarcloud global org id, code clean up
  docs/content/en/integrations/parsers.md
  dojo/tools/sonarqube_api/api_client.py
  dojo/tools/sonarqube_api/importer.py
Labels: enhancement, maintenance, docs, parser

#6929 Jira Webhook: Catch missing assignee field + code cleanup
  dojo/jira_link/views.py
Labels: bugfix, jira

#6930 Add validation error when users attempt to send email without valid SMTP server
  dojo/user/views.py
Labels: bugfix

#6950 Make version optional for cyclonedx
  dojo/tools/cyclonedx/parser.py
Labels: parser

#6945 Parse state, cwe and createdAt in the GitHub parser
  docs/content/en/integrations/parsers.md
  dojo/tools/github_vulnerability/parser.py
  unittests/scans/github_vulnerability/github_h2.json
  unittests/scans/github_vulnerability/github_shiro.json
  unittests/tools/test_github_vulnerability_parser.py
Labels: docs, unittests, parser

#6931 Rev actions to latest ubuntu version per deprecation
  .github/workflows/gh-pages.yml
  .github/workflows/k8s-testing.yml
Labels: maintenance

#6865 [Helm] Fix flawed logic in deployment env vars
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
Labels: helm

#6941 added option to add labels using podLabels: {} #6935
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: helm

#6271 Helm Chart: Create PVC as part of the Chart
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/media-pvc.yaml
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: docs, helm

#6904 [Fix] API - Tool Product Settings (#6170)
  dojo/api_v2/serializers.py
Labels: apiv2

#6947 dojo: tool: introduce NeuVector compliance scans import support
  dojo/settings/settings.dist.py
  dojo/tools/neuvector_compliance/__init__.py
  dojo/tools/neuvector_compliance/parser.py
  unittests/scans/neuvector_compliance/many_vulns.json
  unittests/scans/neuvector_compliance/no_vuln.json
  unittests/scans/neuvector_compliance/one_vuln.json
  unittests/tools/test_neuvector_compliance_parser.py
Labels: settings_changes, unittests, parser

#6968 Use DEDUPE_ALGO_HASH_CODE for Acunetix360
  dojo/settings/settings.dist.py
Labels: settings_changes

#6978 Add Rubocop to parser documentation
  docs/content/en/integrations/parsers.md
Labels: docs

#6974 Fix issues with Bugcrowd API parser not marking not_applicable/not_re…
  dojo/tools/bugcrowd_api/parser.py
  unittests/scans/bugcrowd_api/bugcrowd_not_reproducible.json
  unittests/tools/test_bugcrowd_api_parser.py
Labels: unittests, parser

#6995 Parse Veracode library_id for SCA to get the maven component name
  dojo/tools/veracode/parser.py
  unittests/scans/veracode/veracode_maven.xml
  unittests/tools/test_veracode_parser.py
Labels: unittests, parser

#6970 Enable filtering Findings on steps_to_reproduce
  dojo/filters.py
  unittests/test_rest_framework.py
Labels: unittests

#7005 Update the Cobalt API parser's API client
  dojo/tools/cobalt_api/api_client.py
Labels: parser

#7017 Fix out of SLA time
  dojo/templatetags/display_tags.py
Labels: ui

#7018 Add a HTML link in the references back to the Bugcrowd finding
  dojo/tools/bugcrowd_api/parser.py
  unittests/tools/test_bugcrowd_api_parser.py
Labels: unittests, parser

#7013 Add support for ZAP "XML with requests and responses" format
  docs/content/en/integrations/parsers.md
  dojo/tools/zap/parser.py
  unittests/scans/zap/zap-xml-plus-format.xml
  unittests/tools/test_zap_parser.py
Labels: docs, unittests, parser

#7028 Metrics Style Fixes, Calendar Filters Fix
  dojo/templates/dojo/calendar.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/pt_counts.html
Labels: ui

#6973 Add a link back to the vulnerability in the references for Acunetix360
  dojo/tools/acunetix360/parser.py
  unittests/tools/test_acunetix360_parser.py
Labels: unittests, parser

#7035 Fix for error on pushing an adhoc finding to JIRA
  dojo/forms.py
Labels: bugfix, jira

#7044 alter risk acceptance name length, fix for #6991
  dojo/db_migrations/0173_alter_risk_acceptance_name.py
  dojo/models.py
Labels: New Migration

#6514 Add the ability to the UI to delete engagements from the engagement tab
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
Labels: ui
