Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-12, with the labels that each got.

#9087 Add logging statement for failed password reset validation logic
  docker/entrypoint-uwsgi-dev.sh
  dojo/user/views.py
Labels: docker

#9115 Update Finding/Product SLA filters
  dojo/filters.py
Labels: bugfix

#8786 Update helper.py to fix #8785
  dojo/jira_link/helper.py
Labels: Waiting on response

#9026 add unittest for .read() and utf-8 #9024
  dojo/tools/codechecker/parser.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/vcg/parser.py
  unittests/test_parsers.py
Labels: unittests, parser

#8859 [ED-308] Modify api_client to import all vulnerabilities when no asset IDs given and update documentation.
  docs/content/en/integrations/parsers/api/edgescan.md
  dojo/tools/api_edgescan/api_client.py
  dojo/tools/api_edgescan/parser.py
  unittests/test_tool_config.py
Labels: docs, unittests, parser

#9019 Store CVSS score and vector in Whitesource imports
  dojo/tools/whitesource/parser.py
  unittests/scans/whitesource/okhttp_one_vuln.json
  unittests/tools/test_whitesource_parser.py
Labels: unittests, parser

#9047 Trufflehog deduplication fix
  dojo/settings/settings.dist.py
  dojo/tools/trufflehog/parser.py
Labels: settings_changes, parser

#9060 API: Use more readable ViewSets
  dojo/api_v2/views.py
Labels: apiv2

#9161 :tada: added component_name to AWSSecurityHub
  dojo/tools/awssecurityhub/parser.py
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

#9185 Parser - PWN_SAST Duplication Detection Change
  dojo/settings/settings.dist.py
  dojo/tools/pwn_sast/parser.py
  unittests/tools/test_pwn_sast_parser.py
Labels: settings_changes, unittests, parser

#9118 API: replace local swagger (drf-yasg -> sidecar)
  dojo/settings/settings.dist.py
  requirements.txt
Labels: settings_changes

#9114 :bug: fix trivy parser cvss score severity discrepance #9092
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_9092.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

#9131 :bug: Handle when Burp Rest API Json file contains binary
  dojo/tools/burp_api/parser.py
  unittests/scans/burp_api/fix_issue_9128.json
  unittests/tools/test_burp_api_parser.py
Labels: unittests, parser

#9148 add component to blackduckimporter #9145
  dojo/tools/blackduck/importer.py
  unittests/tools/test_blackduck_parser.py
Labels: unittests, parser

#9139 :bug: fix mobsf parser #9132
  dojo/tools/mobsf/parser.py
  unittests/scans/mobsf/allsafe.json
  unittests/scans/mobsf/damnvulnrablebank.json
  unittests/scans/mobsf/issue_9132.json
  unittests/tools/test_mobsf_parser.py
Labels: unittests, parser

#9202 :bug: fix issue #9201
  dojo/models.py
  unittests/scans/nuclei/issue_9201.json
  unittests/tools/test_nuclei_parser.py
Labels: unittests

#9113 Fix DeprecationWarnings
  dojo/models.py
  unittests/test_import_reimport.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/tools/test_stackhawk_parser.py
Labels: unittests

#9117 :bug: fix dependencytrack deduplication
  dojo/settings/settings.dist.py
Labels: settings_changes

#9190 Use port names in Helm chart
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/django-service.yaml
Labels: helm

#9222 :bug: fix component_name max_length for ProwlerV3 #9221
  dojo/db_migrations/0194_alter_finding_component_name.py
  dojo/models.py
Labels: New Migration

#9215 Trivy: Add k8 cluster resource objects
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_9170.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

#9160 Pinning of django versions into a helm release
  .github/workflows/release-x-manual-helm-chart.yml
Labels: maintenance, helm

#9188 :tada: remove unnecessary unique_id_from_tool in settings.dist.py
  docs/content/en/contributing/how-to-write-a-parser.md
  dojo/settings/settings.dist.py
Labels: settings_changes, docs, unittests

#9093 fix typos in importing documentation
  docs/content/en/integrations/importing.md
Labels: docs

#9228 :bug: fix error 500 for ssh-audit
  dojo/tools/ssh_audit/parser.py
  unittests/scans/ssh_audit/bug_fix.json
  unittests/tools/test_ssh_audit_parser.py
Labels: unittests, parser

#9232 :tada: implement ms defender parser #8908
  docs/content/en/integrations/parsers/file/ms_defender.md
  dojo/settings/settings.dist.py
  dojo/tools/ms_defender/__init__.py
  dojo/tools/ms_defender/parser.py
  unittests/scans/ms_defender/defender.zip
  unittests/scans/ms_defender/defender_multiple_files.zip
  unittests/scans/ms_defender/defender_wrong_machines.zip
  unittests/scans/ms_defender/report_many_vulns.json
  unittests/scans/ms_defender/report_no_vuln.json
  unittests/scans/ms_defender/report_one_vuln.json
  unittests/tools/test_ms_defender_parser.py
Labels: settings_changes, docs, unittests, parser

#9227 Improve Request Review Notifications
  dojo/finding/views.py
  dojo/notifications/helper.py
  dojo/templates/notifications/alert/review_requested.tpl
  dojo/templates/notifications/mail/review_requested.tpl
  dojo/templates/notifications/msteams/review_requested.tpl
  dojo/templates/notifications/slack/review_requested.tpl
  dojo/utils.py
Labels: ui

#9163 Parser - Black Duck Binary Analysis
  docs/content/en/integrations/parsers/file/blackduck_binary_analysis.md
  dojo/settings/settings.dist.py
  dojo/tools/blackduck_binary_analysis/__init__.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/tools/blackduck_binary_analysis/model.py
  dojo/tools/blackduck_binary_analysis/parser.py
  unittests/scans/blackduck_binary_analysis/many_vulns.csv
  unittests/scans/blackduck_binary_analysis/no_vuln.csv
  unittests/scans/blackduck_binary_analysis/one_vuln.csv
  unittests/tools/test_blackduck_binary_analysis_parser.py
Labels: settings_changes, docs, unittests, parser

#9235 Trivy: Improve package path parsing behavior
  dojo/tools/trivy/parser.py
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser
