Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-02, with the labels that each got.

#7482 Generic: Handle incorrect json
  dojo/tools/generic/parser.py
  unittests/scans/generic/generic_empty.json
  unittests/scans/generic/generic_invalid.json
  unittests/scans/generic/generic_report4.json
  unittests/tools/test_generic_parser.py
Labels: unittests, parser

#7535 Add a link to the source code in the JIRA description
  dojo/models.py
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: ui

#7533 Remove trailing bracket for SLA information in UI
  dojo/templatetags/display_tags.py
Labels: ui

#7539 Qualys CSV Finding.mitigated fix
  dojo/tools/qualys/csv_parser.py
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, integration_tests, ui, parser, helm, localization

#7522 Refresh lock file on helm changes
  .github/workflows/refresh_helm_lock_file.yaml
Labels: maintenance, easy-review

#7530 Add suppression evaluation in SARIF importer
  dojo/tools/sarif/parser.py
  unittests/scans/sarif/suppression_test.sarif
  unittests/tools/test_sarif_parser.py
Labels: unittests, parser

#7541 Change CVSS calculator to use CVSSv3.1
  dojo/static/dojo/js/cvss_calculator.js
  dojo/static/dojo/js/cvsscalc31.js
  dojo/static/dojo/js/cvsscalc31_helptext.js
  dojo/templates/base.html
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, integration_tests, ui, parser, helm, localization

#7496 feat: modify gha to test and publish alpine based images
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-testing.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/unit-tests.yml
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
  docker-compose.override.integration_tests.yml
  docs/content/en/getting_started/upgrading.md
  unittests/test_jira_config_product.py
Labels: docker, docs, unittests

#5802 Global Announcement Banner
  docker/entrypoint-integration-tests.sh
  dojo/announcement/__init__.py
  dojo/announcement/urls.py
  dojo/announcement/views.py
  dojo/context_processors.py
  dojo/db_migrations/0180_announcement_userannouncement.py
  dojo/forms.py
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/static/dojo/css/dojo.css
  dojo/static/dojo/js/index.js
  dojo/templates/base.html
  dojo/templates/dojo/announcement.html
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/dismiss_announcement.html
  dojo/templatetags/announcement_banner_tags.py
  dojo/urls.py
  dojo/user/utils.py
  tests/announcement_banner_test.py
Labels: docker, Waiting on response, New Migration, settings_changes, integration_tests, ui, localization

#7552 Implement support for SCA and KICS data in Checkmarx parser
  docs/content/en/integrations/parsers/file/checkmarx.md
  dojo/tools/checkmarx/parser.py
  unittests/scans/checkmarx/sample_report.json
  unittests/tools/test_checkmarx_parser.py
Labels: docs, unittests, parser

#7558 Add default Dockerfile operating system
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
  docker-compose.yml
  docs/content/en/getting_started/running-in-production.md
  docs/content/en/integrations/ldap-authentication.md
Labels: docker, docs

#7566 Implementation of Finding Group View/Edit
  dojo/finding_group/urls.py
  dojo/finding_group/views.py
  dojo/forms.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding_group.html
  dojo/templates/dojo/view_test.html
  tests/dedupe_test.py
Labels: integration_tests, ui

#7586 Set download path to /app instead of media
  docker-compose.override.integration_tests.yml
  tests/base_test_class.py
Labels: docker, integration_tests

#7592 Improve Fortify parser to manage new versions
  dojo/tools/fortify/parser.py
  unittests/scans/fortify/issue6082.xml
  unittests/tools/test_fortify_parser.py
Labels: unittests, parser

#7593 Fix missing information in notifications
  dojo/notifications/helper.py
  dojo/templates/notifications/alert/engagement_added.tpl
  dojo/templates/notifications/alert/report_created.tpl
  dojo/templates/notifications/alert/sla_breach.tpl
  dojo/templates/notifications/alert/test_added.tpl
  dojo/templates/notifications/alert/upcoming_engagement.tpl
  dojo/templates/notifications/mail/engagement_added.tpl
  dojo/templates/notifications/mail/other.tpl
  dojo/templates/notifications/mail/product_added.tpl
  dojo/templates/notifications/mail/product_type_added.tpl
  dojo/templates/notifications/mail/report_created.tpl
  dojo/templates/notifications/mail/risk_acceptance_expiration.tpl
  dojo/templates/notifications/mail/test_added.tpl
  dojo/templates/notifications/mail/upcoming_engagement.tpl
  dojo/templates/notifications/msteams/risk_acceptance_expiration.tpl
  dojo/templates/notifications/slack/other.tpl
  dojo/templates/notifications/slack/product_added.tpl
  dojo/templates/notifications/slack/product_type_added.tpl
  dojo/templates/notifications/slack/report_created.tpl
  dojo/templates/notifications/slack/risk_acceptance_expiration.tpl
  dojo/templates/notifications/slack/scan_added.tpl
  dojo/templates/notifications/slack/sla_breach.tpl
  dojo/templates/notifications/slack/test_added.tpl
  dojo/templates/notifications/slack/upcoming_engagement.tpl
Labels: ui

#7604 Docs: Groups from Identity Providers
  docs/content/en/integrations/social-authentication.md
Labels: docs

#7601 Intsights fix for zero alerts
  dojo/tools/intsights/parser.py
  dojo/tools/qualys/csv_parser.py
  unittests/scans/intsights/intsights_zero_vuln.json
  unittests/tools/test_intsights_parser.py
Labels: docker, unittests, integration_tests, ui, parser, helm

#7616 Add blocks to users view template, add product name filter to finding…
  dojo/filters.py
  dojo/templates/dojo/users.html
Labels: ui

#7603 Add parser for Codechecker
  docs/content/en/integrations/parsers/file/codechecker.md
  dojo/settings/settings.dist.py
  dojo/tools/codechecker/__init__.py
  dojo/tools/codechecker/parser.py
  unittests/scans/codechecker/cc-report-0-vuln.json
  unittests/scans/codechecker/cc-report-1-vuln.json
  unittests/scans/codechecker/cc-report-many-vuln.json
  unittests/scans/codechecker/cc-report-review-status.json
  unittests/scans/codechecker/cc-report-severity.json
  unittests/tools/test_codechecker_parser.py
Labels: settings_changes, docs, unittests, parser

#7623 Fix slack notifications
  dojo/templates/notifications/slack/engagement_added.tpl
  dojo/templates/notifications/slack/other.tpl
  dojo/templates/notifications/slack/product_added.tpl
  dojo/templates/notifications/slack/product_type_added.tpl
  dojo/templates/notifications/slack/report_created.tpl
  dojo/templates/notifications/slack/risk_acceptance_expiration.tpl
  dojo/templates/notifications/slack/scan_added.tpl
  dojo/templates/notifications/slack/sla_breach.tpl
  dojo/templates/notifications/slack/test_added.tpl
Labels: ui

#7635 Docs: Removes API Push Section
  docs/content/en/integrations/parsers/api_push/_index.md
  docs/content/en/integrations/parsers/api_push/pobely.md
Labels: docs

#7583 read aliases from dependencytrack FPF format
  dojo/tools/dependency_track/parser.py
  unittests/scans/dependency_track/many_findings_with_alias.json
  unittests/tools/test_dependency_track_parser.py
Labels: unittests, parser

#7639 Fix missing GitLab scanners in settings file
  dojo/settings/settings.dist.py
Labels: settings_changes

#7667 Fix for mobsfscan parser 2
  dojo/tools/mobsfscan/parser.py
  unittests/scans/mobsfscan/many_findings_cwe_lower.json
  unittests/tools/test_mobsfscan_parser.py
Labels: unittests, parser

#7665 BlackduckAPI: remove test_product_connection
  dojo/tools/api_blackduck/api_client.py
Labels: parser

#7654 [cyclonedx-json] flatten components
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/nested-component-log4j.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

#7685 Eliminate possibility of adding single finding to multiple risk exceptions
  dojo/engagement/views.py
  dojo/risk_acceptance/helper.py
Labels: bugfix

#7636 Add API endpoint download files by ID
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests

#7691 Remove GitHub OAuth integration
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/social-authentication.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
Labels: settings_changes, docs, ui
