Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-05, with the labels that each got.

#8025 Optimized calling popover plugin
  dojo/templates/base.html
  dojo/templates/dojo/components.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_components.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
Labels: ui

#8050 [Github parser] Parse dependabot alert number and add link in description
  docs/content/en/integrations/parsers/file/github_vulnerability.md
  dojo/tools/github_vulnerability/parser.py
  unittests/scans/github_vulnerability/github-1-vuln-repo-dependabot-link.json
  unittests/tools/test_github_vulnerability_parser.py
Labels: docs, unittests, parser

#7237 Add govulncheck parser and unittests
  docs/content/en/integrations/parsers/file/govulncheck.md
  dojo/settings/settings.dist.py
  dojo/tools/govulncheck/__init__.py
  dojo/tools/govulncheck/parser.py
  unittests/scans/govulncheck/empty.json
  unittests/scans/govulncheck/many_vulns.json
  unittests/scans/govulncheck/no_vulns.json
  unittests/tools/test_govulncheck_parser.py
Labels: settings_changes, docs, unittests, parser

#8042 Replace incorrect link in slack alert for product deletion + add product to SLA breach alert
  dojo/product/views.py
  dojo/templates/notifications/alert/sla_breach.tpl
  dojo/templates/notifications/slack/sla_breach.tpl
  dojo/utils.py
Labels: ui

#8081 Fix password validators
  dojo/db_migrations/0186_system_settings_non_common_password_required.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/user/validators.py
Labels: New Migration, settings_changes

#8091 Fix bug with mitigated findings
  dojo/importers/reimporter/reimporter.py
  unittests/test_import_reimport.py
Labels: unittests

#8097 Update All GitLab parsers to accomodate v15 Schema
  dojo/tools/gitlab_api_fuzzing/parser.py
  dojo/tools/gitlab_container_scan/parser.py
  dojo/tools/gitlab_dast/parser.py
  dojo/tools/gitlab_dep_scan/parser.py
  dojo/tools/gitlab_sast/parser.py
  dojo/tools/gitlab_secret_detection_report/parser.py
  unittests/scans/gitlab_api_fuzzing/gitlab_api_fuzzing_1_vuln_v14.json
  unittests/scans/gitlab_api_fuzzing/gitlab_api_fuzzing_1_vuln_v15.json
  unittests/scans/gitlab_container_scan/gl-container-scanning-report-1-vuln_v14.json
  unittests/scans/gitlab_container_scan/gl-container-scanning-report-1-vuln_v15.json
  unittests/scans/gitlab_container_scan/gl-container-scanning-report-5-vuln_v14.json
  unittests/scans/gitlab_container_scan/gl-container-scanning-report-5-vuln_v15.json
  unittests/scans/gitlab_container_scan/issue6639_v14.json
  unittests/scans/gitlab_container_scan/issue6639_v15.json
  unittests/scans/gitlab_dast/gitlab_dast_many_vul_v14.json
  unittests/scans/gitlab_dast/gitlab_dast_many_vul_v15.json
  unittests/scans/gitlab_dast/gitlab_dast_one_vul_v14.json
  unittests/scans/gitlab_dast/gitlab_dast_one_vul_v15.json
  unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-1-vuln_v14.json
  unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-1-vuln_v15.json
  unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-2-vuln-missing-component_v14.json
  unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-2-vuln-missing-component_v15.json
  unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-many-vuln_v14.json
  unittests/scans/gitlab_dep_scan/gl-dependency-scanning-report-many-vuln_v15.json
  unittests/scans/gitlab_sast/gl-sast-report-1-vuln_v14.json
  unittests/scans/gitlab_sast/gl-sast-report-1-vuln_v15.json
  unittests/scans/gitlab_sast/gl-sast-report-confidence_v14.json
  unittests/scans/gitlab_sast/gl-sast-report-confidence_v15.json
  unittests/scans/gitlab_sast/gl-sast-report-cwe_v14.json
  unittests/scans/gitlab_sast/gl-sast-report-cwe_v15.json
  unittests/scans/gitlab_sast/gl-sast-report-many-vuln_v14.json
  unittests/scans/gitlab_sast/gl-sast-report-many-vuln_v15.json
  unittests/scans/gitlab_sast/gl-sast-report_issue4344_v14.json
  unittests/scans/gitlab_sast/gl-sast-report_issue4344_v15.json
  unittests/scans/gitlab_secret_detection_report/gitlab_secret_detection_report_1_vuln_v14.json
  unittests/scans/gitlab_secret_detection_report/gitlab_secret_detection_report_1_vuln_v15.json
  unittests/scans/gitlab_secret_detection_report/gitlab_secret_detection_report_3_vuln_v14.json
  unittests/scans/gitlab_secret_detection_report/gitlab_secret_detection_report_3_vuln_v15.json
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/tools/test_gitlab_api_fuzzing_parser.py
  unittests/tools/test_gitlab_container_scan_parser.py
  unittests/tools/test_gitlab_dast_parser.py
  unittests/tools/test_gitlab_dep_scan_parser.py
  unittests/tools/test_gitlab_sast_parser.py
  unittests/tools/test_gitlab_secret_detection_report_parser.py
Labels: unittests, parser

#8072 Merge Nessus and Nessus WAS into single Tenable parser
  docs/content/en/getting_started/upgrading.md
  docs/content/en/integrations/parsers/file/nessus.md
  docs/content/en/integrations/parsers/file/tenable.md
  dojo/db_migrations/0187_nessus_to_tenable.py
  dojo/tools/nessus/__init__.py
  dojo/tools/nessus/parser.py
  dojo/tools/nessus_was/parser.py
  dojo/tools/tenable/__init__.py
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/parser.py
  dojo/tools/tenable/xml_format.py
  unittests/scans/tenable/nessus/nessus_many_vuln.csv
  unittests/scans/tenable/nessus/nessus_many_vuln.xml
  unittests/scans/tenable/nessus/nessus_many_vuln2-all.csv
  unittests/scans/tenable/nessus/nessus_many_vuln2-default.csv
  unittests/scans/tenable/nessus/nessus_v_unknown.xml
  unittests/scans/tenable/nessus/nessus_with_cvssv3.nessus
  unittests/scans/tenable/nessus_was/nessus_was_many_vuln.csv
  unittests/scans/tenable/nessus_was/nessus_was_many_vuln.xml
  unittests/scans/tenable/nessus_was/nessus_was_no_vuln.csv
  unittests/scans/tenable/nessus_was/nessus_was_no_vuln.xml
  unittests/scans/tenable/nessus_was/nessus_was_one_vuln.csv
  unittests/scans/tenable/nessus_was/nessus_was_one_vuln.xml
  unittests/test_factory.py
  unittests/tools/test_nessus_was_parser.py
  unittests/tools/test_tenable_parser.py
Labels: New Migration, Breaking Changes, docs, unittests, parser

#8089 Implement Tag Inheritance
  docs/content/en/usage/features.md
  docs/static/images/tags-bulk-edit-complete.png
  docs/static/images/tags-bulk-edit-submit.png
  docs/static/images/tags-finding-filter-snippet.png
  docs/static/images/tags-high-level-example.png
  docs/static/images/tags-inherit-exmaple.png
  docs/static/images/tags-management-on-object.png
  docs/static/images/tags-select-findings-for-bulk-edit.png
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/apps.py
  dojo/db_migrations/0188_product_enable_product_tag_inheritance_and_more.py
  dojo/decorators.py
  dojo/forms.py
  dojo/models.py
  dojo/product/helpers.py
  dojo/product/signals.py
  unittests/dojo_test_case.py
  unittests/test_tags.py
Labels: New Migration, apiv2, docs, unittests

#8085 Fix helm certificate mounts
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/values.yaml
Labels: bugfix, helm

#8057 nuclei parser and unittests improvements
  dojo/settings/settings.dist.py
  dojo/tools/nuclei/parser.py
  unittests/scans/nuclei/many_findings_third.json
  unittests/tools/test_nuclei_parser.py
Labels: settings_changes, unittests, parser

#8118 Update upgrading.md to add steps to docker-compose to first pull the …
  docs/content/en/getting_started/upgrading.md
Labels: docs

#8119 Make PostgreSQL database the default for containerized deploys
  README.md
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docs/content/en/getting_started/architecture.md
  docs/content/en/getting_started/running-in-production.md
  docs/content/en/getting_started/upgrading.md
Labels: docs

#8028 Add support to AWS Prowler V3 json format
  docs/content/en/integrations/parsers/file/aws_prowler_v3.md
  dojo/settings/settings.dist.py
  dojo/tools/aws_prowler_v3/__init__.py
  dojo/tools/aws_prowler_v3/parser.py
  unittests/scans/aws_prowler_v3/many_vuln.json
  unittests/scans/aws_prowler_v3/no_vuln.json
  unittests/scans/aws_prowler_v3/one_vuln.json
  unittests/tools/test_aws_prowler_v3_parser.py
Labels: settings_changes, docs, unittests, parser

#8126 Add the "api-token-auth" endpoint back into the swagger spec
  dojo/urls.py
Labels: bugfix

#8108 Add TAGS from SARIF rules and results to findings
  dojo/tools/sarif/parser.py
  unittests/tools/test_sarif_parser.py
Labels: unittests, parser

#8153 Add support for Jira auto sync when opening and closing findings
  dojo/finding/views.py
Labels: bugfix, jira

#8156 Update rate limiting on the login page to only block on unsafe requests
  dojo/decorators.py
  dojo/user/views.py
Labels: bugfix

#8158 Make requests of a peer review available to those with read access
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/authorization_tags.py
Labels: bugfix, ui

#8157 Fix container name in DOCKER.md
  readme-docs/DOCKER.md
Labels: docs

#7850 Add planned_remediation_version and effort_for_fixing fields
  dojo/db_migrations/0189_finding_effort_and_remediation_for_fixing.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/models.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/tools/generic/parser.py
Labels: enhancement, New Migration, ui, parser, localization

#8162 Unify push to jira logic for finding/groups review/open/close
  dojo/finding/views.py
  dojo/jira_link/views.py
Labels: bugfix, jira

#8166 API parsers: Make errors in importers more verbose (add product name and id)
  dojo/tools/api_blackduck/importer.py
  dojo/tools/api_bugcrowd/importer.py
  dojo/tools/api_cobalt/importer.py
  dojo/tools/api_edgescan/importer.py
  dojo/tools/api_sonarqube/importer.py
  dojo/tools/api_vulners/importer.py
  unittests/tools/test_api_bugcrowd_importer.py
  unittests/tools/test_api_cobalt_importer.py
  unittests/tools/test_api_edgescan_importer.py
  unittests/tools/test_api_sonarqube_importer.py
Labels: unittests, parser

#8084 Add Permissions.Engagement_Add to API_Importer
  docs/content/en/usage/permissions.md
  dojo/authorization/roles_permissions.py
Labels: docs

#8163 fix Sonarqube importer
  dojo/tools/api_sonarqube/importer.py
  unittests/tools/test_api_sonarqube_importer.py
  unittests/tools/test_api_sonarqube_parser.py
Labels: unittests, parser

#8184 Use sets for required & allowed fields
  dojo/tools/generic/parser.py
  unittests/tools/test_generic_parser.py
Labels: unittests, parser

#8181 Fix Detect Secrets parser when .baseline is not audited
  dojo/tools/detect_secrets/parser.py
Labels: parser
