Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-06, with the labels that each got.

#8135 Fix AWS Security Hub parser to process AWS Inspector findings
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/securityhub_inspector.json
Labels: unittests, parser

#8125 Revamp of the false positive history feature
  docker/entrypoint-integration-tests.sh
  dojo/db_migrations/0190_system_settings_experimental_fp_history.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/models.py
  dojo/system_settings/views.py
  dojo/test/views.py
  dojo/utils.py
  tests/base_test_class.py
  tests/false_positive_history_test.py
  unittests/test_deduplication_logic.py
  unittests/test_false_positive_history_logic.py
Labels: docker, New Migration, unittests, integration_tests

#7907 Popeye Scanner Parser addition.
  docs/content/en/integrations/parsers/file/popeye.md
  dojo/settings/settings.dist.py
  dojo/tools/popeye/__init__.py
  dojo/tools/popeye/parser.py
  unittests/scans/popeye/popeye_many_vul.json
  unittests/scans/popeye/popeye_one_vul.json
  unittests/scans/popeye/popeye_zero_vul.json
  unittests/tools/test_popeye_parser.py
Labels: settings_changes, docs, unittests, parser

#7999 Bulk edit rework
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
Labels: ui

#8207 Azure Group Mapping: Make group mapping less atomic
  docs/content/en/integrations/social-authentication.md
  dojo/pipeline.py
Labels: docs

#8221 Checkmarx: Add safeguards for "null" values in result types
  dojo/tools/checkmarx/parser.py
  unittests/scans/checkmarx/multiple_findings.json
Labels: unittests, parser

#8225 Set Engagement status created from `auto_create_context`
  dojo/importers/reimporter/utils.py
Labels: bugfix

#8218 Dependency Check parser mark suppressed findings as mitigated
  docs/content/en/integrations/parsers/file/dependency_check.md
  dojo/tools/dependency_check/parser.py
  unittests/tools/test_dependency_check_parser.py
Labels: docs, unittests, parser

#8229 fix - Dependency Check deduplication #8228
  dojo/settings/settings.dist.py
Labels: settings_changes

#8233 Tenable parser cleanups and improvements
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/xml_format.py
Labels: bugfix, parser

#8220 Update banner checks
  docker/entrypoint-initializer.sh
  dojo/announcement/signals.py
  dojo/settings/settings.dist.py
Labels: docker, bugfix, settings_changes

#8198 bugfix - Close Old Findings will close all findings even when all findings are present in current import
  docker/entrypoint-integration-tests.sh
  dojo/importers/importer/importer.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/close_old_scans/closeold_nodedupe_1.xml
  tests/close_old_scans/closeold_nodedupe_2.xml
  tests/dedupe_scans/dedupe_and_close_1.xml
  unittests/test_importers_closeold.py
Labels: docker, unittests, integration_tests

#8261 Request Review improvements
  dojo/finding/views.py
  dojo/forms.py
  tests/finding_test.py
  tests/user_test.py
Labels: bugfix, integration_tests

#8256 Tenable: Further safeguarding, hardening, and conversions
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/xml_format.py
  unittests/scans/tenable/tenable_many_vuln.csv
  unittests/tools/test_tenable_parser.py
Labels: bugfix, unittests, parser

#8263 SARIF: Add some extra logic around codeFlows
  dojo/tools/sarif/parser.py
Labels: bugfix, parser

#8270 fix fatal error in testssl result #8269
  dojo/tools/testssl/parser.py
  unittests/scans/testssl/failed_target.csv
  unittests/tools/test_testssl_parser.py
Labels: unittests, parser

#8283 fix drheader parser #8281
  dojo/tools/drheader/parser.py
  unittests/scans/drheader/no_vulns.json
  unittests/tools/test_drheader_parser.py
Labels: unittests, parser

#8289 Api Bugcrowd: Fix handling of invalid endpoint
  dojo/tools/api_bugcrowd/parser.py
  unittests/scans/api_bugcrowd/bugcrowd_broken_bug_url.json
  unittests/tools/test_api_bugcrowd_parser.py
Labels: unittests, parser

#8287 fix: dont create sast object when nothing given
  dojo/tools/gitlab_sast/parser.py
Labels: parser

#8300 Make SameSite attribute configurable for Session / CSRF Cookie
  dojo/settings/settings.dist.py
Labels: settings_changes

#8279 sla_deadline doesn't work with mitigated findings
  dojo/models.py
  dojo/tools/veracode_sca/parser.py
  unittests/tools/test_veracode_parser.py
  unittests/tools/test_veracode_sca_parser.py
Labels: unittests, parser

#8318 Fix occurrence where product exists, but cannot be found
  dojo/importers/reimporter/utils.py
Labels: bugfix

#8314 Password validators: Fix validators, add tests
  dojo/user/validators.py
  unittests/test_user_validators.py
Labels: unittests
