Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-07, with the labels that each got.

#8337 Merge Bugfix into Dev - 2.24.0
  dojo/importers/reimporter/utils.py
  dojo/models.py
  dojo/tools/gitlab_sast/parser.py
  dojo/tools/veracode_sca/parser.py
  dojo/user/validators.py
  unittests/test_user_validators.py
  unittests/tools/test_veracode_parser.py
  unittests/tools/test_veracode_sca_parser.py
Labels: unittests, parser

#8252 Fix: STATICFILES_DIRS warning
  Dockerfile.django-alpine
  Dockerfile.django-debian
Labels: docker

#8304 Update files with PEP8 standards in folder dojo/tools #004
  dojo/tools/huskyci/parser.py
  dojo/tools/hydra/parser.py
  dojo/tools/ibm_app/parser.py
  dojo/tools/immuniweb/parser.py
  dojo/tools/intsights/parser.py
  dojo/tools/jfrog_xray_api_summary_artifact/parser.py
  dojo/tools/jfrog_xray_unified/parser.py
  dojo/tools/jfrogxray/parser.py
  dojo/tools/kics/parser.py
  dojo/tools/kiuwan/parser.py
  dojo/tools/kubebench/parser.py
  dojo/tools/meterian/parser.py
  dojo/tools/microfocus_webinspect/parser.py
  dojo/tools/mobsfscan/parser.py
Labels: parser

#8305 Update files with PEP8 standards in folder dojo/tools #005
  dojo/tools/mozilla_observatory/parser.py
  dojo/tools/netsparker/parser.py
  dojo/tools/neuvector/parser.py
  dojo/tools/neuvector_compliance/parser.py
  dojo/tools/nexpose/__init__.py
  dojo/tools/nexpose/parser.py
  dojo/tools/nikto/__init__.py
  dojo/tools/nikto/parser.py
  dojo/tools/nmap/__init__.py
  dojo/tools/nmap/parser.py
  dojo/tools/npm_audit/parser.py
  dojo/tools/nsp/parser.py
  dojo/tools/nuclei/parser.py
  dojo/tools/openscap/parser.py
  dojo/tools/openvas_csv/parser.py
  dojo/tools/ort/parser.py
  dojo/tools/ossindex_devaudit/parser.py
  dojo/tools/outpost24/parser.py
  dojo/tools/php_security_audit_v2/parser.py
  dojo/tools/php_symfony_security_check/parser.py
  dojo/tools/pip_audit/parser.py
  dojo/tools/pmd/parser.py
  dojo/tools/popeye/parser.py
  dojo/tools/pwn_sast/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/qualys_infrascan_webgui/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/retirejs/parser.py
  dojo/tools/risk_recon/api.py
  dojo/tools/risk_recon/parser.py
  dojo/tools/rubocop/parser.py
  dojo/tools/rusty_hog/parser.py
Labels: parser

#8330 Extract vulnerability type for Qualys scan import
  dojo/tools/qualys/parser.py
Labels: parser

#8349 Fix finding/test engagement tag API filter
  dojo/filters.py
Labels: bugfix

#8350 Update naming convention for product tags in related objects
  docs/content/en/getting_started/upgrading.md
  dojo/filters.py
Labels: bugfix, Breaking Changes, docs

#8352 Fix issue of not being able to create request/response pair if finding is created from API
  dojo/finding/views.py
Labels: bugfix

#8357 Dependency Track: Add CVSS Score
  dojo/tools/dependency_track/parser.py
  unittests/scans/dependency_track/many_findings_with_cvssV3_score.json
  unittests/tools/test_dependency_track_parser.py
Labels: bugfix, unittests, parser

#8361 Update DOCKER.md "run with docker compose using https"
  readme-docs/DOCKER.md
Labels: docs

#8319 Update files with PEP8 standards in folder dojo/tools #006
  dojo/tools/sarif/parser.py
  dojo/tools/scantist/parser.py
  dojo/tools/scout_suite/__init__.py
  dojo/tools/scout_suite/parser.py
  dojo/tools/semgrep/parser.py
  dojo/tools/skf/__init__.py
  dojo/tools/skf/parser.py
  dojo/tools/snyk/parser.py
  dojo/tools/solar_appscreener/parser.py
  dojo/tools/sonarqube/parser.py
  dojo/tools/sonatype/parser.py
  dojo/tools/spotbugs/parser.py
  dojo/tools/ssl_labs/__init__.py
  dojo/tools/ssl_labs/parser.py
  dojo/tools/sslscan/parser.py
  dojo/tools/sslyze/parser.py
  dojo/tools/sslyze/parser_json.py
  dojo/tools/sslyze/parser_xml.py
  dojo/tools/stackhawk/parser.py
  dojo/tools/talisman/parser.py
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/parser.py
  dojo/tools/tenable/xml_format.py
  dojo/tools/terrascan/parser.py
  dojo/tools/testssl/parser.py
  dojo/tools/tfsec/parser.py
  dojo/tools/trivy/parser.py
  dojo/tools/trivy_operator/parser.py
  dojo/tools/trufflehog/parser.py
  dojo/tools/trufflehog3/parser.py
  dojo/tools/trustwave/__init__.py
  dojo/tools/trustwave/parser.py
  dojo/tools/trustwave_fusion_api/parser.py
  dojo/tools/twistlock/parser.py
  dojo/tools/vcg/parser.py
  dojo/tools/veracode/__init__.py
  dojo/tools/veracode/parser.py
  dojo/tools/veracode_sca/parser.py
  dojo/tools/wapiti/parser.py
  dojo/tools/wazuh/parser.py
  dojo/tools/wfuzz/parser.py
  dojo/tools/whispers/parser.py
  dojo/tools/whitehat_sentinel/parser.py
  dojo/tools/whitesource/parser.py
  dojo/tools/wpscan/parser.py
  dojo/tools/xanitizer/__init__.py
  dojo/tools/xanitizer/parser.py
  dojo/tools/yarn_audit/parser.py
  dojo/tools/zap/parser.py
Labels: parser

#8351 Add signal to update Finding `found_by` column
  dojo/apps.py
  dojo/test/signals.py
Labels: bugfix

#8321 Update files with PEP8 standards in folder dojo #002
  dojo/announcement/signals.py
  dojo/announcement/urls.py
  dojo/announcement/views.py
  dojo/api_v2/exception_handler.py
  dojo/api_v2/mixins.py
  dojo/api_v2/permissions.py
  dojo/api_v2/prefetch/__init__.py
  dojo/api_v2/prefetch/mixins.py
  dojo/api_v2/prefetch/prefetcher.py
  dojo/api_v2/prefetch/schema.py
  dojo/api_v2/prefetch/utils.py
  dojo/api_v2/schema/__init__.py
  dojo/api_v2/schema/extra_schema.py
  dojo/api_v2/schema/utils.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/authorization_decorators.py
  dojo/authorization/roles_permissions.py
  dojo/banner/urls.py
  dojo/banner/views.py
  dojo/benchmark/urls.py
  dojo/benchmark/views.py
  dojo/components/sql_group_concat.py
  dojo/components/urls.py
  dojo/components/views.py
Labels: apiv2

#8302 Update files with PEP8 standards in folder dojo/tools #003
  dojo/tools/gitleaks/parser.py
  dojo/tools/gosec/parser.py
  dojo/tools/govulncheck/parser.py
  dojo/tools/h1/parser.py
  dojo/tools/hadolint/parser.py
  dojo/tools/harbor_vulnerability/parser.py
  dojo/tools/horusec/parser.py
Labels: parser

#8386 Fixed side navbar cutoff issue
  dojo/static/dojo/css/dojo.css
  dojo/templates/base.html
Labels: ui

#8389 Doc: API parsers: Replace copy-pasted value
  docs/content/en/integrations/parsers/api/_index.md
Labels: docs

#8403 Update chromedriver fetching mechanism
  Dockerfile.integration-tests-debian
Labels: docker

#8383 fix: Sonarqube re-upload #8379
  dojo/tools/api_sonarqube/api_client.py
  dojo/tools/api_sonarqube/importer.py
Labels: parser

#8414 Add JSON Ingestion to Veracode Parser
  docs/content/en/integrations/parsers/file/veracode.md
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode/parser.py
  dojo/tools/veracode/xml_parser.py
  unittests/scans/veracode/dynamic_embedded_format.json
  unittests/scans/veracode/dynamic_findings_list_format.json
  unittests/scans/veracode/sca_embedded_format.json
  unittests/scans/veracode/sca_findings_list_format.json
  unittests/scans/veracode/static_embedded_format.json
  unittests/scans/veracode/static_findings_list_format.json
  unittests/tools/test_veracode_parser.py
Labels: docs, unittests, parser

#8426 Add Reporter field to Finding PATCH/PUT
  dojo/api_v2/serializers.py
Labels: apiv2

#8427 Update DOCKER.md - Correct docker compose versions - bug from 2.19.0 …
  readme-docs/DOCKER.md
Labels: docs

#8253 Fix invalid OpenAPI schema + Add integration test
  .github/workflows/integration-tests.yml
  Dockerfile.integration-tests-debian
  docker/entrypoint-integration-tests.sh
  dojo/filters.py
Labels: docker

#8438 Correct exception of editing finding with multiple req/resp pairs
  dojo/finding/views.py
Labels: bugfix

#8439 Add more SLA related fields to excel/csv reports
  dojo/reports/views.py
Labels: bugfix
