Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-03, with the labels that each got.

#7716 BlackDuck API read timout increased
  dojo/tools/api_blackduck/api_client.py
Labels: parser

#7725 Add prefetching to Tests endpoint
  dojo/api_v2/views.py
Labels: apiv2

#7724 Add prefetching to Endpoint, Endpoint Status, and Engagement
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: apiv2

#7700 Update JIRA when a finding is edited
  dojo/db_migrations/0181_jira_instance_finding_jira_sync.py
  dojo/finding/views.py
  dojo/models.py
Labels: New Migration

#7719 Add prefetching to technologies endpoint
  dojo/api_v2/views.py
Labels: apiv2

#7721 Add prefetching to engagement presets endpoint
  dojo/api_v2/views.py
Labels: apiv2

#7722 Add prefetching to product API scan config presets endpoint
  dojo/api_v2/views.py
Labels: apiv2

#7723 Add prefetch to stub findings endpoint
  dojo/api_v2/views.py
Labels: apiv2

#7735 Add Risk Acceptance (read) API Endpoint
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/filters.py
  dojo/fixtures/dojo_testdata.json
  dojo/models.py
  dojo/risk_acceptance/queries.py
  dojo/urls.py
  unittests/test_apiv2_methods.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests

#7753 fix(UI): wrong button name for deleting group
  dojo/templates/dojo/delete_group.html
Labels: ui

#7746 Fix for empty alias
  dojo/tools/dependency_track/parser.py
  unittests/scans/dependency_track/many_findings_with_empty_alias.json
  unittests/tools/test_dependency_track_parser.py
Labels: unittests, parser

#7754 Fix GitHub dedupe
  docs/content/en/integrations/parsers/file/github_vulnerability.md
  dojo/settings/settings.dist.py
Labels: settings_changes, docs

#7742 Add Questionnaire API Endpoints (read only)
  dojo/api_v2/mixins.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/questionnaire_testdata.json
  dojo/urls.py
  unittests/test_apiv2_methods.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests

#7761 Allowing a max length of 255 for default JIRA issue types
  dojo/db_migrations/0182_alter_jira_instance_default_issue_type.py
  dojo/models.py
Labels: New Migration

#7759 Add Credential Mapping and API Endpoint
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/authorization/roles_permissions.py
  dojo/cred/views.py
  dojo/filters.py
  dojo/fixtures/dojo_testdata.json
  dojo/templates/dojo/view_cred_details.html
  dojo/urls.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests, ui

#7766 Merge bugfix into dev 2.20.0
  dojo/db_migrations/0181_jira_instance_finding_jira_sync.py
  dojo/db_migrations/0182_alter_jira_instance_default_issue_type.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/models.py
  dojo/templates/dojo/delete_group.html
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
  dojo/tools/dependency_track/parser.py
  helm/defectdojo/Chart.lock
  unittests/scans/dependency_track/many_findings_with_empty_alias.json
  unittests/tools/test_dependency_track_parser.py
Labels: New Migration, unittests, ui, parser, helm

#7785 Updated Bootstrap, BootSwatch, and jQuery UI Components
  components/package.json
  components/yarn.lock
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
  dojo/templates/dojo/add_related.html
  dojo/templates/dojo/custom_html_report.html
  dojo/templates/report_base.html
Labels: ui

#7771 Add extra path in Engagement endpoint for checklists
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: apiv2

#7770 Improve Risk Acceptance api endpoint
  dc-unittest.sh
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: apiv2

#7795 Updated Bootstrap, BootSwatch, and jQuery UI Components
  components/package.json
  components/yarn.lock
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
  dojo/templates/dojo/add_related.html
  dojo/templates/dojo/custom_html_report.html
  dojo/templates/report_base.html
Labels: ui

#7797 Add link to finding group from inside finding
  dojo/templates/dojo/view_finding.html
Labels: settings_changes, apiv2, ui, helm

#7822 Fix code warnings about logger.warn
  dojo/db_migrations/0118_remove_finding_images.py
  dojo/engagement/views.py
  dojo/finding/helper.py
  dojo/jira_link/helper.py
  dojo/management/commands/import_github_languages.py
  dojo/pipeline.py
  dojo/risk_acceptance/helper.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/dependency_track/parser.py
  dojo/utils.py
Labels: New Migration, parser

#7810 Qualys minor fix
  dojo/tools/qualys/csv_parser.py
Labels: parser

#7837 Docs update master
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  docs/content/en/_index.md
  docs/content/en/contributing/branching-model.md
  docs/content/en/contributing/documentation.md
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/contributing/wishlist.md
  docs/content/en/getting_started/architecture.md
  docs/content/en/getting_started/configuration.md
  docs/content/en/getting_started/demo.md
  docs/content/en/getting_started/installation.md
  docs/content/en/getting_started/running-in-production.md
  docs/content/en/getting_started/upgrading.md
  docs/content/en/usage/features.md
  docs/content/en/usage/models.md
  docs/content/en/usage/performance.md
  docs/content/en/usage/permissions.md
  docs/content/en/usage/questionnaires.md
  readme-docs/CONTRIBUTING.md
Labels: docs

#7832 Update path to tests in CONTRIBUTING.md
  readme-docs/CONTRIBUTING.md
Labels: docs

#7823 Removing redundant information from Veracode SCA description
  dojo/api_v2/serializers.py
  dojo/tools/veracode_sca/parser.py
Labels: apiv2, parser

#7840 Update how-to-write-a-parser.md
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

#7839 fixing datatable column count
  dojo/templates/dojo/findings_list_snippet.html
Labels: ui

#7695 Benchmark v2
  dojo/benchmark/urls.py
  dojo/benchmark/views.py
  dojo/product/views.py
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/benchmark.html
  dojo/templates/dojo/delete_benchmark.html
  dojo/templates/dojo/view_product_details.html
  dojo/templatetags/display_tags.py
  tests/test_test.py
Labels: integration_tests, ui

#7880 Remove BootSwatch dependency
  components/package.json
  components/yarn.lock
  dojo/static/dojo/css/bootswatch/yeti/bootstrap.min.css
  dojo/templates/dojo/custom_html_report.html
  dojo/templates/report_base.html
Labels: ui

#7879 Fix menu items disappearing on error pages
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/create_questionnaire.html
  dojo/templates/defectDojo-engagement-survey/list_questions.html
  dojo/templates/defectDojo-engagement-survey/list_surveys.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/dev_env.html
  dojo/templates/dojo/edit_dev_env.html
  dojo/templates/dojo/edit_regulation.html
  dojo/templates/dojo/edit_sla_config.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/github.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/jira.html
  dojo/templates/dojo/note_type.html
  dojo/templates/dojo/regulations.html
  dojo/templates/dojo/rules.html
  dojo/templates/dojo/sla_config.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/test_type.html
  dojo/templates/dojo/tool_config.html
  dojo/templates/dojo/tool_type.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_cred.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templates/dojo/view_user.html
  dojo/templatetags/authorization_tags.py
  unittests/authorization/test_authorization_tags.py
Labels: unittests, ui

#7872 Dependency track parser does not set false positive findings to inact…
  dojo/tools/dependency_track/parser.py
  unittests/tools/test_dependency_track_parser.py
Labels: unittests, parser
