Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-11, with the labels that each got.

#8868 Implementation of a CSV parser for Sysdig Vulnerability reports
  docs/content/en/integrations/parsers/file/sysdig_reports.md
  dojo/tools/sysdig_reports/__init__.py
  dojo/tools/sysdig_reports/parser.py
  dojo/tools/sysdig_reports/sysdig_csv_parser.py
  dojo/tools/sysdig_reports/sysdig_data.py
  unittests/scans/sysdig_reports/sysdig_reports_empty_with_error.csv
  unittests/scans/sysdig_reports/sysdig_reports_many_vul.csv
  unittests/scans/sysdig_reports/sysdig_reports_missing_cve_field.csv
  unittests/scans/sysdig_reports/sysdig_reports_not_starting_with_cve.csv
  unittests/scans/sysdig_reports/sysdig_reports_one_vul.csv
  unittests/scans/sysdig_reports/sysdig_reports_zero_vul.csv
  unittests/tools/test_sysdig_reports_parser.py
Labels: docs, unittests, parser

#8858 :tada: added hcl appscan parser #8829
  docs/content/en/integrations/parsers/file/hcl_appscan.md
  dojo/tools/hcl_appscan/__init__.py
  dojo/tools/hcl_appscan/parser.py
  unittests/scans/hcl_appscan/many_findings.xml
  unittests/scans/hcl_appscan/no_findings.xml
  unittests/tools/test_hcl_appscan_parser.py
Labels: docs, unittests, parser

#8897 advance the description of rustyhog
  docs/content/en/integrations/parsers/file/rusty_hog.md
Labels: docs

#8953 Removed git_protect GH action
  .dryrunsecurity.yaml
  .github/scripts/git_protect.py
  .github/workflows/check-protected-files.yml
  .gitprotect
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
  requirements.txt
Labels: maintenance

#8955 api_sq: small typo in documentation
  docs/content/en/integrations/parsers/api/sonarqube.md
Labels: docs

#8961 Reporting: Exclude empty fields from report + correct host for HTML reports
  dojo/models.py
  dojo/reports/views.py
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
Labels: ui

#8952 add sunset notice to burp-plugin.md
  docs/content/en/integrations/burp-plugin.md
Labels: docs

#8958 Fix typo in docs
  docs/content/en/getting_started/architecture.md
Labels: docs

#8973 OpenAPI schema: Use renderer with small size by default
  dojo/api_v2/views.py
  dojo/urls.py
Labels: apiv2

#8963 fix nuclei #8920
  dojo/tools/nuclei/parser.py
  unittests/scans/nuclei/multiple_v3.json
  unittests/tools/test_nuclei_parser.py
Labels: unittests, parser

#8943 add trivy-dojo-operator docs
  docs/content/en/integrations/parsers/file/trivy_operator.md
Labels: docs

#8962 remove unused unittestfile
  unittests/scans/nmap_scanme.json
Labels: unittests

#9013 fix metrics to also calculate risk acceptance and duplicate findings.
  dojo/utils.py
Labels: bugfix

#9016 fix harbor according to issue #9014
  dojo/tools/harbor_vulnerability/parser.py
  unittests/scans/harbor_vulnerability/harborapipip.json
  unittests/tools/test_harbor_vulnerability_parser.py
Labels: unittests, parser

#8994 fix: Bugcrowd API Import uses legacy dedupe instead of unique id from tool
  dojo/settings/settings.dist.py
Labels: settings_changes

#8983 Docs: Split upgrade notes
  .github/workflows/release-3-master-into-dev.yml
  docs/content/en/getting_started/upgrading.md
  docs/content/en/getting_started/upgrading/1.10.md
  docs/content/en/getting_started/upgrading/1.11.md
  docs/content/en/getting_started/upgrading/1.12.md
  docs/content/en/getting_started/upgrading/1.13.md
  docs/content/en/getting_started/upgrading/1.14.md
  docs/content/en/getting_started/upgrading/1.15.md
  docs/content/en/getting_started/upgrading/1.2.2.md
  docs/content/en/getting_started/upgrading/1.2.3.md
  docs/content/en/getting_started/upgrading/1.2.4.md
  docs/content/en/getting_started/upgrading/1.2.8.md
  docs/content/en/getting_started/upgrading/1.2.9.md
  docs/content/en/getting_started/upgrading/1.3.1.md
  docs/content/en/getting_started/upgrading/1.7.0.md
  docs/content/en/getting_started/upgrading/1.8.0.md
  docs/content/en/getting_started/upgrading/1.9.3.md
  docs/content/en/getting_started/upgrading/2.0.md
  docs/content/en/getting_started/upgrading/2.10.md
  docs/content/en/getting_started/upgrading/2.12.md
  docs/content/en/getting_started/upgrading/2.13.md
  docs/content/en/getting_started/upgrading/2.15.md
  docs/content/en/getting_started/upgrading/2.16.md
  docs/content/en/getting_started/upgrading/2.17.md
  docs/content/en/getting_started/upgrading/2.18.md
  docs/content/en/getting_started/upgrading/2.19.md
  docs/content/en/getting_started/upgrading/2.2.md
  docs/content/en/getting_started/upgrading/2.20.md
  docs/content/en/getting_started/upgrading/2.21.md
  docs/content/en/getting_started/upgrading/2.22.md
  docs/content/en/getting_started/upgrading/2.23.md
  docs/content/en/getting_started/upgrading/2.24.md
  docs/content/en/getting_started/upgrading/2.25.md
  docs/content/en/getting_started/upgrading/2.26.md
  docs/content/en/getting_started/upgrading/2.27.md
  docs/content/en/getting_started/upgrading/2.28.md
  docs/content/en/getting_started/upgrading/2.29.md
  docs/content/en/getting_started/upgrading/2.3.md
  docs/content/en/getting_started/upgrading/2.4.md
  docs/content/en/getting_started/upgrading/2.5.md
  docs/content/en/getting_started/upgrading/2.6.md
  docs/content/en/getting_started/upgrading/2.7.md
  docs/content/en/getting_started/upgrading/2.8.md
  docs/content/en/getting_started/upgrading/2.9.md
  docs/content/en/getting_started/upgrading/_index.md
Labels: docs

#8959 Notification: Allow to send notification even if there was no change in scan
  dojo/db_migrations/0192_notifications_scan_added_empty.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/templates/notifications/alert/scan_added_empty.tpl
  dojo/templates/notifications/mail/scan_added_empty.tpl
  dojo/templates/notifications/msteams/scan_added_empty.tpl
  dojo/templates/notifications/slack/scan_added_empty.tpl
Labels: New Migration, ui

#9008 fix button color in risk acceptance bug
  dojo/templates/dojo/view_risk_acceptance.html
Labels: ui

#9038 Improve DD_DEDUPLICATION_ALGORITHM_PER_PARSER DD_HASHCODE_FIELDS_PER_SCANNER
  dojo/settings/settings.dist.py
Labels: settings_changes

#9034 UI: Show Vuln ID from tool
  dojo/templates/dojo/view_finding.html
Labels: ui

#9006 Fixbug: sonarqube severity property and remove sonarqube whitespace lead and trail properties
  dojo/tools/sonarqube/parser.py
  unittests/scans/sonarqube/sonar-table-in-table-with-whitespace.html
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser

#9025 Fix Bundler parser
  dojo/tools/bundler_audit/parser.py
Labels: parser

#9018 hotfix for nuclei to get it back working #9017
  dojo/tools/nuclei/parser.py
Labels: parser

#9022 Fixing README links and formatting
  README.md
Labels: maintenance

#8989 :tada: added humble #8988
  docs/content/en/integrations/parsers/file/humble.md
  dojo/settings/settings.dist.py
  dojo/tools/humble/__init__.py
  dojo/tools/humble/parser.py
  unittests/scans/humble/many_findings.json
  unittests/scans/humble/many_findings2.json
  unittests/tools/test_humble_parser.py
Labels: settings_changes, docs, unittests, parser

#9078 Add subcomponent labels for celery beat and worker helm templates
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
Labels: helm
