Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-08, with the labels that each got.

#8449 Update Nessus references to Tenable
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#8472 Fixing some minor typos
  helm/defectdojo/templates/secret-postgresql-ha.yaml
  unittests/tools/test_arachni_parser.py
Labels: unittests, helm

#8473 Deprecation: OpenAPI 2.0 Documentation page
  docs/content/en/getting_started/upgrading.md
  dojo/templates/base.html
  dojo/urls.py
Labels: maintenance, docs, ui

#8479 Merge Bugfix -> Dev (2.25.0)
  docs/content/en/getting_started/upgrading.md
  dojo/templates/base.html
  dojo/urls.py
  helm/defectdojo/templates/secret-postgresql-ha.yaml
  unittests/tools/test_arachni_parser.py
Labels: docs, unittests, ui, helm

#8454 added django service annotations option to helm values file to set an…
  helm/defectdojo/templates/django-service.yaml
  helm/defectdojo/values.yaml
Labels: helm

#8497 Doc fix default postgres redis
  readme-docs/DOCKER.md
Labels: docs

#8499 fix: uncheck verified box when toggle false positive to fix test_retr…
  tests/false_positive_history_test.py
Labels: integration_tests

#8346 Semgrep parser unique id from tool
  dojo/settings/settings.dist.py
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/semgrep_version_1_30_0_line_26.json
  unittests/scans/semgrep/semgrep_version_1_30_0_line_27.json
  unittests/tools/test_semgrep_parser.py
Labels: settings_changes, unittests, parser

#8507 Add drf-spectacular preprocessing hooks to keep a rigid definition of rendered API endpoints
  dojo/settings/settings.dist.py
  dojo/urls.py
Labels: settings_changes

#8519 Update ASW-SH Inspector to accommodate findings without vulnerabilities or remediation
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/securityhub_inspector_no_vulnerabilities.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: bugfix, unittests, parser

#8527 Remove naive format warnings during import
  dojo/importers/importer/importer.py
  dojo/importers/utils.py
Labels: bugfix

#8532 Endpoint Meta Importer: Do not create meta if column is empty
  dojo/endpoint/utils.py
Labels: bugfix

#8547 updated helm chart to allow setting a different port for external redis
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.yaml
Labels: helm

#8545 Endpoint model/view corrections
  dojo/endpoint/views.py
  dojo/filters.py
  dojo/importers/utils.py
  dojo/models.py
  dojo/templates/dojo/endpoints.html
  unittests/test_endpoint_model.py
Labels: bugfix, unittests, ui

#8557 Fix checkbox disappear findings (windows resize)
  dojo/templates/dojo/alerts.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_test.html
Labels: ui

#8558 added open findings burndown for product metrics
  dojo/product/urls.py
  dojo/product/views.py
  dojo/static/dojo/css/dojo.css
  dojo/static/dojo/js/metrics.js
  dojo/templates/dojo/product_metrics.html
  dojo/utils.py
Labels: ui
