Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-04, with the labels that each got.

#7868 add parser for trivy-operator reports
  docs/content/en/integrations/parsers/file/trivy_operator.md
  dojo/settings/settings.dist.py
  dojo/tools/trivy_operator/__init__.py
  dojo/tools/trivy_operator/parser.py
  unittests/scans/trivy_operator/configauditreport_many.json
  unittests/scans/trivy_operator/configauditreport_no_vuln.json
  unittests/scans/trivy_operator/configauditreport_single_vuln.json
  unittests/scans/trivy_operator/exposedsecretreport_many.json
  unittests/scans/trivy_operator/exposedsecretreport_no_vuln.json
  unittests/scans/trivy_operator/exposedsecretreport_single_vuln.json
  unittests/scans/trivy_operator/vulnerabilityreport_many.json
  unittests/scans/trivy_operator/vulnerabilityreport_no_vuln.json
  unittests/scans/trivy_operator/vulnerabilityreport_single_vuln.json
  unittests/tools/test_trivy_operator_parser.py
Labels: settings_changes, docs, unittests, parser

#7731 UnitTest: Are all models defined in AdminSite?
  dojo/models.py
  unittests/test_adminsite.py
Labels: unittests

#7882 Add the ability to disable SLA notifications on a product basis
  dojo/db_migrations/0185_product_disable_sla_breach_notifications_and_more.py
  dojo/forms.py
  dojo/models.py
  dojo/utils.py
Labels: New Migration

#7915 Update detect_secrets parser and include FP findings in importer
  dojo/importers/importer/importer.py
  dojo/tools/detect_secrets/parser.py
Labels: parser

#7933 Add parser for Talisman
  docs/content/en/integrations/parsers/file/talisman.md
  dojo/tools/talisman/__init__.py
  dojo/tools/talisman/parser.py
  unittests/scans/talisman/many_findings.json
  unittests/scans/talisman/no_finding.json
  unittests/scans/talisman/one_finding.json
  unittests/tools/test_talisman_parser.py
Labels: docs, unittests, parser

#7958 Update DRF Filtersets fields to lists rather than tuples
  dojo/api_v2/views.py
Labels: apiv2

#7624 add license parser to trivy scan
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/license_scheme.json
  unittests/tools/test_trivy_parser.py
Labels: Waiting on tests, unittests, parser

#7962 msteams notifications template fix
  dojo/templates/notifications/msteams/engagement_added.tpl
  dojo/templates/notifications/msteams/other.tpl
  dojo/templates/notifications/msteams/product_added.tpl
  dojo/templates/notifications/msteams/product_type_added.tpl
  dojo/templates/notifications/msteams/report_created.tpl
  dojo/templates/notifications/msteams/risk_acceptance_expiration.tpl
  dojo/templates/notifications/msteams/scan_added.tpl
  dojo/templates/notifications/msteams/sla_breach.tpl
  dojo/templates/notifications/msteams/test_added.tpl
  dojo/templates/notifications/msteams/upcoming_engagement.tpl
  dojo/templates/notifications/msteams/user_mentioned.tpl
Labels: ui

#7932 Feature freeze clarification
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  README.md
  readme-docs/CONTRIBUTING.md
Labels: docs

#7960 Fix wide grants for gitlab auth
  docs/content/en/integrations/social-authentication.md
  dojo/settings/settings.dist.py
Labels: settings_changes, docs

#7997 Finding List Fixes + Finding Template Permission Fixes
  dojo/authorization/roles_permissions.py
  dojo/finding/views.py
  dojo/templates/base.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/dev_env.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engineer_metrics.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/note_type.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/report_findings.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/test_type.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/navigation_tags.py
Labels: bugfix, ui

#7996 Strip spaces from tags before pushing to jira
  dojo/jira_link/helper.py
Labels: bugfix

#8017 Update sarif parser.py fit for android lint
  dojo/tools/sarif/parser.py
Labels: parser

#7684 :tada: New parser: Wazuh #7683
  docs/content/en/integrations/parsers/file/wazuh.md
  dojo/settings/settings.dist.py
  dojo/tools/wazuh/__init__.py
  dojo/tools/wazuh/parser.py
  unittests/scans/wazuh/many_findings.json
  unittests/scans/wazuh/no_findings.json
  unittests/scans/wazuh/one_finding.json
  unittests/tools/test_wazuh_parser.py
Labels: settings_changes, docs, unittests, parser
