Repository DefectDojo/django-DefectDojo, pull requests merged in 2023-10, with the labels that each got.

#8764 add parser documentation for burp scan & burp-enterprise
  docs/content/en/integrations/parsers/file/burp.md
  docs/content/en/integrations/parsers/file/burp_enterprise.md
Labels: docs

#8744 Docs: Fix "data model" link in Features
  docs/content/en/usage/features.md
Labels: docs

#8741 Correct product revenue value on the product details page
  dojo/templates/dojo/view_product_details.html
Labels: bugfix, ui

#8776 Missing release notes for 2.27.x
  docs/content/en/getting_started/upgrading.md
Labels: docs

#8779 Check for empty cves array in JFrog Xray API Summary Artifact Parser
  dojo/tools/jfrog_xray_api_summary_artifact/parser.py
Labels: parser

#8783 Browser tests should use the latest Chrome stable release
  Dockerfile.integration-tests-debian
  docker/entrypoint-integration-tests.sh
  docker/install_chrome_dependencies.py
Labels: docker

#8765 Validate undefined and null value in criticality column table products
  dojo/templates/dojo/product.html
Labels: ui

#8664 [ENHANCEMENT] AWS Security Hub parser: include more vulnerability details
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/README.md
  unittests/scans/awssecurityhub/inspector_ecr.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

#8818 Adds a code review process section to the contributors guide
  readme-docs/CONTRIBUTING.md
Labels: docs

#8789 :tada: Add openvasxml parser #8761
  docs/content/en/integrations/parsers/file/openvas_xml.md
  dojo/tools/openvas_xml/__init__.py
  dojo/tools/openvas_xml/parser.py
  unittests/scans/openvas_xml/many_vuln.xml
  unittests/scans/openvas_xml/no_vuln.xml
  unittests/scans/openvas_xml/one_vuln.xml
  unittests/tools/test_openvas_xml_parser.py
Labels: Waiting on response, docs, unittests, parser

#8822 Add translation, fix bug, and some improvements for SARIF parser
  dojo/tools/sarif/parser.py
  unittests/scans/sarif/codeQL-output.sarif
  unittests/tools/test_sarif_parser.py
Labels: unittests, parser

#8817 Migrate to Compose V2 for dev branch
  README.md
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docker/docker-compose-check.sh
  docker/entrypoint-initializer.sh
  docker/setEnv.sh
Labels: docker

#8844 Update Qualys Parser to aggregate endpoints rather than only store 1 endpoint per Finding
  dojo/tools/qualys/csv_parser.py
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

#8853 Fix Kiuwan CSV import parser
  dojo/tools/kiuwan/parser.py
Labels: parser

#8716 Feat: Add Threagile parser
  docs/content/en/integrations/parsers/file/threagile.md
  dojo/settings/settings.dist.py
  dojo/tools/threagile/__init__.py
  dojo/tools/threagile/parser.py
  unittests/scans/threagile/bad_formatted_risks_file.json
  unittests/scans/threagile/empty_file_no_risks.json
  unittests/scans/threagile/risks.json
  unittests/tools/test_threagile_parser.py
Labels: Waiting on response, settings_changes, Waiting on tests, docs, unittests, parser

#8870 Fixed the link in the readme documentation
  readme-docs/KUBERNETES.md
Labels: docs

#8838 Add sshaudit parser #8837
  docs/content/en/integrations/parsers/file/ssh_audit.md
  dojo/tools/ssh_audit/__init__.py
  dojo/tools/ssh_audit/parser.py
  unittests/scans/ssh_audit/many_vulns.json
  unittests/scans/ssh_audit/many_vulns2.json
  unittests/tools/test_ssh_audit_parser.py
Labels: docs, unittests, parser

#8879 Update deprecated escape sequence
  dojo/templates/dojo/filter_snippet.html
  dojo/user/validators.py
  unittests/test_user_validators.py
Labels: unittests, ui

#8891 [bugfix] Whispers 2.2 report importing support
  dojo/tools/whispers/parser.py
  unittests/scans/whispers/whispers_one_vul_v2.2.json
  unittests/tools/test_whispers_parser.py
Labels: unittests, parser

#8869 Fix typo in notifications: risk_acceptance_expiration
  dojo/db_migrations/0191_alter_notifications_risk_acceptance_expiration.py
  dojo/models.py
Labels: New Migration
