Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-05, with the labels that each got.

#9922 refactor generic parser
  dojo/tools/generic/csv_parser.py
  dojo/tools/generic/json_parser.py
  dojo/tools/generic/parser.py
Labels: parser

#9894 remove aws scout2 parser
  docs/content/en/integrations/parsers/file/aws_scout2.md
  dojo/settings/settings.dist.py
  dojo/tools/aws_scout2/__init__.py
  dojo/tools/aws_scout2/parser.py
  unittests/scans/aws_scout2/aws_config.js
  unittests/tools/test_aws_scout2_parser.py
Labels: settings_changes, docs, unittests, parser

#9932 Newlines in SARIF parser code blocks
  dojo/tools/sarif/parser.py
  unittests/tools/test_sarif_parser.py
Labels: unittests, parser

#10077 Update Release Notes for 2.34.0
  docs/content/en/getting_started/upgrading/2.34.md
Labels: docs

#9985 :sparkles: implement yarn2 parser
  dojo/tools/yarn_audit/parser.py
  unittests/scans/yarn_audit/yarn2_audit_issue9911.json
  unittests/scans/yarn_audit/yarn_audit_multiple_cwes.json
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests, parser

#10078 Ruff: clean-up after multiple merges not cover by new rules
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/components/sql_group_concat.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/finding_group/views.py
  dojo/forms.py
  dojo/importers/reimporter/reimporter.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/clear_alerts.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/okta.py
  dojo/product_type/views.py
  dojo/search/views.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/checkmarx_osa/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/nmap/parser.py
  dojo/tools/scout_suite/parser.py
  dojo/tools/ssl_labs/parser.py
  dojo/urls.py
  dojo/utils.py
  unittests/dojo_test_case.py
  unittests/test_importers_importer.py
  unittests/test_rest_framework.py
Labels: settings_changes, apiv2, unittests, ui, parser

#10071 remove non-working links from social-authentication.md
  docs/content/en/integrations/social-authentication.md
Labels: docs

#10075 add Knowledge Base link to docs sidebar element
  docs/content/en/link_knowledge-base.md
Labels: docs

#9904 add test description for AWS SecurityHub Scan
  dojo/tools/awssecurityhub/parser.py
Labels: parser

#9961 RemoteUser: Hide from Swagger
  dojo/remote_user.py
  dojo/settings/settings.dist.py
  unittests/test_remote_user.py
Labels: settings_changes, unittests

#10011 Importer + Reimport: Reorg, cleanup, comment
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/engagement/urls.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/auto_create_context.py
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/importers/endpoint_manager.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/reimporter/utils.py
  dojo/importers/utils.py
  dojo/product/urls.py
  dojo/test/urls.py
  dojo/test/views.py
  unittests/test_importers_closeold.py
  unittests/test_importers_importer.py
  unittests/test_rest_framework.py
Labels: enhancement, apiv2, cleanup, unittests

#10072 fix awssecurityhub findings
  dojo/tools/awssecurityhub/compliance.py
  dojo/tools/awssecurityhub/guardduty.py
  dojo/tools/awssecurityhub/inspector.py
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

#10082 :bug: Fix RedHatSatellite components
  dojo/tools/redhatsatellite/parser.py
  unittests/scans/redhatsatellite/many_packages.json
  unittests/tools/test_redhatsatellite_parser.py
Labels: unittests, parser

#10101 :bug: fix hcl_appscan, handle severity is None #10074
  dojo/tools/hcl_appscan/parser.py
  unittests/scans/hcl_appscan/issue_10074.xml
  unittests/tools/test_hcl_appscan_parser.py
Labels: unittests, parser

#10102 Checkmarx One: Add additional parsing for different report formats
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
  dojo/tools/checkmarx_one/parser.py
  unittests/scans/checkmarx_one/vulnerabilities_from_scan_results.json
  unittests/tools/test_checkmarx_one_parser.py
Labels: unittests, ui, parser

#10052 :sparkles: implement progpilot SAST parser #10044
  docs/content/en/integrations/parsers/file/progpilot.md
  dojo/tools/progpilot/__init__.py
  dojo/tools/progpilot/parser.py
  unittests/scans/progpilot/progpilot.json
  unittests/scans/progpilot/progpilot2.json
  unittests/scans/progpilot/progpilot3.json
  unittests/scans/progpilot/progpilot4.json
  unittests/tools/test_progpilot_parser.py
Labels: docs, unittests, parser

#10124 Class based reports views
  dojo/filters.py
  dojo/reports/urls.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/templates/base.html
Labels: ui

#10125 Merge Bugfix into Dev for 2.34.0
  docs/content/en/integrations/social-authentication.md
  dojo/tools/awssecurityhub/compliance.py
  dojo/tools/awssecurityhub/guardduty.py
  dojo/tools/awssecurityhub/inspector.py
  dojo/tools/hcl_appscan/parser.py
  dojo/tools/redhatsatellite/parser.py
  unittests/scans/hcl_appscan/issue_10074.xml
  unittests/scans/redhatsatellite/many_packages.json
  unittests/tools/test_awssecurityhub_parser.py
  unittests/tools/test_hcl_appscan_parser.py
  unittests/tools/test_redhatsatellite_parser.py
Labels: docs, unittests, parser

#10110 remove cve field from docs
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

#10136 advance vulnerability urls
  dojo/settings/settings.dist.py
Labels: settings_changes

#10134 :lipstick: remove unnecessary content from redhatsatellite findings
  dojo/tools/redhatsatellite/parser.py
Labels: parser

#10133 :lipstick: remove unnecessary content from sonarqube findings
  dojo/tools/sonarqube/sonarqube_restapi_json.py
Labels: parser

#10193 fix(notifications-email): Use a for urls
  dojo/templates/notifications/mail/other.tpl
  dojo/templates/notifications/mail/report_created.tpl
  dojo/templates/notifications/mail/review_requested.tpl
  dojo/templates/notifications/mail/user_mentioned.tpl
Labels: ui

#10186 Fix(api-sq): Doc: typo in multi branch scanning
  docs/content/en/integrations/parsers/api/sonarqube.md
Labels: docs

#10157 :bug: fix severity in sonarqube scan detailed
  dojo/tools/sonarqube/soprasteria_helper.py
  unittests/scans/sonarqube/issue_10150.json
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser

#10183 Object File Uploads: Add validations and download functionality
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
Labels: bugfix, apiv2, ui

#10182 Importers: Small corrections
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_test.html
Labels: ui

#10179 Optionally Enforce SLA Remediation Days
  dojo/api_v2/serializers.py
  dojo/db_migrations/0212_sla_configuration_enforce_critical_and_more.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/sla_config.html
  dojo/templates/dojo/view_product_details.html
  dojo/templatetags/display_tags.py
  unittests/test_finding_model.py
Labels: New Migration, apiv2, unittests, ui

#8824 Consolidation of notification creation
  dojo/apps.py
  dojo/endpoint/signals.py
  dojo/endpoint/views.py
  dojo/engagement/signals.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/finding_group/signals.py
  dojo/finding_group/views.py
  dojo/jira_link/views.py
  dojo/middleware.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/signals.py
  dojo/product/views.py
  dojo/product_type/signals.py
  dojo/product_type/views.py
  dojo/settings/settings.dist.py
  dojo/tags_signals.py
  dojo/test/signals.py
  dojo/test/views.py
  dojo/tools/api_sonarqube/importer.py
  dojo/utils.py
  unittests/test_notifications.py
  unittests/test_rest_framework.py
Labels: settings_changes, unittests, parser

#10119 feat(user): Show date of user creation
  dojo/api_v2/serializers.py
  dojo/filters.py
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_user.html
Labels: apiv2, ui

#10210 :bug: reset description in progpilot after each finding
  dojo/tools/progpilot/parser.py
Labels: parser

#10200 :bug: fix SARIF, issue #10191
  dojo/tools/sarif/parser.py
  unittests/scans/sarif/issue_10191.json
  unittests/tools/test_sarif_parser.py
Labels: unittests, parser

#10115 Added with best practice for file open
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs

#10204 Improving date of discovery filter
  dojo/filters.py
  dojo/templates/dojo/report_builder.html
Labels: ui

#9856 Nosey Parker description fixes
  dojo/tools/noseyparker/parser.py
Labels: parser

#10212 feat(settings): Add integrity checker
  docker-compose.override.debug.yml
  docs/content/en/getting_started/upgrading/2.35.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/settings/settings.py
  unittests/test_utils.py
Labels: docker, settings_changes, docs, unittests

#10230 Make endpoint names visible in reports
  dojo/templates/dojo/custom_html_report_endpoint_list.html
Labels: ui

#10226 Test_Import: Correct exception for multiple findings in the same object
  dojo/importers/default_reimporter.py
Labels: bugfix

#10235 Import History: Adding a few tests
  unittests/scans/generic/test_import_report1.json
  unittests/scans/generic/test_import_report2.json
  unittests/test_import_reimport.py
Labels: unittests

#10185 :bug: severity mapping, :sparkles: defender performance improvement
  dojo/tools/ms_defender/parser.py
Labels: parser

#10205 fix: fix severity lookup in Qualys parser
  dojo/tools/qualys/parser.py
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser
