Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-01, with the labels that each got.

#9249 :bug: fix typo for MSDefender in settings.dist.py
  dojo/settings/settings.dist.py
Labels: settings_changes

#9247 Update checkov.md with corrected typo
  docs/content/en/integrations/parsers/file/checkov.md
Labels: docs

#9243 :bug: fix zap, issue #9242
  dojo/tools/zap/parser.py
Labels: parser

#9268 :bug: None Type in cvss score in Trivy #9263
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_9263.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

#9208 Feature: Add Auditlog Retention and Cleanup
  dojo/fixtures/dojo_testdata.json
  dojo/settings/settings.dist.py
  dojo/tasks.py
  unittests/test_flush_auditlog.py
Labels: settings_changes, unittests

#9256 QualysParser: add cvss value to finding
  dojo/tools/qualys/parser.py
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

#8707 Add a "tag findings" parameter to the import-scan and reimport-scan API endpoints
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
Labels: Waiting on response, apiv2

#9273 :sparkles: Add option for additional labels on initializer
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

#9231 Release-drafter: Checkout to version
  .github/workflows/fetch-oas.yml
  .github/workflows/release-drafter.yml
Labels: docs, helm

#9271 Parser guideline updates
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/contributing/parser-documentation-template.md
  unittests/test_parsers.py
Labels: docs, unittests

#8659 new notifications type: SLA breach combined (per product)
  dojo/api_v2/serializers.py
  dojo/db_migrations/0195_notifications_sla_breach_combined.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/notifications/mail/sla_breach_combined.tpl
  dojo/utils.py
Labels: New Migration, apiv2, ui

#9275 🐛 Nikto: Support v2.5.0 format
  dojo/tools/nikto/parser.py
  unittests/scans/nikto/issue_9274.json
  unittests/tools/test_nikto_parser.py
Labels: unittests, parser

#9280 🐛CycloneDX: Add default for description
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_9277.json
  unittests/tools/test_cyclonedx_parser.py
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, parser, helm

#9246 Fix for vulns not included in host/endpoint views after reopening
  dojo/models.py
  unittests/test_endpoint_model.py
Labels: unittests

#9262 Add bitbucket support to finding view SCM urls
  docs/content/en/integrations/source-code-repositories.md
  docs/static/images/product-custom-fields_1.png
  docs/static/images/product-scm-type_1.png
  docs/static/images/source-code-repositories-bitbucket-onpremise_1.png
  docs/static/images/source-code-repositories-bitbucket_1.png
  docs/static/images/source-code-repositories-gitlab_1.png
  dojo/models.py
  unittests/test_finding_model.py
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, parser, helm

#9292 :bug: fix deduplication for trivy, #9290
  dojo/settings/settings.dist.py
Labels: settings_changes

#9309 :bug: fix kiuwan
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

#9287 Update finding templates to use test_type rather then found_by
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
Labels: ui

#9312 Fix db migration 0195/0196
  dojo/db_migrations/0196_notifications_sla_breach_combined.py
Labels: New Migration

#9289 advance snyk to support snykcode and snykcontainer #9270
  dojo/tools/snyk/parser.py
  unittests/scans/snyk/snykcode_issue_9270.json
  unittests/scans/snyk/snykcontainer_issue_9270.json
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

#9325 Veracode: Update license mapping
  dojo/tools/veracode/json_parser.py
Labels: bugfix, parser

#9069 Support "_FILE" environmental variables
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/secret-file-loader.sh
  dojo/settings/settings.dist.py
Labels: docker, settings_changes

#9360 Endpoint Status: Accommodate Risk Exceptions
  dojo/risk_acceptance/helper.py
  tests/finding_test.py
Labels: bugfix, integration_tests

#9021 Unittests for REMOTE_USER
  dojo/remote_user.py
  dojo/settings/settings.dist.py
  unittests/test_remote_user.py
Labels: settings_changes, unittests

#9322 :tada: merge OpenVAS XML and CSV parsers
  docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/openvas_csv.md
  docs/content/en/integrations/parsers/file/openvas_xml.md
  dojo/tools/openvas/__init__.py
  dojo/tools/openvas/parser.py
  dojo/tools/openvas_csv/__init__.py
  dojo/tools/openvas_xml/parser.py
  unittests/scans/openvas/many_vuln.csv
  unittests/scans/openvas/many_vuln.xml
  unittests/scans/openvas/no_vuln.xml
  unittests/scans/openvas/one_vuln.csv
  unittests/scans/openvas/one_vuln.xml
  unittests/tools/test_openvas_parser.py
  unittests/tools/test_openvas_xml_parser.py
Labels: docs, unittests, parser

#9323 :bug: Semgrep: Accommodate description snippets
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/issue_8435.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

#9316 Improve kiuwan import parser
  dojo/tools/kiuwan/parser.py
  unittests/scans/kiuwan/issue_9308.csv
  unittests/scans/kiuwan/kiuwan_defects.csv
  unittests/tools/test_kiuwan_parser.py
Labels: unittests, parser

#9328 :bug: Qualys Parser: Support for Monthly PCI Scan
  dojo/tools/qualys/csv_parser.py
  unittests/scans/qualys/monthly_pci_issue6932.csv
  unittests/tools/test_qualys_parser.py
Labels: unittests, parser

#9329 :sparkles: Implement Chef InSpec Parser
  docs/content/en/integrations/parsers/file/chefinspect.md
  dojo/tools/chefinspect/__init__.py
  dojo/tools/chefinspect/parser.py
  unittests/scans/chefinspect/many_findings.log
  unittests/scans/chefinspect/no_finding.log
  unittests/scans/chefinspect/one_finding.log
  unittests/tools/test_chefinspect_parser.py
Labels: docs, unittests, parser

#9334 Trivy Parser: Expand Unit Tests
  unittests/scans/trivy/issue_9333.json
  unittests/tools/test_trivy_parser.py
Labels: unittests

#9338 :sparkles: implement google cloud artifact scan
  docs/content/en/integrations/parsers/file/gcloud_artifact_scan.md
  dojo/tools/gcloud_artifact_scan/__init__.py
  dojo/tools/gcloud_artifact_scan/parser.py
  unittests/scans/gcloud_artifact_scan/many_vulns.json
  unittests/tools/test_gcloud_artifact_scan_parser.py
Labels: docs, unittests, parser

#9123 Adds ruff linter, fixes unused variables errors
  .github/workflows/ruff.yml
  .gitignore
  dojo/api_v2/views.py
  dojo/cred/views.py
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/group/utils.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/csv_findings_export.py
  dojo/management/commands/migrate_surveys.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/note_type/views.py
  dojo/okta.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/risk_acceptance/helper.py
  dojo/survey/views.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/drheader/parser.py
  dojo/tools/humble/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/outpost24/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/ssh_audit/parser.py
  dojo/tools/sysdig_reports/sysdig_csv_parser.py
  dojo/tools/twistlock/parser.py
  dojo/tools/utils.py
  dojo/tools/wpscan/parser.py
  dojo/user/views.py
  dojo/utils.py
  pyproject.toml
  requirements-lint.txt
Labels: apiv2, ui, parser

#9147 Fix shellcheck
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-unittest.sh
  dc-up-d.sh
  dc-up.sh
  docker/docker-compose-check.sh
  docker/dojo-data.bash
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-nginx.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/entrypoint.sh
  docker/setEnv.sh
  docker/unit-tests.sh
  docker/wait-for-it.sh
  tests/local-integration-tests.sh
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, integration_tests, ui, parser, helm

#9346 Update ASFF parser to create endpoints
  dojo/tools/asff/parser.py
  unittests/scans/asff/many_vulns.json
  unittests/scans/asff/one_vuln.json
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

#9349 Update to Node 20.x in all the places
  .github/workflows/gh-pages.yml
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

#9339 Enhancements to Govulncheck parser
  dojo/tools/govulncheck/parser.py
  unittests/scans/govulncheck/many_vulns_new_version_custom_severity.json
  unittests/scans/govulncheck/no_vulns_new_version.json
  unittests/tools/test_govulncheck_parser.py
Labels: unittests, parser

#9361 Add "First Seen" Parser Flag
  dojo/settings/settings.dist.py
  dojo/tools/nexpose/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/tools/veracode_sca/parser.py
  unittests/scans/nexpose/dns.xml
  unittests/tools/test_nexpose_parser.py
  unittests/tools/test_qualys_parser.py
  unittests/tools/test_veracode_parser.py
  unittests/tools/test_veracode_sca_parser.py
Labels: settings_changes, unittests, parser

#9402 Open attached files as bytes
  dojo/views.py
Labels: bugfix

#9282 :bug: HCL AppScan: Improve Robustness
  dojo/settings/settings.dist.py
  dojo/tools/hcl_appscan/parser.py
  unittests/scans/hcl_appscan/issue_9279.xml
  unittests/tools/test_hcl_appscan_parser.py
Labels: settings_changes, unittests, parser

#9403 Add CVSS vector string to JIRA description
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: bugfix, ui

#9401 :sparkles: add redhatsatellite parser
  docs/content/en/integrations/parsers/file/redhatsatellite.md
  dojo/tools/redhatsatellite/__init__.py
  dojo/tools/redhatsatellite/parser.py
  unittests/scans/redhatsatellite/many_findings.json
  unittests/scans/redhatsatellite/no_findings.json
  unittests/scans/redhatsatellite/one_finding.json
  unittests/tools/test_redhatsatellite_parser.py
Labels: docs, unittests, parser

#9392 :sparkles: add kubeaudit, #9384
  docs/content/en/integrations/parsers/file/kubeaudit.md
  dojo/tools/kubeaudit/__init__.py
  dojo/tools/kubeaudit/parser.py
  unittests/scans/kubeaudit/kubeaudit.json
  unittests/tools/test_kubeaudit_parser.py
Labels: docs, unittests, parser

#9377 :tada: advance sysdig to also parse json
  docs/content/en/integrations/parsers/file/sysdig_reports.md
  dojo/tools/sysdig_reports/parser.py
  unittests/scans/sysdig_reports/sysdig.json
  unittests/tools/test_sysdig_reports_parser.py
Labels: docs, unittests, parser

#9374 :bug: fix npm audit, issue #7897
  dojo/tools/npm_audit/parser.py
  unittests/scans/npm_audit/issue_7897.json
  unittests/tools/test_npm_audit_parser.py
Labels: unittests, parser

#9376 add product grading documentation, fixes #6125
  docs/content/en/usage/productgrading.md
Labels: docs

#9355 :sparkles: merge clair and clair klar together
  docs/content/en/getting_started/upgrading/2.31.md
  dojo/db_migrations/0197_parser_merge.py
  dojo/tools/clair/parser.py
  dojo/tools/clair_klar/__init__.py
  dojo/tools/clair_klar/parser.py
  unittests/scans/clair/clair_empty.json
  unittests/scans/clair/clair_few_vuln.json
  unittests/scans/clair/clair_many_vul.json
  unittests/scans/clair/clairklar_empty.json
  unittests/scans/clair/clairklar_high.json
  unittests/scans/clair/clairklar_mixed.json
  unittests/test_import_reimport.py
  unittests/tools/test_clair_klar_parser.py
  unittests/tools/test_clair_parser.py
Labels: New Migration, docs, unittests, parser

#9420 advance notifications.md with expanded slack guide
  docs/content/en/integrations/notifications.md
Labels: docs

#9365 :bug: fix missing recommendation for cyclonedx
  dojo/tools/cyclonedx/parser.py
  unittests/scans/cyclonedx/issue_8022.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests, parser

#9372 :sparkles: advance unittest for parser docs
  docs/content/en/integrations/parsers/file/anchore_engine.md
  docs/content/en/integrations/parsers/file/anchore_grype.md
  docs/content/en/integrations/parsers/file/awssecurityhub.md
  docs/content/en/integrations/parsers/file/bandit.md
  docs/content/en/integrations/parsers/file/burp.md
  docs/content/en/integrations/parsers/file/jfrog_xray_api_summary_artifact.md
  docs/content/en/integrations/parsers/file/openvas.md
  docs/content/en/integrations/parsers/file/threagile.md
  docs/content/en/integrations/parsers/file/vcg.md
  unittests/scans/vcg/one_finding.xml
  unittests/test_parsers.py
Labels: docs, unittests

#9431 Update static finding favicon
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_test.html
Labels: bugfix, ui

#9454 fix deduplication tooltip
  dojo/db_migrations/0198_alter_system_settings_enable_deduplication.py
  dojo/models.py
Labels: New Migration

#9424 :sparkles: add kubescape, #7060
  docs/content/en/integrations/parsers/file/kubescape.md
  dojo/tools/kubescape/__init__.py
  dojo/tools/kubescape/parser.py
  unittests/scans/kubescape/many_findings.json
  unittests/scans/kubescape/results.json
  unittests/scans/kubescape/with_a_failure.json
  unittests/tools/test_kubescape_parser.py
Labels: docs, unittests, parser

#9366 Add parser for Sonarqube JSON result.
  docs/content/en/integrations/parsers/file/sonarqube.md
  dojo/tools/sonarqube/parser.py
  unittests/scans/sonarqube/sonar-6-findings.json
  unittests/scans/sonarqube/sonar-no-finding.json
  unittests/scans/sonarqube/sonar-single-finding.json
  unittests/scans/sonarqube/sonar.json
  unittests/tools/test_sonarqube_parser.py
Labels: docs, unittests, parser

#9348 Update and rename whitesource.md to mend.md
  docs/content/en/integrations/parsers/file/mend.md
  docs/content/en/integrations/parsers/file/whitesource.md
Labels: docs
