Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-09, with the labels that each got.

#10797 Add new parser - Legitify
  docs/content/en/integrations/parsers/file/legitify.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/legitify/__init__.py
  dojo/tools/legitify/parser.py
  unittests/scans/legitify/legitify_many_findings.json
  unittests/scans/legitify/legitify_no_findings.json
  unittests/scans/legitify/legitify_one_finding.json
  unittests/tools/test_legitify_parser.py
Labels: settings_changes, docs, unittests, parser, helm

#10840 feat(ui): Make ProdType clickable (in Prod detail)
  dojo/templates/dojo/view_product_details.html
Labels: ui

#10855 :sparkles: add epss for aqua parser #10849
  dojo/tools/aqua/parser.py
  unittests/scans/aqua/issue_10849.json
  unittests/tools/test_aqua_parser.py
Labels: unittests, parser

#10817 feat(unittests): Try to avoid assertTrue/False
  tests/base_test_class.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  tests/finding_test.py
  tests/notes_test.py
  tests/product_type_member_test.py
  tests/report_builder_test.py
  unittests/test_deduplication_logic.py
  unittests/test_jira_config_product.py
  unittests/test_parsers.py
  unittests/tools/test_appcheck_web_application_scanner_parser.py
  unittests/tools/test_asff_parser.py
  unittests/tools/test_auditjs_parser.py
  unittests/tools/test_chefinspect_parser.py
  unittests/tools/test_meterian_parser.py
  unittests/tools/test_noseyparker_parser.py
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests, integration_tests

#10842 Fixed replica reference for celery worker in Kubernetes.MD
  readme-docs/KUBERNETES.md
Labels: docs

#10847 Ruff: Add and fix ISC001
  dojo/api_v2/serializers.py
  dojo/jira_link/helper.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/sysdig_reports/parser.py
  dojo/utils.py
  ruff.toml
  unittests/test_tags.py
  unittests/tools/test_sonarqube_parser.py
Labels: apiv2, unittests, parser

#10795 Add new parser - Threat Composer
  docs/content/en/integrations/parsers/file/threat_composer.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/threat_composer/__init__.py
  dojo/tools/threat_composer/parser.py
  unittests/scans/threat_composer/threat_composer_broken_assumptions.json
  unittests/scans/threat_composer/threat_composer_broken_mitigations.json
  unittests/scans/threat_composer/threat_composer_many_threats.json
  unittests/scans/threat_composer/threat_composer_no_threats_with_error.json
  unittests/scans/threat_composer/threat_composer_one_threat.json
  unittests/scans/threat_composer/threat_composer_zero_threats.json
  unittests/tools/test_threat_composer_parser.py
Labels: settings_changes, docs, unittests, parser

#10870 Reimport: Set Vulnerability ID from incoming finding
  dojo/importers/default_reimporter.py
Labels: bugfix

#10864 fix: dojo.JIRA_Instance.default_issue_type: (fields.E005) 'choices'
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#10871 Dynamic Parsing: Add flag to indicate new test types
  dojo/api_v2/serializers.py
  dojo/db_migrations/0214_test_type_dynamically_generated.py
  dojo/forms.py
  dojo/importers/base_importer.py
  dojo/models.py
  unittests/test_import_reimport.py
Labels: New Migration, apiv2, unittests

#7311 Notifications: Add support for webhooks
  .github/workflows/rest-framework-tests.yml
  docker-compose.override.dev.yml
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docs/content/en/integrations/burp-plugin.md
  docs/content/en/integrations/exporting.md
  docs/content/en/integrations/google-sheets-sync.md
  docs/content/en/integrations/languages.md
  docs/content/en/integrations/notification_webhooks/_index.md
  docs/content/en/integrations/notification_webhooks/engagement_added.md
  docs/content/en/integrations/notification_webhooks/product_added.md
  docs/content/en/integrations/notification_webhooks/product_type_added.md
  docs/content/en/integrations/notification_webhooks/scan_added.md
  docs/content/en/integrations/notification_webhooks/test_added.md
  docs/content/en/integrations/notifications.md
  docs/content/en/integrations/rate_limiting.md
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/db_migrations/0215_webhooks_notifications.py
  dojo/engagement/signals.py
  dojo/fixtures/dojo_testdata.json
  dojo/forms.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/notifications/urls.py
  dojo/notifications/views.py
  dojo/product/signals.py
  dojo/product_type/signals.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/templates/base.html
  dojo/templates/dojo/add_notification_webhook.html
  dojo/templates/dojo/delete_notification_webhook.html
  dojo/templates/dojo/edit_notification_webhook.html
  dojo/templates/dojo/notifications.html
  dojo/templates/dojo/system_settings.html
  dojo/templates/dojo/view_notification_webhooks.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/notifications/webhooks/engagement_added.tpl
  dojo/templates/notifications/webhooks/other.tpl
  dojo/templates/notifications/webhooks/product_added.tpl
  dojo/templates/notifications/webhooks/product_type_added.tpl
  dojo/templates/notifications/webhooks/scan_added.tpl
  dojo/templates/notifications/webhooks/scan_added_empty.tpl
  dojo/templates/notifications/webhooks/subtemplates/base.tpl
  dojo/templates/notifications/webhooks/subtemplates/engagement.tpl
  dojo/templates/notifications/webhooks/subtemplates/findings_list.tpl
  dojo/templates/notifications/webhooks/subtemplates/product.tpl
  dojo/templates/notifications/webhooks/subtemplates/product_type.tpl
  dojo/templates/notifications/webhooks/subtemplates/test.tpl
  dojo/templates/notifications/webhooks/test_added.tpl
  dojo/templatetags/display_tags.py
  dojo/urls.py
  requirements.txt
  tests/notifications_test.py
  unittests/test_notifications.py
  unittests/test_rest_framework.py
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, integration_tests, ui

#10889 Product API scan config: Display view scan configs button for all products
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_product_details.html
Labels: bugfix, ui

#10891 JSON Parsing Errors: Make errors less verbose
  dojo/api_v2/exception_handler.py
Labels: apiv2

#10894 Add support for Invicti parser through Netsparker
  docs/content/en/integrations/parsers/file/invicti.md
  docs/content/en/integrations/parsers/file/netsparker.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/invicti/__init__.py
  dojo/tools/invicti/parser.py
  unittests/scans/invicti/invicti_many_findings.json
  unittests/scans/invicti/invicti_one_finding.json
  unittests/scans/invicti/invicti_zero_finding.json
  unittests/scans/invicti/issue_10311.json
  unittests/scans/invicti/issue_9816.json
  unittests/tools/test_invicti_parser.py
Labels: settings_changes, docs, unittests, parser

#10901 Fortify Parser: Fortification of the the FPR parsing
  dojo/tools/fortify/fpr_parser.py
  dojo/tools/fortify/parser.py
Labels: parser

#10897 Manage not defined metadata in mitigations and add assumptions comments
  dojo/tools/threat_composer/parser.py
  unittests/scans/threat_composer/threat_composer_many_threats.json
Labels: unittests, parser

#10898 [Helm] Fix typo in ingress netpol
  helm/defectdojo/templates/network-policy.yaml
Labels: helm

#10905 Wiz Parser: Add SCA parser and fortify old format
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/wiz/parser.py
  unittests/scans/wiz/sca_format.csv
  unittests/tools/test_wiz_parser.py
Labels: settings_changes, unittests, parser

#10918 appcheck-severity-determination-fix Use v4, v3, v2 cvss vectors for severity
  dojo/tools/appcheck_web_application_scanner/engines/appcheck.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  unittests/scans/appcheck_web_application_scanner/appcheck_web_application_scanner_many_vul.json
  unittests/tools/test_appcheck_web_application_scanner_parser.py
Labels: unittests, parser

#10850 feat(members): List global role members in Prod and ProdType
  dojo/product/queries.py
  dojo/product/views.py
  dojo/product_type/queries.py
  dojo/product_type/views.py
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
Labels: ui

#10880 add permission for gitlab.
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#10916 fix(docker compose): Use 'docker compose' everywhere
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/support_request.md
  docker/docker-compose-check.sh
  docker/extra_settings/README.md
  docs/content/en/contributing/how-to-write-a-parser.md
  docs/content/en/getting_started/running-in-production.md
  docs/content/en/getting_started/upgrading/2.23.md
  docs/content/en/getting_started/upgrading/2.30.md
  docs/content/en/getting_started/upgrading/_index.md
  docs/content/en/integrations/jira.md
  docs/content/en/integrations/ldap-authentication.md
  docs/content/en/usage/features.md
  readme-docs/DOCKER.md
  tests/local-integration-tests.sh
Labels: docker, docs, integration_tests

#10930 Metrics findings tests
  dojo/fixtures/unit_metrics_additional_data.json
  dojo/metrics/utils.py
  dojo/static/dojo/js/metrics.js
  unittests/test_metrics_queries.py
Labels: unittests, ui

#10924 :sparkles: implement krakend audit parser
  docs/content/en/integrations/parsers/file/krakend_audit.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/krakend_audit/__init__.py
  dojo/tools/krakend_audit/parser.py
  unittests/scans/krakend_audit/many_findings.json
  unittests/scans/krakend_audit/no_findings.json
  unittests/tools/test_krakend_audit_parser.py
Labels: settings_changes, docs, unittests, parser

#10927 GHA Release: Update settings SHA when creating PR from master
  .github/workflows/release-3-master-into-dev.yml
Labels: maintenance

#10928 GHA: Remove Docker Caches
  .github/workflows/build-docker-images-for-testing.yml
  .github/workflows/release-x-manual-docker-containers.yml
Labels: maintenance

#10933 Prefetch Serialization: Add a preference during mapping
  dojo/api_v2/prefetch/prefetcher.py
Labels: bugfix, apiv2

#10932 Manage Images: Do not display thumbnail for PDF
  dojo/templatetags/display_tags.py
Labels: bugfix, ui

#10931 Prefetching: Add swagger docs for models already supporting prefetching
  dojo/api_v2/views.py
Labels: bugfix, apiv2

#10936 Semgrep Parser: Add new severities
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/high-medium-low-severities.json
  unittests/tools/test_semgrep_parser.py
Labels: bugfix, unittests, parser

#10937 New Parser: Qualys Hacker Guardian
  docs/content/en/integrations/parsers/file/qualys_hacker_guardian.md
  dojo/tools/qualys_hacker_guardian/__init__.py
  dojo/tools/qualys_hacker_guardian/parser.py
  unittests/scans/qualys_hacker_guardian/many_finding.csv
  unittests/scans/qualys_hacker_guardian/one_finding.csv
  unittests/scans/qualys_hacker_guardian/zero_finding.csv
  unittests/tools/test_qualys_hacker_guardian_parser.py
Labels: docs, unittests, parser

#10938 User: Make email required at all times, password required for new users
  dojo/api_v2/serializers.py
  dojo/forms.py
  tests/user_test.py
  unittests/test_apiv2_notifications.py
  unittests/test_apiv2_user.py
  unittests/test_rest_framework.py
Labels: enhancement, apiv2, unittests, integration_tests

#10939 Hacker One Parser: Add support for Bug Bounty Program reports
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/h1/parser.py
  unittests/scans/h1/bug_bounty_many.csv
  unittests/scans/h1/bug_bounty_many.json
  unittests/scans/h1/bug_bounty_one.csv
  unittests/scans/h1/bug_bounty_one.json
  unittests/scans/h1/bug_bounty_zero.csv
  unittests/scans/h1/bug_bounty_zero.json
  unittests/scans/h1/vuln_disclosure_many.json
  unittests/scans/h1/vuln_disclosure_one.json
  unittests/scans/h1/vuln_disclosure_zero.json
  unittests/tools/test_h1_parser.py
Labels: settings_changes, unittests, parser

#10934 Risk Exceptions: Add/Remove notes when finding is added/removed from risk exception
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/jira_link/helper.py
  dojo/risk_acceptance/helper.py
Labels: enhancement, apiv2

#10959 :bug: fix AWSSecurityHub EPSS Score #10956
  dojo/tools/awssecurityhub/inspector.py
  unittests/scans/awssecurityhub/issue_10956.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

#10961 Prefetch: Disable on some viewsets due to payload size
  dojo/api_v2/views.py
Labels: bugfix, apiv2

#10962 User Password: Add toggle to require on creation
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes, apiv2
