Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-03, with the labels that each got.

#9654 Metrics: Status unification
  dojo/metrics/views.py
  dojo/product/views.py
  dojo/templates/dojo/product_metrics.html
  unittests/test_metrics_queries.py
Labels: bugfix, unittests, ui

#9647 Added Snyk Code Parser
  docs/content/en/integrations/parsers/file/snyk_code.md
  dojo/settings/settings.dist.py
  dojo/tools/snyk_code/__init__.py
  dojo/tools/snyk_code/parser.py
  unittests/scans/snyk_code/single_project_many_vulns.json
  unittests/scans/snyk_code/snykcode_issue_9270.json
  unittests/tools/test_snyk_code_parser.py
Labels: settings_changes, docs, unittests, parser

#9563 advance mobsf to also parse exisiting unittestfile
  dojo/tools/mobsf/parser.py
  unittests/scans/mobsf/allsafe.json
  unittests/scans/mobsf/damnvulnrablebank.json
  unittests/scans/mobsf/report2.json
  unittests/tools/test_mobsf_parser.py
Labels: unittests, parser

#9572 resolve npm audit unittest doing
  unittests/tools/test_npm_audit_parser.py
Labels: unittests

#9620 Anchore Grype: Default to Info severity if missing in report
  dojo/tools/anchore_grype/parser.py
  unittests/scans/anchore_grype/issue_9618.json
  unittests/tools/test_anchore_grype_parser.py
Labels: unittests, parser

#9637 Upgrade Notes: Move breaking helm change notice from 2.13.x -> 2.12.x
  docs/content/en/getting_started/upgrading/2.12.md
  docs/content/en/getting_started/upgrading/2.13.md
Labels: docs

#9649 Bundler Audit Parser - Support for GHSA-Only Findings
  dojo/tools/bundler_audit/parser.py
  unittests/scans/bundler_audit/version_9.0.json
  unittests/scans/bundler_audit/version_9.0.txt
  unittests/tools/test_bundler_audit_parser.py
Labels: unittests, parser

#9583 Fix github parser issue 9582
  dojo/tools/github_vulnerability/parser.py
  unittests/scans/github_vulnerability/issue_9582.json
  unittests/tools/test_github_vulnerability_parser.py
Labels: unittests, parser

#9658 :hammer: restructure openvas parser
  dojo/tools/openvas/csv_parser.py
  dojo/tools/openvas/parser.py
  dojo/tools/openvas/xml_parser.py
Labels: parser

#9659 Force to use DjangoDivFormRenderer
  dojo/settings/settings.dist.py
Labels: settings_changes

#9660 🔨 restructure clair parser
  dojo/tools/clair/clair_parser.py
  dojo/tools/clair/clairklar_parser.py
  dojo/tools/clair/parser.py
Labels: parser

#9578 :sparkles: implement osv-scanner, #7321
  docs/content/en/integrations/parsers/file/osv_scanner.md
  dojo/settings/settings.dist.py
  dojo/tools/osv_scanner/__init__.py
  dojo/tools/osv_scanner/parser.py
  unittests/scans/osv_scanner/many_findings.json
  unittests/scans/osv_scanner/no_findings.json
  unittests/scans/osv_scanner/some_findings.json
  unittests/tools/test_osv_scanner_parser.py
Labels: settings_changes, docs, unittests, parser

#9577 resolve doing, remove dead code
  dojo/utils.py
  unittests/test_copy_model.py
Labels: unittests

#9645 DRF Spectacular: Enable sidecar by default
  dojo/settings/settings.dist.py
Labels: bugfix, settings_changes

#9665 [HELM CT] Update component versions
  .github/workflows/test-helm-chart.yml
Labels: maintenance

#9666 Jira Epic Mapping: Add flexibility to epic issue type
  dojo/db_migrations/0204_jira_project_epic_issue_type_name.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/models.py
  unittests/dojo_test_case.py
  unittests/test_jira_config_engagement.py
  unittests/test_jira_config_engagement_epic.py
Labels: New Migration, jira, unittests

#9570 Bugfix: checkmarx parser - datetime is no longer put into the Finding.date field
  dojo/tools/checkmarx/parser.py
  unittests/tools/test_checkmarx_parser.py
Labels: unittests, parser

#9679 Func views to class based views in finding exports
  dojo/reports/urls.py
  dojo/reports/views.py
  dojo/templates/dojo/finding_pdf_report.html
Labels: ui

#9568 Deprecate merge_sets_safe in dojo/utils.py
  dojo/models.py
  dojo/utils.py
  unittests/test_notifications.py
Labels: unittests

#9714 Added crunch42 parser
  docs/content/en/integrations/parsers/file/crunch42.md
  dojo/settings/settings.dist.py
  dojo/tools/crunch42/__init__.py
  dojo/tools/crunch42/parser.py
  unittests/scans/crunch42/crunch42_many_findings.json
  unittests/scans/crunch42/crunch42_many_findings2.json
  unittests/tools/test_crunch42_parser.py
Labels: settings_changes, docs, unittests, parser

#9691 Jira: Improve alerting on a per step basis
  dojo/jira_link/helper.py
Labels: bugfix, jira

#9692 Npm audit v7+ Parser
  docs/content/en/integrations/parsers/file/npm_audit_7_plus.md
  dojo/settings/settings.dist.py
  dojo/tools/npm_audit_7_plus/__init__.py
  dojo/tools/npm_audit_7_plus/parser.py
  unittests/scans/npm_audit_7_plus/many_vulns.json
  unittests/scans/npm_audit_7_plus/no_vuln.json
  unittests/scans/npm_audit_7_plus/one_vuln.json
  unittests/tools/test_npm_audit_7_plus_parser.py
Labels: settings_changes, docs, unittests, parser

#9696 Updating pip-audit parser to handle new JSON file format
  docs/content/en/integrations/parsers/file/pip_audit.md
  dojo/tools/pip_audit/parser.py
  unittests/scans/pip_audit/empty_new.json
  unittests/scans/pip_audit/many_vulns_new.json
  unittests/scans/pip_audit/zero_vulns_new.json
  unittests/tools/test_pip_audit_parser.py
Labels: docs, unittests, parser

#9695 Product Metrics: Correct week to week charts
  dojo/product/views.py
  dojo/static/dojo/js/metrics.js
Labels: bugfix

#9717 Endpoints: Remove "verified" query on listing pages
  dojo/endpoint/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/templates/base.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/view_endpoint.html
  dojo/utils.py
Labels: ui

#9715 Added Checkmarx One Parser
  docs/content/en/integrations/parsers/file/checkmarx_one.md
  dojo/settings/settings.dist.py
  dojo/tools/checkmarx_one/__init__.py
  dojo/tools/checkmarx_one/parser.py
  unittests/scans/checkmarx_one/checkmarx_one.json
  unittests/scans/checkmarx_one/many_findings.json
  unittests/scans/checkmarx_one/no_findings.json
  unittests/tools/test_checkmarx_one_parser.py
Labels: settings_changes, docs, unittests, parser

#9716 Helm: Remove PSQLHA Test
  .github/workflows/k8s-tests.yml
Labels: unittests

#9718 fix <br/> tag on django.po
  dojo/locale/en/LC_MESSAGES/django.po
Labels: localization

#9721 Fix version mismatch
  components/package.json
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: helm

#9744 correcting cvss scoring behavior when updating/adding findings via ui and api [sc-4849]
  dojo/api_v2/serializers.py
  dojo/db_migrations/0204_alter_finding_cvssv3_score.py
  dojo/forms.py
  dojo/models.py
  dojo/tools/anchore_engine/parser.py
Labels: New Migration, apiv2, parser

#9729 Ruff Linter: Resolve deprecation notice
  .github/workflows/ruff.yml
Labels: bugfix

#9740 Import/Reimport: Add toggle for applying tags to endpoints
  dojo/api_v2/serializers.py
  dojo/engagement/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/test/views.py
Labels: apiv2

#9772 Endpoints: Redefine vulnerable definition
  dojo/models.py
  unittests/test_endpoint_model.py
Labels: bugfix, unittests

#9749 Ruff: Solve E731
  .flake8
  dojo/templatetags/display_tags.py
  pyproject.toml
Labels: ui

#9763 Flake8: Fix W504
  .flake8
  dojo/cred/queries.py
  dojo/endpoint/queries.py
  dojo/engagement/queries.py
  dojo/finding/queries.py
  dojo/finding_group/queries.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/utils.py
  dojo/jira_link/queries.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/product/queries.py
  dojo/product/views.py
  dojo/reports/widgets.py
  dojo/risk_acceptance/queries.py
  dojo/templatetags/get_endpoint_status.py
  dojo/test/queries.py
  dojo/test/views.py
  dojo/tool_product/queries.py
  dojo/user/queries.py
  dojo/user/validators.py
  dojo/utils.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  tests/product_test.py
  tests/user_test.py
  unittests/dojo_test_case.py
  unittests/test_deduplication_logic.py
  unittests/test_false_positive_history_logic.py
  unittests/tools/test_meterian_parser.py
  unittests/tools/test_nikto_parser.py
  unittests/tools/test_snyk_parser.py
  unittests/tools/test_stackhawk_parser.py
Labels: unittests, integration_tests, ui

#9750 Ruff: Solve E713
  dojo/forms.py
  dojo/models.py
  dojo/tools/burp_api/parser.py
  dojo/tools/checkmarx/parser.py
  dojo/tools/sslyze/parser_json.py
  dojo/tools/sslyze/parser_xml.py
  dojo/user/views.py
  pyproject.toml
Labels: parser

#9684 Refresh minikube & k8s versions
  .github/workflows/k8s-tests.yml
Labels: maintenance

#9737 improve risk acceptance UI (accept aditional findings)
  dojo/engagement/views.py
  dojo/filters.py
  dojo/forms.py
  dojo/templates/dojo/add_findings_as_accepted.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/widgets.py
Labels: ui

#9788 API responses more detailed (optional)
  dojo/api_v2/exception_handler.py
  dojo/db_migrations/0206_system_settings_api_expose_error_details.py
  dojo/models.py
Labels: New Migration, apiv2

#9759 Ruff: add preview + fix F841 and F823
  dojo/announcement/views.py
  dojo/api_v2/permissions.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/importers/utils.py
  dojo/jira_link/helper.py
  dojo/notifications/views.py
  dojo/okta.py
  dojo/pipeline.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/templatetags/display_tags.py
  dojo/test/views.py
  dojo/tools/api_vulners/importer.py
  dojo/tools/checkmarx/parser.py
  dojo/tools/kics/parser.py
  dojo/utils.py
  pyproject.toml
  unittests/test_deduplication_logic.py
  unittests/test_endpoint_model.py
  unittests/test_factory.py
  unittests/test_false_positive_history_logic.py
  unittests/test_importers_closeold.py
  unittests/test_importers_importer.py
  unittests/test_jira_config_product.py
  unittests/tools/test_api_bugcrowd_importer.py
  unittests/tools/test_checkmarx_osa_parser.py
  unittests/tools/test_checkmarx_parser.py
  unittests/tools/test_sonarqube_parser.py
Labels: apiv2, unittests, ui, parser

#9728 :bug: fix wazuh date
  dojo/tools/wazuh/parser.py
  unittests/tools/test_wazuh_parser.py
Labels: unittests, parser

#9686 remove Clair Klar Scan deduplication
  dojo/settings/settings.dist.py
Labels: settings_changes

#9682 :bug: fix snyk, multiple cwes
  dojo/tools/snyk/parser.py
  dojo/tools/snyk_code/parser.py
Labels: parser

#9680 🔨 Refactor nikto to separate json and xml
  dojo/tools/nikto/json_parser.py
  dojo/tools/nikto/parser.py
  dojo/tools/nikto/xml_parser.py
Labels: parser

#9671 ✨ implement wiz parser
  docs/content/en/integrations/parsers/file/wiz.md
  dojo/settings/settings.dist.py
  dojo/tools/wiz/__init__.py
  dojo/tools/wiz/parser.py
  unittests/scans/wiz/multiple_findings.csv
  unittests/scans/wiz/no_findings.csv
  unittests/scans/wiz/one_finding.csv
  unittests/tools/test_wiz_parser.py
Labels: settings_changes, docs, unittests, parser

#9668 🔨 Refactor cyclonedx
  dojo/tools/cyclonedx/helpers.py
  dojo/tools/cyclonedx/json_parser.py
  dojo/tools/cyclonedx/parser.py
  dojo/tools/cyclonedx/xml_parser.py
Labels: parser

#9748 Ruff: Solve E402
  .flake8
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/tools/factory.py
  dojo/wsgi.py
  pyproject.toml
  wsgi.py
Labels: settings_changes, parser

#9819 Make tags optional for import and reimport API endpoints
  dojo/api_v2/serializers.py
Labels: apiv2

#9667 🔨 Refactor fortify to separate xml and fpr
  dojo/tools/fortify/fpr_parser.py
  dojo/tools/fortify/parser.py
  dojo/tools/fortify/xml_parser.py
Labels: parser

#9801 Implement Nancy Parser
  docs/content/en/integrations/parsers/file/nancy.md
  dojo/settings/settings.dist.py
  dojo/tools/nancy/__init.py__
  dojo/tools/nancy/parser.py
  unittests/scans/nancy/nancy_many_findings.json
  unittests/scans/nancy/nancy_no_findings.json
  unittests/scans/nancy/nancy_one_findings.json
  unittests/tools/test_nancy_parser.py
Labels: settings_changes, docs, unittests, parser

#9522 :sparkles: merge acunetix and acunetix360
  docs/content/en/integrations/parsers/file/acunetix.md
  docs/content/en/integrations/parsers/file/acunetix360.md
  dojo/db_migrations/0208_merge_acunetix.py
  dojo/settings/settings.dist.py
  dojo/tools/acunetix/parse_acunetix360_json.py
  dojo/tools/acunetix/parse_acunetix_xml.py
  dojo/tools/acunetix/parser.py
  dojo/tools/acunetix360/__init__.py
  unittests/scans/acunetix/acunetix360_many_findings.json
  unittests/scans/acunetix/acunetix360_multiple_cwe.json
  unittests/scans/acunetix/acunetix360_one_finding.json
  unittests/scans/acunetix/acunetix360_one_finding_accepted_risk.json
  unittests/scans/acunetix/acunetix360_one_finding_false_positive.json
  unittests/scans/acunetix/acunetix360_zero_finding.json
  unittests/tools/test_acunetix360_parser.py
  unittests/tools/test_acunetix_parser.py
Labels: New Migration, settings_changes, docs, unittests, parser

#9789 Findings endpoint name truncated change
  dojo/templates/dojo/breadcrumbs/endpoint_breadcrumb.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/snippets/endpoints.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templatetags/display_tags.py
Labels: ui

#9765 Flake8: Solve E704
  .flake8
  dojo/tools/scout_suite/parser.py
Labels: parser

#9757 Ruff: add FLY
  dojo/models.py
  dojo/tools/contrast/parser.py
  dojo/tools/generic/parser.py
  dojo/tools/gitlab_dast/parser.py
  dojo/tools/microfocus_webinspect/parser.py
  dojo/tools/pmd/parser.py
  dojo/tools/spotbugs/parser.py
  dojo/tools/trivy/parser.py
  dojo/tools/trivy_operator/parser.py
  dojo/tools/trustwave/parser.py
  dojo/tools/trustwave_fusion_api/parser.py
  pyproject.toml
Labels: parser

#9756 Ruff: add some TRY
  dojo/decorators.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/tools/awssecurityhub/parser.py
  dojo/tools/threagile/parser.py
  pyproject.toml
  tests/base_test_class.py
  unittests/tools/test_threagile_parser.py
Labels: unittests, integration_tests, parser

#9804 Tenable Parser: Support the new "workbench" format
  dojo/tools/tenable/csv_format.py
  unittests/scans/tenable/nessus/nessus_new.csv
  unittests/tools/test_tenable_parser.py
Labels: unittests, parser

#9799 ✨ Advance Trivy Operator to parse Benchmark report
  dojo/tools/trivy_operator/checks_handler.py
  dojo/tools/trivy_operator/compliance_handler.py
  dojo/tools/trivy_operator/parser.py
  dojo/tools/trivy_operator/secrets_handler.py
  dojo/tools/trivy_operator/vulnerability_handler.py
  unittests/scans/trivy_operator/cis_benchmark.json
  unittests/tools/test_trivy_operator_parser.py
Labels: unittests, parser

#9792 fix qualys parser: Finding object inconsistencies - use a copy of the issue_row object
  dojo/tools/qualys/parser.py
Labels: parser

#9817 :bug: fix multiple netsparker issues
  dojo/tools/netsparker/parser.py
  unittests/scans/netsparker/issue_9816.json
  unittests/tools/test_netsparker_parser.py
Labels: unittests, parser

#9814 Refactor awssecurityhub and add endpoint
  dojo/tools/awssecurityhub/compliance.py
  dojo/tools/awssecurityhub/guardduty.py
  dojo/tools/awssecurityhub/inspector.py
  dojo/tools/awssecurityhub/parser.py
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

#9828 redhatsatellite: migrate cve to unsaved_vulnerability_ids
  dojo/tools/redhatsatellite/parser.py
  unittests/tools/test_redhatsatellite_parser.py
Labels: unittests, parser

#9827 bundleraudit: remove cves
  dojo/tools/bundler_audit/parser.py
  unittests/tools/test_bundler_audit_parser.py
Labels: unittests, parser

#9825 sysdig_reports: migrate cve to unsaved_vulnerability_ids
  dojo/tools/sysdig_reports/parser.py
  unittests/tools/test_sysdig_reports_parser.py
Labels: unittests, parser

#9791 add cve values to openvas csv parser
  dojo/tools/openvas/csv_parser.py
  unittests/scans/openvas/report_using_CVE.csv
  unittests/scans/openvas/report_using_openVAS.csv
  unittests/tools/test_openvas_parser.py
Labels: unittests, parser

#9503 Move PYTHONWARNINGS to EnvVar
  docker-compose.override.debug.yml
  docker-compose.override.dev.yml
  docker-compose.override.integration_tests.yml
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
Labels: docker

#9672 :tada: added parser for Bearer CLI
  docs/content/en/integrations/parsers/file/bearer_cli.md
  dojo/settings/settings.dist.py
  dojo/tools/bearer_cli/__init__.py
  dojo/tools/bearer_cli/parser.py
  unittests/scans/bearer_cli/bearer_cli_many_vul.json
  unittests/scans/bearer_cli/bearer_cli_one_vul.json
  unittests/tools/test_bearer_cli_parser.py
Labels: settings_changes, docs, unittests, parser

#9830 API Import/Reimport: Convert string tags to lists
  docs/content/en/usage/features.md
  dojo/api_v2/serializers.py
  unittests/test_rest_framework.py
  unittests/test_tags.py
Labels: bugfix, apiv2, docs, unittests

#9845 fix doc breaking due to colon in front matter
  docs/content/en/getting_started/upgrading/2.32.md
Labels: docs

#9823 Flake8: Fix leftover of W504 and E402
  dojo/tools/npm_audit_7_plus/parser.py
  unittests/test_apply_finding_template.py
Labels: unittests, parser

#9844 Update documentation to reflect multiple SLA Configurations
  docs/content/en/usage/features.md
  docs/static/images/sla_global_settings.png
  docs/static/images/sla_settings.png
Labels: docs
