Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-04, with the labels that each got.

#9847 Filter EPSS-related values on Findings listing
  dojo/filters.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/filter_snippet.html
Labels: settings_changes, ui

#9858 CVSS Override: Revert #9744
  dojo/api_v2/serializers.py
  dojo/models.py
Labels: bugfix, apiv2

#9836 release notes for v2.33.0
  docs/content/en/getting_started/upgrading/2.31.md
  docs/content/en/getting_started/upgrading/2.33.md
Labels: docs

#9861 Add legacy parsing method for qualys
  dojo/settings/settings.dist.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
Labels: settings_changes, parser

#9699 Add NOTIFICATIONS_SYSTEM_LEVEL_TRUMP
  docs/content/en/integrations/notifications.md
  dojo/notifications/helper.py
  dojo/settings/settings.dist.py
  unittests/test_notifications.py
Labels: settings_changes, docs, unittests

#9734 :sparkler: refactor sonarqube and add JSON parsing for api export
  docs/content/en/integrations/parsers/file/sonarqube.md
  dojo/tools/sonarqube/parser.py
  dojo/tools/sonarqube/sonarqube_restapi_json.py
  dojo/tools/sonarqube/sonarqube_restapi_zip.py
  dojo/tools/sonarqube/soprasteria_helper.py
  dojo/tools/sonarqube/soprasteria_html.py
  dojo/tools/sonarqube/soprasteria_json.py
  unittests/scans/sonarqube/empty_zip.zip
  unittests/scans/sonarqube/findings_over_api.json
  unittests/scans/sonarqube/findings_over_api.zip
  unittests/scans/sonarqube/findings_over_api_empty.json
  unittests/scans/sonarqube/findings_over_api_hotspots.json
  unittests/tools/test_sonarqube_parser.py
Labels: docs, unittests, parser

#9850 Bugfix for NoneType Error in SSLyze parser
  dojo/tools/sslyze/parser_json.py
  unittests/scans/sslyze/issue_9848.json
  unittests/tools/test_sslyze_parser.py
Labels: unittests, parser

#9854 resolve generic parser fixme
  dojo/tools/generic/parser.py
Labels: parser

#9875 :bug: RedHatSatellite, multiple vulnids
  dojo/tools/redhatsatellite/parser.py
  unittests/tools/test_redhatsatellite_parser.py
Labels: unittests, parser

#9834 nancy: migrate from cve to unsaved_vulnerability_ids
  dojo/tools/nancy/parser.py
  unittests/tools/test_nancy_parser.py
Labels: unittests, parser

#9833 yarn_audit: migrate from cve to unsaved_vulnerability_ids
  dojo/tools/yarn_audit/parser.py
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests, parser

#9832 osv_scanner: migrate from cve to unsaved_vulnerability_ids
  dojo/tools/osv_scanner/parser.py
  unittests/tools/test_osv_scanner_parser.py
Labels: unittests, parser

#9831 Remove 'version' from docker-compose
  docker-compose.override.debug.yml
  docker-compose.override.dev.yml
  docker-compose.override.https.yml
  docker-compose.override.integration_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  docker-compose.yml
Labels: docker

#9855 rework intsights to split csv and json
  dojo/tools/intsights/csv_handler.py
  dojo/tools/intsights/json_handler.py
  dojo/tools/intsights/parser.py
Labels: parser

#9877 :sparkles: add RHSA link for RedHatSatellite findings
  dojo/settings/settings.dist.py
Labels: settings_changes

#9874 :hammer: restructure json in scout suite unittests
  unittests/scans/scout_suite/new2.js
  unittests/scans/scout_suite/no_vuln.js
  unittests/scans/scout_suite/two_findings.js
Labels: unittests

#9882 PreDjango 4.2 fixes
  dojo/models.py
  dojo/settings/settings.dist.py
Labels: settings_changes

#9902 sonarqube: cve to vulnerability_ids
  dojo/tools/sonarqube/sonarqube_restapi_json.py
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser

#9917 Checkmarx one parser support API exported files
  dojo/tools/checkmarx_one/parser.py
  unittests/scans/checkmarx_one/api_export.json
  unittests/tools/test_checkmarx_one_parser.py
Labels: unittests, parser

#9873 :bug: jake json output in cyclonedx not parsed
  unittests/scans/cyclonedx/cyclonedx_cwe.json
  unittests/scans/cyclonedx/jake.json
  unittests/tools/test_cyclonedx_parser.py
Labels: unittests

#9921 resolve fixme from cobalt parser
  dojo/tools/cobalt/parser.py
Labels: parser

#9934 Update format_epss display tag to try/catch formatting errors
  dojo/templatetags/display_tags.py
Labels: ui

#9941 fix horusec null characters issue, #9939
  dojo/tools/horusec/parser.py
  unittests/scans/horusec/issue_9939.json
  unittests/tools/test_horusec_parser.py
Labels: unittests, parser

#9953 Gunicorn: Legacy cleanup
  docker/entrypoint.sh
  dojo/settings/settings.dist.py
  requirements.txt
Labels: docker, maintenance, settings_changes

#9965 Edit wording on "Add group members" pages
  dojo/templates/dojo/new_group_member.html
  dojo/templates/dojo/new_group_member_user.html
Labels: ui

#9968 view-finding-footer-fix Close a div so footer displays properly
  dojo/templates/dojo/view_finding.html
Labels: ui

#9969 Update dojo_sort template tag to properly handle querystrings with keys with multiple values
  dojo/templatetags/navigation_tags.py
Labels: ui

#9971 Hide checkbox and action columns on Test view Findings listing
  dojo/templates/dojo/view_test.html
Labels: ui

#9962 fix anchore_grype null characters issue, #9942
  dojo/tools/anchore_grype/parser.py
  unittests/scans/anchore_grype/issue_9942.json
  unittests/tools/test_anchore_grype_parser.py
Labels: unittests, parser

#9960 Fix: Broken Swagger when Remote User enabled
  dojo/remote_user.py
  unittests/test_remote_user.py
Labels: unittests

#9970 fix in engagement_list.html
  dojo/templates/dojo/snippets/engagement_list.html
Labels: ui

#9966 Helm postgresql: Upgrade image
  helm/defectdojo/values.yaml
Labels: helm

#9967 Make the number of request/response pairs returned by the API configurable
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/fixtures/unit_limit_reqresp.json
  dojo/settings/settings.dist.py
  dojo/urls.py
  readme-docs/DOCKER.md
  unittests/scans/burp_api/many_reqresp.json
  unittests/test_apiv2_limit_reqresp.py
Labels: settings_changes, apiv2, docs, unittests

#10018 Set Finding date if nothing is set from the parser
  dojo/models.py
Labels: bugfix

#10033 Updates to semgrep parser
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/sca_deployments_vulns.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

#10038 Filtering Performance: Add opt-in setting for converting to string ba…
  docs/content/en/usage/performance.md
  dojo/db_migrations/0210_system_settings_filter_string_matching.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/finding_group/views.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/search/views.py
  dojo/templates/dojo/view_finding.html
  dojo/test/views.py
  unittests/test_metrics_queries.py
Labels: enhancement, performance, New Migration, docs, unittests, ui

#10045 Fix numerical sorting in the old UI for Active/Verified findings
  dojo/filters.py
  dojo/product/views.py
  dojo/templates/dojo/product.html
Labels: ui

#10047 Similar Findings: Create Toggle
  dojo/db_migrations/0211_system_settings_enable_similar_findings.py
  dojo/finding/views.py
  dojo/models.py
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/view_finding.html
Labels: enhancement, performance, New Migration, ui

#10049 Jira Webhook: Reorg logging and responses
  dojo/jira_link/views.py
  unittests/test_jira_webhook.py
Labels: performance, unittests

#10058 update semgrep tests
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/sca-deployments-vulns.json
  unittests/scans/semgrep/sca_deployments_vulns.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

#10050 String Based Filtering: Follow on for #10038
  dojo/components/views.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/metrics/views.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/templates/dojo/metrics.html
  unittests/test_metrics_queries.py
Labels: performance, unittests, ui

#10059 Product Metrics: Performance Enhancements
  dojo/product/views.py
  dojo/templates/dojo/product_metrics.html
  dojo/utils.py
Labels: ui

#9888 Parser: Fix Qualys Parser Mitigation Date Issue
  dojo/tools/qualys/parser.py
Labels: parser

#10002 extend _index.md with link to Knowledge Base
  docs/content/en/_index.md
Labels: docs

#9865 helm: Add subcomponent labels for celery beat and worker at deployment
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
Labels: helm

#9896 Ruff: add and fix EXE rules
  dojo/forms.py
  dojo/models.py
  dojo/product/views.py
  dojo/tool_config/factory.py
  dojo/tools/arachni/parser.py
  dojo/tools/burp/parser.py
  dojo/tools/burp_dastardly/parser.py
  dojo/tools/checkmarx/__init__.py
  dojo/tools/checkmarx/parser.py
  dojo/tools/crashtest_security/parser.py
  dojo/tools/factory.py
  dojo/tools/ggshield/parser.py
  dojo/tools/gosec/__init__.py
  dojo/tools/hcl_appscan/parser.py
  dojo/tools/nmap/parser.py
  dojo/tools/openvas/parser.py
  dojo/tools/php_security_audit_v2/__init__.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/snyk/__init__.py
  dojo/tools/snyk/parser.py
  dojo/tools/trustwave/__init__.py
  dojo/tools/zap/parser.py
  dojo/urls.py
  dojo/views.py
  ruff.toml
  unittests/tools/test_ggshield_parser.py
Labels: unittests, parser

#9710 Add support for more GIT SCMs in finding view for the finding URL
  docs/content/en/integrations/source-code-repositories.md
  dojo/models.py
  unittests/test_finding_model.py
Labels: docs, unittests
