Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-06, with the labels that each got.

#10280 fix(docker): Bump versions (python 3.11, alpine 3.20)
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

#10290 Sonarqube flow field contains dict
  dojo/tools/sonarqube/sonarqube_restapi_json.py
  unittests/scans/sonarqube/findings_over_api.json
Labels: unittests, parser

#10291 RedHatSatellite module_streams field is dict within list
  dojo/tools/redhatsatellite/parser.py
Labels: parser

#10293 Calm the deduplication of MsDefender
  dojo/tools/ms_defender/parser.py
Labels: parser

#10301 Rebased PR for Vulnerability Ids
  dojo/finding/helper.py
  dojo/importers/base_importer.py
  unittests/test_importers_importer.py
Labels: unittests

#10254 Importers: migrate to options class
  dojo/api_v2/serializers.py
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/importers/auto_create_context.py
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/importers/endpoint_manager.py
  dojo/importers/options.py
  dojo/system_settings/urls.py
  dojo/system_settings/views.py
  dojo/templates/dojo/system_settings.html
  dojo/test/views.py
  unittests/dojo_test_case.py
  unittests/test_import_reimport.py
  unittests/test_importers_closeold.py
  unittests/test_importers_importer.py
  unittests/test_jira_webhook.py
Labels: apiv2, unittests, ui

#10286 fix(docker): Bump versions (python 3.11, debian bookworm)
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-debian
Labels: docker

#10097 Introduce coverity scan parser
  docs/content/en/integrations/parsers/file/coverity_scan.md
  dojo/settings/settings.dist.py
  dojo/tools/coverity_scan/__init__.py
  dojo/tools/coverity_scan/parser.py
  unittests/scans/coverity_scan/many_vulns.json
  unittests/scans/coverity_scan/no_vuln.json
  unittests/scans/coverity_scan/one_vuln.json
  unittests/tools/test_coverity_scan_parser.py
Labels: settings_changes, docs, unittests, parser

#10105 fix(Qualys parser): wrong handling enable_weakness
  dojo/tools/qualys_webapp/parser.py
  unittests/tools/test_qualys_webapp_parser.py
Labels: unittests, parser

#9636 numerical ordering for multiple pages
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product_components.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_test.html
Labels: ui

#10304 Make social login buttons fully clickable
  dojo/templates/dojo/login.html
Labels: ui

#10320 Risk Acceptance: Make API set/unset risk acceptance status
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
Labels: bugfix, apiv2

#10322 Bugfix -> Dev: 2.35.0
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
  dojo/finding/helper.py
  dojo/importers/base_importer.py
  dojo/templates/dojo/login.html
  dojo/tools/ms_defender/parser.py
  dojo/tools/redhatsatellite/parser.py
  dojo/tools/sonarqube/sonarqube_restapi_json.py
  dojo/utils.py
  unittests/scans/sonarqube/findings_over_api.json
  unittests/test_importers_importer.py
Labels: docker, unittests, ui, parser

#10312 :bug: fix netsparker issue #10311
  dojo/tools/netsparker/parser.py
  unittests/scans/netsparker/issue_10311.json
  unittests/tools/test_netsparker_parser.py
Labels: unittests, parser

#9885 Use Postgres in rest-framework-tests
  .github/workflows/rest-framework-tests.yml
  unittests/test_rest_framework.py
Labels: unittests

#10314 Mark UserProfile properties user_contact_info and global_role as optional
  dojo/api_v2/serializers.py
Labels: apiv2

#10352 String Filtering: Support ID matching for links on listing pages
  dojo/filters.py
Labels: bugfix

#10351 Importer: Correct `add_findings_to_auto_group` args
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
Labels: bugfix

#10353 String Filtering: Correct Typo For Reviewers
  dojo/filters.py
Labels: bugfix

#10360 openapi fix: allow last_login to be null
  dojo/api_v2/serializers.py
Labels: apiv2

#10373 Async Importer: Correct typing bug with `DD_ASYNC_FINDING_IMPORT` enabled
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
Labels: bugfix

#10374 Entrypoint Scripts: Add container level breakouts to prevent doom loopings
  .github/workflows/build-docker-images-for-testing.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/rest-framework-tests.yml
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  docker-compose.yml
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/reach_database.sh
  dojo/settings/settings.py
Labels: docker

#10387 Rest Framework Tests: Isolate tests by request type
  unittests/test_rest_framework.py
Labels: unittests

#9493 Upgrade Django to 4.2.13
  .github/workflows/integration-tests.yml
  requirements.txt
  unittests/test_remote_user.py
  unittests/test_user_queries.py
Labels: unittests

#10381 :bug: fix Nonetype in Acunetix, #10370
  dojo/tools/acunetix/parse_acunetix360_json.py
  unittests/scans/acunetix/issue_10370.json
  unittests/tools/test_acunetix_parser.py
Labels: unittests, parser

#10393 Jira Finding Group Templates: Correct object links
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
  dojo/templates/issue-trackers/jira_limited/jira-finding-group-description.tpl
Labels: bugfix, jira, ui

#10389 :bug: fix trivy operator deduplication setting
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#10426 Finding Reports: Support string based filtering
  dojo/api_v2/views.py
  dojo/filters.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/templates/dojo/report_filter_snippet.html
Labels: performance, apiv2, ui

#10253 feat(email notif): Scan_added - put findings to `<details>`
  dojo/templates/notifications/mail/scan_added.tpl
Labels: ui

#10335 Shuffle tests
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
Labels: docker

#10440 :bug: fix acunetix360 NoneType object #10435
  dojo/tools/acunetix/parse_acunetix360_json.py
  unittests/scans/acunetix/issue_10435.json
  unittests/tools/test_acunetix_parser.py
Labels: unittests, parser

#10416 feat(api - user contact): Add all user data
  dojo/api_v2/serializers.py
Labels: apiv2

#10089 Ruff: add and fix INP
  docker/install_chrome_dependencies.py
  dojo/importers/__init__.py
  dojo/settings/attribute-maps/__init__.py
  dojo/tools/nancy/__init__.py
  dojo/tools/pwn_sast/__init__.py
  ruff.toml
Labels: docker, parser

#10340 fix(passwords): Merge clean location of login related templates
  dojo/templates/login/forgot_password.tpl
  dojo/templates/login/forgot_username.html
  dojo/templates/login/forgot_username.tpl
  dojo/templates/login/forgot_username_done.html
  dojo/templates/login/forgot_username_subject.html
  dojo/templates/login/password_reset.html
  dojo/templates/login/password_reset_complete.html
  dojo/templates/login/password_reset_confirm.html
  dojo/templates/login/password_reset_done.html
  dojo/user/urls.py
  dojo/user/views.py
Labels: ui

#10093 Ruff: add and fix RSE
  dojo/api_v2/views.py
  dojo/authorization/authorization.py
  dojo/decorators.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/metrics/views.py
  dojo/notifications/views.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/risk_acceptance/helper.py
  dojo/survey/views.py
  dojo/test/views.py
  dojo/views.py
  ruff.toml
Labels: apiv2

#10369 Enhance Kubescape parser
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/kubescape/parser.py
  unittests/tools/test_kubescape_parser.py
Labels: settings_changes, unittests, parser

#9688 ✨ add deepfence threatmapper
  docs/content/en/integrations/parsers/file/deepfence_threatmapper.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/deepfence_threatmapper/__init__.py
  dojo/tools/deepfence_threatmapper/compliance.py
  dojo/tools/deepfence_threatmapper/malware.py
  dojo/tools/deepfence_threatmapper/parser.py
  dojo/tools/deepfence_threatmapper/secret.py
  dojo/tools/deepfence_threatmapper/vulnerability.py
  unittests/scans/deepfence_threatmapper/compliance_report.csv
  unittests/scans/deepfence_threatmapper/compliance_report.xlsx
  unittests/scans/deepfence_threatmapper/malware_report.csv
  unittests/scans/deepfence_threatmapper/malware_report.xlsx
  unittests/scans/deepfence_threatmapper/secret_report.csv
  unittests/scans/deepfence_threatmapper/secret_report.xlsx
  unittests/scans/deepfence_threatmapper/vulnerability_report.csv
  unittests/scans/deepfence_threatmapper/vulnerability_report.xlsx
  unittests/tools/test_deepfence_threatmapper_parser.py
Labels: settings_changes, docs, unittests, parser
