Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-02, with the labels that each got.

#9469 API: Remove v2 OpenAPI2 Docs from menu
  dojo/templates/base.html
Labels: ui

#9467 :bug: fix migration
  dojo/db_migrations/0197_parser_merge.py
Labels: New Migration

#9473 finding sla expiration date field (part one)
  dojo/api_v2/serializers.py
  dojo/apps.py
  dojo/db_migrations/0200_finding_sla_expiration_date_product_async_updating_and_more.py
  dojo/filters.py
  dojo/forms.py
  dojo/models.py
  dojo/product/helpers.py
  dojo/product/views.py
  dojo/sla_config/helpers.py
  dojo/sla_config/views.py
  dojo/templates/dojo/form_fields.html
  dojo/templatetags/display_tags.py
  dojo/utils.py
  unittests/dojo_test_case.py
  unittests/test_finding_model.py
  unittests/tools/test_veracode_parser.py
Labels: New Migration, apiv2, unittests, ui

#9482 Merge Bugfix Into Dev: 2.31.0
  docs/content/en/integrations/parsers/file/mend.md
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: docs, ui, helm

#9370 Dependencytrack default severity
  dojo/tools/dependency_track/parser.py
Labels: parser

#9406 Add ruff for *tests
  .github/workflows/ruff.yml
  tests/Import_scanner_test.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  tests/false_positive_history_test.py
  tests/finding_test.py
  tests/report_builder_test.py
  tests/search_test.py
  tests/zap.py
  unittests/authorization/test_authorization_tags.py
  unittests/test_apply_finding_template.py
  unittests/test_deduplication_logic.py
  unittests/test_endpoint_meta_import.py
  unittests/test_factory.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/test_jira_config_engagement.py
  unittests/test_jira_config_product.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/test_rest_framework.py
  unittests/test_risk_acceptance.py
  unittests/test_tags.py
  unittests/tools/test_anchore_enterprise_parser.py
  unittests/tools/test_burp_api_parser.py
  unittests/tools/test_burp_graphql_parser.py
  unittests/tools/test_checkmarx_parser.py
  unittests/tools/test_coverity_api_parser.py
  unittests/tools/test_generic_parser.py
  unittests/tools/test_govulncheck_parser.py
  unittests/tools/test_intsights_parser.py
  unittests/tools/test_kubehunter_parser.py
  unittests/tools/test_meterian_parser.py
  unittests/tools/test_npm_audit_parser.py
  unittests/tools/test_risk_recon_parser.py
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests, integration_tests

#9371 Revert adding severity to Dependency Track hash_code calculation
  dojo/settings/settings.dist.py
Labels: settings_changes

#9453 dojo/importers/importer/importer.py - Change "None" string to "Info" from cvss module when a CVSS vector string should evaluate to "Info"
  dojo/importers/importer/importer.py
Labels: bugfix

#9452 Trivy Operator Parser additionalVulnerabilityReportFields
  dojo/tools/trivy_operator/parser.py
  unittests/scans/trivy_operator/vulnerabilityreport_extended.json
  unittests/tools/test_trivy_operator_parser.py
Labels: unittests, parser

#7618 API: Check missing endpoints
  unittests/test_apiv2_methods.py
  unittests/test_apiv2_methods_and_endpoints.py
Labels: unittests

#9435 Fix unittests with assertRaises + replace assertTrue/False with better checks
  unittests/dojo_test_case.py
  unittests/test_apiv2_metadata.py
  unittests/test_apiv2_scan_import_options.py
  unittests/test_apiv2_user.py
  unittests/test_endpoint_model.py
  unittests/test_jira_config_engagement.py
  unittests/test_jira_config_product.py
  unittests/test_rest_framework.py
  unittests/test_risk_acceptance.py
  unittests/test_tags.py
  unittests/tools/test_acunetix360_parser.py
  unittests/tools/test_anchore_grype_parser.py
  unittests/tools/test_api_bugcrowd_parser.py
  unittests/tools/test_auditjs_parser.py
  unittests/tools/test_checkmarx_osa_parser.py
  unittests/tools/test_checkov_parser.py
  unittests/tools/test_codechecker_parser.py
  unittests/tools/test_dependency_track_parser.py
  unittests/tools/test_dockerbench_parser.py
  unittests/tools/test_gcloud_artifact_scan_parser.py
  unittests/tools/test_gitlab_dast_parser.py
  unittests/tools/test_gitlab_dep_scan_parser.py
  unittests/tools/test_gitlab_sast_parser.py
  unittests/tools/test_govulncheck_parser.py
  unittests/tools/test_immuniweb_parser.py
  unittests/tools/test_kubebench_parser.py
  unittests/tools/test_kubehunter_parser.py
  unittests/tools/test_meterian_parser.py
  unittests/tools/test_nikto_parser.py
  unittests/tools/test_npm_audit_parser.py
  unittests/tools/test_nsp_parser.py
  unittests/tools/test_ossindex_devaudit_parser.py
  unittests/tools/test_ssl_labs_parser.py
  unittests/tools/test_sysdig_reports_parser.py
  unittests/tools/test_tenable_parser.py
  unittests/tools/test_threagile_parser.py
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests

#9487 fix typo in docs
  docs/content/en/integrations/parsers/file/hcl_appscan.md
Labels: docs

#9486 :bug: WFuzz: Add additional severity mappings
  docs/content/en/integrations/parsers/file/wfuzz.md
  dojo/tools/wfuzz/parser.py
  unittests/scans/wfuzz/issue_7863.json
  unittests/tools/test_wfuzz_parser.py
Labels: docs, unittests, parser

#9490 Be strict about Warnings during testing
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  dojo/settings/settings.dist.py
  tests/base_test_class.py
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, integration_tests

#9478 :bug: Yarn Audit: Add CI importer support
  dojo/tools/yarn_audit/parser.py
  unittests/scans/yarn_audit/issue_6495.json
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests, parser

#9462 Parse GitHub vulnerability version
  dojo/tools/github_vulnerability/parser.py
  unittests/scans/github_vulnerability/github-vuln-version.json
  unittests/tools/test_github_vulnerability_parser.py
Labels: unittests, parser

#9440 Fix SARIF parser with CodeQL rules
  dojo/tools/sarif/parser.py
Labels: parser

#9385 Add support for DD_APPEND_SLASH
  dojo/settings/settings.dist.py
Labels: settings_changes

#9248 :tada: Improvements for wazuh importer
  docs/content/en/integrations/parsers/file/wazuh.md
  dojo/settings/settings.dist.py
  dojo/tools/wazuh/parser.py
  unittests/scans/wazuh/one_finding_with_endpoint.json
  unittests/tools/test_wazuh_parser.py
Labels: settings_changes, docs, unittests, parser

#9415 Improve API endpoints for Risk Acceptances
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  unittests/test_apiv2_methods_and_endpoints.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests

#9517 Modifying Bugcrowd API Parser to align to vendor documentation on wha…
  dojo/tools/api_bugcrowd/parser.py
  unittests/tools/test_api_bugcrowd_parser.py
Labels: unittests, parser

#9512 Jira Server/DataCenter: Update meta methods
  dojo/jira_link/helper.py
Labels: bugfix, jira

#9513 Jira Webhook: Catch comments from other issue updates
  dojo/jira_link/views.py
Labels: enhancement, jira

#9152 add metrics page: "Product Tag Count" (fixes #9151)
  docs/content/en/usage/features.md
  dojo/forms.py
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/metrics/urls.py
  dojo/metrics/views.py
  dojo/templates/base.html
  dojo/templates/dojo/pt_counts.html
  dojo/utils.py
Labels: docs, ui, localization

#9530 Disallow duplicate tool types
  dojo/api_v2/serializers.py
  dojo/forms.py
  unittests/test_swagger_schema.py
Labels: bugfix, apiv2, unittests

#9531 Engagement Surveys: Add missing leading slash
  dojo/templates/dojo/dashboard.html
Labels: ui

#9405 Dojo_Group: Support for "RemoteUser" in model
  dojo/db_migrations/0202_alter_dojo_group_social_provider.py
  dojo/models.py
  dojo/pipeline.py
  dojo/remote_user.py
  unittests/test_remote_user.py
Labels: New Migration, unittests

#9539 Fix "Overdue" tag still visible with closed issues
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/snippets/engagement_list.html
Labels: ui

#9540 Remove flot-axis JS library
  components/package.json
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_endpoint.html
Labels: ui

#9495 Update google-sheets-sync.md with deprecation notice
  docs/content/en/integrations/google-sheets-sync.md
Labels: docs

#9491 Remove DD_USE_L10N
  dojo/settings/settings.dist.py
Labels: settings_changes

#9108 API: removal of drf_yasg (OpenAPI 2.0 Swagger)
  NOTICE
  docs/content/en/getting_started/upgrading/2.32.md
  docs/content/en/integrations/api-v2-docs.md
  dojo/api_v2/mixins.py
  dojo/api_v2/prefetch/__init__.py
  dojo/api_v2/prefetch/schema.py
  dojo/api_v2/schema/__init__.py
  dojo/api_v2/schema/extra_schema.py
  dojo/api_v2/schema/utils.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/risk_acceptance/api.py
  dojo/settings/settings.dist.py
  dojo/urls.py
  requirements.txt
  unittests/test_apiv2_metadata.py
  unittests/test_swagger_schema.py
Labels: settings_changes, apiv2, docs, unittests, ui

#9498 Remove filterwarnings for "unclosed file"
  dojo/settings/settings.dist.py
Labels: settings_changes

#9505 :bug: WFuzz: Generalize severity mapping
  docs/content/en/integrations/parsers/file/wfuzz.md
  dojo/tools/wfuzz/parser.py
  unittests/scans/wfuzz/one_finding_responsecode_missing.json
  unittests/tools/test_wfuzz_parser.py
Labels: docs, unittests, parser

#9510 Remove useless noqa, be more specific for usefull noqa
  dojo/__init__.py
  dojo/apps.py
  tests/dedupe_test.py
Labels: integration_tests

#9496 Remove filterwarnings for "invalid escape sequence"
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/utils.py
Labels: settings_changes

#9471 :bug: fix mobsf deduplication and severity mapping
  dojo/settings/settings.dist.py
  dojo/tools/mobsf/parser.py
Labels: settings_changes, parser

#9497 Remove filterwarnings for "DateTimeField - timezone"
  dojo/importers/importer/importer.py
  dojo/importers/reimporter/reimporter.py
  dojo/settings/settings.dist.py
  unittests/test_bulk_risk_acceptance_api.py
  unittests/test_finding_helper.py
  unittests/test_flush_auditlog.py
  unittests/test_import_reimport.py
  unittests/test_risk_acceptance.py
  unittests/test_utils_deduplication_reopen.py
Labels: settings_changes, unittests

#9504 Remove handling of broken unittests
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
Labels: docker, unittests

#9516 :tada: introducing EPSS score
  dojo/db_migrations/0203_alter_finding_options_finding_epss_percentile_and_more.py
  dojo/filters.py
  dojo/models.py
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/view_finding.html
  dojo/templatetags/multiply.py
Labels: docker, New Migration, settings_changes, apiv2, docs, unittests, integration_tests, ui, parser, helm, localization

#9521 🎉 importing epss score from DependencyTrack output
  dojo/tools/dependency_track/parser.py
  unittests/scans/dependency_track/dependency_track_4.10_2024_02_11.json
  unittests/tools/test_dependency_track_parser.py
Labels: unittests, parser

#9519 improved Sonatype parser
  dojo/settings/settings.dist.py
  dojo/tools/sonatype/identifier.py
  dojo/tools/sonatype/parser.py
  unittests/scans/sonatype/many_vulns.json
  unittests/scans/sonatype/no_vuln.json
  unittests/scans/sonatype/two_vulns.json
  unittests/tools/test_sonatype_parser.py
Labels: settings_changes, unittests, parser

#9523 fix clair docs according to PR #9355
  docs/content/en/integrations/parsers/file/clair.md
  docs/content/en/integrations/parsers/file/clair_klar.md
  unittests/test_parsers.py
Labels: docs, unittests

#9529 :tada: Importing EPSS score from AWS Inspector via AWS SecHub
  dojo/tools/awssecurityhub/parser.py
  unittests/tools/test_awssecurityhub_parser.py
Labels: unittests, parser

#9549 :bug: fix nessus severity
  dojo/tools/tenable/xml_format.py
  unittests/scans/tenable/nessus/issue_6992.nessus
  unittests/tools/test_tenable_parser.py
Labels: unittests, parser

#9574 Questionnaires: Correct nested object deletions
  dojo/models.py
  dojo/survey/views.py
Labels: bugfix

#9571 Jira: Append labels and respect priority on update
  dojo/jira_link/helper.py
Labels: bugfix, jira

#9560 Correct Endpoint "Hosts" views when the host field is `None`
  dojo/endpoint/views.py
Labels: bugfix

#9524 :sparkles: AWS Security Hub: Add GuardDuty
  docs/content/en/integrations/parsers/file/awssecurityhub.md
  dojo/tools/awssecurityhub/parser.py
  unittests/scans/awssecurityhub/guardduty.json
  unittests/tools/test_awssecurityhub_parser.py
Labels: docs, unittests, parser

#9606 Fix broken migration 0197
  dojo/db_migrations/0187_nessus_to_tenable.py
  dojo/db_migrations/0197_parser_merge.py
  dojo/db_migrations/0199_whitesource_to_mend.py
Labels: New Migration

#9609 CSV/Excel Report: Correct date/datetime comparison error
  dojo/models.py
Labels: bugfix

#9614 Update SLA Violation Filter query
  dojo/filters.py
Labels: bugfix

#9593 Extend npm_audit.md with unsupported v7 notice
  docs/content/en/integrations/parsers/file/npm_audit.md
Labels: docs

#9630 Revert psqlha version from v13 to v9
  helm/defectdojo/Chart.lock
  helm/defectdojo/Chart.yaml
Labels: helm

#9624 Correct search queries containing colons
  dojo/search/views.py
Labels: bugfix

#9621 EPSS Data Displayed Everywhere
  dojo/reports/views.py
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report_endpoints.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
  dojo/templates/dojo/custom_html_report_endpoint_list.html
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/finding_related_list.html
  dojo/templates/dojo/finding_related_row.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/pt_counts.html
  dojo/templates/dojo/report_findings.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/simple_search.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/templates/dojo/view_test.html
  dojo/templatetags/display_tags.py
Labels: ui

#9561 Remote filterwarnings for "cgi is deprecated and slated"
  dojo/settings/settings.dist.py
Labels: settings_changes

#9500 Remove filterwarnings for RemovedInDjango50Warning
  dojo/settings/settings.dist.py
Labels: settings_changes

#9591 Making EPSS float formatting consistent in 'view Finding'
  dojo/templates/dojo/view_finding.html
Labels: ui

#9601 :tada: Snyk epss update
  dojo/tools/snyk/parser.py
  unittests/scans/snyk/snykcontainer_issue_epss.json
  unittests/tools/test_snyk_parser.py
Labels: unittests, parser

#9599 Engagement validation for risk_acceptance API in POST PATCH and PUT
  dojo/api_v2/serializers.py
  dojo/templates/dojo/view_eng.html
  unittests/test_rest_framework.py
Labels: apiv2, unittests, ui

#9590 :sparkles: Fortify: Support .fpr format
  docs/content/en/integrations/parsers/file/fortify.md
  dojo/tools/fortify/README.md
  dojo/tools/fortify/__init__.py
  dojo/tools/fortify/parser.py
  unittests/scans/fortify/DefaultReportDefinitionAllIssues.xml
  unittests/scans/fortify/audit.fvdl
  unittests/scans/fortify/many_findings.fpr
  unittests/tools/test_fortify_parser.py
Labels: docs, unittests, parser

#9567 ASFF Parser: Respect `active` status based on `RecordState` field
  dojo/tools/asff/parser.py
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

#9653 Qualys: Correct CVE assignment
  dojo/tools/qualys/csv_parser.py
Labels: parser

#9613 View Engagement to class based view and block in engagement template
  dojo/engagement/urls.py
  dojo/engagement/views.py
  dojo/templates/dojo/view_eng.html
Labels: ui

#9651 FindingGroupSerializer: not break schemas when JIRAIssue not available
  dojo/api_v2/serializers.py
Labels: apiv2
