Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-08, with the labels that each got.

#10654 :bug: fix Bearer CLI missing Scan Type #10652
  dojo/tools/bearer_cli/parser.py
  unittests/tools/test_bearer_cli_parser.py
Labels: unittests, parser

#10663 Groups/users labels text
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_user.html
Labels: ui

#10613 Cosmetic UX change - clickable product metrics - redirect to findings with severity filter
  dojo/templates/dojo/view_product_details.html
Labels: ui

#10650 report-builder-sort-fixes Fix report builder finding and endpoints widgets
  dojo/filters.py
  dojo/reports/views.py
  dojo/templates/dojo/report_builder.html
  dojo/templates/dojo/report_endpoints.html
  dojo/templates/dojo/report_findings.html
Labels: ui

#10656 Parser name matches module name test
  unittests/test_factory.py
Labels: unittests

#10603 Feature addition: Wizcli Parser
  docs/content/en/integrations/parsers/file/wizcli-dir.md
  docs/content/en/integrations/parsers/file/wizcli-iac.md
  docs/content/en/integrations/parsers/file/wizcli-img.md
  dojo/tools/wizcli_common_parsers/__init__.py
  dojo/tools/wizcli_common_parsers/parsers.py
  dojo/tools/wizcli_dir/__init__.py
  dojo/tools/wizcli_dir/parser.py
  dojo/tools/wizcli_iac/__init__.py
  dojo/tools/wizcli_iac/parser.py
  dojo/tools/wizcli_img/__init__.py
  dojo/tools/wizcli_img/parser.py
  unittests/scans/wizcli_dir/wizcli_dir_many_vul.json
  unittests/scans/wizcli_dir/wizcli_dir_one_vul.json
  unittests/scans/wizcli_dir/wizcli_dir_zero_vul.json
  unittests/scans/wizcli_iac/wizcli_iac_many_vul.json
  unittests/scans/wizcli_iac/wizcli_iac_one_vul.json
  unittests/scans/wizcli_iac/wizcli_iac_zero_vul.json
  unittests/scans/wizcli_img/wizcli_img_many_vul.json
  unittests/scans/wizcli_img/wizcli_img_one_vul.json
  unittests/scans/wizcli_img/wizcli_img_zero_vul.json
  unittests/tools/test_wizcli_dir_parser.py
  unittests/tools/test_wizcli_iac_parser.py
  unittests/tools/test_wizcli_img_parser.py
Labels: docs, unittests, parser

#10522 New Parser: Kiuwan SCA
  docs/content/en/integrations/parsers/file/kiuwan-sca.md
  docs/content/en/integrations/parsers/file/kiuwan.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/kiuwan_sca/__init__.py
  dojo/tools/kiuwan_sca/parser.py
  unittests/scans/kiuwan-sca/kiuwan_sca_many_vuln.json
  unittests/scans/kiuwan-sca/kiuwan_sca_no_vuln.json
  unittests/scans/kiuwan-sca/kiuwan_sca_two_vuln.json
  unittests/tools/test_kiuwan_sca_parser.py
Labels: settings_changes, docs, unittests, parser

#10202 Add new parser - Rapplex
  docs/content/en/integrations/parsers/file/rapplex.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/rapplex/__init__.py
  dojo/tools/rapplex/parser.py
  unittests/scans/rapplex/rapplex_many_vul.json
  unittests/scans/rapplex/rapplex_one_vul.json
  unittests/scans/rapplex/rapplex_zero_vul.json
  unittests/tools/test_rapplex_parser.py
Labels: settings_changes, docs, unittests, parser

#10677 Bugfix -> Dev for 2.37.0
  dojo/filters.py
  dojo/reports/views.py
  dojo/templates/dojo/report_builder.html
  dojo/templates/dojo/report_endpoints.html
  dojo/templates/dojo/report_findings.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_user.html
  dojo/tools/bearer_cli/parser.py
  unittests/test_factory.py
  unittests/tools/test_bearer_cli_parser.py
Labels: unittests, ui, parser

#10409 feat(django): Upgrade to 5.0
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  requirements.txt
Labels: settings_changes

#10696 Rest Framework: Remove Parallel + Shuffle
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
Labels: docker, maintenance

#10682 fix(docs): Typo in "Release Notes" link
  docs/content/en/getting_started/upgrading/2.37.md
Labels: docs

#10683 fix(helm): Remove leftover from debugging (db-migration-checker)
  helm/defectdojo/templates/_helpers.tpl
Labels: helm

#10612 helm: helm chart enhancements
  docs/content/en/getting_started/upgrading/2.38.md
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: docs, helm

#10725 fix aqua parser #10585
  dojo/tools/aqua/parser.py
  unittests/tools/test_aqua_parser.py
Labels: unittests, parser

#10703 Update to Django 4.2.15
  requirements.txt
Labels: security

#10713 Permission fixes
  dojo/cred/views.py
  dojo/endpoint/views.py
Labels: security, bugfix

#10734 Add anonymous questionnaire to engagement
  dojo/forms.py
  dojo/survey/urls.py
  dojo/survey/views.py
  dojo/templates/defectDojo-engagement-survey/existing_engagement.html
  dojo/templates/defectDojo-engagement-survey/surveys.html
  dojo/templates/dojo/dashboard.html
Labels: ui

#10723 Appcheck web application scanner parser
  docs/content/en/integrations/parsers/file/appcheck_web_application_scanner.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/appcheck_web_application_scanner/__init__.py
  dojo/tools/appcheck_web_application_scanner/engines/__init__.py
  dojo/tools/appcheck_web_application_scanner/engines/appcheck.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  dojo/tools/appcheck_web_application_scanner/engines/nmap.py
  dojo/tools/appcheck_web_application_scanner/engines/openvas.py
  dojo/tools/appcheck_web_application_scanner/parser.py
  unittests/scans/appcheck_web_application_scanner/appcheck_web_application_scanner_dupes.json
  unittests/scans/appcheck_web_application_scanner/appcheck_web_application_scanner_many_vul.json
  unittests/scans/appcheck_web_application_scanner/appcheck_web_application_scanner_one_vul.json
  unittests/scans/appcheck_web_application_scanner/appcheck_web_application_scanner_zero_vul.json
  unittests/tools/test_appcheck_web_application_scanner_parser.py
Labels: settings_changes, docs, unittests, parser

#10083 Ruff: Add and fix D3
  dojo/tools/nikto/parser.py
  dojo/tools/utils.py
  ruff.toml
Labels: parser

#9751 Ruff: Solve F821
  dojo/engagement/views.py
  dojo/jira_link/views.py
  dojo/management/commands/jira_async_updates.py
  dojo/management/commands/rename_mend_findings.py
  dojo/management/commands/test_celery_decorator.py
  dojo/settings/settings.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys_webapp/parser.py
  ruff.toml
  tests/Import_scanner_test.py
  tests/zap.py
  unittests/test_parsers.py
  unittests/tools/test_api_sonarqube_parser.py
Labels: unittests, integration_tests, parser

#10739 :bug: fix nmap parser, add script output #10456
  dojo/tools/nmap/parser.py
  unittests/tools/test_nmap_parser.py
Labels: unittests, parser

#10698 Ruff: Add and fix G001 and G002
  dojo/finding/helper.py
  dojo/management/commands/rename_mend_findings.py
  dojo/tools/api_bugcrowd/parser.py
  dojo/utils.py
  ruff.toml
Labels: parser

#10708 Ruff: Add and fix FURB
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/engagement/signals.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/jira_link/helper.py
  dojo/management/commands/csv_findings_export.py
  dojo/management/commands/stamp_finding_last_reviewed.py
  dojo/metrics/utils.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/reports/views.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
  dojo/templatetags/multiply.py
  dojo/templatetags/navigation_tags.py
  dojo/tools/api_sonarqube/importer.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  dojo/tools/awssecurityhub/compliance.py
  dojo/tools/awssecurityhub/guardduty.py
  dojo/tools/awssecurityhub/inspector.py
  dojo/tools/burp/parser.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/nexpose/parser.py
  dojo/tools/nmap/parser.py
  dojo/tools/risk_recon/api.py
  dojo/tools/ssh_audit/parser.py
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/xml_format.py
  dojo/tools/testssl/parser.py
  dojo/tools/trustwave_fusion_api/parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/tools/whitehat_sentinel/parser.py
  dojo/utils.py
  dojo/wsgi.py
  ruff.toml
  unittests/test_apiv2_methods_and_endpoints.py
  unittests/test_parsers.py
  unittests/test_rest_framework.py
Labels: settings_changes, apiv2, unittests, ui, parser

#10085 Ruff: add and fix FBT001 & FBT003
  dojo/engagement/services.py
  dojo/finding/views.py
  dojo/importers/auto_create_context.py
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/importers/options.py
  dojo/management/commands/push_to_jira_update.py
  dojo/metrics/utils.py
  dojo/reports/views.py
  dojo/risk_acceptance/helper.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/blackduck_component_risk/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/xanitizer/parser.py
  ruff.toml
  tests/announcement_banner_test.py
  tests/base_test_class.py
  unittests/test_apiv2_limit_reqresp.py
  unittests/test_apply_finding_template.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/test_parsers.py
  unittests/test_rest_framework.py
  unittests/test_utils.py
  unittests/tools/test_qualys_webapp_parser.py
  unittests/tools/test_stackhawk_parser.py
Labels: settings_changes, unittests, integration_tests, parser

#10714 Ruff: Add and fix RUF005
  dojo/api_v2/views.py
  dojo/models.py
  dojo/request_cache/__init__.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/user/utils.py
  ruff.toml
  unittests/test_jira_import_and_pushing_api.py
  unittests/test_tags.py
Labels: settings_changes, apiv2, unittests

#10759 OS Docs - Add accurate password for DefectDojo demo site
  docs/content/en/_index.md
Labels: docs

#10740 fix(helm): Break circular dependency
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: helm

#10768 upd: [helm] resource optimization
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/values.yaml
Labels: helm

#10738 Inline finding images on reports
  dojo/templates/dojo/custom_html_report_endpoint_list.html
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/snippets/file_images.html
  dojo/templatetags/display_tags.py
Labels: ui

#10775 fix(ruff): Findings from upgrade to 0.6.1
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/models.py
  dojo/risk_acceptance/helper.py
  dojo/templatetags/display_tags.py
  dojo/tools/gitleaks/parser.py
  dojo/utils.py
  requirements-lint.txt
  ruff.toml
  unittests/dojo_test_case.py
  unittests/test_jira_config_engagement.py
  unittests/test_utils.py
Labels: unittests, ui, parser

#10805 Pinning Chrome version
  Dockerfile.integration-tests-debian
Labels: docker

#10804 Appcheck null byte fix
  dojo/tools/appcheck_web_application_scanner/engines/appcheck.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  unittests/scans/appcheck_web_application_scanner/appcheck_web_application_scanner_http2.json
  unittests/tools/test_appcheck_web_application_scanner_parser.py
Labels: unittests, parser

#10731 Fixed extraEnv in Chart Values after upgrade
  helm/defectdojo/templates/_helpers.tpl
Labels: helm

#10786 feat(api-token): Add ability to use API tokens but not disable "api-token-auth"
  docs/content/en/integrations/api-v2-docs.md
  dojo/context_processors.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/templates/dojo/api_v2_key.html
  dojo/urls.py
Labels: settings_changes, docs, ui

#10761 Add AWS ARN for the specific offending Resource into the Description of the ASFF parser
  dojo/tools/asff/parser.py
  unittests/tools/test_asff_parser.py
Labels: unittests, parser

#10770 Checkmarx one SCA parser fix
  dojo/tools/checkmarx_one/parser.py
  unittests/scans/checkmarx_one/checkmarx_one_sca_10770.json
  unittests/tools/test_checkmarx_one_parser.py
Labels: unittests, parser

#9050 fixes reimporter to ensure that risk accepted findings do not get mitigated
  dojo/importers/default_reimporter.py
  unittests/test_import_reimport.py
Labels: unittests

#10813 :bug: fix npm audit v7+, issue #10801
  dojo/tools/npm_audit_7_plus/parser.py
  unittests/scans/npm_audit_7_plus/issue_10801.json
  unittests/tools/test_npm_audit_7_plus_parser.py
Labels: unittests, parser

#10700 Ruff: Add and fix TCH
  dojo/tools/sysdig_reports/sysdig_data.py
  ruff.toml
Labels: parser

#10702 Ruff: Add and fix ARG003,4,5
  dojo/filters.py
  dojo/middleware.py
  dojo/tools/nexpose/parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/urls.py
  ruff.toml
Labels: parser

#10812 feat(unittest): Not avoid PLW1514
  unittests/tools/test_appcheck_web_application_scanner_parser.py
Labels: unittests
