Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-10, with the labels that each got.

#10848 Ruff: Add more PLW
  dojo/endpoint/views.py
  dojo/forms.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/product/views.py
  dojo/search/views.py
  dojo/tools/hcl_appscan/parser.py
  dojo/tools/intsights/parser.py
  dojo/tools/jfrog_xray_on_demand_binary_scan/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/qualys_webapp/parser.py
  ruff.toml
  unittests/test_apiv2_scan_import_options.py
  unittests/test_rest_framework.py
Labels: unittests, parser

#10789 Integration Tests: Check for exceptions at build time
  docker/install_chrome_dependencies.py
Labels: docker

#10972 :tada: add Alma Linux link to vulns
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#10979 :tada: Add vulnerability Id to ssh-audit
  dojo/tools/ssh_audit/parser.py
  unittests/tools/test_ssh_audit_parser.py
Labels: unittests, parser

#10995 Fix tag creation bug in FindingTemplateSerializer (letters instead of full tags)
  dojo/api_v2/serializers.py
Labels: apiv2

#10992 Compare trivy results cluster_name with None
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_10991.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

#10996 Jira Push All Issues: Improve help text
  dojo/db_migrations/0216_alter_jira_project_push_all_issues.py
  dojo/models.py
Labels: New Migration

#10984 Update AWS SecurityHub ASFF Parser to include Impact
  dojo/tools/asff/parser.py
Labels: parser

#10969 Branding Update: Replace old logos with new logos
  dojo/static/dojo/img/chop.png
  dojo/static/dojo/img/favicon.ico
  dojo/static/dojo/img/favicon.png
  dojo/static/dojo/img/logo.png
  dojo/templates/base.html
  dojo/templates/defectDojo-engagement-survey/create_related_question.html
  dojo/templates/dojo/add_related.html
  dojo/templates/dojo/report_cover_page.html
Labels: ui

#10859 Added instructions for using an external postgresql db with defectdoj…
  readme-docs/KUBERNETES.md
Labels: docs

#11011 Release 2.39.0: Merge Bugfix into Dev
  dojo/api_v2/serializers.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/ssh_audit/parser.py
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/issue_10991.json
  unittests/tools/test_ssh_audit_parser.py
  unittests/tools/test_trivy_parser.py
Labels: settings_changes, apiv2, unittests, parser

#10846 Ruff: Fix issues via "target-version"
  dojo/api_v2/serializers.py
  dojo/apps.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/finding_group/views.py
  dojo/forms.py
  dojo/home/views.py
  dojo/importers/auto_create_context.py
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/importers/endpoint_manager.py
  dojo/importers/options.py
  dojo/metrics/utils.py
  dojo/models.py
  dojo/remote_user.py
  dojo/reports/views.py
  dojo/risk_acceptance/api.py
  dojo/system_settings/views.py
  dojo/test/views.py
  dojo/tools/appcheck_web_application_scanner/engines/appcheck.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  dojo/tools/appcheck_web_application_scanner/engines/nmap.py
  dojo/tools/blackduck/importer.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/tools/checkmarx_one/parser.py
  dojo/tools/jfrog_xray_on_demand_binary_scan/parser.py
  dojo/tools/kics/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/tenable/xml_format.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/whitehat_sentinel/parser.py
  dojo/utils.py
  ruff.toml
  unittests/test_bulk_risk_acceptance_api.py
  unittests/test_dashboard.py
  unittests/test_finding_helper.py
  unittests/test_flush_auditlog.py
  unittests/test_import_reimport.py
  unittests/test_metrics_queries.py
  unittests/test_risk_acceptance.py
  unittests/test_utils_deduplication_reopen.py
  unittests/tools/test_arachni_parser.py
  unittests/tools/test_bugcrowd_parser.py
  unittests/tools/test_dependency_check_parser.py
  unittests/tools/test_sarif_parser.py
  unittests/tools/test_stackhawk_parser.py
Labels: apiv2, unittests, parser

#11033 Downgrade uwsgi to 2.0.26
  requirements.txt
Labels: bugfix

#11041 New Jira Form: Make express the default
  dojo/forms.py
  dojo/jira_link/urls.py
  dojo/jira_link/views.py
  dojo/templates/dojo/express_new_jira.html
  dojo/templates/dojo/jira.html
  dojo/templates/dojo/new_jira.html
  dojo/templates/dojo/new_jira_advanced.html
  unittests/test_jira_config_product.py
Labels: enhancement, unittests, ui

#11047 Netsparker: Attempt to accommodate any date string format
  dojo/tools/netsparker/parser.py
  unittests/scans/netsparker/issue_11020.json
  unittests/tools/test_netsparker_parser.py
Labels: unittests, parser

#11042 fix for Add Risk Acceptance on Finding List dropdown Not Working
  dojo/templates/dojo/view_test.html
Labels: ui

#11001 Mend SCA imports contain locations which are similar to filePaths for SAST scans
  dojo/tools/mend/parser.py
  unittests/scans/mend/mend_sca_vuln.json
  unittests/tools/test_mend_parser.py
Labels: unittests, parser

#11035 Add release notes for Postgres 12
  docs/content/en/getting_started/upgrading/2.40.md
Labels: docs

#11051 Update support text and buttons
  dojo/templates/base.html
  dojo/templates/dojo/support.html
Labels: ui

#11017 Parser Tests: add tag to differentiate
  unittests/test_parsers.py
Labels: unittests

#11074 :lipstick: Advance architecture docs
  docs/content/en/getting_started/architecture.md
Labels: docs

#11078 :tada: add file_path to SonarQube findings
  dojo/tools/sonarqube/sonarqube_restapi_json.py
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser

#11069 :tada: ADD ELSA errata
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui

#11053 Fix for issue #10207 non-existent env import
  docs/content/en/integrations/importing.md
  dojo/api_v2/serializers.py
Labels: apiv2, docs

#11086 SLA Config: Add new config that does not enforce SLA
  docker/entrypoint-initializer.sh
  dojo/fixtures/sla_configurations.json
Labels: enhancement, docker

#11038 Parser: Add support for importing json exports from the PTART Reporting Tool
  docs/content/en/integrations/parsers/file/ptart.md
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/tools/ptart/__init__.py
  dojo/tools/ptart/assessment_parser.py
  dojo/tools/ptart/parser.py
  dojo/tools/ptart/ptart_parser_tools.py
  dojo/tools/ptart/retest_parser.py
  unittests/scans/ptart/empty_with_error.json
  unittests/scans/ptart/ptart_many_vul.json
  unittests/scans/ptart/ptart_one_vul.json
  unittests/scans/ptart/ptart_vuln_plus_retest.json
  unittests/scans/ptart/ptart_vulns_with_mult_assessments.json
  unittests/scans/ptart/ptart_zero_vul.json
  unittests/tools/test_ptart_parser.py
Labels: settings_changes, docs, unittests, parser

#11103 :bug: fix tenable #11102
  dojo/tools/tenable/csv_format.py
  unittests/scans/tenable/issue_11102.csv
  unittests/tools/test_tenable_parser.py
Labels: unittests, parser

#11125 JIRA Finding Groups: Accommodate status function inconsistency
  dojo/jira_link/helper.py
Labels: bugfix

#11101 update RedHatSatellite bug description
  dojo/tools/redhatsatellite/parser.py
Labels: parser

#11097 add RXSA VULNERABILITY_URL
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#11115 OSV Parser: Robustify
  dojo/tools/osv_scanner/parser.py
Labels: bugfix, parser

#11135 Threat Uploads: Server side file extension validation + force downloads
  dojo/engagement/views.py
  dojo/forms.py
  dojo/utils.py
Labels: bugfix

#11109 fix: broker configuration fix for deployment
  helm/defectdojo/templates/configmap.yaml
Labels: helm

#11158 Change logo for docs, add knowledge base link
  docs/assets/icons/logo.svg
  docs/config.dev.toml
  docs/config.master.toml
Labels: docs
