Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-12, with the labels that each got.

#11359 Release: Merge back 2.41.0 into bugfix from: master-into-dev/2.41.0-2.42.0-dev
  .github/workflows/release-3-master-into-dev.yml
  components/package.json
  docs/content/en/open_source/upgrading/2.42.md
  dojo/__init__.py
  helm/defectdojo/Chart.yaml
Labels: docs, helm

#9813 Add GLSA gentoo vulnid
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui

#11302 Add DTSA to vulnid
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#11304 Update Reported Finding Severity by Month on the dashboard to be by month instead of day.
  dojo/static/dojo/js/metrics.js
Labels: ui

#11306 Disallow multiple single-use notes on a single object
  dojo/api_v2/views.py
Labels: apiv2

#11367 update Pro changelog 2.41.0
  docs/assets/images/reorder-columns.png
  docs/content/en/changelog/changelog.md
  docs/content/en/open_source/upgrading/upgrading_guide.md
Labels: docs

#11299 Settings SHA: The Removal
  .github/workflows/release-3-master-into-dev.yml
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  dojo/settings/settings.py
  unittests/test_utils.py
Labels: settings_changes, unittests

#11331 Ruff: Enable and fix RUF010
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/jira_link/views.py
  dojo/models.py
  dojo/product/helpers.py
  dojo/reports/views.py
  dojo/tools/api_bugcrowd/importer.py
  dojo/tools/api_bugcrowd/parser.py
  dojo/tools/blackduck/parser.py
  dojo/tools/blackduck_binary_analysis/parser.py
  dojo/tools/cyclonedx/xml_parser.py
  dojo/tools/gosec/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/tenable/xml_format.py
  dojo/tools/veracode/json_parser.py
  dojo/user/views.py
  ruff.toml
  tests/base_test_class.py
  unittests/test_deduplication_logic.py
  unittests/test_false_positive_history_logic.py
  unittests/test_rest_framework.py
Labels: unittests, integration_tests, parser

#11319 Update 2.36.md to fix typo's in version number
  docs/content/en/open_source/upgrading/2.36.md
Labels: docs

#11326 fix(ruff): Fix RUF039 for v0.8.0
  dojo/management/commands/rename_mend_findings.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  dojo/tools/burp_enterprise/parser.py
  dojo/tools/burp_graphql/parser.py
  dojo/tools/microfocus_webinspect/parser.py
  dojo/tools/nexpose/parser.py
  dojo/tools/npm_audit/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/sonarqube/soprasteria_helper.py
  dojo/tools/trivy_operator/uniform_vulnid.py
  dojo/tools/veracode/xml_parser.py
  dojo/tools/wapiti/parser.py
  dojo/user/validators.py
  requirements-lint.txt
  tests/Import_scanner_test.py
Labels: integration_tests, parser

#11368 Hotfix filenames
  .github/workflows/release-3-master-into-dev.yml
  docs/content/en/cloud_management/connectivity_troubleshooting.md
  docs/content/en/cloud_management/set_up_cloud_instance.md
  docs/content/en/cloud_management/using_the_cloud_manager.md
  docs/content/en/dashboard/Introduction_dashboard.md
  docs/content/en/dashboard/about_custom_dashboard_tiles.md
  docs/content/en/dashboard/add_edit_delete_dashboard_tiles.md
  docs/content/en/dashboard/edit_dashboard_configuration.md
  docs/content/en/jira_integration/add_jira_to_product.md
  docs/content/en/jira_integration/configure_jira_dojo_webhook.md
  docs/content/en/jira_integration/connect_to_jira.md
  docs/content/en/jira_integration/create_issues_in_jira.md
  docs/content/en/jira_integration/using_custom_fields.md
  docs/content/en/notifications/about_inapp_alerts.md
  docs/content/en/notifications/about_notifications.md
  docs/content/en/notifications/configure_msteams.md
  docs/content/en/notifications/configure_slack.md
  docs/content/en/notifications/configure_system_notifs.md
  docs/content/en/pro_reports/using_the_report_builder.md
  docs/content/en/pro_reports/working_with_generated_reports.md
  docs/content/en/user_management/about_perms_and_roles.md
  docs/content/en/user_management/configure_sso.md
  docs/content/en/user_management/create_user_group.md
  docs/content/en/user_management/set_user_permissions.md
  docs/content/en/user_management/user_permission_chart.md
  docs/content/en/working_with_findings/finding_deduplication/about_deduplication.md
  docs/content/en/working_with_findings/finding_deduplication/avoiding_duplicates_via_reimport.md
  docs/content/en/working_with_findings/finding_deduplication/delete_deduplicates.md
  docs/content/en/working_with_findings/finding_deduplication/enabling_deduplication_with_engagement.md
  docs/content/en/working_with_findings/finding_deduplication/enabling_product_deduplication.md
  docs/content/en/working_with_findings/finding_status_deduplication.md
  docs/content/en/working_with_findings/findings_workflows/bulk_edit_findings.md
  docs/content/en/working_with_findings/findings_workflows/create_findings_manually.md
  docs/content/en/working_with_findings/findings_workflows/editing_findings.md
  docs/content/en/working_with_findings/findings_workflows/manage_duplicate_findings.md
  docs/content/en/working_with_findings/intro_to_findings.md
  docs/content/en/working_with_findings/organizing_engagements_tests/product_health_grade.md
  docs/content/en/working_with_findings/organizing_engagements_tests/product_hierarchy.md
  docs/content/en/working_with_findings/risk_acceptances.md
Labels: docs

#11321 Add Filters to the Products under View Product Type
  dojo/product_type/views.py
  dojo/templates/dojo/view_product_type.html
Labels: ui

#11293 feat(parser: generic): Allow epss_* parameters
  dojo/tools/generic/json_parser.py
Labels: parser

#11396 [docs] add reo to script header
  docs/layouts/partials/head/script-header.html
Labels: docs

#11402 [docs] Pro Docs release notes - 2.41.1
  docs/content/en/changelog/changelog.md
Labels: docs

#11403 [docs] rename case-sensitive refs so that site builds correctly
  docs/assets/images/using_the_cloud_manager.png
  docs/assets/images/using_the_cloud_manager_2.png
  docs/assets/images/using_the_cloud_manager_3.png
  docs/assets/images/using_the_cloud_manager_4.png
  docs/content/en/cloud_management/using-cloud-manager.md
Labels: docs

#11374 fix(setEnv): remove debug from list
  docker/setEnv.sh
Labels: docker

#11186 Add uwsgi vars to docker-compose.yml
  docker-compose.yml
Labels: docker

#11385 :bug: fix RHS deduplication
  dojo/settings/settings.dist.py
Labels: settings_changes

#11372 fix(oauth2): google oauth2 whitelisting.
  docs/content/en/open_source/archived_docs/integrations/social-authentication.md
  dojo/settings/settings.dist.py
Labels: settings_changes, docs

#11256 Ruff: Add and fix S110 (+ merge all S1 rules)
  dojo/benchmark/views.py
  dojo/cred/views.py
  dojo/finding/helper.py
  dojo/middleware.py
  dojo/product/views.py
  dojo/templatetags/display_tags.py
  dojo/tools/gitlab_api_fuzzing/parser.py
  dojo/tools/h1/parser.py
  dojo/tools/kiuwan/parser.py
  dojo/tools/veracode/json_parser.py
  ruff.toml
  tests/Import_scanner_test.py
  tests/base_test_class.py
Labels: integration_tests, ui, parser

#11420 [docs] Pro Docs release notes - 2.41.2
  docs/content/en/changelog/changelog.md
Labels: docs

#11296 Notifications: Convert to classes
  dojo/engagement/views.py
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/notifications/helper.py
  dojo/notifications/views.py
  unittests/test_notifications.py
Labels: unittests

#11387 fix typo in docs
  docs/content/en/open_source/archived_docs/integrations/social-authentication.md
Labels: docs

#11413 2.41.1: docs maintenance
  docs/content/en/about_defectdojo/new_user_checklist.md
  docs/content/en/connecting_your_tools/connectors/_index.md
  docs/content/en/connecting_your_tools/connectors/about_connectors.md
  docs/content/en/connecting_your_tools/connectors/add_edit_connectors.md
  docs/content/en/connecting_your_tools/connectors/connectors_tool_reference.md
  docs/content/en/connecting_your_tools/connectors/edit_ignore_delete_records.md
  docs/content/en/connecting_your_tools/connectors/manage_operations.md
  docs/content/en/connecting_your_tools/connectors/manage_records.md
  docs/content/en/connecting_your_tools/connectors/operations_discover.md
  docs/content/en/connecting_your_tools/connectors/operations_page.md
  docs/content/en/connecting_your_tools/connectors/operations_sync.md
  docs/content/en/connecting_your_tools/connectors/run_operations_manually.md
  docs/content/en/connecting_your_tools/external_tools.md
  docs/content/en/connecting_your_tools/import_intro.md
  docs/content/en/connecting_your_tools/import_scan_files/_index.md
  docs/content/en/connecting_your_tools/import_scan_files/api_pipeline_modelling.md
  docs/content/en/connecting_your_tools/import_scan_files/import_scan_ui.md
  docs/content/en/connecting_your_tools/import_scan_files/smart_upload.md
  docs/content/en/connecting_your_tools/import_scan_files/using_reimport.md
  docs/content/en/connecting_your_tools/parsers/_index.md
  docs/content/en/user_management/_index.md
  docs/content/en/user_management/about_perms_and_roles.md
  docs/content/en/user_management/configure_sso.md
  docs/content/en/user_management/create_user_group.md
  docs/content/en/user_management/set_user_permissions.md
  docs/content/en/user_management/user_permission_chart.md
  docs/content/en/working_with_findings/intro_to_findings.md
  docs/layouts/index.html
Labels: docs

#11365 Request/Response API CRUD Endpoints
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/urls.py
  unittests/test_apiv2_methods_and_endpoints.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests

#11442 Qualys Hacker Guardian: Set Dedupe Config
  dojo/settings/settings.dist.py
Labels: settings_changes

#11418 Add Horusec Scan to Hashcode settings.
  dojo/settings/settings.dist.py
Labels: settings_changes

#11441 :tada: Add CGA vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11449 Add EPSS score and percentile to generic csv parser
  docs/content/en/connecting_your_tools/parsers/generic_findings_import.md
  dojo/tools/generic/csv_parser.py
  unittests/scans/generic/generic_csv_with_epss.csv
  unittests/tools/test_generic_parser.py
Labels: docs, unittests, parser

#11447 Allow None Option for Active/Verified on Import/Reimport to Mirror UI Options
  dojo/api_v2/serializers.py
Labels: apiv2

#11465 update changelog, add changelog link to navbar
  docs/config/_default/menus/menus.en.toml
  docs/content/en/changelog/changelog.md
Labels: docs
