Repository DefectDojo/django-DefectDojo, pull requests merged in 2024-07, with the labels that each got.

#10446 Metrics performance improvements
  dojo/metrics/utils.py
  dojo/metrics/views.py
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/metrics.html
  unittests/test_metrics_queries.py
Labels: unittests, ui

#10090 Ruff: add and fix PIE
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/importers/base_importer.py
  dojo/importers/options.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/okta.py
  dojo/product/views.py
  dojo/templatetags/display_tags.py
  dojo/tools/burp_enterprise/parser.py
  dojo/tools/jfrog_xray_unified/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode_sca/parser.py
  dojo/tools/xanitizer/parser.py
  dojo/utils.py
  ruff.toml
  tests/close_old_findings_dedupe_test.py
  tests/dedupe_test.py
Labels: integration_tests, ui, parser

#10495 Revert "Shuffle tests"
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
Labels: docker

#10094 Ruff: add and fix Q (except Q000)
  dojo/api_v2/permissions.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/importers/base_importer.py
  dojo/importers/default_reimporter.py
  dojo/jira_link/views.py
  dojo/management/commands/dedupe.py
  dojo/models.py
  dojo/product/views.py
  dojo/search/views.py
  dojo/sla_config/views.py
  dojo/survey/urls.py
  dojo/templatetags/display_tags.py
  dojo/templatetags/survey_tags.py
  dojo/tools/api_sonarqube/api_client.py
  dojo/tools/npm_audit_7_plus/parser.py
  dojo/user/validators.py
  dojo/utils.py
  ruff.toml
  tests/notes_test.py
  unittests/test_apiv2_endpoint.py
  unittests/test_finding_model.py
  unittests/test_user_validators.py
  unittests/tools/test_anchore_grype_parser.py
  unittests/tools/test_azure_security_center_recommendations_parser.py
  unittests/tools/test_gitleaks_parser.py
  unittests/tools/test_jfrogxray_parser.py
  unittests/tools/test_kics_parser.py
  unittests/tools/test_mozilla_observatory_parser.py
  unittests/tools/test_nexpose_parser.py
  unittests/tools/test_nikto_parser.py
  unittests/tools/test_qualys_parser.py
  unittests/tools/test_semgrep_parser.py
  unittests/tools/test_sslyze_parser.py
  unittests/tools/test_trivy_parser.py
  unittests/tools/test_trufflehog3_parser.py
Labels: apiv2, unittests, integration_tests, ui, parser

#10468 fix(helm-celery): Drop unused variable logLevel
  helm/defectdojo/values.yaml
Labels: helm

#10372 extend AWS prowler v3 parser
  docs/content/en/integrations/parsers/file/aws_prowler_v3.md
  docs/content/en/integrations/parsers/file/aws_prowler_v3plus.md
  dojo/tools/aws_prowler_v3plus/__init__.py
  dojo/tools/aws_prowler_v3plus/parser.py
  dojo/tools/aws_prowler_v3plus/prowler_v3.py
  dojo/tools/aws_prowler_v3plus/prowler_v4.py
  unittests/scans/aws_prowler_v3plus/many_vuln.json
  unittests/scans/aws_prowler_v3plus/many_vuln.ocsf.json
  unittests/scans/aws_prowler_v3plus/no_vuln.json
  unittests/scans/aws_prowler_v3plus/no_vuln.ocsf.json
  unittests/scans/aws_prowler_v3plus/one_vuln.json
  unittests/scans/aws_prowler_v3plus/one_vuln.ocsf.json
  unittests/tools/test_aws_prowler_v3_parser.py
  unittests/tools/test_aws_prowler_v3plus_parser.py
Labels: docs, unittests, parser

#10371 Mark Finding properties related_fields, jira_creation and jira_change as nullable
  dojo/api_v2/serializers.py
Labels: apiv2

#10507 fix(helm-psql): Drop pinning of old version of postgresql
  helm/defectdojo/values.yaml
Labels: helm

#10509 fix(doc): Disable markup.highlight.guessSyntax + enable mermaid
  docs/config.dev.toml
  docs/config.master.toml
  docs/content/en/integrations/ldap-authentication.md
  docs/content/en/integrations/parsers/file/fortify.md
  docs/content/en/integrations/parsers/file/veracode.md
  docs/content/en/integrations/social-authentication.md
  docs/content/en/usage/productgrading.md
Labels: docs

#10503 Rest Framework Tests: Improve speed and repeatability
  docker-compose.override.unit_tests_cicd.yml
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  dojo/api_v2/views.py
  dojo/cred/queries.py
  dojo/endpoint/queries.py
  dojo/engagement/queries.py
  dojo/finding/queries.py
  dojo/group/queries.py
  dojo/jira_link/queries.py
  dojo/product/queries.py
  dojo/product_type/queries.py
  dojo/risk_acceptance/queries.py
  dojo/test/queries.py
  dojo/tool_product/queries.py
  dojo/urls.py
  unittests/dojo_test_case.py
  unittests/test_apiv2_notifications.py
  unittests/test_apiv2_scan_import_options.py
  unittests/test_import_reimport.py
  unittests/test_importers_importer.py
  unittests/test_jira_config_engagement.py
  unittests/test_rest_framework.py
  unittests/tools/test_deepfence_threatmapper_parser.py
Labels: docker, performance, apiv2, unittests

#10524 fix(doc): Breaking Change for HELM deployments with PostgreSQL
  docs/content/en/getting_started/upgrading/2.36.md
Labels: docs

#10543 API: Convert `get_filterset` calls to `get_queryset`
  dojo/api_v2/views.py
Labels: apiv2

#10533 fix(api-notif): Fix order of validators
  dojo/api_v2/serializers.py
  unittests/test_apiv2_notifications.py
Labels: apiv2, unittests

#10491 fix(deps): build psycopg3 instead of using pre-build binary
  Dockerfile.django-alpine
  Dockerfile.nginx-alpine
  requirements.txt
Labels: docker

#10550 Import: leverage the minimum severity flag
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  unittests/dojo_test_case.py
  unittests/test_import_reimport.py
Labels: unittests

#10555 Endpoint get or create: Do not raise warning when there is an existing endpoint
  dojo/endpoint/utils.py
Labels: bugfix

#10534 :bug: fix typo in settings.disty.py, #10529
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
Labels: settings_changes

#10505 fix: Dockerfile warnings
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

#10117 Deprecate Python-jose and migrate okta to python_social_auth
  dojo/okta.py
  dojo/settings/.settings.dist.py.sha256sum
  dojo/settings/settings.dist.py
  requirements.txt
Labels: settings_changes

#10563 Some Reporting Updates
  docs/content/en/usage/features.md
  dojo/forms.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/static/dojo/css/dojo.css
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report.html
  dojo/templates/dojo/custom_asciidoc_report_cover_page.html
  dojo/templates/dojo/custom_asciidoc_report_endpoints.html
  dojo/templates/dojo/custom_asciidoc_report_findings.html
  dojo/templates/dojo/custom_asciidoc_report_wysiwyg_content.html
  dojo/templates/dojo/custom_asciidoc_toc.html
  dojo/templates/dojo/custom_html_report.html
  dojo/templates/dojo/custom_html_report_cover_page.html
  dojo/templates/dojo/custom_html_report_endpoint_list.html
  dojo/templates/dojo/custom_html_report_finding_list.html
  dojo/templates/dojo/custom_html_report_wysiwyg_content.html
  dojo/templates/dojo/custom_html_toc.html
  dojo/templates/dojo/report_builder.html
  dojo/templates/report_base.html
  dojo/templatetags/display_tags.py
  tests/report_builder_test.py
Labels: docs, integration_tests, ui

#10562 Test Types: Return support for disabling test types via the `active` flag
  dojo/tools/factory.py
Labels: parser

#10564 Delete Preview: Expand on missed objects
  dojo/endpoint/views.py
  dojo/finding_group/views.py
  dojo/github_issue_link/views.py
  dojo/group/views.py
  dojo/jira_link/views.py
  dojo/product/views.py
  dojo/survey/views.py
  dojo/templates/dojo/delete_alerts.html
  dojo/user/views.py
Labels: ui

#10582 /import helptext correction: endpoint_to_add
  dojo/api_v2/serializers.py
Labels: apiv2

#10581 Close Findings: Push notes if `push notes` is enabled
  dojo/finding/views.py
Labels: bugfix, jira

#10583 Option Compression: add some polish
  dojo/importers/options.py
Labels: bugfix

#10594 Aqua: Improve exception handling for reports without vulnerabilities :bug:
  dojo/tools/aqua/parser.py
  unittests/scans/aqua/issue_10585.json
  unittests/tools/test_aqua_parser.py
Labels: unittests, parser

#10615 remove outdated skip_duplicates API reference from docs
  docs/content/en/usage/features.md
Labels: docs

#10606 Finding Open/Close/Review: Enforce more status standardization
  dojo/finding/views.py
  dojo/forms.py
Labels: bugfix

#10623 Option Compression: Accommodate unsaved objects a bit better
  dojo/importers/options.py
Labels: bugfix

#10454 feat(initContainer): Tune start-up process
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: helm

#10617 Listing Tables: Add toggle switch in system settings
  dojo/components/views.py
  dojo/db_migrations/0213_system_settings_enable_ui_table_based_searching.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/models.py
  dojo/product/views.py
  dojo/templates/dojo/components.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_components.html
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/templates/dojo/view_test.html
  dojo/test/views.py
Labels: New Migration, ui

#10091 Ruff: add and fix T20
  docker/install_chrome_dependencies.py
  dojo/api_v2/prefetch/schema.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/apps.py
  dojo/celery.py
  dojo/decorators.py
  dojo/importers/options.py
  dojo/jira_link/helper.py
  dojo/management/commands/dupecheck.py
  dojo/management/commands/jira_async_updates.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/management/commands/migrate_surveys.py
  dojo/management/commands/print_settings.py
  dojo/management/commands/push_to_jira_update.py
  dojo/management/commands/test_celery_decorator.py
  dojo/product/views.py
  dojo/utils.py
  dojo/views.py
  dojo/wsgi.py
  ruff.toml
  tests/Import_scanner_test.py
  tests/base_test_class.py
  tests/close_old_findings_dedupe_test.py
  tests/dedupe_test.py
  tests/file_test.py
  tests/finding_test.py
  tests/notes_test.py
  tests/product_member_test.py
  tests/product_type_member_test.py
  tests/product_type_test.py
  tests/report_builder_test.py
  tests/zap.py
  unittests/dojo_test_case.py
  unittests/test_deduplication_logic.py
  unittests/test_endpoint_model.py
  unittests/test_import_reimport.py
  unittests/test_jira_config_engagement.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/test_notifications.py
  unittests/test_search_parser.py
  unittests/tools/test_checkmarx_one_parser.py
  unittests/tools/test_dependency_check_parser.py
  unittests/tools/test_jfrog_xray_api_summary_artifact_parser.py
Labels: docker, apiv2, unittests, integration_tests

#10637 Update Qualys WebApp parser to use DefusedXML
  dojo/tools/qualys_webapp/parser.py
Labels: bugfix, parser

#10638 Uploaded File Management: Centralize file serving and bolster error handling
  dojo/api_v2/views.py
  dojo/engagement/views.py
  dojo/utils.py
  dojo/views.py
Labels: bugfix, apiv2

#10639 Engagement: Add missing permission check to view an Engagement
  dojo/engagement/views.py
Labels: bugfix

#10636 Finding notes cascading deletes
  dojo/apps.py
  dojo/benchmark/signals.py
  dojo/cred/signals.py
  dojo/engagement/signals.py
  dojo/finding/helper.py
  dojo/notes/helper.py
  dojo/notes/signals.py
  dojo/risk_acceptance/helper.py
  dojo/risk_acceptance/signals.py
  dojo/test/signals.py
  dojo/tool_product/signals.py
Labels: bugfix

#10641 Refresh Helm Chart Lock File: The removal
  .github/workflows/refresh_helm_lock_file.yaml
Labels: bugfix

#10644 creds-notes-fixes Some updates to creds/cred-related notes
  dojo/cred/views.py
  dojo/notes/views.py
  dojo/templates/dojo/view_cred_details.html
Labels: ui

#10645 Importer: Correct logic bug for empty scan reports
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
Labels: bugfix

#10646 Report ToC: Expand on whitespace escaping
  dojo/templates/dojo/custom_html_toc.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/test_pdf_report.html
Labels: bugfix, ui

#9840 remove defusedxml in favor of lxml
  docs/content/en/contributing/how-to-write-a-parser.md
Labels: docs
