Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-07, with the labels that each got.

#12724 :tada: Add JVNDB vulnid
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui

#12716 unittests: import query/task count capture
  docker/entrypoint-unit-tests-devDocker.sh
  dojo/decorators.py
  unittests/dojo_test_case.py
  unittests/scans/stackhawk/stackhawk_many_vul_without_duplicated_findings.json
  unittests/scans/stackhawk/stackhawk_many_vul_without_duplicated_findings_subset.json
  unittests/test_importers_performance.py
Labels: docker, unittests

#12772 twistlock: parse compliances
  dojo/tools/twistlock/parser.py
  unittests/scans/twistlock/findings_include_packages.json
  unittests/scans/twistlock/no_vuln.json
  unittests/scans/twistlock/one_vuln.json
  unittests/tools/test_twistlock_parser.py
Labels: unittests, parser

#12751 Add CVSS4 support
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
  dojo/db_migrations/0234_finding_cvssv4_finding_cvssv4_score.py
  dojo/forms.py
  dojo/models.py
  dojo/templates/dojo/view_finding.html
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  dojo/tools/aqua/parser.py
  dojo/tools/auditjs/parser.py
  dojo/tools/jfrog_xray_unified/parser.py
  dojo/tools/npm_audit_7_plus/parser.py
  dojo/tools/ptart/assessment_parser.py
  dojo/tools/ptart/ptart_parser_tools.py
  dojo/tools/ptart/retest_parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/sonatype/parser.py
  dojo/tools/trivy/parser.py
  dojo/utils.py
  dojo/validators.py
  run-unittest.sh
  tests/false_positive_history_test.py
  tests/finding_test.py
  tests/product_test.py
  tests/test_test.py
  unittests/test_metrics_queries.py
  unittests/test_rest_framework.py
  unittests/tools/test_auditjs_parser.py
  unittests/tools/test_ptart_parser.py
Labels: New Migration, docs, unittests, integration_tests, ui, parser

#12785 Make KEV data visible on findings listing
  dojo/filters.py
  dojo/templates/dojo/findings_list_snippet.html
Labels: ui

#12792 pytz removal
  dojo/db_migrations/0235_alter_system_settings_time_zone_zoneinfo.py
  dojo/filters.py
  dojo/management/commands/csv_findings_export.py
  dojo/management/commands/dedupe.py
  dojo/management/commands/import_surveys.py
  dojo/management/commands/push_to_jira_update.py
  dojo/management/commands/rename_mend_findings.py
  dojo/management/commands/stamp_finding_last_reviewed.py
  dojo/models.py
  requirements.txt
  unittests/test_metrics_queries.py
  unittests/tools/test_qualys_infrascan_webgui_parser.py
Labels: New Migration, unittests

#12793 :tada: Add a 'fix_available' field to the findings #12633
  dojo/db_migrations/0235_finding_fix_available.py
  dojo/filters.py
  dojo/models.py
Labels: New Migration

#12780 ms_defender: skip empty files from zip
  dojo/tools/ms_defender/parser.py
Labels: parser

#12803 :bug: rebase dev branch db_migrations
  dojo/db_migrations/0236_finding_fix_available.py
Labels: New Migration

#12825 Anchore grype EPSS fix
  dojo/templatetags/display_tags.py
  dojo/tools/anchore_grype/parser.py
  unittests/scans/anchore_grype/anchore_grype_epss_problem.json
  unittests/tools/test_anchore_grype_parser.py
Labels: unittests, ui, parser

#12828 Dependency Check: Support CVSS v3
  dojo/tools/dependency_check/parser.py
  unittests/tools/test_dependency_check_parser.py
Labels: unittests, parser

#12826 Trivy: Use CVSS scores from other vendors where applicable
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/cvss_severity_source.json
  unittests/scans/trivy/issue_9092.json
  unittests/tools/test_trivy_parser.py
Labels: unittests, parser

#12827 product api: optimize list of finding ids
  dojo/api_v2/serializers.py
  dojo/models.py
Labels: apiv2

#12837 Reimport: Restore default for `close_old_findings` to `True`
  dojo/api_v2/serializers.py
Labels: apiv2

#12788 reuse Sarif base parser for snyk and mayhem parsers
  docs/content/en/connecting_your_tools/parsers/file/snyk_code.md
  dojo/tools/mayhem/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/snyk/parser.py
  dojo/tools/snyk_code/parser.py
  unittests/tools/test_snyk_code_parser.py
Labels: docs, unittests, parser

#12818 :tada: Add NCSC vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12817 :bug: Fix db_migration fix_available field to allow None
  dojo/db_migrations/0238_finding_fix_available.py
  dojo/models.py
Labels: New Migration

#12858 jira: add endpoint status to description
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_create_edit_update_finding.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_creation.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_create_edit_update_finding.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_import_with_push_to_jira_not_verified_enforced_verified_globally_false_enforced_verified_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_import_with_push_to_jira_not_verified_enforced_verified_globally_false_enforced_verified_jira_true.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_import_with_push_to_jira_not_verified_enforced_verified_globally_true_enforced_verified_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_import_with_push_to_jira_not_verified_enforced_verified_globally_true_enforced_verified_jira_true.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_add_comments_then_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_grouped_reopen_expired_sla.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_push_to_jira_minimum_critical.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_push_to_jira_minimum_high.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_twice_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_with_push_to_jira_is_false_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_tags.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_epic_as_issue_type.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_false_enforced_verified_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_false_enforced_verified_jira_true.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_true_enforced_verified_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_true_enforced_verified_jira_true.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_update_tags.yaml
Labels: unittests, ui

#12861 perf1: test cases: fix caching of system settings
  dojo/middleware.py
  run-unittest.sh
  unittests/dojo_test_case.py
  unittests/test_importers_performance.py
  unittests/test_tags.py
Labels: unittests

#12873 sysdig: fix severity mapping
  dojo/tools/sysdig_cli/parser.py
  dojo/tools/sysdig_common/sysdig_data.py
  dojo/tools/sysdig_reports/parser.py
  unittests/scans/sysdig_cli/sysdig_reports_many_vul.csv
  unittests/scans/sysdig_cli/sysdig_reports_many_vul.json
  unittests/scans/sysdig_reports/sysdig-2025.csv
  unittests/scans/sysdig_reports/sysdig-2025.json
  unittests/tools/test_sysdig_cli_parser.py
  unittests/tools/test_sysdig_reports_parser.py
Labels: unittests, parser

#12874 anchore_grype docs: add info about --by-cve
  docs/content/en/connecting_your_tools/parsers/file/anchore_grype.md
Labels: docs

#12862 perf2: skip post processing if not needed
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/models.py
  unittests/test_importers_performance.py
Labels: unittests
