Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-06, with the labels that each got.

#12528 Dojo Meta: Migrate to `filterset_class` + Add case Insensitive filters
  dojo/api_v2/views.py
  dojo/filters.py
Labels: apiv2

#12471 Pro Feature - Deduplication tuning documentation update
  docs/assets/images/cross_tool_deduplication.png
  docs/assets/images/deduplication_tuning.png
  docs/assets/images/deduplication_tuning_menu.png
  docs/assets/images/reimport_deduplication.png
  docs/assets/images/same_tool_deduplication.png
  docs/content/en/about_defectdojo/pro_features.md
  docs/content/en/working_with_findings/finding_deduplication/tune_deduplication.md
Labels: docs

#12551 Changelog + Minor Docs Maintenance
  docs/assets/images/pro_request_review.png
  docs/assets/images/pro_soc_filter.png
  docs/assets/images/pro_test_types.png
  docs/assets/images/pro_upload_file.png
  docs/content/en/changelog/changelog.md
  docs/content/en/open_source/contributing/branching-model.md
  docs/content/en/open_source/exporting.md
  docs/content/en/open_source/installation/architecture.md
  docs/content/en/open_source/languages.md
  docs/content/en/open_source/ldap-authentication.md
  docs/content/en/open_source/rate_limiting.md
Labels: docs

#12560 SAML Login: Respect `next` parameter
  dojo/templates/base.html
  dojo/templates/dojo/login.html
Labels: ui

#12564 :tada: Add Go vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12590 :lipstick: pretty print cargo audit test file
  unittests/scans/cargo_audit/no_findings.json
Labels: unittests

#12589 :tada: Add EUVD vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12558 :tada: Implement Cycognito parser
  docs/content/en/connecting_your_tools/parsers/file/cycognito.md
  dojo/settings/settings.dist.py
  dojo/tools/cycognito/__init__.py
  dojo/tools/cycognito/parser.py
  unittests/scans/cycognito/many_vuln.json
  unittests/scans/cycognito/no_vuln.json
  unittests/scans/cycognito/one_vuln.json
  unittests/tools/test_cycognito_parser.py
Labels: settings_changes, docs, unittests, parser

#12466 :bug: Nmap parser: Add url info to description #12411
  dojo/tools/nmap/parser.py
  unittests/scans/nmap/issue12411.xml
  unittests/tools/test_nmap_parser.py
Labels: unittests, parser

#12584 feat(docker): Depends_on based on initializer
  docker-compose.yml
Labels: docker

#12609 remove outdated (mysql) test database instructions
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
Labels: docs

#12604 Burp Enterprise renamed to Burp DAST
  docs/content/en/connecting_your_tools/parsers/file/burp.md
  docs/content/en/connecting_your_tools/parsers/file/burp_graphql.md
  docs/content/en/connecting_your_tools/parsers/file/burp_suite_dast.md
  dojo/settings/settings.dist.py
  dojo/tools/burp_graphql/parser.py
  dojo/tools/burp_suite_dast/__init__.py
  dojo/tools/burp_suite_dast/parser.py
  dojo/tools/factory.py
  unittests/scans/burp_suite_dast/many_vulns.html
  unittests/scans/burp_suite_dast/many_vulns_updated_format.html
  unittests/tools/test_burp_suite_dast_parser.py
Labels: settings_changes, docs, unittests, parser

#12607 API: prevent duplicate saves of taggable entities or when pushing to JIRA
  dojo/api_v2/exception_handler.py
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/jira_link/helper.py
  dojo/models.py
  unittests/dojo_test_case.py
  unittests/test_finding_helper.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/test_tags.py
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_create_edit_update_finding.yaml
Labels: apiv2, unittests

#12619 Change CLI tool reference in docs
  docs/content/en/connecting_your_tools/external_tools.md
Labels: docs

#12628 Fix Finding_Text
  dojo/jira_link/helper.py
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
  dojo/templates/issue-trackers/jira_limited/jira-description.tpl
  dojo/templates/issue-trackers/jira_limited/jira-finding-group-description.tpl
Labels: ui

#12579 ReversingLabs SpectraAssure rl-json parser for DefectDojo
  docs/content/en/connecting_your_tools/parsers/file/reversinglabs_spectraassure.md
  dojo/tools/reversinglabs_spectraassure/__init__.py
  dojo/tools/reversinglabs_spectraassure/parser.py
  dojo/tools/reversinglabs_spectraassure/rlJsonInfo/__init__.py
  dojo/tools/reversinglabs_spectraassure/rlJsonInfo/cve_info_node.py
  unittests/scans/reversinglabs_spectraassure/FD13-FullUSB.zip-report.rl.json
  unittests/scans/reversinglabs_spectraassure/HxDSetup_2.5.0.exe-report.rl.json
  unittests/scans/reversinglabs_spectraassure/README.md
  unittests/scans/reversinglabs_spectraassure/putty_win_x64-0.80.exe-report.rl.json
  unittests/tools/test_reversinglabs_spectraassure_parser.py
Labels: docs, unittests, parser

#12640 API: Allow filtering users on last_login/date_joined
  dojo/api_v2/views.py
  dojo/filters.py
  unittests/test_apiv2_user.py
Labels: apiv2, unittests

#12645 :tada: Add Tailscale vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12649 [docs] update pro changelog 2.47.2, remove redundant content
  docs/assets/images/pro_endpoint_metadata.png
  docs/assets/images/pro_finding_icons.png
  docs/assets/images/pro_login.png
  docs/assets/images/pro_vulnerable_endpoints.png
  docs/content/en/changelog/changelog.md
  docs/content/en/customize_dojo/notifications/about_notifications.md
  docs/content/en/open_source/archived_docs/jira.md
  docs/content/en/open_source/archived_docs/notifications.md
  docs/content/en/share_your_findings/troubleshooting_jira.md
Labels: docs

#12647 checkmarx: close files used in unit tests
  unittests/tools/test_checkmarx_cxflow_sast_parser.py
Labels: unittests

#12440 Improve cvssv3 validation
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
  dojo/api_v2/serializers.py
  dojo/db_migrations/0231_alter_finding_cvssv3_alter_finding_template_cvssv3.py
  dojo/forms.py
  dojo/models.py
  dojo/tools/aqua/parser.py
  dojo/tools/jfrog_xray_unified/parser.py
  dojo/tools/npm_audit_7_plus/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/sonatype/parser.py
  dojo/tools/sysdig_cli/parser.py
  dojo/tools/sysdig_reports/parser.py
  dojo/tools/trivy/parser.py
  dojo/utils.py
  dojo/validators.py
  run-unittest.sh
  tests/finding_test.py
  unittests/test_finding_model.py
  unittests/test_rest_framework.py
  unittests/tools/test_generic_parser.py
Labels: New Migration, apiv2, docs, unittests, integration_tests, parser

#12678 add fields for kev-related data to finding model
  dojo/db_migrations/0230_add_finding_kev_fields.py
  dojo/models.py
  unittests/test_metrics_queries.py
Labels: New Migration, unittests

#12669 Feature/asvs 5.0 benchmark
  dojo/fixtures/benchmark_category.json
  dojo/fixtures/benchmark_requirement.json
  dojo/fixtures/benchmark_type.json
  dojo/product/views.py
  dojo/templates/dojo/product.html
Labels: ui

#12686 trivy: map status field
  docs/content/en/connecting_your_tools/parsers/file/trivy.md
  dojo/tools/trivy/parser.py
  unittests/scans/trivy/all_statuses.json
  unittests/tools/test_trivy_parser.py
Labels: docs, unittests, parser

#12701 twistlock json: safely get fields
  dojo/tools/twistlock/parser.py
  unittests/scans/twistlock/one_vuln_no_link_no_description.json
  unittests/tools/test_twistlock_parser.py
Labels: unittests, parser

#12702 Delete tests/local-integration-tests.sh/.bat
  tests/local-integration-tests.bat
  tests/local-integration-tests.sh
Labels: integration_tests

#12603 Optimize queryset annotations & prefetches to cut DB time for test / finding / product views (issue #12575)
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/product/views.py
  dojo/product_type/views.py
  dojo/templates/dojo/engagement.html
  dojo/utils.py
Labels: ui

#12682 Datatables.net package updates
  components/node_modules/.gitkeep
  components/package.json
  components/yarn.lock
  dojo/templates/base.html
  tests/base_test_class.py
  tests/test_test.py
Labels: integration_tests, ui

#12714 dev: hot reloading improvements celery/html/tpl
  Dockerfile.django-alpine
  Dockerfile.django-debian
  docker-compose.override.dev.yml
  docker-compose.override.integration_tests.yml
  docker/entrypoint-celery-worker-dev.sh
  docker/entrypoint-uwsgi-dev.sh
  readme-docs/DOCKER.md
  requirements.txt
Labels: docker, docs

#12726 rebase migrations
  dojo/db_migrations/0233_remove_test_actual_time_remove_test_estimated_time.py
Labels: New Migration
