Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-09, with the labels that each got.

#13070 :tada: Add fix_available information to engagement views
  dojo/engagement/views.py
  dojo/product/views.py
  dojo/templates/dojo/snippets/engagement_list.html
  dojo/templates/dojo/view_eng.html
Labels: ui

#13076 Ruff: Preparation for G004
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/finding/views.py
  dojo/importers/endpoint_manager.py
  dojo/jira_link/helper.py
  dojo/management/commands/import_all_unittest_scans.py
  dojo/management/commands/import_github_languages.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/pipeline.py
  dojo/product/helpers.py
  dojo/search/views.py
  dojo/settings/settings.dist.py
  dojo/sla_config/helpers.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/api_bugcrowd/importer.py
  dojo/tools/api_bugcrowd/parser.py
  dojo/tools/api_sonarqube/updater.py
  dojo/tools/api_sonarqube/updater_from_source.py
  dojo/tools/appcheck_web_application_scanner/parser.py
  dojo/tools/burp/parser.py
  dojo/tools/checkmarx_cxflow_sast/parser.py
  dojo/tools/cyberwatch_galeax/parser.py
  dojo/tools/cyclonedx/helpers.py
  dojo/tools/cyclonedx/json_parser.py
  dojo/tools/cyclonedx/xml_parser.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/factory.py
  dojo/tools/fortify/fpr_parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/twistlock/parser.py
  dojo/tools/wiz/parser.py
  dojo/user/views.py
  dojo/utils.py
  dojo/validators.py
  tests/base_test_class.py
  tests/notes_test.py
  unittests/test_factory.py
Labels: settings_changes, apiv2, unittests, integration_tests, parser

#13082 msteams: Support Power Automate Workflows via Adaptive Card format
  docs/assets/images/Configure_a_Microsoft_Teams_Integration.png
  docs/content/en/customize_dojo/notifications/email_slack_teams.md
  dojo/notifications/helper.py
  dojo/templates/notifications/alert/report_created.tpl
  dojo/templates/notifications/alert/scan_added_empty.tpl
  dojo/templates/notifications/mail/report_created.tpl
  dojo/templates/notifications/mail/scan_added_empty.tpl
  dojo/templates/notifications/msteams/engagement_added.tpl
  dojo/templates/notifications/msteams/engagement_closed.tpl
  dojo/templates/notifications/msteams/other.tpl
  dojo/templates/notifications/msteams/product_added.tpl
  dojo/templates/notifications/msteams/product_type_added.tpl
  dojo/templates/notifications/msteams/report_created.tpl
  dojo/templates/notifications/msteams/review_requested.tpl
  dojo/templates/notifications/msteams/risk_acceptance_expiration.tpl
  dojo/templates/notifications/msteams/scan_added.tpl
  dojo/templates/notifications/msteams/scan_added_empty.tpl
  dojo/templates/notifications/msteams/sla_breach.tpl
  dojo/templates/notifications/msteams/test_added.tpl
  dojo/templates/notifications/msteams/upcoming_engagement.tpl
  dojo/templates/notifications/msteams/user_mentioned.tpl
  dojo/templates/notifications/slack/scan_added_empty.tpl
Labels: docs, ui

#13097 Ruff: Add PLW0603
  ruff.toml
  tests/base_test_class.py
Labels: integration_tests, lint

#13109 :tada: Add number of fix_available information to test view
  dojo/templates/dojo/view_test.html
  dojo/test/views.py
Labels: ui

#13106 :tada: Add fix_available information to aqua parser #12633
  dojo/tools/aqua/parser.py
  unittests/tools/test_aqua_parser.py
Labels: unittests, parser

#12900 Import performance: reduce number of `finding.save()` calls
  dojo/decorators.py
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  unittests/test_import_reimport.py
  unittests/test_importers_performance.py
Labels: unittests

#13080 uwsgi: default to 4 processes x 4 threads
  Dockerfile.django-alpine
  Dockerfile.django-debian
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docs/content/en/open_source/installation/running-in-production.md
  docs/content/en/open_source/performance.md
  helm/defectdojo/templates/configmap.yaml
Labels: docker, docs, helm

#13120 Update the Qualys Hacker Guardian parser to be compatible with larger CSV files
  dojo/tools/qualys_hacker_guardian/parser.py
Labels: parser

#13121 Update changelog 2.50
  docs/content/en/changelog/changelog.md
Labels: docs

#12848 semgrep pro parser
  docs/content/en/connecting_your_tools/parsers/file/semgrep_pro.md
  dojo/tools/semgrep_pro/__init__.py
  dojo/tools/semgrep_pro/parser.py
  unittests/scans/semgrep_pro/no_vuln.json
  unittests/scans/semgrep_pro/one_vuln.json
  unittests/tools/test_semgrep_pro_parser.py
Labels: docs, unittests, parser

#12739 :bug: Implement Wazuh v4.8
  dojo/tools/wazuh/parser.py
  dojo/tools/wazuh/v4_7.py
  dojo/tools/wazuh/v4_8.py
  unittests/scans/wazuh/v4-7_many_findings.json
  unittests/scans/wazuh/v4-7_no_findings.json
  unittests/scans/wazuh/v4-7_one_finding.json
  unittests/scans/wazuh/v4-7_one_finding_with_endpoint.json
  unittests/scans/wazuh/v4-8_many_findings.json
  unittests/tools/test_wazuh_parser.py
Labels: unittests, parser

#13105 :tada: Add fix_available information to jfrog xray unified parser #12633
  dojo/tools/jfrog_xray_unified/parser.py
  unittests/tools/test_jfrog_xray_unified_parser.py
Labels: unittests, parser

#12691 feat: improve Helm chart
  .github/workflows/k8s-tests.yml
  docs/content/en/open_source/upgrading/2.51.md
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/sa.yaml
  helm/defectdojo/templates/secret-postgresql.yaml
  helm/defectdojo/templates/secret-redis.yaml
  helm/defectdojo/templates/secret.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
Labels: docs, helm

#13122 ruff fixes
  dojo/tools/semgrep_pro/parser.py
Labels: parser

#13104 Ruff: Add PLW
  dojo/models.py
  ruff.toml
Labels: lint

#13129 :tada: Add OXAS-ADV- vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#13095 docker: remove dev dependencies from release images
  Dockerfile.django-alpine
  Dockerfile.django-debian
  docker-compose.override.dev.yml
  docker-compose.yml
  requirements-dev.txt
  requirements.txt
Labels: docker

#13140 Rename duplicate 'Dashboard' to 'Finding Groups'
  dojo/templates/base.html
Labels: ui

#10473 feat(docker): Use Python 3.12 in docker images
  .github/pull_request_template.md
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  dojo/jira_link/views.py
  dojo/metrics/utils.py
  readme-docs/CONTRIBUTING.md
  requirements.txt
  ruff.toml
Labels: docker, docs, lint

#13157 Ruff: Add PLC1901
  dojo/filters.py
  dojo/finding/views.py
  dojo/pipeline.py
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
  dojo/templatetags/navigation_tags.py
  dojo/tools/acunetix/parse_acunetix_xml.py
  dojo/tools/api_bugcrowd/api_client.py
  dojo/tools/api_vulners/parser.py
  dojo/tools/aws_prowler_v3plus/prowler_v3.py
  dojo/tools/aws_prowler_v3plus/prowler_v4.py
  dojo/tools/blackduck_binary_analysis/parser.py
  dojo/tools/blackduck_component_risk/parser.py
  dojo/tools/bugcrowd/parser.py
  dojo/tools/burp_suite_dast/parser.py
  dojo/tools/contrast/parser.py
  dojo/tools/cyclonedx/helpers.py
  dojo/tools/cyclonedx/xml_parser.py
  dojo/tools/factory.py
  dojo/tools/harbor_vulnerability/parser.py
  dojo/tools/kiuwan/parser.py
  dojo/tools/kubebench/parser.py
  dojo/tools/kubehunter/parser.py
  dojo/tools/meterian/parser.py
  dojo/tools/neuvector/parser.py
  dojo/tools/nexpose/parser.py
  dojo/tools/nuclei/parser.py
  dojo/tools/openvas/csv_parser.py
  dojo/tools/ossindex_devaudit/parser.py
  dojo/tools/osv_scanner/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/reversinglabs_spectraassure/rlJsonInfo/__init__.py
  dojo/tools/reversinglabs_spectraassure/rlJsonInfo/cve_info_node.py
  dojo/tools/sysdig_cli/parser.py
  dojo/tools/sysdig_reports/parser.py
  dojo/tools/tenable/csv_format.py
  dojo/tools/tenable/xml_format.py
  dojo/tools/trivy/parser.py
  dojo/tools/trivy_operator/checks_handler.py
  dojo/tools/trivy_operator/compliance_handler.py
  dojo/tools/trivy_operator/secrets_handler.py
  dojo/tools/trivy_operator/vulnerability_handler.py
  dojo/tools/trustwave/parser.py
  ruff.toml
Labels: settings_changes, ui, parser, lint

#13123 product grade: only update product if grade has changed
  dojo/utils.py
  unittests/test_importers_performance.py
Labels: unittests

#13183 debugtoolbar: fix for requirements-dev.txt
  Dockerfile.nginx-alpine
Labels: docker

#13180 NN vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#13201 :tada: Add fix_available information to blackduck component risk #12633
  dojo/tools/blackduck_component_risk/parser.py
  unittests/tools/test_blackduck_component_risk_parser.py
Labels: unittests, parser

#13209 dockerfiles: drop wheels from layers
  Dockerfile.django-alpine
  Dockerfile.django-debian
Labels: docker

#13211 make close_old_findings tooltip clearer when service is not set
  dojo/api_v2/serializers.py
  dojo/forms.py
Labels: apiv2

#13225 Unit Tests: Ignore deprecation Warning from BlackDuck pypi package
  dojo/tools/api_blackduck/api_client.py
Labels: parser

#13223 :arrow_up: Bump ruff from 0.13.0 to 0.13.1
  dojo/tools/codechecker/parser.py
  dojo/tools/ms_defender/parser.py
  dojo/tools/threagile/parser.py
  requirements-lint.txt
Labels: parser

#13178 Ruff: Add PLC1901 to dojo/models
  dojo/models.py
  ruff.toml
Labels: lint

#13224 feat(helm): Add docs for more variables
  helm/defectdojo/README.md
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/values.schema.json
  helm/defectdojo/values.yaml
Labels: helm

#13214 OpenVAS parser improvments
  docs/content/en/connecting_your_tools/parsers/file/openvas.md
  dojo/settings/settings.dist.py
  dojo/tools/factory.py
  dojo/tools/openvas/parser.py
  dojo/tools/openvas/parser_v1/__init__.py
  dojo/tools/openvas/parser_v1/csv_parser.py
  dojo/tools/openvas/parser_v1/xml_parser.py
  dojo/tools/openvas/parser_v2/__init__.py
  dojo/tools/openvas/parser_v2/common.py
  dojo/tools/openvas/parser_v2/csv_parser.py
  dojo/tools/openvas/parser_v2/xml_parser.py
  unittests/scans/openvas/many_vuln.xml
  unittests/scans/openvas/no_vuln.csv
  unittests/scans/openvas/report_combine_v2.csv
  unittests/scans/openvas/report_detail_v2.csv
  unittests/scans/openvas/report_detail_v2.xml
  unittests/tools/test_openvas_parser.py
Labels: settings_changes, docs, unittests, parser

#13256 Added Line Field for SonarQube Scan and SonarQube Scan Detailed Scan Types
  dojo/tools/sonarqube/sonarqube_restapi_json.py
Labels: parser
