Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-03, with the labels that each got.

#11908 :tada: Splunk vulnIDs
  dojo/settings/settings.dist.py
Labels: settings_changes

#11916 Update parser documentation template to include additional detail.
  docs/content/en/open_source/contributing/parser-documentation-template.md
Labels: docs

#11902 :bug: fix broken AWS Endpoints
  docs/content/en/connecting_your_tools/parsers/file/awssecurityhub.md
  docs/content/en/open_source/upgrading/2.44.1.md
  dojo/db_migrations/0223_aws_sechub_update_endpoints.py
  dojo/tools/aws_inspector2/parser.py
  dojo/tools/awssecurityhub/guardduty.py
  dojo/tools/awssecurityhub/inspector.py
  unittests/tools/test_awssecurityhub_parser.py
Labels: New Migration, docs, unittests, parser

#10614 Add generic OIDC login option
  docs/content/en/open_source/archived_docs/integrations/social-authentication.md
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/dojo/login.html
  dojo/user/views.py
Labels: settings_changes, docs, ui

#11915 Async Finding Import: Mark the feature as deprecated
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  dojo/settings/settings.dist.py
Labels: settings_changes

#11921 Docs: add supported report types index / maintenance
  README.md
  docs/assets/scss/common/_custom.scss
  docs/config/_default/menus/menus.en.toml
  docs/content/en/about_defectdojo/about_docs.md
  docs/content/en/about_defectdojo/new_user_checklist.md
  docs/content/en/changelog/changelog.md
  docs/content/en/cloud_management/using-cloud-manager.md
  docs/content/en/connecting_your_tools/connectors/about_connectors.md
  docs/content/en/connecting_your_tools/external_tools.md
  docs/content/en/connecting_your_tools/import_intro.md
  docs/content/en/connecting_your_tools/import_scan_files/api_pipeline_modelling.md
  docs/content/en/connecting_your_tools/import_scan_files/smart_upload.md
  docs/content/en/connecting_your_tools/parsers/_index.md
  docs/content/en/connecting_your_tools/parsers/api/edgescan.md
  docs/content/en/connecting_your_tools/parsers/file/edgescan.md
  docs/content/en/connecting_your_tools/parsers/file/netsparker.md
  docs/content/en/customize_dojo/dashboard_notifications/Introduction_dashboard.md
  docs/content/en/customize_dojo/dashboard_notifications/about_custom_dashboard_tiles.md
  docs/content/en/customize_dojo/notifications/about_notifications.md
  docs/content/en/customize_dojo/user_management/about_perms_and_roles.md
  docs/content/en/customize_dojo/user_management/configure_sso.md
  docs/content/en/customize_dojo/user_management/set_user_permissions.md
  docs/content/en/open_source/archived_docs/importing.md
  docs/content/en/open_source/archived_docs/notifications.md
  docs/content/en/open_source/archived_docs/usage/features.md
  docs/content/en/open_source/contributing/documentation.md
  docs/content/en/open_source/installation/_index.md
  docs/content/en/open_source/installation/running-in-production.md
  docs/content/en/open_source/notification_webhooks/_index.md
  docs/content/en/open_source/notification_webhooks/engagement_added.md
  docs/content/en/open_source/notification_webhooks/how_to.md
  docs/content/en/open_source/notification_webhooks/ping.md
  docs/content/en/open_source/notification_webhooks/product_added.md
  docs/content/en/open_source/notification_webhooks/product_type_added.md
  docs/content/en/open_source/notification_webhooks/scan_added.md
  docs/content/en/open_source/notification_webhooks/test_added.md
  docs/content/en/open_source/upgrading/2.0.md
  docs/content/en/open_source/upgrading/2.2.md
  docs/content/en/open_source/upgrading/2.7.md
  docs/content/en/share_your_findings/jira_integration/connect_to_jira.md
  docs/content/en/working_with_findings/intro_to_findings.md
  docs/layouts/_default/list.html
  docs/layouts/index.html
Labels: docs

#11943 Release notes: 2.44
  docs/content/en/changelog/changelog.md
Labels: docs

#11983 Pro Release notes : 2.44.1
  docs/assets/images/odic.png
  docs/content/en/changelog/changelog.md
  docs/content/en/connecting_your_tools/universal_parser.md
Labels: docs

#11926 :tada: add fortiguard vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11968 docs: source-code-repositories: clarify default scm type
  docs/content/en/open_source/archived_docs/integrations/source-code-repositories.md
Labels: docs

#11952 Ruff: Add and fix B905
  dojo/templatetags/display_tags.py
  ruff.toml
  unittests/tools/test_semgrep_parser.py
Labels: unittests, ui, lint

#11942 docker entrypoints: use bash everywhere
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
Labels: docker

#11955 OpenVAS endpoint and severity improvements
  dojo/tools/openvas/csv_parser.py
  dojo/tools/openvas/xml_parser.py
  unittests/scans/openvas/many_vuln.xml
  unittests/tools/test_openvas_parser.py
Labels: unittests, parser

#11965 arm64: Publish arm64 builds for releases
  .github/workflows/build-docker-images-for-testing.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/release-1-create-pr.yml
  .github/workflows/release-2-tag-docker-push.yml
  .github/workflows/release-3-master-into-dev.yml
  .github/workflows/release-x-manual-docker-containers.yml
  .github/workflows/release-x-manual-merge-container-digests.yml
  .github/workflows/rest-framework-tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile.nginx-alpine
Labels: docker

#11954 Ruff: Add and autofix B033
  dojo/engagement/views.py
  ruff.toml
Labels: lint

#11953 Ruff: Add and autofix B010
  ruff.toml
  unittests/test_apply_finding_template.py
Labels: unittests, lint

#11950 Ruff: Add and autofix B009
  dojo/forms.py
  dojo/notifications/helper.py
  dojo/tools/tenable/xml_format.py
  ruff.toml
Labels: parser, lint

#11956 Ruff: Add and fix B903
  dojo/tools/checkmarx_cxflow_sast/parser.py
  ruff.toml
Labels: parser, lint

#11951 Ruff: Add and autofix B006
  dojo/importers/base_importer.py
  dojo/importers/options.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/tags_signals.py
  ruff.toml
  unittests/dojo_test_case.py
Labels: unittests, lint

#11986 update permissions documentation links to reflect correct paths
  dojo/templates/dojo/profile.html
  dojo/templates/dojo/view_group.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_user.html
Labels: ui

#12001 Lift the Feature Freeze
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  readme-docs/CONTRIBUTING.md
Labels: docs

#12007 upgrade notes: correct dedupe command lines
  docs/content/en/open_source/upgrading/2.42.md
  docs/content/en/open_source/upgrading/2.43.md
  docs/content/en/open_source/upgrading/2.44.md
Labels: docs

#12014 DOCKER.md: use docker compose everywhere
  readme-docs/DOCKER.md
Labels: docs

#12010 fix(helm-metrics): Flag format for promExporter changed
  helm/defectdojo/templates/django-deployment.yaml
Labels: helm

#12004 :tada: add proofpoint vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12002 Ruff: Add TD007 and N803
  dojo/tools/nexpose/parser.py
  dojo/tools/ort/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/wizcli_common_parsers/parsers.py
  ruff.toml
  unittests/dojo_test_case.py
  unittests/test_import_reimport.py
  unittests/tools/test_checkmarx_cxflow_sast_parser.py
  unittests/tools/test_checkmarx_parser.py
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser, lint

#11992 :bug: fix unittest example in docs
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
Labels: docs

#11989 Ruff: Add and autofix PLR2044
  dojo/tools/arachni/parser.py
  ruff.toml
Labels: parser, lint

#12038 Docs: Pin versions and add GHA for testing build failures
  .github/workflows/validate_docs_build.yml
  docs/package-lock.json
  docs/package.json
Labels: docs

#12000 add aqua vulnerabilities format
  docs/content/en/connecting_your_tools/parsers/file/aqua.md
  dojo/tools/aqua/parser.py
  unittests/scans/aqua/over_api_v2.json
  unittests/scans/aqua/over_api_v2_empty.json
  unittests/tools/test_aqua_parser.py
Labels: docs, unittests, parser

#12026 :lipstick: Remove unused burp parser method
  dojo/tools/burp/parser.py
Labels: parser

#12020 :tada: fix parser anchore engine to parse new report format #11552
  docs/content/en/connecting_your_tools/parsers/file/anchore_engine.md
  dojo/tools/anchore_engine/parser.py
  unittests/scans/anchore_engine/new_format_issue_11552.json
  unittests/tools/test_anchore_engine_parser.py
Labels: docs, unittests, parser

#12048 Jira Webhook: Prevent finding group findings from being reopened
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/settings/settings.dist.py
Labels: settings_changes

#12023 add resources to wait-for-db
  helm/defectdojo/templates/initializer-job.yaml
Labels: helm

#12029 Ruff: Add and fix B031, merge B03
  dojo/tools/govulncheck/parser.py
  ruff.toml
Labels: parser, lint

#12041 Add openSUSE vulnerabilities to vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12072 Ruff: Add N817
  dojo/tools/crashtest_security/parser.py
  dojo/tools/hcl_appscan/parser.py
  dojo/tools/hcl_asoc_sast/parser.py
  dojo/tools/nikto/xml_parser.py
  dojo/tools/openvas/xml_parser.py
  dojo/tools/spotbugs/parser.py
  dojo/tools/sslscan/parser.py
  dojo/tools/sslyze/parser_xml.py
  dojo/tools/xanitizer/parser.py
  dojo/tools/zap/parser.py
  ruff.toml
Labels: parser, lint

#12074 Ruff: Add N812
  ruff.toml
  tests/base_test_class.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  tests/finding_test.py
  tests/group_test.py
  tests/notifications_test.py
  tests/product_group_test.py
  tests/product_member_test.py
  tests/product_type_group_test.py
  tests/product_type_member_test.py
  tests/report_builder_test.py
Labels: integration_tests, lint

#12045 :tada: add references to testssl
  dojo/tools/testssl/parser.py
  unittests/scans/testssl/references.csv
  unittests/tools/test_testssl_parser.py
Labels: unittests, parser

#12027 Fortify FPR enhancements 2025
  dojo/tools/fortify/fortify_data.py
  dojo/tools/fortify/fpr_parser.py
  unittests/scans/fortify/hello_world.fpr
  unittests/tools/test_fortify_parser.py
Labels: unittests, parser

#12057 :bug: fix gitlab dast to parse request response pair #12050
  dojo/tools/gitlab_dast/parser.py
  unittests/scans/gitlab_dast/issue_12050.json
  unittests/tools/test_gitlab_dast_parser.py
Labels: unittests, parser

#12073 Ruff: Add N813
  dojo/reports/widgets.py
  dojo/tools/burp/parser.py
  dojo/tools/burp_dastardly/parser.py
  dojo/tools/qualys/parser.py
  ruff.toml
Labels: parser, lint

#12061 sso docs: make environment variables vs local_settings more explicit
  docs/content/en/customize_dojo/user_management/configure_sso.md
Labels: docs

#12025 Ruff: Add PTH123, merge PTH, fix in `/dojo`
  dojo/api_v2/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/jira_link/helper.py
  dojo/management/commands/csv_findings_export.py
  dojo/management/commands/import_surveys.py
  dojo/tools/blackduck/importer.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/utils.py
  ruff.toml
  tests/Import_scanner_test.py
  tests/base_test_class.py
Labels: apiv2, integration_tests, parser, lint

#12075 Ruff: Add PLW0602
  ruff.toml
  tests/base_test_class.py
Labels: integration_tests, lint

#12076 Ruff: Add S321 and S611
  ruff.toml
Labels: lint

#12078 Add archlinux security advisory to vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#12081 Ruff: Add a couple of DTZ rules
  ruff.toml
Labels: lint

#12082 :tada: resolve todo in ort parser
  dojo/tools/ort/parser.py
Labels: parser

#12077 Ruff: Add a lot of Bugbear rules
  ruff.toml
Labels: lint

#12024 Ruff: Add and autofix B028
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  ruff.toml
Labels: lint

#12121 remove exclude_search from Features page
  docs/content/en/open_source/archived_docs/usage/features.md
Labels: docs

#12113 :tada: Add slackware security advisory to vulnid
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui

#12117 :lipstick: beautify multiple file format choices
  dojo/tools/tenable/parser.py
  dojo/tools/veracode/json_parser.py
Labels: parser

#12122 Adding new regulations
  dojo/db_migrations/0224_alter_regulation_category.py
  dojo/fixtures/regulation.json
  dojo/models.py
Labels: New Migration

#12112 Ruff: Fix PTH123 in `unittests` (exclude `unittests/tools`)
  ruff.toml
  unittests/dojo_test_case.py
  unittests/test_apiv2_scan_import_options.py
  unittests/test_endpoint_meta_import.py
  unittests/test_factory.py
  unittests/test_import_reimport.py
  unittests/test_importers_closeold.py
  unittests/test_importers_importer.py
  unittests/test_parsers.py
  unittests/test_rest_framework.py
Labels: unittests, lint
