Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-02, with the labels that each got.

#11261 Ruff: Add and fix FBT002 (+ merge all FBT rules)
  dojo/api_v2/serializers.py
  dojo/components/sql_group_concat.py
  dojo/decorators.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/filters.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/middleware.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/remote_user.py
  dojo/reports/views.py
  dojo/reports/widgets.py
  dojo/risk_acceptance/helper.py
  dojo/search/views.py
  dojo/survey/views.py
  dojo/templatetags/display_tags.py
  dojo/templatetags/event_tags.py
  dojo/templatetags/navigation_tags.py
  dojo/tools/blackduck_component_risk/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/utils.py
  dojo/views.py
  ruff.toml
  tests/base_test_class.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  tests/finding_test.py
  tests/product_test.py
  unittests/dojo_test_case.py
  unittests/test_apiv2_scan_import_options.py
  unittests/test_deduplication_logic.py
  unittests/test_endpoint_meta_import.py
  unittests/test_import_reimport.py
  unittests/test_jira_config_engagement.py
  unittests/test_jira_config_engagement_epic.py
  unittests/test_product_grading.py
  unittests/test_rest_framework.py
  unittests/test_tags.py
  unittests/test_user_validators.py
  unittests/tools/test_asff_parser.py
Labels: apiv2, unittests, integration_tests, ui, parser

#11644 Ruff: Add and fix TRY401
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/finding_group/views.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/tasks.py
  dojo/test/views.py
  dojo/tool_config/views.py
  dojo/tools/api_sonarqube/importer.py
  ruff.toml
Labels: parser

#11651 feat(db-checker): Extension of "db reachable"
  .github/workflows/k8s-tests.yml
  docker/entrypoint-celery-beat.sh
  docker/entrypoint-celery-worker.sh
  docker/entrypoint-initializer.sh
  docker/entrypoint-integration-tests.sh
  docker/entrypoint-nginx.sh
  docker/entrypoint-unit-tests.sh
  docker/entrypoint-uwsgi-dev.sh
  docker/entrypoint-uwsgi.sh
  docker/reach_database.sh
  docker/unit-tests.sh
Labels: docker

#11654 fix(dockerfile): rename django stage in alpine
  Dockerfile.django-alpine
Labels: docker

#11661 Accessibility calendar switch buttons
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/dojo/calendar.html
Labels: ui, localization

#11685 feat(db-migration-checker): Add successful message
  helm/defectdojo/templates/_helpers.tpl
Labels: helm

#11701 api spec: SLA days remaining can be null
  dojo/api_v2/serializers.py
Labels: apiv2

#11702 dashboard: last 7 days should be 7 days
  dojo/home/views.py
  unittests/test_dashboard.py
Labels: unittests

#11642 Ruff: Add and fix PLW0127
  dojo/tools/dsop/parser.py
  dojo/tools/govulncheck/parser.py
  dojo/tools/mend/parser.py
  dojo/tools/npm_audit_7_plus/parser.py
  ruff.toml
Labels: parser

#11645 Ruff: Add and fix A001
  dojo/api_v2/mixins.py
  dojo/api_v2/permissions.py
  dojo/decorators.py
  dojo/filters.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/notes/views.py
  dojo/object/views.py
  dojo/survey/views.py
  dojo/tools/api_bugcrowd/api_client.py
  dojo/tools/api_vulners/parser.py
  dojo/tools/blackduck/importer.py
  dojo/tools/blackduck_component_risk/importer.py
  dojo/tools/blackduck_component_risk/parser.py
  dojo/tools/checkmarx_one/parser.py
  dojo/tools/codechecker/parser.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/detect_secrets/parser.py
  dojo/tools/govulncheck/parser.py
  dojo/tools/harbor_vulnerability/parser.py
  dojo/tools/hcl_asoc_sast/parser.py
  dojo/tools/ort/parser.py
  dojo/tools/rapplex/parser.py
  dojo/tools/trivy/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/yarn_audit/parser.py
  dojo/utils.py
  dojo/widgets.py
  ruff.toml
Labels: apiv2, parser

#11653 Ruff: Add and fix SIM117
  ruff.toml
  unittests/tools/test_anchore_enterprise_parser.py
  unittests/tools/test_auditjs_parser.py
  unittests/tools/test_aws_inspector2_parser.py
  unittests/tools/test_burp_graphql_parser.py
  unittests/tools/test_coverity_api_parser.py
  unittests/tools/test_gitlab_api_fuzzing_parser.py
  unittests/tools/test_govulncheck_parser.py
  unittests/tools/test_intsights_parser.py
  unittests/tools/test_kubehunter_parser.py
  unittests/tools/test_meterian_parser.py
  unittests/tools/test_noseyparker_parser.py
  unittests/tools/test_npm_audit_parser.py
  unittests/tools/test_risk_recon_parser.py
  unittests/tools/test_sysdig_reports_parser.py
  unittests/tools/test_threat_composer_parser.py
  unittests/tools/test_whitehat_sentinel_parser.py
  unittests/tools/test_yarn_audit_parser.py
Labels: unittests

#11668 :tada: add MGASA vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11652 Ruff: Add and fix SIM113
  dojo/finding/helper.py
  dojo/reports/views.py
  dojo/tools/openvas/csv_parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/skf/parser.py
  ruff.toml
Labels: parser

#11655 Ruff: Add and fix D414
  dojo/tools/qualys/csv_parser.py
  dojo/tools/whitehat_sentinel/parser.py
  ruff.toml
Labels: parser

#11670 NodeJS: Correct Debian bullseye reference
  Dockerfile.nginx-debian
Labels: docker

#11677 Adjusted number fields in tables
  dojo/static/dojo/css/dojo.css
  dojo/templates/dojo/components.html
  dojo/templates/dojo/endpoint_pdf_report.html
  dojo/templates/dojo/engagement_pdf_report.html
  dojo/templates/dojo/finding_pdf_report.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_endpoint_pdf_report.html
  dojo/templates/dojo/product_pdf_report.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/product_type_pdf_report.html
  dojo/templates/dojo/pt_counts.html
  dojo/templates/dojo/simple_metrics.html
  dojo/templates/dojo/test_pdf_report.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_test.html
Labels: ui

#11705 Ruff: Add and fix ISC002
  dojo/endpoint/utils.py
  dojo/forms.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/management/commands/stamp_finding_last_reviewed.py
  dojo/reports/widgets.py
  dojo/templatetags/display_tags.py
  dojo/tools/dependency_track/parser.py
  dojo/tools/noseyparker/parser.py
  ruff.toml
Labels: ui, parser

#11673 Support builds for different architectures including arm64
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

#11643 Ruff: Add and fix TRY300
  dojo/api_v2/views.py
  dojo/authorization/roles_permissions.py
  dojo/context_processors.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/templatetags/get_banner.py
  dojo/tools/anchore_enterprise/parser.py
  dojo/tools/anchorectl_policies/parser.py
  dojo/tools/api_sonarqube/importer.py
  dojo/tools/kubescape/parser.py
  dojo/tools/ptart/ptart_parser_tools.py
  dojo/utils.py
  ruff.toml
  tests/base_test_class.py
Labels: apiv2, integration_tests, ui, parser

#11646 Ruff: Add and fix A002
  dojo/api_v2/permissions.py
  dojo/api_v2/views.py
  dojo/benchmark/views.py
  dojo/cred/views.py
  dojo/engagement/views.py
  dojo/jira_link/helper.py
  dojo/management/commands/test_celery_decorator.py
  dojo/notes/views.py
  dojo/reports/views.py
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
  dojo/tools/awssecurityhub/parser.py
  dojo/tools/deepfence_threatmapper/compliance.py
  dojo/tools/deepfence_threatmapper/malware.py
  dojo/tools/deepfence_threatmapper/secret.py
  dojo/tools/deepfence_threatmapper/vulnerability.py
  dojo/tools/generic/csv_parser.py
  dojo/tools/generic/json_parser.py
  dojo/tools/generic/parser.py
  dojo/tools/gitlab_sast/parser.py
  dojo/tools/hcl_appscan/parser.py
  dojo/tools/hcl_asoc_sast/parser.py
  dojo/tools/horusec/parser.py
  dojo/tools/kubeaudit/parser.py
  dojo/tools/kubescape/parser.py
  dojo/tools/ms_defender/parser.py
  dojo/tools/osv_scanner/parser.py
  dojo/tools/parser_test.py
  dojo/tools/ptart/parser.py
  dojo/tools/ptart/ptart_parser_tools.py
  dojo/tools/redhatsatellite/parser.py
  dojo/tools/rusty_hog/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/scout_suite/parser.py
  dojo/tools/wfuzz/parser.py
  dojo/utils.py
  ruff.toml
  tests/announcement_banner_test.py
  tests/base_test_class.py
  tests/notifications_test.py
  unittests/dojo_test_case.py
  unittests/test_deduplication_logic.py
  unittests/test_false_positive_history_logic.py
  unittests/test_rest_framework.py
Labels: settings_changes, apiv2, unittests, integration_tests, ui, parser

#11762 Docs: fix broken links
  docs/content/en/customize_dojo/user_management/configure_sso.md
  docs/content/en/open_source/archived_docs/integrations/social-authentication.md
  docs/content/en/open_source/rate_limiting.md
Labels: docs

#11767 Fixing call to date_parser in AWS Inspector2 parser
  dojo/tools/aws_inspector2/parser.py
  unittests/scans/aws_inspector2/aws_inspector2_many_vul.json
  unittests/tools/test_aws_inspector2_parser.py
Labels: unittests, parser

#11761 corrected link for parser guide
  readme-docs/CONTRIBUTING.md
Labels: docs

#11706 Ruff: Add and fix ISC003 + merge ISC
  dojo/forms.py
  dojo/management/commands/jira_refactor_data_migration.py
  dojo/tools/gitleaks/parser.py
  dojo/tools/sslscan/parser.py
  dojo/tools/sslyze/parser_xml.py
  dojo/tools/trufflehog3/parser.py
  dojo/user/validators.py
  dojo/utils.py
  ruff.toml
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  unittests/tools/test_jfrog_xray_api_summary_artifact_parser.py
  unittests/tools/test_meterian_parser.py
  unittests/tools/test_snyk_parser.py
  unittests/tools/test_stackhawk_parser.py
Labels: unittests, integration_tests, parser

#11726 :bug: fix Noseyparker description
  dojo/tools/noseyparker/parser.py
Labels: parser

#11744 add Typo3 vulnids
  dojo/settings/settings.dist.py
Labels: settings_changes

#11753 add PMASA (php my admin security advisory) to vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11760 DOCKER.md: remove leftover `dc-` references
  readme-docs/DOCKER.md
Labels: docs

#11738 jira push error reasons should not be propagated to all channels
  dojo/finding/views.py
  dojo/jira_link/helper.py
  dojo/notifications/helper.py
  dojo/templates/base.html
Labels: ui

#11711 fix: media-pvc template extraLabels
  helm/defectdojo/templates/media-pvc.yaml
Labels: helm

#11717 Ruff: Add and fix PLR6201
  dojo/api_v2/serializers.py
  dojo/api_v2/views.py
  dojo/benchmark/views.py
  dojo/engagement/signals.py
  dojo/engagement/views.py
  dojo/jira_link/helper.py
  dojo/jira_link/views.py
  dojo/management/commands/jira_status_reconciliation.py
  dojo/models.py
  dojo/notifications/helper.py
  dojo/product/views.py
  dojo/reports/views.py
  dojo/tags_signals.py
  dojo/templatetags/display_tags.py
  dojo/tools/acunetix/parse_acunetix360_json.py
  dojo/tools/api_sonarqube/importer.py
  dojo/tools/api_sonarqube/updater_from_source.py
  dojo/tools/awssecurityhub/guardduty.py
  dojo/tools/burp_api/parser.py
  dojo/tools/checkmarx_one/parser.py
  dojo/tools/codechecker/parser.py
  dojo/tools/dsop/parser.py
  dojo/tools/fortify/xml_parser.py
  dojo/tools/generic/csv_parser.py
  dojo/tools/gitlab_dep_scan/parser.py
  dojo/tools/h1/parser.py
  dojo/tools/huskyci/parser.py
  dojo/tools/ms_defender/parser.py
  dojo/tools/netsparker/parser.py
  dojo/tools/neuvector_compliance/parser.py
  dojo/tools/nexpose/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/semgrep/parser.py
  dojo/tools/sonarqube/parser.py
  dojo/tools/sonarqube/soprasteria_helper.py
  dojo/tools/sonatype/identifier.py
  dojo/tools/sslscan/parser.py
  dojo/tools/tenable/csv_format.py
  dojo/tools/testssl/parser.py
  dojo/tools/trivy_operator/parser.py
  dojo/tools/twistlock/parser.py
  ruff.toml
  unittests/test_parsers.py
  unittests/test_rest_framework.py
Labels: apiv2, unittests, ui, parser, lint

#11750 Ruff: Merge safe rules (A, FIX, PLW01)
  ruff.toml
Labels: lint

#11716 Ruff: Add and fix PLR6104
  dojo/benchmark/views.py
  dojo/filters.py
  dojo/finding/views.py
  dojo/metrics/utils.py
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/survey/views.py
  dojo/templatetags/announcement_banner_tags.py
  dojo/templatetags/get_banner.py
  dojo/tools/api_bugcrowd/api_client.py
  dojo/tools/arachni/parser.py
  dojo/tools/burp/parser.py
  dojo/tools/burp_graphql/parser.py
  dojo/tools/checkmarx/parser.py
  dojo/tools/cyclonedx/json_parser.py
  dojo/tools/cyclonedx/xml_parser.py
  dojo/tools/dependency_check/parser.py
  dojo/tools/dependency_track/parser.py
  dojo/tools/hcl_asoc_sast/parser.py
  dojo/tools/jfrog_xray_on_demand_binary_scan/parser.py
  dojo/tools/jfrog_xray_unified/parser.py
  dojo/tools/jfrogxray/parser.py
  dojo/tools/mobsf/parser.py
  dojo/tools/scout_suite/parser.py
  dojo/tools/sonarqube/soprasteria_helper.py
  dojo/tools/ssl_labs/parser.py
  dojo/tools/trufflehog/parser.py
  dojo/tools/trufflehog3/parser.py
  dojo/utils.py
  ruff.toml
  tests/zap.py
  unittests/test_finding_helper.py
  unittests/test_import_reimport.py
  unittests/tools/test_aqua_parser.py
Labels: settings_changes, unittests, integration_tests, ui, parser, lint

#11714 Ruff: Add PLR5 and fix PLR5501
  dojo/api_v2/exception_handler.py
  dojo/endpoint/utils.py
  dojo/endpoint/views.py
  dojo/engagement/views.py
  dojo/finding/helper.py
  dojo/finding/views.py
  dojo/forms.py
  dojo/jira_link/helper.py
  dojo/models.py
  dojo/notes/views.py
  dojo/notifications/helper.py
  dojo/tools/anchore_engine/parser.py
  dojo/tools/anchorectl_vulns/parser.py
  dojo/tools/appcheck_web_application_scanner/engines/base.py
  dojo/tools/jfrogxray/parser.py
  dojo/tools/meterian/parser.py
  dojo/tools/nexpose/parser.py
  dojo/tools/npm_audit_7_plus/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/qualys_webapp/parser.py
  dojo/tools/trustwave_fusion_api/parser.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/veracode/xml_parser.py
  dojo/utils.py
  dojo/views.py
  ruff.toml
Labels: apiv2, parser, lint

#11712 Ruff: Add PLR02 and fix PLR0202
  dojo/forms.py
  ruff.toml
Labels: lint

#11739 Duplicate Delete errors: catch IntegrityErrors (A)
  dojo/api_v2/serializers.py
  dojo/importers/base_importer.py
Labels: apiv2

#11729 Importer Close Old Findings: Accommodate different dedupe algorithms
  dojo/importers/base_importer.py
  dojo/importers/default_importer.py
  dojo/importers/default_reimporter.py
  unittests/scans/semgrep/close_old_findings_report_line31.json
  unittests/scans/semgrep/close_old_findings_report_second_run_line24.json
  unittests/scans/semgrep/close_old_findings_report_third_run_different_unique_id.json
  unittests/test_importers_closeold.py
Labels: unittests

#11769 Fix aria-label in search box
  dojo/templates/base.html
Labels: ui

#11768 Ruff: Fix for bump to 0.9.6 #11759
  dojo/api_v2/exception_handler.py
  dojo/jira_link/helper.py
  dojo/product/views.py
  requirements-lint.txt
Labels: apiv2

#11772 Return Feedback about wrong File Format in ZAP
  dojo/tools/zap/parser.py
Labels: parser

#11774 Ruff: Add PLC28 and "fix" PLC28
  dojo/endpoint/views.py
  dojo/tools/jfrog_xray_api_summary_artifact/parser.py
  ruff.toml
Labels: parser, lint

#11773 Ruff: Add and fix PLW0604
  ruff.toml
  unittests/test_rest_framework.py
Labels: unittests, lint

#11819 Added labels for checkbox column headers
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/findings_list_snippet.html
Labels: ui

#11812 Allow tab to "Show Password" within Login Page
  dojo/static/dojo/css/dojo.css
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/login.html
Labels: ui

#11770 fix(sessions): Clean old expired sessions
  dojo/db_migrations/0222_clean_old_sessions.py
  dojo/settings/settings.dist.py
  dojo/tasks.py
Labels: New Migration, settings_changes

#11743 API Tags: Add filter for `AND` expressions
  dojo/filters.py
  unittests/dojo_test_case.py
  unittests/test_tags.py
Labels: unittests

#11857 Release Notes: 2.43.3
  docs/content/en/changelog/changelog.md
Labels: docs

#11785 fix(docker): Some versions stayed behind
  Dockerfile.django-alpine
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
  docker-compose.yml
Labels: docker

#11858 Add MGAA advisories to vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11865 Ruff: Fix for Bump ruff to 0.9.7
  dojo/api_v2/prefetch/schema.py
  requirements-lint.txt
Labels: apiv2

#11874 Async Deprecation Notice + additional docs changes
  docs/config/_default/menus/menus.en.toml
  docs/content/en/about_defectdojo/contact_defectdojo_support.md
  docs/content/en/changelog/changelog.md
  docs/content/en/open_source/installation/running-in-production.md
Labels: docs

#11831 jira issue type migration quickfix
  docker-compose.override.unit_tests.yml
  docker-compose.override.unit_tests_cicd.yml
  dojo/db_migrations/0027_jira_issue_type_settings.py
  dojo/db_migrations/0182_alter_jira_instance_default_issue_type.py
Labels: docker, New Migration

#11832 Add Palo Alto Networks Security Advisories to vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11840 fix(ui): Increase readability in "Members" list
  dojo/templates/dojo/view_product_details.html
Labels: ui

#11844 :beetle: Parse empty machines in Defender
  docs/content/en/connecting_your_tools/parsers/file/ms_defender.md
  dojo/tools/ms_defender/parser.py
  unittests/scans/ms_defender/empty_machines.zip
  unittests/tools/test_ms_defender_parser.py
Labels: docs, unittests, parser

#11809 fix / cleanup paths in integration tests
  docker/entrypoint-integration-tests.sh
  docs/content/en/open_source/upgrading/2.44.md
  dojo/engagement/views.py
  tests/Import_scanner_test.py
  tests/close_old_findings_dedupe_test.py
  tests/close_old_findings_test.py
  tests/dedupe_test.py
  tests/report_builder_test.py
Labels: docker, docs, integration_tests

#11880 docs: Updating Trustwave parser documentation with detailed field mappings
  docs/content/en/connecting_your_tools/parsers/file/trustwave.md
Labels: docs

#11878 markdown docs: fix dead links
  README.md
  readme-docs/CONTRIBUTING.md
  readme-docs/DOCKER.md
  readme-docs/RELEASING.md
Labels: docs

#11882 :tada: add atlassian vulnids
  dojo/settings/settings.dist.py
Labels: settings_changes

#11890 :tada: implement vulnid logic for suse
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui

#11898 ms_defender: Improve reliability and error handling
  dojo/tools/ms_defender/parser.py
  unittests/scans/ms_defender/defender_error_handling.zip
  unittests/tools/test_ms_defender_parser.py
Labels: unittests, parser

#11860 feat(helm): Add secret annotations
  helm/defectdojo/templates/extra-secret.yaml
  helm/defectdojo/templates/secret-postgresql-ha-pgpool.yaml
  helm/defectdojo/templates/secret-postgresql-ha.yaml
  helm/defectdojo/templates/secret-postgresql.yaml
  helm/defectdojo/templates/secret-redis.yaml
  helm/defectdojo/templates/secret.yaml
  helm/defectdojo/values.yaml
Labels: helm

#11859 fix(helm): add spec.strategy in deployment django
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/values.yaml
Labels: helm

#11900 Update 12 parsers to have better metadata
  dojo/tools/aqua/parser.py
  dojo/tools/bandit/parser.py
  dojo/tools/brakeman/parser.py
  dojo/tools/burp/parser.py
  dojo/tools/cargo_audit/parser.py
  dojo/tools/checkmarx/parser.py
  dojo/tools/gitleaks/parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/semgrep/parser.py
  dojo/tools/snyk/parser.py
  dojo/tools/zap/parser.py
Labels: parser

#11801 Added accessibility for charts
  dojo/static/dojo/js/metrics.js
  dojo/templates/dojo/dashboard-metrics.html
  dojo/templates/dojo/dashboard.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/view_product_details.html
Labels: ui
