Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-05, with the labels that each got.

#12355 Urllib3 upgrade + Rerecord JIra responses
  requirements.txt
  unittests/vcr/jira/JIRAConfigEngagementEpicTest.test_add_engagement_with_jira_project_and_epic_mapping.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_create_edit_update_finding.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_creation.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_disabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_no_epic_and_push_findings.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_groups_create_edit_update_finding.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_add_comments_then_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_grouped_reopen_expired_sla.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_no_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_twice_push_to_jira_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_no_push_to_jira_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_push_to_jira_is_false_but_push_all_issues.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_no_push_to_jira_reimport_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_twice_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_groups_with_push_to_jira_is_false_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_comment.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_add_tags.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_epic_as_issue_type.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_is_false_but_push_all.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_false_enforced_verified_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_false_enforced_verified_jira_true.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_true_enforced_verified_jira_false.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_not_verified_enforced_verified_globally_true_enforced_verified_jira_true.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_with_push_to_jira_update_tags.yaml
Labels: unittests

#12343 view_endpoint: fix error
  dojo/templatetags/display_tags.py
  tests/endpoint_test.py
Labels: integration_tests, ui

#12302 Add input validation (branch to release num) for the release gha
  .github/workflows/release-1-create-pr.yml
Labels: github_actions

#12051 Focus Indicator Disappears While Tabbing - DefectDojo Accessibility issue (Serious)
  dojo/static/dojo/css/dojo.css
Labels: ui

#12356 [docs] sso maintenance
  docs/content/en/customize_dojo/user_management/configure_sso.md
Labels: docs

#12225 Session timeout notification 2
  dojo/context_processors.py
  dojo/settings/settings.dist.py
  dojo/templates/base.html
Labels: settings_changes, ui

#12368 ui: fix "retrieve my username" typo
  dojo/locale/en/LC_MESSAGES/django.po
  dojo/templates/login/forgot_username.html
Labels: ui, localization

#12373 Minor Semgrep connector docs tweaks
  docs/content/en/connecting_your_tools/connectors/connectors_tool_reference.md
Labels: docs

#12380 Ruff: Add PLR1730 and PLR2044
  ruff.toml
Labels: lint

#12410 Update Docs For Asynchronous Import Feature Removal
  docs/content/en/open_source/performance.md
Labels: docs

#12407 Update Burp Enterprise HTML Parser Documentation
  docs/content/en/connecting_your_tools/parsers/file/burp_enterprise.md
Labels: docs

#12319 feat(helm): Drop support for postgresql-ha
  .github/workflows/k8s-tests.yml
  docs/content/en/open_source/upgrading/2.46.md
  docs/content/en/open_source/upgrading/2.47.md
  helm/defectdojo/Chart.lock
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/secret-postgresql-ha-pgpool.yaml
  helm/defectdojo/templates/secret-postgresql-ha.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
  readme-docs/KUBERNETES.md
Labels: docs, helm

#12406 Managed Files: Sanitized file name before downloading
  dojo/utils.py
  unittests/test_rest_framework.py
Labels: unittests

#12371 Ruff: Add and autofix PERF403
  dojo/tools/openvas/csv_parser.py
  ruff.toml
Labels: parser, lint

#12416 [docs] Pro dashboards and metrics
  docs/assets/images/pro_dashboards_1.png
  docs/assets/images/pro_dashboards_2.png
  docs/assets/images/pro_dashboards_3.png
  docs/assets/images/pro_dashboards_4.png
  docs/assets/images/pro_dashboards_5.png
  docs/content/en/customize_dojo/dashboards/Introduction_dashboard.md
  docs/content/en/customize_dojo/dashboards/_index.md
  docs/content/en/customize_dojo/dashboards/about_custom_dashboard_tiles.md
  docs/content/en/customize_dojo/dashboards/pro_dashboards.md
Labels: docs, helm

#12417 [docs] Add FAQ + minor maintenance changes
  docs/content/en/about_defectdojo/examples_of_use.md
  docs/content/en/about_defectdojo/faq.md
  docs/content/en/about_defectdojo/pro_features.md
  docs/content/en/about_defectdojo/ui_pro_vs_os.md
  docs/content/en/changelog/changelog.md
  docs/content/en/connecting_your_tools/connectors/about_connectors.md
  docs/content/en/connecting_your_tools/connectors/add_edit_connectors.md
  docs/content/en/connecting_your_tools/parsers/universal_parser.md
  docs/content/en/customize_dojo/notifications/email_slack_teams.md
  docs/content/en/customize_dojo/rules_engine.md
  docs/content/en/customize_dojo/user_management/create_user_group.md
  docs/content/en/customize_dojo/user_management/pro_permissions_overhaul.md
  docs/content/en/open_source/installation/demo.md
  docs/content/en/share_your_findings/jira_guide.md
  docs/content/en/working_with_findings/organizing_engagements_tests/filter_index.md
Labels: docs

#12370 Ruff: Add and autofix PERF401
  dojo/api_v2/serializers.py
  dojo/checks.py
  dojo/endpoint/utils.py
  dojo/engagement/views.py
  dojo/finding/helper.py
  dojo/jira_link/helper.py
  dojo/metrics/views.py
  dojo/models.py
  dojo/search/views.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/api_edgescan/parser.py
  dojo/tools/asff/parser.py
  dojo/tools/awssecurityhub/compliance.py
  dojo/tools/awssecurityhub/inspector.py
  dojo/tools/burp/parser.py
  dojo/tools/checkmarx_one/parser.py
  dojo/tools/crashtest_security/parser.py
  dojo/tools/cyclonedx/xml_parser.py
  dojo/tools/drheader/parser.py
  dojo/tools/factory.py
  dojo/tools/github_vulnerability/parser.py
  dojo/tools/intsights/csv_handler.py
  dojo/tools/jfrog_xray_on_demand_binary_scan/parser.py
  dojo/tools/jfrogxray/parser.py
  dojo/tools/mend/parser.py
  dojo/tools/npm_audit_7_plus/parser.py
  dojo/tools/nuclei/parser.py
  dojo/tools/openscap/parser.py
  dojo/tools/ort/parser.py
  dojo/tools/qualys/csv_parser.py
  dojo/tools/sonarqube/sonarqube_restapi_json.py
  dojo/tools/trivy_operator/clustercompliance_handler.py
  dojo/tools/veracode/json_parser.py
  dojo/tools/whitehat_sentinel/parser.py
  dojo/utils.py
  ruff.toml
  unittests/tools/test_aqua_parser.py
Labels: apiv2, unittests, parser, lint

#12448 defender: fix no vulnerabilities check
  dojo/tools/ms_defender/parser.py
Labels: parser

#12419 docs: Add non-parser Test Types to product hierarchy documentation
  docs/content/en/working_with_findings/organizing_engagements_tests/product_hierarchy.md
Labels: docs

#12434 Tags: Add support for comma separation for multipart forms (import/reimport)
  dojo/api_v2/serializers.py
  unittests/test_tags.py
Labels: apiv2, unittests

#12426 Ruff: Add PLC0206
  dojo/tools/checkmarx/parser.py
  dojo/tools/mobsf_scorecard/parser.py
  dojo/tools/nmap/parser.py
  dojo/utils.py
  ruff.toml
Labels: parser, lint

#12457 cvssv3: backport tests
  .gitignore
  tests/finding_test.py
  unittests/test_finding_model.py
  unittests/test_rest_framework.py
Labels: unittests, integration_tests

#12377 easymde: enable native/browser spell checker
  dojo/templates/dojo/ad_hoc_findings.html
  dojo/templates/dojo/add_findings.html
  dojo/templates/dojo/add_group.html
  dojo/templates/dojo/add_risk_acceptance.html
  dojo/templates/dojo/add_template.html
  dojo/templates/dojo/apply_finding_template.html
  dojo/templates/dojo/edit_finding.html
  dojo/templates/dojo/edit_presets.html
  dojo/templates/dojo/edit_product.html
  dojo/templates/dojo/edit_product_type.html
  dojo/templates/dojo/new_eng.html
  dojo/templates/dojo/new_params.html
  dojo/templates/dojo/new_product.html
  dojo/templates/dojo/new_product_type.html
  dojo/templates/dojo/promote_to_finding.html
  dojo/templates/dojo/view_risk_acceptance.html
Labels: ui

#12455 docs maintenance
  docs/assets/images/oidc_pro.png
  docs/content/en/connecting_your_tools/import_scan_files/import_scan_ui.md
  docs/content/en/customize_dojo/user_management/configure_sso.md
  docs/content/en/open_source/archived_docs/integrations/_index.md
  docs/content/en/open_source/archived_docs/integrations/social-authentication.md
  docs/content/en/open_source/archived_docs/usage/models.md
  docs/content/en/open_source/archived_docs/usage/permissions.md
  docs/content/en/open_source/archived_docs/usage/productgrading.md
  docs/content/en/open_source/archived_docs/usage/workflows.md
  docs/content/en/open_source/performance.md
  docs/content/en/working_with_findings/organizing_engagements_tests/source-code-repositories.md
Labels: docs

#12451 Replace Review Bot with Centralized Action
  .github/pr-reminder.py
  .github/workflows/slack-pr-reminder.yml
  ruff.toml
Labels: lint

#12464 Celery Logging: Respect CELERY_LOG_LEVEL
  dojo/settings/settings.dist.py
Labels: settings_changes

#12441 feat(helm): allow to use an external serviceAccount
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/templates/sa.yaml
  helm/defectdojo/templates/tests/unit-tests.yaml
  helm/defectdojo/values.yaml
Labels: docker, settings_changes, docs, ui, parser, helm, lint

#12469 :bug: fix missing CWE in HCL Appscan #12468
  dojo/tools/hcl_appscan/parser.py
Labels: parser

#12484 [docs] pro changelog 2.46.0- 2.46.3
  docs/assets/images/pro_dashboard_priority.png
  docs/content/en/changelog/changelog.md
  docs/content/en/working_with_findings/organizing_engagements_tests/source-code-repositories.md
Labels: docs

#12480 bugfix cyberwatch parser
  dojo/tools/cyberwatch_galeax/parser.py
  unittests/tools/test_cyberwatch_galeax_parser.py
Labels: unittests, parser

#12465 Alibaba Cloud Linux 3 Security Advisory
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui

#12425 Add new "evaluations" format support to Anchorectl parser
  docs/content/en/connecting_your_tools/parsers/file/anchorectl_policies.md
  dojo/tools/anchorectl_policies/parser.py
  unittests/scans/anchorectl_policies/new_format_many_violations.json
  unittests/scans/anchorectl_policies/new_format_no_violation.json
  unittests/scans/anchorectl_policies/new_format_one_violation.json
  unittests/scans/anchorectl_policies/new_format_one_violation_description_severity.json
  unittests/tools/test_anchorectl_policies_parser.py
Labels: docs, unittests, parser

#12409 Updated Nexpose XML (Rapid7) Parser Documentation
  docs/content/en/connecting_your_tools/parsers/file/nexpose.md
Labels: docs

#12408 Checkmarx one doc update
  docs/content/en/connecting_your_tools/parsers/file/checkmarx_one.md
Labels: docs

#12493 ms defender: do not cache parsed findings
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
  dojo/tools/fortify/fpr_parser.py
  dojo/tools/ms_defender/parser.py
  dojo/tools/ptart/retest_parser.py
  unittests/tools/test_ms_defender_parser.py
Labels: docs, unittests, parser

#12463 unique_id_from_tool: clarify values and usage
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
  dojo/db_migrations/0229_alter_finding_unique_id_from_tool.py
  dojo/models.py
  dojo/settings/settings.dist.py
Labels: New Migration, settings_changes, docs

#12346 Store fingerprint from bearer in unique_id_from_tool
  dojo/settings/settings.dist.py
  dojo/tools/bearer_cli/parser.py
  unittests/tools/test_bearer_cli_parser.py
Labels: settings_changes, unittests, parser

#12472 Include CVSS score in finding when using OpenVAS csv parser
  dojo/tools/openvas/csv_parser.py
  unittests/tools/test_openvas_parser.py
Labels: unittests, parser

#12494 Bugfix: fixed wrong panel-footer margin in detailed metrics
  dojo/templates/dojo/product_metrics.html
Labels: ui

#12519 Fixing linter issue
  dojo/tools/ms_defender/parser.py
Labels: parser

#12510 Implement ELA vulnid
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
Labels: settings_changes, ui
