Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-01, with the labels that each got.

#11483 Add pro release notes for 2.41.4
  docs/content/en/changelog/changelog.md
Labels: docs

#11401 Update JIRA for Finding Group When Risk Acceptance Expires
  dojo/finding/views.py
  dojo/fixtures/dojo_testdata.json
  dojo/jira_link/helper.py
  dojo/risk_acceptance/helper.py
  unittests/test_jira_import_and_pushing_api.py
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_import_grouped_reopen_expired_sla.yaml
Labels: unittests

#11516 Readme docs update
  README.md
  docs/content/en/open_source/api-v2-docs.md
  docs/content/en/open_source/ldap-authentication.md
Labels: docs

#11518 update Pro changelog 2.42.0
  docs/content/en/changelog/changelog.md
  docs/content/en/open_source/integrations
  docs/content/en/share_your_findings/jira_integration/_index.md
  docs/content/en/share_your_findings/pro_reports/using_the_report_builder.md
  docs/content/en/share_your_findings/pro_reports/working_with_generated_reports.md
Labels: docs

#10660 Make django service type configurable
  helm/defectdojo/templates/django-service.yaml
  helm/defectdojo/values.yaml
Labels: helm

#11487 :tada: add ALBA to vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#11498 Ruff: Fix D403
  dojo/importers/base_importer.py
  dojo/jira_link/views.py
  dojo/tools/scantist/parser.py
  dojo/tools/utils.py
  dojo/tools/wiz/parser.py
  unittests/test_finding_model.py
  unittests/tools/test_sonarqube_parser.py
Labels: unittests, parser

#11501 Ruff: Fix RUF056
  dojo/finding/views.py
  dojo/importers/default_reimporter.py
  dojo/product/views.py
  dojo/test/views.py
  unittests/tools/test_tfsec_parser.py
Labels: unittests

#11542 Kubescape: Reduce the size of steps to reproduce
  dojo/tools/kubescape/parser.py
Labels: parser

#11502 Ruff: Fix PTH100, merge PTH10
  dojo/management/commands/import_surveys.py
  dojo/settings/settings.dist.py
  ruff.toml
Labels: settings_changes

#11077 fix(notification): Use site_url in notification contexts
  dojo/templates/dojo/notifications.html
Labels: ui

#9719 Feature: Checkmarx Cxflow SAST parser
  docs/content/en/connecting_your_tools/parsers/file/checkmarx_cxflow_sast.md
  dojo/settings/settings.dist.py
  dojo/tools/checkmarx_cxflow_sast/__init__.py
  dojo/tools/checkmarx_cxflow_sast/parser.py
  unittests/scans/checkmarx_cxflow_sast/1-finding.json
  unittests/scans/checkmarx_cxflow_sast/4-findings.json
  unittests/scans/checkmarx_cxflow_sast/no_finding.json
  unittests/tools/test_checkmarx_cxflow_sast_parser.py
Labels: settings_changes, docs, unittests, parser

#11464 including test for Finding in xml parser
  dojo/tools/openvas/xml_parser.py
Labels: parser

#11468 extract first boot portion of script
  .dryrunsecurity.yaml
  Dockerfile.django-alpine
  Dockerfile.django-debian
  docker/entrypoint-first-boot.sh
  docker/entrypoint-initializer.sh
Labels: docker

#11482 Notes on Findings for Simple Risk Acceptance
  dojo/api_v2/serializers.py
Labels: apiv2

#11499 Ruff: Fix RUF052
  dojo/decorators.py
  dojo/tools/qualys/parser.py
  dojo/tools/qualys_infrascan_webgui/parser.py
  dojo/tools/veracode/xml_parser.py
Labels: parser

#11495 Handling "requires login" in "fingerprint" and "lines" fields of Semgrep JSON Report (issue #11480)
  dojo/tools/semgrep/parser.py
  unittests/scans/semgrep/fingerprint_test.json
  unittests/tools/test_semgrep_parser.py
Labels: unittests, parser

#11568 Docs updates and QA - Jan 2025
  docs/assets/images/DD-Architecture.drawio
  docs/assets/images/DD-Architecture.png
  docs/assets/images/beta-classic-uis.png
  docs/assets/images/beta-ui-overview.png
  docs/assets/images/program_insights.png
  docs/assets/svgs/.gitkeep
  docs/assets/svgs/DD-Architecture.svg
  docs/content/en/about_defectdojo/ui_pro_vs_os.md
  docs/content/en/api/api-v2-docs.md
  docs/content/en/customize_dojo/notifications/configure_system_notifs.md
  docs/content/en/open_source/archived_docs/usage/models.md
  docs/content/en/open_source/installation/architecture.md
  docs/content/en/share_your_findings/jira_integration/add_jira_to_product.md
  docs/content/en/share_your_findings/jira_integration/connect_to_jira.md
  docs/content/en/share_your_findings/jira_integration/troubleshooting_jira.md
  docs/content/en/share_your_findings/pro_reports/working_with_generated_reports.md
Labels: docs

#11467 Adding annotations to different resources
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/configmap.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/network-policy.yaml
  helm/defectdojo/values.yaml
Labels: helm

#11583 Fix unit tests
  dojo/api_v2/serializers.py
Labels: apiv2

#11561 fix(ruff_sim): Wrong handling non-file API import
  dojo/api_v2/serializers.py
Labels: apiv2

#11573 fix(doc): Fix order for upgrade notes
  docs/content/en/open_source/upgrading/2.42.md
Labels: docs

#11611 Pro Release Notes 2.42.2
  docs/content/en/changelog/changelog.md
Labels: docs

#11525 Readme docs - followup PR
  README.md
  docs/content/en/open_source/api-v2-docs.md
  docs/content/en/open_source/ldap-authentication.md
Labels: docs

#11591 Added accessibility for the pagination snippet
  dojo/templates/dojo/paging_snippet.html
Labels: ui

#11594 View Alerts: Sanitize and mark safe
  dojo/templates/dojo/alerts.html
Labels: ui

#11474 Make links in the login page visually obvious
  dojo/static/dojo/css/dojo.css
Labels: ui

#11454 Fixing openvas parser and including script_id for openvas and nmap
  dojo/tools/nmap/parser.py
  dojo/tools/openvas/xml_parser.py
Labels: parser

#11585 Wiz parser: Import findings regardless of status
  dojo/tools/wiz/parser.py
  dojo/tools/wizcli_common_parsers/parsers.py
  unittests/scans/wiz/multiple_findings.csv
  unittests/tools/test_wiz_parser.py
Labels: unittests, parser

#11577 Fix: Add missing aria labels and roles to buttons, links, tables
  dojo/templates/dojo/action_history.html
  dojo/templates/dojo/benchmark.html
  dojo/templates/dojo/components.html
  dojo/templates/dojo/dev_env.html
  dojo/templates/dojo/endpoints.html
  dojo/templates/dojo/engagement.html
  dojo/templates/dojo/engagements_all.html
  dojo/templates/dojo/engineer_metrics.html
  dojo/templates/dojo/findings_list_snippet.html
  dojo/templates/dojo/github.html
  dojo/templates/dojo/groups.html
  dojo/templates/dojo/jira.html
  dojo/templates/dojo/metrics.html
  dojo/templates/dojo/note_type.html
  dojo/templates/dojo/product.html
  dojo/templates/dojo/product_components.html
  dojo/templates/dojo/product_metrics.html
  dojo/templates/dojo/product_type.html
  dojo/templates/dojo/regulations.html
  dojo/templates/dojo/regulations_config.html
  dojo/templates/dojo/request_endpoint_report.html
  dojo/templates/dojo/request_report.html
  dojo/templates/dojo/sla_config.html
  dojo/templates/dojo/templates.html
  dojo/templates/dojo/test_type.html
  dojo/templates/dojo/tool_config.html
  dojo/templates/dojo/tool_type.html
  dojo/templates/dojo/users.html
  dojo/templates/dojo/view_cred.html
  dojo/templates/dojo/view_cred_all_details.html
  dojo/templates/dojo/view_cred_details.html
  dojo/templates/dojo/view_endpoint.html
  dojo/templates/dojo/view_eng.html
  dojo/templates/dojo/view_finding.html
  dojo/templates/dojo/view_objects.html
  dojo/templates/dojo/view_product_details.html
  dojo/templates/dojo/view_product_type.html
  dojo/templates/dojo/view_risk_acceptance.html
  dojo/templates/dojo/view_test.html
Labels: ui

#11546 Prefetching multiple endpoints should return all prefetch models
  dojo/api_v2/prefetch/mixins.py
Labels: apiv2

#11569 :tada: make vulnids more robust
  dojo/settings/settings.dist.py
Labels: settings_changes

#11375 New HCL AppScan on Cloud SAST parser
  docs/content/en/connecting_your_tools/parsers/file/hcl_asoc_sast.md
  dojo/settings/settings.dist.py
  dojo/tools/hcl_asoc_sast/__init__.py
  dojo/tools/hcl_asoc_sast/parser.py
  unittests/scans/hcl_asoc_sast/many_issues.xml
  unittests/scans/hcl_asoc_sast/no_issues.xml
  unittests/scans/hcl_asoc_sast/one_issue.xml
  unittests/tools/test_hcl_asoc_sast_parser.py
Labels: settings_changes, docs, unittests, parser

#11433 RustyHog: improve description and file_path
  docs/content/en/open_source/upgrading/2.42.md
  docs/content/en/open_source/upgrading/2.43.md
  dojo/tools/rusty_hog/parser.py
  unittests/tools/test_rusty_hog_parser.py
Labels: docs, unittests, parser

#11565 :tada: advance NoseyParker to support version 0.22.0
  docs/content/en/connecting_your_tools/parsers/file/noseyparker.md
  dojo/tools/noseyparker/parser.py
  unittests/scans/noseyparker/noseyparker_0_22_0.jsonl
  unittests/scans/noseyparker/noseyparker_0_22_0_without_githistory.jsonl
  unittests/tools/test_noseyparker_parser.py
Labels: docs, unittests, parser

#11451 Fix to bump ruff to 0.9.3
  dojo/management/commands/import_surveys.py
  dojo/tools/mobsf/parser.py
  dojo/utils.py
Labels: parser

#11631 fix(webhook notif): Reorg docs, add 'ping'
  docs/content/en/open_source/notification_webhooks/_index.md
  docs/content/en/open_source/notification_webhooks/engagement_added.md
  docs/content/en/open_source/notification_webhooks/how_to.md
  docs/content/en/open_source/notification_webhooks/ping.md
  docs/content/en/open_source/notification_webhooks/product_added.md
  docs/content/en/open_source/notification_webhooks/product_type_added.md
  docs/content/en/open_source/notification_webhooks/scan_added.md
  docs/content/en/open_source/notification_webhooks/test_added.md
  unittests/test_notifications.py
Labels: docs, unittests

#11623 AnchoreCTL_Vulns parser: removes URL and corrects mapping if no fix for mitigation field
  dojo/tools/anchorectl_vulns/parser.py
Labels: parser

#11634 Accessibility ergonomy filtering
  dojo/static/dojo/css/dojo.css
  dojo/static/dojo/js/index.js
  dojo/templates/dojo/filter_js_snippet.html
  dojo/templates/dojo/filter_snippet.html
  tests/group_test.py
  tests/product_group_test.py
  tests/product_type_group_test.py
  tests/user_test.py
Labels: integration_tests, ui

#11679 Changelog update 2.42.3 + fix docs image refs
  docs/assets/images/connectors_min_severity.png
  docs/content/en/api/api-v2-docs.md
  docs/content/en/changelog/changelog.md
Labels: docs

#11638 Remove makemigrations from scripts
  docker/entrypoint-initializer.sh
  docker/entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests.sh
  docker/unit-tests.sh
  readme-docs/CONTRIBUTING.md
Labels: docker, docs

#11637 Import History: Make the absence of action more clear
  dojo/templates/dojo/view_test.html
Labels: ui

#11649 feat(bash-script): Drop all `dc-` scripts
  .github/workflows/fetch-oas.yml
  .github/workflows/integration-tests.yml
  .github/workflows/rest-framework-tests.yml
  README.md
  dc-build.sh
  dc-down.sh
  dc-stop.sh
  dc-up-d.sh
  dc-up.sh
  docs/content/en/open_source/contributing/how-to-write-a-parser.md
  docs/content/en/open_source/upgrading/2.43.md
  docs/content/en/open_source/upgrading/_index.md
  docs/content/en/open_source/upgrading/upgrading_guide.md
  readme-docs/DOCKER.md
  run-integration-tests.sh
  run-unittest.sh
Labels: docs

#11690 Jira Epic Mapping: Support for the removal of `Epic Name` custom fields
  dojo/jira_link/helper.py
  unittests/vcr/jira/JIRAConfigEngagementEpicTest.test_add_engagement_with_jira_project_and_epic_mapping.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_creation.yaml
  unittests/vcr/jira/JIRAImportAndPushTestApi.test_engagement_epic_mapping_enabled_create_epic_and_push_findings.yaml
Labels: unittests

#10803 feat(helm-local_settings): Add option to add local_settings.py
  docs/content/en/open_source/installation/configuration.md
  helm/defectdojo/templates/celery-beat-deployment.yaml
  helm/defectdojo/templates/celery-worker-deployment.yaml
  helm/defectdojo/templates/configmap-local-settings-py.yaml
  helm/defectdojo/templates/django-deployment.yaml
  helm/defectdojo/templates/initializer-job.yaml
  helm/defectdojo/values.yaml
Labels: docs, helm

#11678 Edit defectdojo.com/pricing link
  docker/entrypoint-initializer.sh
Labels: docker

#11592 Django AuditLog: Upgrade to 3.x
  .github/workflows/fetch-oas.yml
  .github/workflows/integration-tests.yml
  .github/workflows/rest-framework-tests.yml
  docs/content/en/open_source/upgrading/2.43.md
  dojo/models.py
  dojo/settings/settings.dist.py
  dojo/templatetags/display_tags.py
  requirements.txt
  unittests/test_copy_model.py
  unittests/test_deduplication_logic.py
  unittests/test_duplication_loops.py
  unittests/test_false_positive_history_logic.py
  unittests/test_utils_deduplication_reopen.py
Labels: settings_changes, docs, unittests, ui

#11691 Docs Updates: CLI Tools / misc
  docs/assets/images/epic_name_error.png
  docs/assets/js/flexsearch.js
  docs/content/en/connecting_your_tools/external_tools.md
  docs/content/en/share_your_findings/jira_integration/connect_to_jira.md
  docs/content/en/share_your_findings/jira_integration/troubleshooting_jira.md
Labels: docs

#11640 Jira Template: Do not HTML encode before shipping to jira
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
  dojo/templates/issue-trackers/jira_full/jira-finding-group-description.tpl
Labels: ui

#11704 Rename DD-Architecture.png to dd-architecture.png
  docs/assets/images/dd-architecture.png
Labels: docs
