Repository DefectDojo/django-DefectDojo, pull requests merged in 2025-08, with the labels that each got.

#12890 [docs] Add Algolia Docsearch
  docs/assets/js/docsearch.js
  docs/assets/scss/app.scss
  docs/assets/scss/common/_custom.scss
  docs/assets/scss/common/_variables-docsearch.scss
  docs/config/_default/params.toml
  docs/config/postcss.config.js
  docs/layouts/partials/footer/script-footer-custom.html
  docs/layouts/partials/header/header.html
  docs/package-lock.json
  docs/package.json
Labels: docs

#12879 Update Mend Platform parser for Ransomware, Exploitable, and KEV
  dojo/tools/mend/parser.py
Labels: parser

#12884 jira: mention PATs are not supported in OS
  docs/content/en/share_your_findings/jira_guide.md
  dojo/db_migrations/0240_jira_instance_password_help_text_fix.py
  dojo/models.py
Labels: New Migration, docs

#12893 fix datatable search box location with style override
  dojo/static/dojo/css/dojo.css
Labels: ui

#12891 Support for whitelisted file extensions
  dojo/api_v2/serializers.py
  dojo/forms.py
  dojo/validators.py
Labels: apiv2

#12906 checkov: add null check
  dojo/tools/checkov/parser.py
Labels: parser

#12846 :tada: Add Xeol parser #12816
  docs/content/en/connecting_your_tools/parsers/file/xeol.md
  dojo/tools/xeol/__init__.py
  dojo/tools/xeol/parser.py
  unittests/scans/xeol/xeol_multiple_findings.json
  unittests/scans/xeol/xeol_one_finding.json
  unittests/scans/xeol/xeol_zero.json
  unittests/tools/test_xeol_parser.py
Labels: docs, unittests, parser

#12940 Webhook Notifications: Support the owner field
  docs/content/en/open_source/notification_webhooks/engagement_added.md
  docs/content/en/open_source/notification_webhooks/ping.md
  docs/content/en/open_source/notification_webhooks/product_added.md
  docs/content/en/open_source/notification_webhooks/product_type_added.md
  docs/content/en/open_source/notification_webhooks/scan_added.md
  docs/content/en/open_source/notification_webhooks/test_added.md
  dojo/fixtures/dojo_testdata.json
  dojo/templates/notifications/webhooks/subtemplates/base.tpl
  dojo/templates/notifications/webhooks/subtemplates/user.tpl
  unittests/test_notifications.py
Labels: docs, unittests, ui

#12954 Docs: Restore `package-lock.json`
  docs/config/_default/params.toml
  docs/package-lock.json
Labels: docs

#12939 Display Tags: Do not rely on the request object being present
  dojo/templatetags/display_tags.py
  dojo/templatetags/navigation_tags.py
Labels: ui

#12904 restore entrypoint-unit-tests-devDocker.sh
  docker/entrypoint-unit-tests-devDocker.sh
Labels: docker

#12938 Enable ipv6 in nginx (if available)
  docker/entrypoint-nginx.sh
Labels: docker

#12931 ADD: Alternative command to change password
  readme-docs/DOCKER.md
Labels: docs

#12948 Bump cvss from 3.4 to 3.6
  requirements.txt
  unittests/test_rest_framework.py
Labels: unittests

#12965 Fix 12955 / Set default value of postgresql.postgresServer to 127.0.0.1 in helm chart
  helm/defectdojo/templates/_helpers.tpl
  helm/defectdojo/values.yaml
Labels: docs, unittests, ui, parser, helm

#13011 API Docs: Remove space in `Defect Dojo`
  dojo/settings/settings.dist.py
Labels: settings_changes

#13003 Ruff: Add and autofix PLR1711
  dojo/importers/base_importer.py
  dojo/importers/endpoint_manager.py
  dojo/risk_acceptance/helper.py
  dojo/system_settings/views.py
  dojo/tools/cyclonedx/json_parser.py
  dojo/user/validators.py
  ruff.toml
Labels: parser, lint

#13004 Ruff: Add and autofix PLR1714
  dojo/api_v2/permissions.py
  dojo/cred/views.py
  dojo/engagement/views.py
  dojo/finding/views.py
  dojo/management/commands/migrate_surveys.py
  dojo/product/views.py
  dojo/templatetags/display_tags.py
  dojo/tools/anchore_engine/parser.py
  dojo/tools/anchore_grype/parser.py
  dojo/tools/anchorectl_vulns/parser.py
  dojo/tools/api_bugcrowd/parser.py
  dojo/tools/api_cobalt/parser.py
  dojo/tools/api_sonarqube/updater_from_source.py
  dojo/tools/aws_prowler/parser.py
  dojo/tools/bugcrowd/parser.py
  dojo/tools/burp_suite_dast/parser.py
  dojo/tools/checkmarx_osa/parser.py
  dojo/tools/cyclonedx/helpers.py
  dojo/tools/cyclonedx/json_parser.py
  dojo/tools/cyclonedx/xml_parser.py
  dojo/tools/deepfence_threatmapper/compliance.py
  dojo/tools/gitlab_sast/parser.py
  dojo/tools/kubehunter/parser.py
  dojo/tools/mayhem/parser.py
  dojo/tools/qualys/parser.py
  dojo/tools/sarif/parser.py
  dojo/tools/sslyze/parser_xml.py
  dojo/tools/testssl/parser.py
  dojo/tools/trivy/parser.py
  dojo/tools/trivy_operator/vulnerability_handler.py
  dojo/tools/veracode_sca/parser.py
  ruff.toml
  unittests/test_parsers.py
Labels: apiv2, unittests, ui, parser, lint

#13005 Ruff: Add and fix PLR1704
  dojo/tools/scout_suite/parser.py
  ruff.toml
Labels: parser, lint

#13023 feat(docker): Use Alpine 3.22 in docker images
  Dockerfile.django-alpine
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
Labels: docker

#13033 BlackDuck: Support import in plaintext or bytes
  dojo/tools/blackduck/importer.py
  dojo/tools/blackduck_binary_analysis/importer.py
  dojo/tools/blackduck_component_risk/importer.py
  unittests/tools/test_blackduck_binary_analysis_parser.py
  unittests/tools/test_blackduck_component_risk_parser.py
  unittests/tools/test_blackduck_parser.py
Labels: unittests, parser

#13035 [docs] update Priority & Risk docs
  docs/assets/images/priority-overview.png
  docs/assets/images/priority_dashboard.png
  docs/assets/images/priority_edit_product.png
  docs/assets/images/pro_risk_levels.png
  docs/content/en/working_with_findings/finding_priority.md
Labels: docs

#13028 FileUploads: Clean up `media` when related objects are deleted
  dojo/apps.py
  dojo/db_migrations/0242_file_upload_cleanup.py
  dojo/engagement/signals.py
  dojo/file_uploads/__init__.py
  dojo/file_uploads/helper.py
  dojo/file_uploads/signals.py
  dojo/finding/helper.py
  dojo/models.py
  dojo/test/signals.py
  dojo/views.py
Labels: New Migration

#13038 :tada: Add wid-sec-w vulnid
  dojo/settings/settings.dist.py
Labels: settings_changes

#13045 fix(eng/test-validate_forms): Show error if form is not valid
  dojo/engagement/views.py
  dojo/test/views.py
  unittests/test_import_reimport.py
Labels: unittests

#13060 :tada: Add fix_available to AnchoreEngine
  dojo/tools/anchore_engine/parser.py
  unittests/tools/test_anchore_engine_parser.py
Labels: unittests, parser

#13053 :tada: Add fix_available to Harbor
  dojo/tools/harbor_vulnerability/parser.py
  unittests/tools/test_harbor_vulnerability_parser.py
Labels: unittests, parser

#13072 Add SCA vulnid and fix example for SSA:
  dojo/settings/settings.dist.py
Labels: settings_changes

#13078 [docs] updates for August
  docs/assets/images/pro_ui_249.png
  docs/assets/images/verified_status_toggle.png
  docs/content/en/changelog/changelog.md
  docs/content/en/working_with_findings/finding_deduplication/about_deduplication.md
  docs/content/en/working_with_findings/findings_workflows/finding_status_definitions.md
Labels: docs
